[2018-09-28 13:59] alexsmac commented on #426
@JHzss do any of your CostFunctions return false (from Evaluate()) ?

[2018-09-28 14:15] JHzss commented on #426
@alexsmac At the beginning, it only show ''Terminating: Residual and Jacobian evaluation failed." and it will not break down, but just doesn't optimize the problem. Later, it shows "Linear solver failure. Failed to compute a step: Eigen failure. Unable to perform dense Cholesky factorization.". The first error message  always appear.

[2018-09-29 02:43] JHzss commented on #426
@sandwichmaker @alexsmac I find the problem! I forget to return true in Evaluate(). Thank you very much!

[2018-09-29 02:43] #426 closed

[2018-09-29 06:44] happyfrank commented on #428
Hi @sandwichmaker tha't weird. When I use Release mode,  It has this crash Error. but when run Debug mode.the result was great.  [Link openMVG](https://github.com/openMVG/openMVG/issues/1403#issue-364735423)

[2018-10-06 00:50] sandwichmaker commented on #428
This maybe a race condition which is not getting triggered in debug mode.

[2018-10-06 00:50] sandwichmaker commented on #428
@mvitus looks like this is in the parallelization path, can you take a look to see if something strikes you?

[2018-10-06 02:42] sandwichmaker commented on #347
@emilk I agree with you about this being inconsistent and I am happy to tell you that I have finally started working on this.

[2018-10-10 16:55] sandwichmaker commented on #427
@huangqinjin would you be willing to submit a CL to fix this? since I do not have visual studio and this warning is not triggered on any of my machines.

[2018-10-10 16:56] sandwichmaker commented on #424
Closing this for now since the bug has been inactive, please re-open if this is still relevant.

[2018-10-10 16:56] #424 closed

[2018-10-10 16:57] sandwichmaker commented on #420
@charelstoncrabb ping?

[2018-10-12 01:35] happyfrank commented on #428
Dear @sandwichmaker @mvitus. When I run OpenMVG unit test.
It got those [error](https://github.com/openMVG/openMVG/issues/1403#issuecomment-429173951) (Debug mode)

openMVG_test_sfm_data_BA:
![ba_test](https://user-images.githubusercontent.com/12987532/46842751-07263100-ce02-11e8-8e45-e4cef940af62.png)

openMVG_test_sequential_SfM:
![sequential_sfm](https://user-images.githubusercontent.com/129875

[2018-10-12 02:56] huangqinjin commented on #427
@sandwichmaker I've created a branch to show the [changes](https://github.com/huangqinjin/ceres-solver/commit/bf506302ff1cb062ba7a6c3ef9bcf0c45fa7dae6).

[2018-10-13 00:24] JHzss opened #429 "Why the sum of residual blocks is not equal to "summary.FullReport()""
Vector2d Optimizer::reprojectionError(const ceres::Problem& problem, ceres::ResidualBlockId id)
{
    auto cost = problem.GetCostFunctionForResidualBlock(id);
    std::vector<double*> parameterBlocks;
    problem.GetParameterBlocksForResidualBlock(id, &parameterBlocks);
    Vector2d residual;
    cost->Evaluate(parameterBlocks.data(), residual.data(), nullptr);
    return residual;
}

ceres::Solve

[2018-10-13 09:23] #429 closed, assigned to nobody

[2018-10-15 14:55] mvitus commented on #428
It is hard to debug without being able to reproduce it locally.  If I am reading the dump correctly, it looks like it is a double free error inside BackSubstitute but I don't see where that would be.  Can you try re-building with no threading enabled (I think all you have to define is CERES_NO_THREADS when building) and check whether this fails again?

(Sorry for the slow response I was on vacatio

[2018-10-16 03:57] happyfrank commented on #428
Dear @mvitus, thanks for you reply. Now I pull the [newest cers-solver](https://github.com/ceres-solver/ceres-solver/commit/f8e895161193e320737909057f9c579d346583cb).
And define CERES_NO_THREADS

Then It crashed again at the same space.
![1](https://user-images.githubusercontent.com/12987532/46991834-1a0a6f80-d13a-11e8-871e-90acf02fc8af.png)

And @rjanvier do some test

[2018-10-17 21:27] NikolausDemmel opened #431 "Custom Eigen path on macos"
This is kind of a follow up to #285

I want to do the same thing, i.e. use `EIGEN_INCLUDE_DIR_HINTS` to provide a specific eigen version. It works great on Ubuntu, but on macos with homebrew it doesn't work. The reason seams to be, that with homebrew ceres adds `/usr/local` to the `CMAKE_PREFIX_PATH` automatically

https://github.com/ceres-solver/ceres-solver/blob/f8e895161193e320737909057f9c579d3

[2018-10-22 12:30] JianpingCAI commented on #420
I just used vcpkg for installation, which is  @handy.

[2018-10-25 08:11] jcarpent opened #432 "ScaledLoss"
Dear Ceres developers,

I'm currently solving problems where the factor of the ScaledLoss has to be changed when solving several Problems.
I know the existence of LossFunctionWrapper to change the current ScaledLoss object by a new one. But is there any reason to not directly allow a modification of the scaled parameter of ScaledLoss struct?

[2018-10-28 23:40] NikolausDemmel commented on #431
Proposed workaround: https://ceres-solver-review.googlesource.com/c/ceres-solver/+/14740

[2018-10-29 17:30] klemense1 opened #434 "Bazel Dependency: Ceres is re-building every time"
I've included ceres in the WORKSPACE file as follows:
[code]

However, every time I call `bazel build`, ceres is build as well. Does anybody has experienced this issue as well? Any ideas to solve it?

Many thanks

[2018-10-30 10:53] jcarpent opened #435 "Adding mutable_problem_impl() method to Problem"
Would it possible to add a method mutable_problem_impl() to the Program class to get a direct access to the real problem implementation?

[2018-10-31 15:27] sandwichmaker commented on #435
No, the internal structure of ProblemImpl is not meant for end users to use. I am curious as to why do you need access to it. what are you trying to do?

[2018-11-01 03:18] krishnakumarrs opened #436 "How to use ceres in windows matlab?"
I need to run mex by using ceres and eigen, but when the program is executed it shows error.

mex ceresRigidError.cpp /usr/local/lib/libceres_shared.so /usr/local/lib/libglog.so -I/usr/include/eigen3;
    mex ceresNonrigidError.cpp /usr/local/lib/libceres_shared.so /usr/local/lib/libglog.so -I/usr/include/eigen3;
i have added the path of ceres but i don't know it is correct.
please help.
thanks

[2018-11-01 11:06] sandwichmaker commented on #436
sorry @krishnakumarrs I have no idea about your build environment or what the error is here. This likely needs help with someone who can help with your matlab build environment.

[2018-11-01 11:06] #436 closed

[2018-11-01 11:08] sandwichmaker commented on #432
@jcarpent are you trying to anneal the loss function somehow? you are free to implement your loss function which provides this ability and use it.

[2018-11-02 17:29] seanbow opened #437 "Unable to build tests on Ubuntu with gcc"
I'm trying to compile Ceres with:
  - Ubuntu 16.04
  - Eigen 3.3.90
  - gcc 5.5 and gcc 7.3 (same error on both)

When compiling the test `residual_block_test.cc`, I get the following error:

[code]

Somehow `IsContainerTest<Eigen::MatrixXd>` is resolving to true, I guess.

[2018-11-05 18:50] keir commented on #434
That's odd. Have you tried adding the file hash to the workspace entry?

[2018-11-05 20:35] jcarpent commented on #432
I wanted to know why you chose to no make it modifiable across Problem resolutions.
I can indeed implement my own ScalingLoss.

@sandwichmaker Thanks for the reply.

[2018-11-05 20:35] #432 closed

[2018-11-05 20:38] jcarpent commented on #435
I'm trying to guess until which point you have allowed the user to exploit the internal computations of Ceres.

I need to have access to many internal features of Ceres to allow Ceres handling equality and inequality constraints defined as residuals. And most of these features are currently private, e.g. NumEffectiveParameters() method.

[2018-11-05 21:03] jcarpent commented on #437
Hi @seanbow,
Just for your information, you are currently working with the latest development version of Eigen (3.3.90), where some types have still an incomplete definition, and so on.
Certainly working with EIgen 3.3.5 will avoid you some debugging.

[2018-11-06 10:42] maShimizu commented on #437
I also same problem.
I use Eigen 3.3~beta1-2 by apt-get install
Should I install Eigen 3.3.5 from source code?

[2018-11-06 10:46] jcarpent commented on #437
@maShimizu On which Ubuntu distribution? 16.04?

[2018-11-06 11:41] antithing opened #438 "for BA, DENSE_NORMAL_CHOLESKY is faster than SCHUR"
I have  a simple Bundle adjustment problem, two camera, and 230 points.

I am trying to speed up the solve as much as I can.

using:

[code]

Gives:

[code]

All of the documentation I have seen says that using SCHUR for this kind of problem is faster, however, when i switch to:

[code]

It runs slower, with:
[code]

Is there anything i can do to get a faster result? I have tried ordering, every k

[2018-11-06 23:17] v01d commented on #387
Hi,
I just asked a question on the mailing list relevant to this thread. In my email I asked about an approach for avoiding the intermediate jacobian as suggested in #303. This approach works, however it feels hacky and, in fact, I cannot use the gradient checker since the numerically computed jacobian computes a different jacobian than mine, of course.

So, since this has been asked a few times,

[2018-11-07 03:56] sandwichmaker commented on #438
can you share the output of Summary::FullReport() in both cases?

[2018-11-07 03:57] sandwichmaker commented on #435
We do not allow access to internal computations in Ceres. Thats the entire point of having a private implementation object for Problem.

If you are interested in developing support for equality/inequality constraints in ceres, perhaps we should talk about it?

[2018-11-07 09:33] antithing commented on #438
Thanks for getting back to me.

Report 1:
[code]

report 2:

[code]

[2018-11-07 10:59] jcarpent commented on #438
@antithing Are you providing the same initial guess to both problems? Because the initial costs are not the same.

[2018-11-07 10:59] jcarpent commented on #435
Yes, we can discuss this point of course.

[2018-11-07 12:46] antithing commented on #438
Hi, I am passing exactly the same data in. the only difference is the solver settings.

[2018-11-07 13:02] sandwichmaker commented on #438
Well two things. I do not understand why you have different initial costs. That is its own thing, but as far as speed goes, the problems you are solving are tiny. They have 7 parameter blocks with a total of six parameters. My guess is that all your points are constant and you are just optimizing the pose of one camera. For such a small problem dense_qr or dense_normal_cholesky will work faster th

[2018-11-07 13:03] sandwichmaker commented on #437
yeah this looks like a recent change to eigen at head. I am going to close this as this is an eigen version issue rather than a ceres issue.

[2018-11-07 13:03] #437 closed

[2018-11-07 13:05] maOpera commented on #437
Thank you for your Kindly reply.
I'll install Eigen 3.3.5 or before version from source code.

[2018-11-07 13:28] antithing commented on #438
Ok that is all i need to know. I just wanted to make sure I was running as fast as i could. Thank you!

[2018-11-07 13:28] #438 closed

[2018-11-08 09:30] norbertwenzel opened #439 "Typo in example for Grid1D"
If I'm not mistaken the first parameter to the constructor of `grid` should be `data` instead of `x`.

https://github.com/ceres-solver/ceres-solver/blob/e51e9b46f6ca88ab8b2266d0e362771db6d98067/include/ceres/cubic_interpolation.h#L119

[2018-11-08 12:03] antithing opened #440 "Return reprojection error after BA?"
This may be a stupid question, but i can't seem to find the answer. I am running BA on a small dataset. Everything works great, but i need to check the result somehow, to see how accurate the bundle adjustment was.  In the summary:

[code]

Is the `Cost` value the final and initial error amount?

How does this relate to say, reprojection error?  Is there a way to return reprojection error from cer

[2018-11-11 00:39] sandwichmaker commented on #440
the cost is 1/2 the sum of squared error, so multiplying by 2 should give you the total reprojection error.

[2018-11-11 00:39] #440 closed

[2018-11-11 00:40] sandwichmaker commented on #439
you are of course right.

[2018-11-18 15:00] avaxman opened #441 "Searching for tbb for no reason?"
Hello,

I used the OSX installation process without change from the tutorial, and everything compiles. However, "make tests" fails all tests. When I tried to run individual tests I get
[code]

On another, perhaps related, note, why do I have to both install ceres through brew and to download the repository? aren't they just two same versions of the same thing? and not conflicting?

Amir.

[2018-11-30 03:36] csc-std commented on #227
`// This class is used to explicitly ignore values in the conditional
// logging macros.  This avoids compiler warnings like "value computed
// is not used" and "statement has no effect".

class GOOGLE_GLOG_DLL_DECL LogMessageVoidify {
 public:
  LogMessageVoidify() { }
  // This has to be an operator with a precedence lower than << but
  // higher than ?:
  void operator&(std::ostream&) { }
};`
a

[2018-11-30 03:52] oracle3001 opened #443 "Ceres Incompatible with dev branch of Eigen"
Just so you are aware, ceres appears like it will need some adjustment in the future to work with the latest developments within Eigen.

Upon trying to build using VS2017 with the latest dev fork from the official repo, produces a large number of errors relating to mathematical operators in genericpacketmathfunctions.h  e.g.

`binary '+': 'const Packet' does not define this operator or a conversio

[2018-12-04 09:16] p1n0cch10 opened #444 "error when compiling with cartographer and ninja"
Hi all,

I am compiling the ceres-solver 1.13.0/1.14.0 (the problems are the same with these two versions) with cartographer on ubuntu 14.04 and ROS indigo according to the link [here](https://google-cartographer-ros.readthedocs.io/en/latest/compilation.html). Howerver, there is a compiling error when catkim_make_isolated.

After executing

It says that

I downloaded the ceres-solver on [github](h

[2018-12-04 21:30] sandwichmaker commented on #444
This looks like a new eigen problem that I will need to look at.
For now I recommend using the previous stable version of Eigen.

[2018-12-04 21:31] sandwichmaker commented on #443
Thanks, I think there is an iterator related problem too. I will take a look.

[2018-12-05 13:24] wsascha opened #445 "`cost_function_to_functor_test` fails when built with gcc 7.3 and `-march=haswell`"
Valgrind test output:
[code]

Architecture (haswell):
[code]

[2018-12-13 07:01] venonat001 opened #446 "how to add control points?"
Hello!
Recently I'm using the ceres solver to deal with some photogrammetry problems. But now I am confused how to add control points to objective functions. Can I regard control points as tie points with higher weight? If so, then what form should objective functions be?

[2018-12-13 22:47] punitsoni opened #447 "ceres::sqrt(T(0.0)) is crashing for ceres::Jet"
Currently the ceres::sqrt() function is implemented as following for Jet.
[code]

When using this function in an AutoDiff cost functor, if the argument for sqrt is 0. It crashes. Although this is a divide by zero error for Jet with the derivative calculation. Divide by zero is not expected when calculating a sqrt of 0 for a scalar datatype like double. This requires the developer to explicitly che

[2018-12-18 14:30] sandwichmaker commented on #446
Sorry this is better discussed as a modeling problem on the mailinglist. this is not really an issue with ceres.

[2018-12-18 14:30] #446 closed

[2018-12-18 14:31] sandwichmaker commented on #444
Duplicate of https://github.com/ceres-solver/ceres-solver/issues/443

[2018-12-18 14:31] #444 closed

[2018-12-18 14:39] orzechow commented on #445
On `-march=sandybridge` it fails already for `CostFunctionToFunctor.EightParameterBlock`.

[2019-01-10 10:23] jycccccccc opened #448 "undefined reference when using ceres in TX2"
Appreciate your work but I encountered some problems.
I am trying to use ceres in my project.
I installed the dependencies and ceres got built successfully.
I ran make test and all the tests were successful.
I am using ceres-1.13 on ubuntu 16.04.
When I use libceres.a in my project I get the following error while building:

/usr/local/lib/libceres.a(cxsparse.cc.o): In function `ceres::internal::CX

[2019-01-10 19:15] versatran01 opened #449 "Question about square root information computed in pose_graph_2d example"
In line 85 of pose_graph_2d.cc
The square root information matrix is computed as
[code]
and in pose_graph_error_2d.h
This is multiplied to the left of the residual
[code]
However, in Bundle Adjustment A Modern Synthesis page 308 Section 3.2 the paragraph describing standardized residual, it says z_i should be pre multiplied by L_i^T.
From my understanding, we should get matrixU from llt instead of

[2019-01-10 23:17] versatran01 commented on #449
I realized it doesn't matter at the end of the day once you multiple r^T r together, because information matrix is symmetric.

[2019-01-11 03:46] jycccccccc commented on #448
thx! problems solved!

[2019-01-11 03:46] #448 closed

[2019-01-14 07:30] Ayangdanny opened #450 "How to use OpenMP in Ceres Solver?"
I use AnalyticCostfunction. In the "virtual bool Evaluate()" function I have some code used to calculate residuals and jacobians. In these code I try to use "#pragma omp parallel for" to improve the performance, but it dons't make any sense. If I run the same code in other place (mine rather than ceres‘s functions),the OpenMP make sense very well. I concer about whether there are some tricks when

[2019-01-14 17:44] Jerry-Ma opened #451 "Include ceres-solver as fetchcontent directory"
Hi,

 I am trying to use ceres-solver (the master branch)with the development HEAD of Eigen, both are included as FetchContent projects:

[code]

In general, this works, but there are places that do not work and/or confusing to me.

* !1: This is to import Eigen3::Eigen target.
* !2: This attempts to read the include dir property of Eigen3::Eigen, which I though I could use as EIGEN_INCLUDE_DIR in

[2019-01-15 11:48] alexsmac commented on #450
You will need to be more specific, what do you mean that it doesn't make any sense?

[2019-01-15 12:01] alexsmac commented on #451
You do not need to use `EIGEN_INCLUDE_DIR` to specify the location of Eigen for Ceres, setting `Eigen3_DIR` will have the desired effect, Ceres' FindEigen.cmake script prefers an exported package if it is available (controlled via: `EIGEN_PREFER_EXPORTED_EIGEN_CMAKE_CONFIGURATION`) - fixing that should resolve your other issues.

[2019-01-15 12:30] ZHAORANWU1 opened #452 "make install failed"
make and make test has no problem.
but when I try to make install,it'll be like this:

proprak8@I81PC79:~/Pangolin/build$ sudo make install
[sudo] Passwort für proprak8:
/bin/sh: 1: cd: can't cd to /home/proprak8/Pangolin/build
src/CMakeFiles/pangolin.dir/build.make:2401: recipe for target 'src/CMakeFiles/pangolin.dir/depend' failed
make[2]: *** [src/CMakeFiles/pangolin.dir/depend] Error 2
CMakeFi

[2019-01-15 13:16] alexsmac commented on #452
Unless you have renamed Ceres 'Pangolin', you do not appear to be installing Ceres.  Your problem is likely with Pangolin and has nothing to do with Ceres.

[2019-01-15 13:16] #452 closed

[2019-01-15 14:09] Jerry-Ma commented on #451
I read through the FindEigen.cmake module in ceres, and was able to found a solution as follows:
[code]
The thing here is that for !1 and !4, I do not need them because when including as subdir, the eigen and ceres CMakeLists.txt will create correct targets already, i.e., `Eigen3::Eigen` and `ceres`, no needing of the extra find_package call. The key to the success is that I have to set EIGEN_PREF

[2019-01-15 15:08] alexsmac commented on #451
You should not need to do anything beyond setting `Eigen3_DIR` when configuring Ceres.  The find_path() call [on line 180](https://github.com/ceres-solver/ceres-solver/blob/master/cmake/FindEigen.cmake#L180) is only relevant if Eigen is *not* found as a package.  You are explicitly creating it as a package.  There should not be any issues with a conflicting system package of Eigen provided that yo

[2019-01-16 15:38] Jerry-Ma commented on #451
Upon closer investigate, I found that the reason that Eigen3_DIR did not work for me is due to a bug from Eigen: http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1386 .

In short,  I am setting up the Eigen package via FetchContent, which basically first clones the eigen source code to `build/_deps/eigen-src`, then add_subdirectory(eigen-src) with the builddir set to `build/_deps/eigen-build`. Upon f

[2019-01-16 16:16] Jerry-Ma commented on #451
Forgot to mention, for the manual solution to work, I still need to make the change to  ceres-src/internal/ceres/CMakeLists.txt .
[code]
I think this change is not bounded to the find_package stuff we discussed, but rather a generic treatment of both exported build tree and installed package, just the same as what is done to minglog.
I'd be happy if you can fix this bit unless there is other side

[2019-01-18 16:28] ghost opened #453 "Build error"
Hi, I am receiving an error in the current ceres master branch:
[code]
Can anyone advise?

[2019-01-18 16:42] #453 closed, assigned to nobody

[2019-01-25 02:49] maria-korosteleva opened #454 "Access violation error in NumericDiffCostFunction constructor in VS2017 debug mode"
I encounter an Access violation exception when compiling the program that uses NumericDiffCostFunction/AutoDiffCostFunction in Debug mode in Visual Studio 2017. The exeption seems to occur inside the object constructor

Here is the minimized code that reproduces the problem.
[code]
The exception is as such:
"Exception thrown at 0x00007FF64C66D6DD in main.exe: 0xC0000005: Access violation writing l

[2019-01-26 21:17] hhu006 opened #456 "Multithreading support on Android"
I am trying to build ceres (ver 1.14.0) with Android NDK (r17c) standalone toolchain. Since OpenMP is not supported by the clang compiler of Android NDK any longer, I attempted to use CXX11 threads for ceres multithreading.

For example, with the following cmake options "-DOPENMP=OFF -DCXX11_THREADS=ON",  an build error on Mutex is seen as follows. No idea why ceres requires a new mutex implementa

[2019-01-27 16:56] alexsmac commented on #456
We did not support multithreading in 1.14 on Android.  If you switch to master (which will become Ceres 2.0) then C++11 multithreading is supported on Android, and the supported build environment on Android has also been updated to CMake.  Build instructions are [available here](https://github.com/ceres-solver/ceres-solver/blob/master/docs/source/installation.rst#android).

[2019-01-27 16:56] #456 closed

[2019-01-30 11:45] TomLKoller commented on #447
An easy way to fix the error would be adding a small value to your norm so it can not be 0 since you still should return a value, when your norm is 0.
`const Scalar norm = ceres::sqrt(norm_sq+1e-8); // fixes the crash`

Anyway an assert in sqrt(Jet) would help a lot for debugging purposes.

[2019-01-31 16:50] Jerry-Ma commented on #451
OK, after some more fiddling, I guess the thing to fix here in ceres is that it uses the legacy EIGEN_FOUND and EIGEN_INCLUDE_DIR machinery even when find_package(Eigen3) runs correctly and provide the imported target Eigen3::Eigen.

In fact, if you look into Eigen source code: https://bitbucket.org/eigen/eigen/src/24d29254152d3b0818a05073f456898b39963fa0/cmake/Eigen3Config.cmake.in?at=default&fil

[2019-02-06 23:05] patrikhuber opened #457 "Lack of clarity whether Grid/BiCubicInterpolator cause an error when out-of-bounds"
Hi!

There is an inconsistency and lack of clarity whether `Grid` (e.g. `Grid2D`) and `BiCubicInterpolator` support accessing values out of the grid boundary or not.

Here it says that `BiCubicInterpolator` will return `false` if r or c are out of bounds:
https://github.com/ceres-solver/ceres-solver/blob/e51e9b46f6ca88ab8b2266d0e362771db6d98067/include/ceres/cubic_interpolation.h#L266-L269
But tha

[2019-02-07 07:35] sandwichmaker commented on #457
Yes the documentation needs fixed. We are using a constant boundary condition, where the boundary value comes from the nearest point on the boundary. The documentation reflects an older reality.

[2019-02-07 07:35] sandwichmaker commented on #457
Please send a pull request on gerrit, following the instructions at

http://ceres-solver.org/contributing.html

[2019-02-07 07:45] #449 closed

[2019-02-07 07:46] sandwichmaker commented on #445
Thanks for the report. I will take a look.

[2019-02-07 07:56] sandwichmaker commented on #454
@maria-korosteleva sorry for taking this long. Something weird is going on with msvc here. Because I am unable to replicate the problem on my end. But more importantly, line 77 in sized cost function should not get executed since N2 is zero.

Are you able to use the latest upstream version instead?

[2019-02-07 07:57] sandwichmaker commented on #454
I mean N1.

[2019-02-07 07:58] sandwichmaker commented on #450
Closing this issue as there is no information available. Please re-open with additional information.

[2019-02-07 07:58] #450 closed

[2019-02-07 08:00] sandwichmaker commented on #435
Closing this to continue discussion over email/mailinglist.

[2019-02-07 08:00] #435 closed

[2019-02-07 08:01] sandwichmaker commented on #434
Closing due to lack of more information. Please re-open if you have additional info.

[2019-02-07 08:01] #434 closed

[2019-02-07 08:02] sandwichmaker commented on #428
@mvitus can you follow up?

[2019-02-07 08:03] #420 closed

[2019-02-07 08:03] sandwichmaker commented on #418
@keir ?

[2019-02-07 10:44] patrikhuber commented on #457
Great, thanks, will do! 👍

[2019-02-08 04:18] maria-korosteleva commented on #454
@sandwichmaker, thank you for your answer.

I tried to run the same program with the latest upstream version of ceres just now.
This time it fails in the destructor with a different error:

![2019-02-08_13-11](https://user-images.githubusercontent.com/6837635/52458540-565b5300-2ba3-11e9-8df4-8ef86e0deffb.jpg)

Running in Release mode is fine as before

[2019-02-08 22:40] patrikhuber commented on #457
I'll close this, we can continue the discussion [in the Gerrit PR](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/14820) if needed.

[2019-02-08 22:40] #457 closed

[2019-02-12 07:37] maria-korosteleva commented on #454
@sandwichmaker, regarding your note:

I've rechecked: it turns out that while I was trying to figure out what's going on, I've accidentally added a blank line to the header. So it fails on line 76 (not 77) of SizedCostFunction.h, the first time the CERES_ADD_PARAMETER_BLOCK() is executed

I'm sorry for the misunderstanding that occurred from this

[2019-02-19 18:12] BrannonKing commented on #319
Bump!

[2019-02-20 23:24] mvitus commented on #428
@happyfrank @sandwichmaker I looked at the [crash image](https://user-images.githubusercontent.com/12987532/46991834-1a0a6f80-d13a-11e8-871e-90acf02fc8af.png) you provided and at the bottom it shows an Eigen assertion error with the following link: [https://eigen.tuxfamily.org/dox/group__TopicUnalignedArrayAssert.html](https://eigen.tuxfamily.org/dox/group__TopicUnalignedArrayAssert.html).

That s

[2019-02-21 11:18] thclark opened #458 "Update docs to add package-manager based installation for windows"
The docs currently give the impression that there's an epic number of steps to build from source when it comes to using ceres on windows. There's a [port out there](https://github.com/tbennun/ceres-windows) which supplies binaries, but is a bit out of date now and isn't being maintained.

I had a very smart intern struggling for a long while to build on windows, whereas on a mac, I just `brew inst

[2019-03-01 16:41] dmitry-akimov-dXgjvQjNiMuVYecJ opened #459 "A residual block object for each point in a point cloud or for each pixel?"
The way in which the examples, e.g. `curve_fitting.cc`, `denoising.cc`, suggest that you need to write code with Ceres, namely, allocating two objects with virtual functions on the heap to store a single 2D point (2 doubles - 16 bytes, or 2 floats - 8 bytes) or a single pixel (3-4 bytes), raises the question about efficiency of such representation. Additionally, Ceres seems to insert the pointers

[2019-03-02 02:55] jasjuang opened #460 "Compilation error and unclear on why it isn't caught by CI"
I am on Ubuntu 18.04, GCC 7. Doing the below standard procedure

[code]

yields

[code]

[2019-03-02 20:42] keir commented on #418
It's annoying to configure https, and ceres-solver.org is a static site; there isn't any need for https. Is there a particular reason this is wanted?

[2019-03-02 20:43] keir commented on #460
Could it be an Eigen issue? What version of Eigen are you on?

[2019-03-02 20:56] keir commented on #459
Whether it makes sense or not for you to use a single or multiple residuals depends on the relationship of variables in your problem. If your residuals are all coupled to all variables, then it makes sense to use a single residual block. However, if they are not, then getting Ceres to exploit the sparsity in your problem (due to not all cost functions depending on all variables) requires you to te

[2019-03-02 20:56] #459 closed

[2019-03-02 20:59] keir commented on #458
We don't have any maintainers on Windows for Ceres currently; would you be willing to help out? We'd much rather have these random side-efforts join the main Ceres developers to properly support Windows.

[2019-03-02 21:07] keir commented on #414
Way back in the origins of Ceres at Google, we had more implicit conversions for ints and related types. However, these ended up introducing nasty and hard to track down bugs, which is why we don't have those today.

However, it's been awhile and maybe we could reconsider. Would you be willing to throw up a patch on our Gerrit instance?

[2019-03-02 22:22] sandwichmaker commented on #460
It's an upstream eigen and gtest issue.
We likely need to update the version of gtest in ceres.

*From: *Keir Mierle <notifications@github.com>
*Date: *Sat, Mar 2, 2019, 12:43 PM
*To: *ceres-solver/ceres-solver
*Cc: *Subscribed

Could it be an Eigen issue? What version of Eigen are you on?

[2019-03-02 22:25] jasjuang commented on #460
I was on the latest master of Eigen, I just rolled back to 3.3.7 and it's compiling again. On a side note, why does Ceres choose to build gtest instead of having it as an external library?

[2019-03-02 22:36] sandwichmaker commented on #460
That's the recommended way gtest is to be used.

*From: *Jason Juang <notifications@github.com>
*Date: *Sat, Mar 2, 2019, 2:25 PM
*To: *ceres-solver/ceres-solver
*Cc: *Sameer Agarwal, Comment

I was on the latest master of Eigen, I just rolled back to 3.3.7 and it's

[2019-03-02 22:41] jasjuang commented on #460
I don't think that's a good idea because there need to be separate efforts on maintaining old versions of gtest. The latest gtest works totally fine with the eigen on master but in any case I will re-open the issue if the same problem still shows up in the next Eigen release. Thanks for your swift response.

[2019-03-02 22:41] #460 closed

[2019-03-03 07:03] sandwichmaker commented on #443
@oracle3001 could you try now please? I just updated the version of gtest in ceres. If you still get errors, please share the error log.

[2019-03-03 07:08] #439 closed

[2019-03-03 07:18] sandwichmaker commented on #402
@alexsmac any chance we can get this? will help me debug stuff outside google more easily.

[2019-03-03 07:40] sandwichmaker commented on #366
Closing because of no response.

[2019-03-03 07:40] #366 closed

[2019-03-03 07:40] sandwichmaker commented on #357
@keir can you take a look please? I'd like to see this fixed for the 2.0 release.

[2019-03-03 07:41] sandwichmaker commented on #381
This code has been submitted.

[2019-03-03 07:41] #381 closed

[2019-03-03 08:02] sandwichmaker commented on #428
@happyfrank what version of Eigen are you using?

[2019-03-03 08:05] sandwichmaker commented on #427
@huangqinjin can you submit your pull request to gerrit, following the instructions in

http://ceres-solver.org/contributing.html

[2019-03-03 08:17] sandwichmaker commented on #397
@alexsmac want to take this on? 2.0 is coming :)

[2019-03-03 14:57] huangqinjin commented on #427
@sandwichmaker [14920](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/14920).

[2019-03-03 18:52] alexsmac commented on #402
Fixed in master

[2019-03-03 18:52] #402 closed

[2019-03-03 18:56] sandwichmaker commented on #427
Thank you. Merged.

[2019-03-03 18:56] #427 closed

[2019-03-03 19:08] sandwichmaker commented on #454
I am wondering if this is a lifetime issue, since you are creating this function on the stack.
what happens if you do

auto cost_function  = new NumericDiffCostFunction<blaFunctor, ceres::CENTRAL, 1, 1> (new blaFunctor);
delete cost_function;

do you get the same problem?

[2019-03-03 19:29] sandwichmaker commented on #445
@wsascha is this still an issue after the recent refactoring involving variadic templates?

[2019-03-04 11:42] thclark commented on #458
Hi @keir, I think it's a case of willing but not able! I actually don't work on windows at all, and haven't for many years, so me becoming the de-facto windows maintainer might be a very bad idea!

I'm dabbling just now to try and get Travis for Windows to build a library of mine which depends on ceres. If I can get that working, I'll happily submit a PR to update the docs, if you'd like?

Unrelat

[2019-03-07 04:45] maria-korosteleva commented on #454
Yes, I get the same problem for creation on the heap too: "An invalid parameter was passed to a function that considers invalid parameters fatal". Just tried with the version of ceres I had at the beginning of the Feb.

Reproduces for the dynamic allocation with stable release (ceres-1.14.0) as well.

[2019-03-07 05:42] sandwichmaker commented on #454
@maria-korosteleva can you share your latest code which produces the violation?

[2019-03-07 07:09] wsascha commented on #445
Nope. Still failing on `sandybridge`... But it works on `westmere` :laughing:

[2019-03-07 07:42] maria-korosteleva commented on #454
Sure
[code]

[2019-03-07 12:52] sandwichmaker commented on #454
@maria-korosteleva the only difference I observe in the code I compile and the on you are compiling is the presence of pch.h. Since I am not using visual studio, what happens if you remove pch.h? I wonder if precompiled headers are not mixing well with template code in ceres?

[2019-03-07 18:00] soulslicer opened #462 "Disable Trust Region?"
Is there a way to do pure Gauss Newton and disable the LM trust region approach?

[2019-03-07 21:21] sandwichmaker commented on #462
Not right now. I am curious as to why you would want to do that? That will result in a non-convergent algorithm.

[2019-03-07 21:22] ewhitmire opened #463 "Bazel build fails due to deprecated http_archive rule"
The `http_archive` and `new_http_archive` Bazel rules are deprecated and it looks like they were removed in Bazel version 0.23.0. As a result, it is unable to parse the `WORKSPACE` file.

[2019-03-07 21:23] sandwichmaker commented on #463
don't use bazel :). Its an incomplete build anyways.
That said, @keir can you look at fixing this.

[2019-03-07 21:28] soulslicer commented on #462
It's not needed. I am trying to find a GPU port of the LM trust region solver. I find Ceres to be too slow, can you recommend something that accepts Residual, Parameters, and a Jacobian to find delta_parameters?

[2019-03-07 21:36] sandwichmaker commented on #462
Try http://optlang.org/

[2019-03-07 21:39] soulslicer commented on #462
I have taken a brief look at this, but it looks like it needs some explicit formulation. I need something at a lower level based on what I have described above. Currently, I only find only one library that does this:

https://github.com/gpufit/Gpufit

[2019-03-07 21:39] #462 closed

[2019-03-07 22:10] #431 closed

[2019-03-07 22:23] sandwichmaker commented on #443
closing because of no response. please open if this is still an issue.

[2019-03-07 22:23] #443 closed

[2019-03-09 03:49] maria-korosteleva commented on #454
@sandwichmaker
I turned off the use of the pre-compiled headers. The result didn't change, unfortunately

[2019-03-10 14:40] sandwichmaker commented on #454
Thank you for your patience @maria-korosteleva, I do not have a windows compiler and nothing on the clang compiler toolchain replicates this :/

[2019-03-10 17:27] allo- commented on #414
Currently I am on holiday, but I can have a look when I am working on it again.

[2019-03-14 01:37] maria-korosteleva commented on #454
@sandwichmaker ok, thank you for trying to help me.
The issue doesn't block my work entirely, and since I'm the only one complaining about it right now, I guess, it doesn't worth further investigation.

[2019-03-14 08:10] sandwichmaker commented on #454
I am sorry I could not help you more @maria-korosteleva . I am going to close this for now. If you have more information/reproduction info, please feel free to re-open it.

[2019-03-14 08:10] #454 closed

[2019-03-19 08:18] happyfrank commented on #428
Sorry for reply late. when I just use version 1.14 as internal lib not external. This error doesn't exist anymore. So I think it's my environment error.

[2019-03-19 08:18] #428 closed

[2019-03-21 16:35] v01d commented on #280
Hi, is this still being considered?

[2019-03-21 20:51] sandwichmaker commented on #280
yes, but the CL needs to be completely re-written. I have not had time to work on it, but I'd be happy to review the code if you or someone else is willing to work on it.

[2019-03-22 08:17] Savviitar opened #465 "Error compling:No rule to make target '/usr/lib/x86_64-linux-gnu/libspqr.so"
When i try build the ceres-solver, i confront a problem!
No rule to make target '/usr/lib/x86_64-linux-gnu/libspqr.so', needed by 'bin/simple_bundle_adjuster'.  Stop.

suitesparse version 4.4.6

[  0%] Built target gtest
[ 29%] Built target ceres
[ 30%] Built target test_util
make[2]: *** No rule to make target '/usr/lib/x86_64-linux-gnu/libspqr.so', needed by 'bin/simple_bundle_adjuster'.  Stop.

[2019-03-22 09:51] alexsmac commented on #465
This looks like you configured Ceres when the suitesparse package was installed, then removed it before building (or rebuilding).

[2019-03-22 09:51] #465 closed

[2019-03-25 08:48] TimKlaas opened #466 "Trajectory optimization problem does not converge"
Hello everyone,

I am currently working on using ceres solver for optimizing a robotic path trajectory, which consists of 2-Dim position nodes. I use different cost functions to form constraints for these position nodes, in order to optimize the trajectory in terms of for example achieving a shortest path solution.  I already solved the problem in Matlab which worked fine. However when using ceres

[2019-03-25 18:31] leCaTo commented on #280
In a way to make some contribution to the subject, there have been some recent works from Michal Polic et al. addressing rank deficiencies in SfM/VisualSLAM while computing covariances: [in ECCV2018](http://openaccess.thecvf.com/content_ECCV_2018/papers/Michal_Polic_Fast_and_Precise_ECCV_2018_paper.pdf) and [3DV2017](http://people.ciirc.cvut.cz/~policmic/files/Polic___3DV_2017_IEEE_format.pdf). Th

[2019-03-27 15:30] TimKlaas commented on #466
UPDATE:

Using .norm() seems to be the issue for my problem. For further detail see:
https://groups.google.com/forum/#!searchin/ceres-solver/Gradient$20Error$20detected%7Csort:date/ceres-solver/cPMgCxiMSig/hgIGPTRTBQAJ

[2019-03-28 12:55] sandwichmaker commented on #466
Since we are discussing this on the mailinglist, I am going to close this issue.

[2019-03-28 12:55] #466 closed

[2019-03-28 12:57] sandwichmaker opened #467 "Add an FAQ about not taking norm of residuals in cost functions."
Context:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ceres-solver/cPMgCxiMSig/ff9WlJI0CAAJ

[2019-03-28 13:03] sandwichmaker commented on #411
@keir had some opinions on this.

[2019-03-28 13:05] sandwichmaker commented on #418
Closing because of no response.

[2019-03-28 13:05] #418 closed

[2019-03-28 13:09] sandwichmaker commented on #176
Closing this ancient bug in favor or more granular bugs.

[2019-03-28 13:09] #176 closed

[2019-03-28 13:10] sandwichmaker commented on #172
This is a duplicate of https://github.com/ceres-solver/ceres-solver/issues/280 at this point.

[2019-03-28 13:10] #172 closed

[2019-03-28 13:11] #323 closed

[2019-03-28 13:12] sandwichmaker commented on #320
Closing as there is no response. Please reopen if you come back to it.

[2019-03-28 13:12] #320 closed

[2019-03-28 13:13] sandwichmaker commented on #230
@alexsmac  would you be interested in taking this on?

[2019-03-28 13:15] sandwichmaker commented on #245
Closing this one as a dup.

[2019-03-28 13:15] #245 closed

[2019-03-28 17:47] sandwichmaker opened #468 "Questions to add to the documentation"
This is a tracking issue for people to contribute what questions they would like to see answered in the documentation.

[2019-03-29 09:06] TimKlaas commented on #468
Hey,
here are some questions I came across when first getting started with ceres. I think some of them are already answered in the documentation somewhere, but it would be nice to have the reappear in an FAQ or in the Tutorial. Furthermore I would find it very helpful to have some more general examples besides the Helloworld one. I found it hard to grasp what is relevant to me from the BA and othe

[2019-03-29 14:00] joydeep-b commented on #468
Using Eigen in residuals is a great topic for a sub-page in the documentation.

Another style of question that seems to come up often in the discussion group is:
* How do I speed up the optimization using ceres-solver for problem X?
* What is the expected speed of the solver in problem type Y?

[2019-04-01 13:49] pablospe commented on #468
Even though there are samples in the code and tests, it would be nice to have an example in the documentation of how to create a LocalParameterization. I remember I found it difficult to understand.

[2019-04-12 06:31] jschueller opened #470 "LoggingType/DumpFormatType enums have no string conversions functions"
These seem to be missing as other enums do have conversion function.

[2019-04-12 10:20] kassef opened #471 "Ceres for Android - Problem while crossbuilding for arm64-v8a"
Hi,
I managed to get libceres.so using cmake for armeabi-v7a architecture thanks to this : https://github.com/ceres-solver/ceres-solver/issues/364
But i failed to crossbuild it for arm64-v8a, i get the following error :

CMake Error at /home/sif/Android/Sdk/ndk-bundle/build/cmake/android.toolchain.cmake:169 (message):
  GCC is no longer supported.  See
  https://android.googlesource.com/platform/n

[2019-04-12 12:49] kassef commented on #471
Nevermind, i just modified "crossbuild arm64-v8a arm64-v8a aarch64-linux-android-4.9" by
"crossbuild arm64-v8a arm64-v8a aarch64-linux-android-clang4.9" to use clang instead of gcc

[2019-04-12 12:49] #471 closed

[2019-04-14 00:21] sandwichmaker commented on #470
@jschueller happy to take a patch. Please follow instructions at

http://ceres-solver.org/contributing.html

[2019-04-15 07:24] ArmstrongYang opened #472 "std::is_trivially_default_constructible in include/ceres/internal/fixed_array.h#L89 is not support for gcc4.9(c++11)"
Hello, I find a bug for compiler gcc4.9(c++11), because the following function is not support in
https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/internal/fixed_array.h#L89
[code]

you can reproduce this error in cppreference.com:

**https://en.cppreference.com/w/cpp/types/is_default_constructible**

change compiler to gcc4.9(c++11)

![image](https://user-images.githubusercon

[2019-04-15 17:41] sandwichmaker commented on #472
@JohannesBeck PTAL.

[2019-04-16 08:04] keir commented on #463
I have a patch up to fix this:
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/15120

[2019-04-16 08:06] keir commented on #335
an-kumar, we'd love contributions here.

[2019-04-16 14:24] #463 closed

[2019-04-16 18:43] JohannesBeck commented on #472
The problem is, that gcc4.9 does not have full c++11 support and I think this gcc version is not support by ceres. At least gcc5 is needed. The function DefaultConstructorIsNonTrivial could be changed to compile with gcc4.9 but there are other problems when using that compiler (see e.g. issue #291).
Would it be possible for you to change the gcc compiler to a more recent one?

[2019-04-16 19:38] sandwichmaker commented on #472
Yes with the current development version of ceres,  you need a c++11 compliant toolchain.

[2019-04-16 19:42] sandwichmaker commented on #472
Closing as this version of the compiler is too old.

[2019-04-16 19:42] #472 closed

[2019-04-18 14:41] sandwichmaker commented on #451
@alexsmac ?

[2019-04-18 15:02] #470 closed

[2019-04-18 15:04] jschueller commented on #470
thanks!

[2019-04-19 14:22] sandwichmaker commented on #319
https://github.com/ceres-solver/ceres-solver/commit/939253c208718689c8f141a2aa97ba0827478a93 should fix it.

[2019-04-19 14:22] #319 closed

[2019-04-19 14:23] sandwichmaker commented on #357
https://github.com/ceres-solver/ceres-solver/commit/25e1cdbb6f5e0544f98c5b613e490716cbcabecf   fixes it.

[2019-04-19 14:23] #357 closed

[2019-04-19 14:23] sandwichmaker commented on #445
https://github.com/ceres-solver/ceres-solver/commit/939253c208718689c8f141a2aa97ba0827478a93 fixes it.

[2019-04-19 14:23] #445 closed

[2019-04-19 14:47] sandwichmaker commented on #411
@keir ping?

[2019-04-21 11:08] ArmstrongYang commented on #472
Thank you very much. I fix this by reverting to latest publish version 1.14.0.

[2019-04-28 03:35] yf13 opened #473 "bundle_adjuster.cc on more datasets"
I am rather new to this tool and the BAL problem, I can build and run the simple_bundle_adjuster sample successfully with problem-16-22106.

Now I am wondering how to use the bunder_adjuster.cc example successfully with other data sets such as problem-182-116770 or problem-356-226730?

It seems the following command doesn't work:

```bin/bundle_adjuster --input=../data/problem-182-116770-pre.txt -

[2019-04-29 05:02] sandwichmaker commented on #473
@yf13 what do you mean that command does not work? what happens when you run it?

[2019-04-29 11:49] yf13 commented on #473
@sandwichmaker the command works but it didn't converge. Guess the problem-182-116770 might be more complex and needs proper options to get converged.

[2019-04-29 16:29] sandwichmaker commented on #473
as you can see, it has essentially converged. The exact convergence behaviour is tunable and I would not worry about the solver returning converged status or not.

[2019-04-29 16:29] #473 closed

[2019-04-29 22:58] #417 closed

[2019-04-30 00:10] sandwichmaker commented on #416
@keir as we are in the midst of re-designing this.

[2019-05-08 00:03] k-sheridan commented on #303
Hi @RomaTeng,

In the LocalParameterization, ceres gives us the ability to change the MultiplyByJacobian function which appears to be the way ceres maps the globally parameterized jacobians into the locally parameterized jacobians.

With the ability to modify this function, we should be able to skip that unnecessary `local_matrix = global_matrix * jacobian` entirely by simply assigning the already

[2019-05-08 02:36] asimay opened #474 "[Question] is there some similar libs like ceres in cuda?"
[Question] is there some similar libs like ceres in cuda?
We want to implement the same function in nvdia GPU board.
Thank you very much!

[2019-05-09 11:31] NikolausDemmel commented on #474
Maybe this could be interesting for you: http://optlang.org/

[2019-05-10 20:51] NikolausDemmel opened #475 "Computation of gradient norm in TrustRegionMinimizer"
I'm trying to understand the logic behind how the gradient norms are computed in `TrustRegionMinimizer`. I have noticed that the norms ceres computes can be quite different from the norms in tangent space.

https://github.com/ceres-solver/ceres-solver/blob/3ff12a878bf335dd3ea15944fe20648757c1bad8/internal/ceres/trust_region_minimizer.cc#L264-L286

According to the comment, the gradient is computed

[2019-05-10 20:58] NikolausDemmel opened #476 "Accessing gradient / residuals (/ jacobians) in IterationCallback"
I'm would like access the gradient (in tangent space, see #475) and residual vector in my IterationCallback for a) optional logging and b) custom abort criteria.

Could an additional API to (optionally) get access to the gradient and residual vector from the callbacks be considered? I personally don't need jacobians, but one might consider the add those as well.

I currently work around the issue

[2019-05-10 21:24] NikolausDemmel opened #477 "Simple "projection after update" for bounds"
I have some simple bounds constraints (inverse depth parameterization for 3D points where the parameters should be >= 0). I was using Ceres' LowerBound, but I noticed decreased overall performance, and researching the issue I noticed that the implementation is currently somewhat broken (#187).

Conventional wisdom (among my colleagues) is that simply projecting the inverse depths onto the domain i

[2019-05-10 22:24] sandwichmaker commented on #477
There are two different things here. The way the algorithm is broken has to do with its ability to find good solutions. I finds reasonable solutions but it can do better. That does not mean line search itself should not be done. The conventional wisdom around disabling the line search is wrong.

[2019-05-10 22:26] sandwichmaker commented on #476
do you need access to the residual and gradient vectors or some norms of these vectors? accessing the gradient and residuals vectors directly is not a great idea since internally the problem gets reordered and reduced so interpreting the residual vector and the gradient vector anything other than just vectors will be hard without also having the reordering information.

What kind of termination ar

[2019-05-10 22:27] #474 closed

[2019-05-11 09:56] NikolausDemmel commented on #476
Thanks for the quick response.

Good point, the ordering would be important. In what form could that be passed to the user? An array of the user supplied parameter block pointers and residualBlockIds, respectively? Is the order fixed during the optimization?

By "reduced" you mean constant parameter blocks or residuals with no non-constant parameters are missing? That would be fine. I see this as

[2019-05-11 10:15] NikolausDemmel commented on #477
My evidence (and also that of other issues that have been raised around #187) suggests that it does find worse solutions. For me its worse in terms of a (cost-independent) error metric. Its worse than both an unconstrained version and the workaround above with the LocalParameterization that has the projection. (The reason the unconstrained version also works well here may be that the percentage of

[2019-05-13 13:58] sandwichmaker commented on #476
@NikolausDemmel we do not use one Jacobian representation inside ceres but rather solver specific ones.
Yes the order is fixed during the optimization.
I suggest you modify your copy of ceres to enable this if you want.  I strongly doubt we are going to leak the internal representations as part of the public API. This is going to create a maintenance nightmare long term.

[2019-05-13 14:00] sandwichmaker opened #478 "function_tolerance usage in line_search_minimizer does not respect the sign of the objective function"
from: smowheer@gmail.com
Hello,

I am currently using the GradientProblemSolver for a maximization problem
(so my cost function is multiplied by -1 and always negative) and noticed
that the function_tolerance option has no effect.

I believe the reason to be in the line_search_minimizer.cc (431-433):

const double absolute_function_tolerance =3D options.function_tolerance *=
previous_state.cost;=2

[2019-05-13 17:26] #478 closed

[2019-05-13 18:43] NikolausDemmel commented on #476
Looks like the full gradient vector is available explicitly in both the TrustRegion and LineSearch minimizer, but maybe not the residual vector (and jacobians).

But I can appreciate your reluctance to expose the internals for maintenance reasons.

Thanks anyway.

[2019-05-13 18:43] #476 closed

[2019-05-28 19:03] Tini83 opened #479 "Accepting const argument in Problem::SetParameterBlockConstant"
Accepting const argument in Problem::SetParameterBlockConstant and perhaps other methods that   only use the pointer value, like RemoveParameterBlock, should make the interface more general without breaking compatibility.

[2019-05-30 21:50] sandwichmaker commented on #477
Turns out there a way to do this without affecting the API/introducing new variants. CL forth coming.

[2019-05-31 04:34] sandwichmaker commented on #477
Set Solver::Options::max_num_line_search_step_size_iterations = 0 and you are good to go.

[2019-05-31 04:34] #477 closed

[2019-05-31 17:27] sandwichmaker commented on #475
@NikolausDemmel sorry for the delayed reply. Time has been a bit fragmented lately. You raise some very interesting questions that I will try and address one at a time.

[code]

So when I implemented this, I was not not thinking of this as a finite difference computation, but rather a projection/lifting operation. Yes the gradient is being computed in the ambient space, which is a problem.  But ye

[2019-06-04 09:28] NikolausDemmel commented on #477
I appreciate the followup very much, thank you!. I'll give it a try.

[2019-06-04 09:40] NikolausDemmel commented on #475
Thanks for the response.

True, however the problem only arises when lifting the Lie Algebra element to the Group. By itself, 2pi is very meaningful and different from 0 (e.g. as a rotational velocity, or indeed, as a gradient) and for example if we integrate by a small time delta or make a step with a small step-size, there is usually no problem. But yes, my line of argument is a bit hand-wavy.

[2019-06-04 21:59] oracle3001 opened #480 "Build Error with VS2017 - Attempting to Reference Deleted Function"
When I attempt to build off the latest commit on the master branch, I get the following error when using a Windows 10 box with VS2017 (v15.9.12) in 64-bit mode.

`Error	C2280	'std::unique_ptr<ceres::LocalParameterization,std::default_delete<_Ty>> &std::unique_ptr<_Ty,std::default_delete<_Ty>>::operator =(const std::unique_ptr<_Ty,std::default_delete<_Ty>> &)': attempting to reference a deleted fun

[2019-06-04 22:15] oracle3001 opened #481 "Build Issue with VS2017 due to change in VS handling of std:aligned_storage"
When I attempt to build off the latest commit on the master branch, I get the following error when using a Windows 10 box with VS2017 (v15.9.12) in 64-bit mode.

`Error	C2338	You've instantiated std::aligned_storage<Len, Align> with an extended alignment (in other words, Align > alignof(max_align_t)). Before VS 2017 15.8, the member type would non-conformingly have an alignment of only alignof(max

[2019-06-05 03:24] sandwichmaker commented on #481
@JohannesBeck can you take a look please?

[2019-06-05 03:25] sandwichmaker commented on #480
can you provide more details about the file that was being compiled etc?

[2019-06-05 05:10] sandwichmaker commented on #480
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/15300 should fix this.

[2019-06-05 05:10] #480 closed

[2019-06-05 06:49] RomaTeng commented on #303
Thanks. If your method works, could you tell me?
But I know "MultiplyByJacobian  is only used in GradientProblem".
 @k-sheridan

[2019-06-06 05:26] sandwichmaker opened #482 "EvaluationCallback and CreateReducedProgram do not interact correctly"
When removing constant residual blocks from a program as part of the preprocesser, we evaluate the "fixed" part of the cost of the problem, and this requires calling ResidualBlock::Evaluate. This works fine if no EvaluationCallback is associated with the problem. But if one is, then for correctness it needs to be called before Evaluate is called.

[2019-06-06 05:26] sandwichmaker opened #483 "Add tests for Problem::Evaluate when an EvaluationCallback is present."

[2019-06-06 05:28] sandwichmaker opened #484 "Move EvaluationCallback from Solver::Options to Problem"
This was a design mistake. EvaluationCallback should not be added to Solver::Options, but rather it should be treated like a distinguished CostFunction which is evaluated before any other cost function in the problem is evaluated.

Being part of Solver::Options means that when we pass the problem to Covariance or call Problem::Evaluate, it is not called, which is incorrect.

[2019-06-06 19:38] JohannesBeck commented on #481
I think, one have one of the following possibilities to fix it:

1. Use `#define _ENABLE_EXTENDED_ALIGNED_STORAGE`
This would make the alignment work correctly but has the drawback, that the compiled library is no longer ABI compatible to code compiled with an older version of MSVC.
2. Use `#define _DISABLE_EXTENDED_ALIGNED_STORAG`
This would use the wrong alignment but mixing the code with code c

[2019-06-07 00:01] sandwichmaker opened #485 "Sphinx Docs are missing documentation for Problem::IsParameterBlockConstant"

[2019-06-13 07:03] pangzh opened #486 "Closing, as this has been resolved on the mailing list."
Closing, as this has been resolved on the mailing list.

_Originally posted by @alexsmac in https://github.com/ceres-solver/ceres-solver/issues/321#issuecomment-345650339_

hi, i have the same quesion, can you tell how to resolve it? thanks for your help

[2019-06-21 02:26] cesarhcq commented on #460
I was trying to install google cartographer, and  one of dependencies is "ceres-solver". I was using Eigen 3.2, but i need to install the 3.3.7.
After that, i installed the ceres-solver and works with this all modifications that you mentioned.
Thank you!

[2019-06-30 14:31] jamestodo opened #487 "Set different dof for diffent parameters"
![image](https://user-images.githubusercontent.com/11731396/60398026-4fe76b00-9b86-11e9-8c35-33c434ce7d05.png)

Because github cann't show mathjax so i wrote it offline and cut as an image.Thanks for any advices!

[2019-06-30 14:47] #487 closed

[2019-07-04 11:21] klemense1 commented on #434
Sorry for not replying for so long.

I've included the hash but without any improvement.
`http_archive(
    name = "com_google_ceres_solver",
    strip_prefix = "ceres-solver-1.14.0",
    sha256 = "5ba6d0db4e784621fda44a50c58bb23b0892684692f0c623e2063f9c19f192f1",
    urls = ["https://github.com/ceres-solver/ceres-solver/archive/1.14.0.zip"],
)`

When I call bazel build //... and afterwards bazel

[2019-07-08 06:05] #486 closed

[2019-07-08 06:09] sandwichmaker commented on #481
@alexsmac wdyt?

[2019-07-08 20:40] #484 closed

[2019-07-08 23:24] keir commented on #414
Any update here?

[2019-07-08 23:33] keir commented on #416
We didn't end up redesigning the solution, but instead @sandwichmaker rejiggered the implementation to attach the callback to `Problem::Options` instead of `Solver::Options`. This change is now on master.

We are increasingly leveraging C++11 and above in Ceres. With the release of Ceres 2.0, we will require C++11. With the latest patch, Ceres doesn't own the `EvaluationCallback` object, so Ceres

[2019-07-09 06:46] allo- commented on #414
I still have this issue in mind, but currently the project I am using Ceres with complex numbers for is postponed, so I did not change anything in my current implementation (using my own ``complex`` type), yet.

[2019-07-10 06:48] osadowskyphd commented on #416
Hi Guys,

It has been a while since I raised the question, and I have shifted to
other tasks since then.  I'm a little off road with regards to Ceres.

Personally, I am a bit ambiguous these days about the usage of
std::function or classical virtual interfaces.  It looks like in some cases
one may be my preferred solution, and in other cases the other.  But for
the EvaluationCallback I still think

[2019-07-11 14:03] #380 closed

[2019-07-12 03:13] sandwichmaker opened #490 "Add documentation for SubsetPreconditioner."

[2019-07-12 05:44] lukehutch opened #491 "Can't find gflags.h when building on Fedora"
When building `ceres-solver` in Fedora 29, I see this:

[code]

The "//include" should be "/usr/include":

[code]

[2019-07-12 07:57] sandwichmaker commented on #491
@alexsmac PTAL.

[2019-07-12 14:55] keir commented on #392
The EvaluationCallback code recently got reworked; is this still happening?

[2019-07-12 14:58] keir opened #492 "Investigate improvements in tiny_nnls_solver fork of Tiny Solver"
See https://github.com/Edwinem/tiny_nlls_solver/issues/1

They have added some interesting stuff like hessian support. It could be interesting to incorporate some of these changes in upstream.

[2019-07-12 18:28] alexsmac commented on #491
Interesting, but I think this is actually an issue with the gflags 2.1.2 install.  Looking at their [config.cmake.in file at version 2.1.2](https://github.com/gflags/gflags/blob/1a02f2851ee3d48d32d2c8f4d8f390a0bc25565c/cmake/config.cmake.in#L13), which should be configured into `/usr/lib64/cmake/gflags/gflags-config.cmake` in your case, `gflags_INCLUDE_DIR` is set based on the relative position of

[2019-07-12 22:04] lukehutch commented on #491
Well literally all of [`FindGflags.cmake`](https://github.com/ceres-solver/ceres-solver/blob/master/cmake/FindGflags.cmake) appears to be special case handling of the wide range of packaging differences and issues encountered in the wild. `FindGflags.cmake` seems to be aware of an issues with `gflags <= 2.12`, because it [says so](https://github.com/ceres-solver/ceres-solver/blob/master/cmake/Find

[2019-07-15 08:30] alexsmac commented on #491
The specific issue with gflags versions <= 2.1.2 that is resolved by Ceres' FindGflags is linked in the output and has to do specifically with the names of the imported targets vs the name of the reported library in the `gflags_LIBRARIES` variable.  That issue affected all distributions and OSs.

Your issue appears to be that the Fedora gflags package was misconfigured when it was built so that th

[2019-07-15 08:30] #491 closed

[2019-07-22 08:49] debalance commented on #392
I'll have to do test builds on the affected platforms.

[2019-07-23 09:15] gogogoKKK opened #495 "Compile error."
The commit is 3e5db5bc.
[code]
A stable version can be used in my environment.

[2019-07-23 12:55] alexsmac commented on #495
What OS and compiler are you using?

[2019-07-29 11:55] gogogoKKK commented on #495
@alexsmac I compile the code on ubuntu 16.04 and gcc 5.4.0 is used.

[2019-07-29 17:58] alexsmac commented on #495
Our Travis CI system builds for 16.04 using GCC 5.4 and passes without errors on master (and didn't fail for that commit) see [here](https://travis-ci.org/ceres-solver/ceres-solver/jobs/563792232) for the latest GCC build using Eigen 3.3.4, what version are you using ?

[2019-07-30 05:53] gogogoKKK commented on #495
@alexsmac I am using Eigen 3.2.5

[2019-07-30 09:33] alexsmac commented on #495
That's a very old version of Eigen, and not the default libeigen3-dev package version on 16.04.  The problem appears to be the aligned allocator within Eigen in 3.2.5 (which is used by FixedArray) is not movable.  I would either update your Eigen package to a newer version, or try using the last 1.14 release of Ceres.

[2019-08-01 00:32] tigerk0430 commented on #291
It works for me.

if you build gflag, glog from the source, in `CMakeLists.txt` file add this line and rebuild it.

`add_compile_options(-std=c++11)`  and it works fine.

[2019-08-01 04:54] gogogoKKK commented on #495
@alexsmac Thanks a lot.

[2019-08-01 04:54] #495 closed

[2019-08-05 22:08] #479 closed

[2019-08-07 10:05] Vincent-2017 opened #496 "How to set a limit for the parameters to be optimized？"
How to set a limit for the parameters to be optimized？

[2019-08-07 11:30] deutschepost opened #497 "Missing cast in rotation.h"
[In Line 310 of rotation.h](https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/rotation.h#L310) the `0.0` should be cast to T, because the `operator<` may not be defined if the the type of `0.0` differs from the type T.

` T(2.0) * ((cos_theta < 0.0)`
Change to:
`T(2.0) * ((cos_theta < T(0.0))`

[2019-08-07 13:49] sandwichmaker commented on #497
This is fixed at head now. Thanks for the bug report!

[2019-08-07 13:49] #497 closed

[2019-08-07 13:50] sandwichmaker commented on #496
I am not sure I understand your question. These questions are better asked on the mailinglist ceres-solver@googlegroups.com

[2019-08-07 13:50] #496 closed

[2019-08-15 06:32] PotterSu opened #498 "Build Ceres(1.12) for Android with openmp, but seems not speed up"
Hello bodys,
I just have built ceres(1.12.0) with openmp、suitesparse by Android.mk.
And I solve my problem by trust_region_strategy_type.
Here's my options:
m_options.trust_region_strategy_type = ceres::LEVENBERG_MARQUARDT;
m_options.max_trust_region_radius = 1e26;
m_options.initial_trust_region_radius = 1e26;
m_options.minimizer_progress_to_stdout = true;
m_options.num_threads = 2;

Now,I test my

[2019-08-15 18:50] sandwichmaker commented on #498
1.12 is very very old. Could you try the master branch and report back please?

[2019-08-16 03:08] PotterSu commented on #498
@sandwichmaker
Thank you for your reply!
**So, is v1.12 is supported for multi-threads or not? Or 1.12 is supported for multi-threads but speed up is not very obvious? As I showed, threads given 2 and used 2 indeed but time used is almost the same.**

Ok, I compiled master branch v2.0.0 without suite-sparse.
I test ceres's example-- robust_curve_fitting.cc using DENSE_QR.
**When num_threads = 1, t

[2019-08-16 04:46] sandwichmaker commented on #498
The curve fitting problem is very small. the big change between 1.12 and 1.14 was that instead of using openmp thread directly we started using an abstraction which can use openmp or c++ threads. But getting multithreading to work well on android is hard due to heterogeneous cores and how the processor does thread scheduling.

Either ways the curve fitting problem is rather small to be indicative

[2019-08-16 05:41] PotterSu commented on #498
OK,  I'll try thank you!
Maybe compiling v2.0.0(Android platform) with CMakeLists is a little difficult for me. For the reason that suite-sparse downloaded from website is not supported for Android very well. They are organized by makefiles not CMakeLists...

[2019-08-16 21:33] qchen011 opened #499 "Memory Leak"
Hi guys, I have encountered following memory leak warning from Address Sanitizer on pose graph optimization problem.

Direct leak of 1664 byte(s) in 4 object(s) allocated from:
malloc
(libomp.so.5+0x00000001803c)
___kmp_allocate
(libomp.so.5+0x0000000532b4)
(libomp.so.5+0x00000005362e)
(libomp.so.5+0x00000006ed91)
(libomp.so.5+0x0000000403e6)
__kmp_fork_call
(libomp.so.5+0x000000060dca)
GOMP_paral

[2019-08-20 07:41] PotterSu commented on #498
@sandwichmaker
Hi,I'm back again~
I compiled ceres v2.0.0(master branch) with suite-sparse, and I found when I set num_threads to 2 costs much more time than num_threads=1.
**And I also found when I set CERES_NO_THREADS, and I also can set num_threads to 2. The cost time is also more than 1 thread. There seems that -DCERES_NO_THREADS or -DCERES_USE_CXX11_THREADS not used.**

**Here's threads = 1 R

[2019-08-23 13:08] darglein commented on #475
I also had some problems with this kind of gradient computation when optimizing Sim3's (rigid body transformation + scale). In some cases, `Plus(x, -gradient)` generated invalid transformations with a negative scale. These are currently not supported by the Sim3 library i am using (Sophus) and therefore i had to switch back to the traditional |gradient|.

[2019-08-23 14:49] NikolausDemmel commented on #475
Just a remark: If you implement `Plus` in terms of the exponential map, I don't think you should get negative scale. Any value for `-gradient` should lead to a valid sim3 transform. If your Plus implementation can lead to negative scale, then this can also happen during optimization, not just for the gradient computation.

[2019-08-23 15:12] darglein commented on #475
Ah yes you are right. The scale isn't negative but very close to zero. For example I got the following gradient from ceres:   (-12.5664, 3.73942, -11.4483, 6.64427, 7.62058, -9.77086, -37.1677)

Then the following code fails with "Scale factor must be greater-equal epsilon.".
[code]
It kind of makes sense because the tangent of the scale factor is logarithmic and exp(-37)=8.5e-17

[2019-08-23 15:33] NikolausDemmel commented on #475
Ah yes that makes sense. Maybe then you could clamp the scale-part of the delta in your `Plus` implementation to `log(epsilon)` to avoid this issue.

But the underlying issue remains, i.e. that the current way the gradient norm is computed doesn't play well with manifold local parameterizations.

[2019-08-28 06:11] Jarvisss commented on #260
Fixed by setting the build architecture from 'x86' to 'x64' solved my problem, as ceres is build under x64 by cmake

[2019-08-29 20:11] sandwichmaker opened #501 "Problem::SetParameterization cannot be called more than once on a parameter block"
This causes problems if we are using something like subset parameterization and want to change which parameters are held constant.

[2019-09-02 13:34] elegracer commented on #385
CMake should build ceres without debugging symbols `if(ANDROID)`, but it seems that the final `libceres.a` is still huge.

[2019-09-04 02:59] j2innet commented on #349
compile ceres-solver-1.14.0
gcc (Ubuntu 7.4.0-1ubuntu1~16.04~ppa1) 7.4.0
ok

[2019-09-04 11:14] NikolausDemmel commented on #447
Does this actually crash (with which error) or just return inf or nan in the derivatives (which would be kind of correct, since the derivative is not usable/defined in this case)? Looking at the code it seems in does just divide / multiply doubles. I would have expected inf for 1/0 or nan from 0/0.

That way, to my understanding, you can still use the resulting value in a comparison, but if you us

[2019-09-05 11:04] tipf commented on #499
Hello,
I think that I stumbled across the same Issue. I build a complex 2d pose graph (but without the functions from the example) which crashes sometimes with the following output when Problem::Evaluate() is called:

[code]

Currently, I was not able to create an minimal example, but to give some context about the concrete function call I want to describe it with this snippet:

[code]

The error

[2019-09-09 10:16] ZhaoqunZhong opened #503 "docker version runs even faster than on native os?"
Hi guys,

I wanted to test cere-solver in docker environment, so I built an image with this docker file:

[code]

And I tried to run the example:

`bin/simple_bundle_adjuster ../ceres-solver-1.14.0/data/problem-16-22106-pre.txt`

on both Mac and Ubuntu16. Surprisingly, this is the performance matrix(time in seconds) I got:

|   | Mac | Ubuntu16   |
| :------------: | :------------: | :------------

[2019-09-11 09:32] tipf commented on #499
There is a high likelihood that the problem is inside my code and not in yours. I will inform you in a few days whether my issue is valid or not.

[2019-09-11 13:26] PotterSu opened #504 "How can I compile Android library with gcc + Android_14 + gnustl_shared"
Hello, I am concerned by a problem.
I want to compile ceres on Android platform with gcc + android-14 + gnustl_shared + armeabi-v7a as below.
![image](https://user-images.githubusercontent.com/26756937/64700577-bb7c7b80-d4d9-11e9-919c-a662e6707a78.png)

but I face the errors and it seems not supported by gcc.
![image](https://user-images.githubusercontent.com/26756937/64700921-655c0800-d4da-11e9-9

[2019-09-13 09:15] #504 closed

[2019-09-13 09:16] #498 closed

[2019-09-13 09:33] PotterSu opened #505 "When I run Program on ceres2.0.0(arm64-v8a), the program crashed"
Hello,
I solve my problem on ceres2.0.0（arm64-v8a）, the program crashed, but it works on armeabi-v7a.
This is my code for adding AutoDiffCostFunction and solve process by SPARSE_NORMAL_CHOLESKY.
![image](https://user-images.githubusercontent.com/26756937/64851911-ef2ae300-d64a-11e9-81bf-274c5847c265.png)
![image](https://user-images.githubusercontent.com/26756937/64851985-1681b000-d64b-11e9-84b1-e

[2019-09-13 13:09] sandwichmaker commented on #505
@PotterSu these questions are better posted on the mailinglist. Also not enough detail here to debug this.

[2019-09-13 13:11] sandwichmaker commented on #503
Different compiler/flag setting is all I can think of. It should certainly not take 50 seconds, that indicates a problem.

[2019-09-14 08:41] ZhaoqunZhong commented on #503
Thanks,

I installed ceres with homebrew on Mac, so I don't know exactly what happened there. But with Ubuntu16 host OS, the major difference I noticed is the cmake flag -DOPENMP=OFF and -DCXX11=ON. So I guess the problem comes from openmp? I wonder why these flags value are not set in this way by default, since they can bring such obvious performance improvement.

[2019-09-17 07:56] normscully opened #506 "Installation fails at `make install` on Ubuntu 16.04 LTS"
Hi,

im trying to install ceres-solver following [this](http://ceres-solver.org/installation.html#local-installations) guide.
I´m running Ubuntu 16.04.5 LTS, dependencies are all installed and up-to-date.

Eigen 3.3~beta1-2
Cmake 3.5.1
gcc 5.4
Suitparse 1:4.4.6-1

Compilation runs through without errors as does make test.
`make install` fails at installing the project with a CMake Error:

[code]
`

[2019-09-17 08:30] alexsmac commented on #506
I can't replicate this on a default 16.04 install, but I would assume that this is a file permissions issue depending upon your system configuration/filesystem.  Try `sudo ls /home/user1/ceres-solver`, if that fails then that's your problem.

Depending upon what you are/are not able to change in terms of the permissions/configuration of your machine, you can also install Ceres to any location via

[2019-09-17 09:34] normscully commented on #506
@alexsmac Thanks for the quick reply, that really seems to be the problem.

[2019-09-17 09:34] #506 closed

[2019-09-17 22:20] qchen011 commented on #499
@mvitus  what I run is the code from [cartographer](https://github.com/googlecartographer/cartographer/blob/master/cartographer/mapping/internal/optimization/optimization_problem_2d.cc).

[2019-09-19 12:13] NikolausDemmel commented on #412
Ceres crashed on me with this assertion:

[code]

Looks like I might be running into this case, i.e. overflow of the counters. I have a hard time debugging, since the problem is too big for my dev machine (memory). But if I do run into this bug, the conclusion would be, that my problem is too big for ceres to handle without updating these (and possibly other) counters to 64bit, right?

[2019-09-19 13:41] sandwichmaker commented on #412
I am working on this, but it requires some subtle changes to ceres and very careful testing due to lax narrowing rules in c++.

https://ceres-solver-review.googlesource.com/c/ceres-solver/+/14861

[2019-10-07 03:40] Edwinem commented on #492
Hey Keir,

Sorry I have been roadtripping across the US for the last 3 months and just now am reconnecting with the outside world. Anyways I would be happy to contribute my modifications back to Ceres upstream.

I would like to seek your opinion on the design of some of the extra features I added.

The 4 main modifications I would say are:
1. Different minimizers such as GN and Dogleg.
2. A bit be

[2019-10-08 14:37] avostrik opened #507 "Wrong dependency paths are recorded in CeresConfig.cmake"
When building Ceres as part of Poky SDK for cross-compilation, generated CeresConfig.cmake records either:
 - absolute path of current user, for example: /home/${USER}/${POKY_DIR}/build/tmp/work/aarch64-poky-linux/ceres-solver/1.14-r0/recipe-sysroot/usr/share/eigen3/cmake
 - absolute path as if running on host, for example: /usr/share/eigen3/cmake

Both paths are wrong when Poky SDK unpacked on an

[2019-10-08 21:49] SubMishMar opened #508 "Pose Estimation in ceres"
Ceres works fine for me. I am using to estimate [R,T]  but I do not understand where in the code (internally) or when does ceres apply the constraints on R being a rotation matrix? I just simply solve it in a least square way without telling ceres that R is a rotation matrix and has some special characteristics. Although I am getting correct results, I am curious to know if this is rather fortuito

[2019-10-10 20:01] sandwichmaker commented on #508
Closing as it is already addressed on the mailinglist,

[2019-10-10 20:01] #508 closed

[2019-10-10 20:02] sandwichmaker commented on #505
Going to close it since there are no further details.

[2019-10-10 20:02] #505 closed

[2019-10-10 20:03] sandwichmaker commented on #503
I am having some xcode trouble, will replicate as soon as I can.

[2019-10-12 06:07] axiguaa commented on #507
could you tell me where to find CeresConfig.cmake or  ceres-config.cmake, thank you!

[2019-10-12 06:20] avostrik commented on #507
It is generated during install step from: https://github.com/ceres-solver/ceres-solver/blob/master/cmake/CeresConfig.cmake.in

See CMakeLists.txt line 728

[2019-10-18 16:04] Beniko95J opened #510 "Question about support for iterative linear solver"
Hi,

I need to solve an ultra large normal equation Hx=b,. and I want to use iterative linear solver to speed up. Does ceres-solver support iterative linear solver like the Gauss–Seidel method?

Thank you.

[2019-10-21 09:30] copyme opened #511 "CX_SPARSE faster than SUITE_SPARSE?"
Is there any reason why `CX_SPARSE` is much faster than `SUITE_SPARSE` while using `SPARSE_NORMAL_CHOLESKY`? No extra options set to the solver. Does `SUITE_SPARSE` work better with problems of certain structure?

[2019-10-21 16:20] sandwichmaker commented on #511
This should not happen. Unless your BLAS is compiled in debug mode is reference BLAS for some reason. It is possible that the matrix is tiny.. could you share more details?

[2019-10-21 16:21] sandwichmaker commented on #510
Ceres does support iterative solves. But it does not support Gauss Seidel.
Have a look at CGNR and either JACOBI or SUBSET preconditioners.

[2019-10-21 16:21] #510 closed

[2019-10-22 10:46] garlinplus opened #512 "segment fault"
When I run cartographer,there is a segment fault on ceres as followed:
Thread 2 received signal SIGSEGV, Segmentation fault.
[Switching to Thread 572.576]
Eigen::internal::gemm_pack_rhs<double, int, Eigen::internal::const_blas_data_mapper<double, int, 0>, 4, 0, false, false>::operator() (
    this=this@entry=0xb68975ac, blockB=0xb687d500, rhs=...,
    depth=depth@entry=48, cols=228, stride=stride@

[2019-10-22 19:53] RaymondYu94 opened #513 "MacOS make test Segmentation fault: 11 on test 24(dogleg_strategy_test)"
./dogleg_strategy_test
Running main() from gmock_main.cc
[==========] Running 6 tests from 2 test cases.
[----------] Global test environment set-up.
[----------] 4 tests from DoglegStrategyFixtureEllipse
[ RUN      ] DoglegStrategyFixtureEllipse.TrustRegionObeyedTraditional
[       OK ] DoglegStrategyFixtureEllipse.TrustRegionObeyedTraditional (0 ms)
[ RUN      ] DoglegStrategyFixtureEllipse.Trus

[2019-10-23 09:37] copyme commented on #511
@sandwichmaker for now it looks like a bug in openSUSE 15.1, I just ran my code on the newest Ubuntu and the problem does not exist there. I will contact openSUSE developers and try to figure out with them what is going on. Switching to something like Ubuntu is far from being an option.

[2019-10-23 11:21] copyme commented on #511
@sandwichmaker should I close the issue?

[2019-10-23 16:44] sandwichmaker commented on #511
Yes this sounds like reference BLAS is being linked into SuiteSparse rather than an optimized BLAS.

[2019-10-23 16:44] #511 closed

[2019-10-23 16:44] sandwichmaker commented on #513
thats odd, do you have any local modifications? also can you share the build log and any other replication instructions?

[2019-10-23 16:45] sandwichmaker commented on #512
Sorry this is not enough to replicate this. Maybe start with the cartographer team and maybe they can produce a replication?

[2019-10-26 23:39] copyme opened #514 "Why Ceres uses SuiteSparse API without GPU support"
My question is why Ceres does not use `cholmod` API over long it which can leverage GPU acceleration? Would not that speed up computations on machines with SuiteSparse compiled with CUDA and `CHOLMOD_USE_GPU` set to 1?

[2019-10-27 13:50] sandwichmaker commented on #514
Hi @copyme mostly because none of us have experience with building CHOLMOD with GPU support, detecting it and using it. We will happily accept a patch that adds this capability along with  appropriate tests.

[2019-10-27 13:50] #514 closed

[2019-10-27 15:34] copyme commented on #514
In this case I will have a look at this and try to see if I can be of any use.

[2019-10-28 11:53] copyme commented on #511
@sandwichmaker  It looks like there is a problem with openBLAS in general, SuiteSparse from version 5.6 does not recommend it anymore. See here. https://github.com/DrTimothyAldenDavis/SuiteSparse/issues/1 It looks like openBLAS slows things down.

[2019-10-28 13:40] copyme commented on #511
I just recompiled SuiteSparse with MKL. The speed up is indeed significant.

[2019-10-28 16:01] DrTimothyAldenDavis commented on #511
CXSparse doesn't use the BLAS.  It's part of SuiteSparse.  By the term "SUITE_SPARSE" above, I assume you mean CHOLMOD (also in SuiteSparse).  It uses the BLAS, so if the BLAS is slow, CHOLMOD will be slow but CXSparse will be unaffected.

[2019-10-28 16:08] copyme commented on #511
@DrTimothyAldenDavis you are right. In my case switching from openBLAS 0.2 series to 0.3 helped but after moving to MKL I noticed even bigger improvement.

[2019-10-29 10:55] Solonets opened #515 "Cholesky decomposition of covariance matrix block"
in the [example of 3d pose graph slam](https://github.com/ceres-solver/ceres-solver/blob/master/examples/slam/pose_graph_3d/pose_graph_3d.cc) a cholesky decomposition of constraint between 2 poses is used
[code]
while this is a block of a full covariance matrix, which is not guaranteed to be positive-defined. Can you please clarify that?

[2019-10-29 21:58] sandwichmaker commented on #515
@mvitus your code I believe?

[2019-10-29 22:18] mvitus commented on #515
Ah, yes, we can only be guaranteed it is positive semi-definite. I used the LLT decomposition which requires positive definite because it was an easy one linear to compute a matrix to scale the errors that works except in degenerate cases.  I can switch it to something that works for positive semi-definite.  I'll send a CL later this week (need to set my machine back up).

[2019-10-30 10:13] Solonets commented on #515
@mvitus I think I made my point poorly, the question is not about degenerate cases.

Let's imagine pose graph with 2 poses, then covariance is 12x12 matrix and guaranteed to be positive-semi definite. The variance between 1st and second block though(top right corner), which is a variance of poses doesn't have any specific properties, in general, I can't see why the Cholesky decomposition is perfor

[2019-10-30 21:40] mvitus commented on #515
I received this via email and I am not sure why this isn't showing up in the thread.  I wanted to post it before I responded.

[2019-10-30 22:27] mvitus commented on #515
The covariance that is read from the g2o constraint files is the covariance of the measurement of the transformation between pose A and pose B.  It is not the cross covariance between the pose A and pose B.

Let's take your example and let's assume a 1D example to make the notation easier.  Let's says someone gave you the pose of A and B, p_a and p_b respectively, with a covariance matrix of size

[2019-10-31 11:30] ojura opened #516 "Numeric differences due to different order of adding residual blocks"
We have been tracing a source of numerical nondeterminism in our application.
We are performing a multithreaded search of feature correspondences in a lidar scan matching application (the order of found correspondences is nondeterministic), and each of these correspondences is associated with a residual block which gets inserted into a Ceres optimization problem where we estimate the pose.

On Cer

[2019-10-31 15:24] #516 closed

[2019-10-31 15:43] ojura commented on #516
Of course this applies for floating point math in general.  However, my thoughts were in line of that this would correspond to just permuting the elements of the cost function vector and rows/columns of the Jacobian, and should not affect the element-wise results (because it's still the same elements being multiplied, right?).

But as I was typing this I realized that adding floats is not commutat

[2019-11-01 00:34] keir commented on #513
Yes; this is unexpected. We'd like to fix this!

[2019-11-01 10:21] Solonets commented on #515
Yes, I got this. That why I deleted the message. But thank you for your clarification, it's very useful.

[2019-11-01 10:46] alexsmac commented on #513
What version of macOS are you using @RaymondYu94?  Are you running the initial release of Catalina with Xcode 11?

I've also discovered segfaults in the dogleg tests with Eigen 3.3.7, the problem appears to originate within Eigen itself when invoking some SSE instructions and/or BLAS substitutions.  Interestingly, when using Eigen's master branch the dogleg test passes but the schur tests fail (ag

[2019-11-01 11:31] alexsmac commented on #513
I've also just checked with the latest Catalina update (10.15.1) and at least the behaviour with Eigen 3.3.7 is unchanged.

[2019-11-01 11:35] RaymondYu94 commented on #513
@keir I use Catalina 10.15 with Xcode11.1 and latest ceres on homebrew.

[2019-11-01 11:36] RaymondYu94 commented on #513
@alexsmac

[2019-11-01 20:13] alexsmac commented on #513
OK, this is actually a bug in the combination of macOS Catalina 10.15 and Xcode 11 which enabled `-fstack-check` by default which breaks alignment which in turn results in segfaults around SIMD instructions.  A CL is out for review [here](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/15940) to explicitly disable `-fstack-check` to avoid this problem.

[2019-11-01 21:14] alexsmac commented on #513
The fix has now been merged into master, @RaymondYu94 please test and reopen if required.

[2019-11-01 21:14] #513 closed

[2019-11-10 04:26] thezest76 opened #517 "Segmentation fault on Solve()"
Thanks for the nice SW,

I am having a weird segmentation fault issue when Solve() is called in my custom function.
However, the same pieces of code runs perfectly OK when the code is written as an independent cpp and compiled to an executable file.

For example, Example (1) below runs OK.
However, Example (2) crashes with a segmentation fault message when ceres::Solve(options, &problem, &summary)

[2019-11-11 09:33] bittergourd1224 opened #518 "My Android build error"
**I want to get libceres.so and use it in Android. My building environment is Ubuntu 16.04.
The complete command I used for building is:**
`git clone https://ceres-solver.googlesource.com/ceres-solver`
`export NDK_DIR=~/Android/Sdk/ndk-bundle`
`cd ceres-solver`
`mkdir build`
`cd build`

`cmake \`
`-DCMAKE_TOOLCHAIN_FILE=$NDK_DIR/build/cmake/android.toolchain.cmake \`
`-DEIGEN_INCLUDE_DIR=/usr/loca

[2019-11-11 11:08] alexsmac commented on #518
If gflags is compiled statically without `-fPIC` then you will not be able to link against it in a shared library.  However, if you're trying to link a version of Ceres compiled for ARM against a version of gflags compiled for x86 from your host you have a second problem - those are incompatible architectures.  This shouldn't actually be happening, as the `android.toolchain.cmake` sets the `CMAKE_

[2019-11-11 11:08] #518 closed

[2019-11-12 02:11] bittergourd1224 commented on #518
Thanks very much for your advice, especially for the reason behind it :smile: I disabled gflags in cmake and now everything went well. Very appreciate for your help!

[2019-11-12 07:49] tianxinyu0509 commented on #289
I'm also running ceres-solver on Ubuntu 16.04 with ROS on an aarch64 machine(NVIDIA jetson TX1) with eigen 3.3.4 or with eigen 3.3.5.when I make, I failed with the following:

c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-5/README.Bugs> for instructions.
examples/CMakeFiles/nist.dir/bu

[2019-11-12 07:59] Minipada commented on #289
@tianxinyu0509 you likely lack memory on your machine. Try creating some swap

[2019-11-12 08:41] tianxinyu0509 commented on #289
@Minipada Thank you very much for your help. I used command "top" to check the memory usage.It is really the lack of memory that causes this problem. I successfully resolved this issue by using command "make" instead of " make -j4". Finally, I sincerely thank you for your help.

[2019-11-12 23:28] jinkunw commented on #449
Using `Lr` leads to an information matrix `L^TL`. Although information matrix is symmetric, `L^TL != LL^T`.
For your reference, GTSAM uses `L^T` https://github.com/borglab/gtsam/blob/4ac78953ae6d0708da958765bd5be19d0fc192ac/gtsam/linear/NoiseModel.cpp#L106

[2019-11-14 02:06] jparcell opened #519 "Linking Ceres to GFlags unresolved symbol"
1>gflags_static.lib(gflags.obj) : error LNK2019: unresolved external symbol __imp_PathMatchSpecA referenced in function "public: class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> > __cdecl google::`anonymous namespace'::CommandLineFlagParser::ProcessOptionsFromStringLocked(class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> > co

[2019-11-14 02:07] jparcell commented on #519
Visual Studio 2017, Windows 10.

[2019-11-15 03:19] elegracer opened #521 "Building with clang-cl on windows, cmake error about msvc compiler version"
When I used clang-cl frontend and msvc backend to build ceres, a cmake fatal error occured

[code]

and the reason is

[code]

Even if I use clang-cl as frontend, `MSVC` will be defined.

The right way to deal with this kind of situation is to replace `MSVC` to `CMAKE_CXX_COMPILER_ID MATCHES MSVC`, so the final version will be

[code]

[2019-11-19 10:56] alexsmac commented on #519
This looks like a gflags problem.  You appear to be missing the `shlwapi` Windows library (which defines PathMatchSpecA()) - that's odd as gflags should be bringing that dependency in [here](https://github.com/gflags/gflags/blob/28f50e0fed19872e0fd50dd23ce2ee8cd759338e/CMakeLists.txt#L481) if you are using a recent version of gflags that was built with CMake, and you are importing gflags as a CMak

[2019-11-19 10:56] #519 closed

[2019-11-21 13:12] georgerovco opened #522 "Test 35: expression_test fails"
After having cloned ceres-solver today, one of the test cases fails, particularly expression_test (the only out of 170). Could that be associated with the latest update on expressions?

[2019-11-21 17:34] sandwichmaker commented on #522
Yes, this is a known problem you can safely ignore it. We have a change list in flight which should fix this shortly.

[2019-11-21 17:34] #522 closed

[2019-11-21 17:48] sandwichmaker commented on #514
That would be fantastic.!

[2019-11-22 02:30] wanghf15 opened #523 "anybody here has tried to solve a problem with high dimension?"
suppose i got 5,000 variables and 100,000 residual terms, does it solve such a problem?

[2019-11-22 02:56] sandwichmaker commented on #523
Yes, ceres solver is routinely used to solve problems larger than that.
What really matters here is how sparse your problem is, and how much cpu and memory you have. But by itself thats not a particularly large problem.

[2019-11-22 02:56] #523 closed

[2019-11-22 21:08] copyme commented on #514
@sandwichmaker a couple of weeks ago I had a look at the issue but the code was crashing without an obvious reason, and I did not have time to figure out what was wrong. I should have more time in January so hopefully I will make it work then.

[2019-11-25 01:28] awdsxs123 opened #524 "cross-compile : ‘is_trivially_default_constructible’ is not a member of ‘std’"
when I use  gcc 4.9.4(arm-linux-gnueabi) to  make ceres-solver ,  it send me some error   ‘is_trivially_default_constructible’ is not a member of ‘std’
but wo write "set(CMAKE_CXX_STANDARD 11)" in cmakelist, command has already showed "Building with c++11"
then I don't now how to solve this error

[2019-11-25 02:00] awdsxs123 commented on #524
I find 'tyoe_traits.h' is different bettwen in gcc 5.4 and gcc 4.9.4 .

[2019-11-25 09:13] alexsmac commented on #524
As you've identified, the problem is that old versions of GCC were not fully C++11 compliant and the master branch of Ceres (and all future releases) require a fully C++11 compliant compiler.

[2019-11-25 09:13] #524 closed

[2019-11-25 15:19] patrikhuber opened #525 "Narrowing conversion compiler error with latest VS 2019 (cl 19.23.28107)"
Hi,

Building with the latest VS 2019 (v16.3.10 - this is the latest official release, **not** Preview), `cl.exe` `19.23.28107 for x64`, results in a compiler error in `ceres-solver\internal\ceres\expression_ref.cc` for me:

[code]

That's on this line:

[code]

[2019-11-25 15:25] patrikhuber commented on #525
I can fix it and successfully compile Ceres by explicitly "casting":

[code]

But I have no idea whether that makes sense or perhaps creates broken code.

[2019-11-25 15:39] patrikhuber commented on #481
I get the same error when I try to compile a project that depends on Ceres. Latest VS 2019, 16.3.10 (not Preview), `cl.exe` `19.23.28107 for x64`.

I need to `#define` either of these two variables. Is it safe to define the first / either?

[2019-11-25 17:45] patrikhuber opened #526 "Handling of paths with whitespaces in generated CeresConfig.cmake"
Hi,

CMake gives me the following warning during the Configure phase:

[code]

If I go to line 176 in my generated `CeresConfig.cmake`, it's the following:

[code]

I am not sure how this line is generated but my Eigen is in a path on the disk that contains whitespaces as well as parenthesis - and it looks to me like either of these is generating the warning.

My guess is that Ceres should probabl

[2019-11-25 18:48] patrikhuber commented on #526
Actually, I'm not sure what changed (perhaps that I am now trying to use Ceres from the build directory with `EXPORT_BUILD_DIR=TRUE`), but this now turned into a hard error when trying to import Ceres into my own project.

[code]

Anyway I will just migrate to a directory without whitespace in it to work around this.

[2019-11-25 18:58] patrikhuber commented on #525
@darglein I think this might be related to the new autodiff codegen.

Would it be possible to add CI testing on the latest stable MSVC for Ceres? I think that would be a huge help for many people.

[2019-11-25 19:18] patrikhuber commented on #526
Actually the second issue is a different one. The error comes from parsing the `C:\U` in `C:\Users\...`.

These should be forward slashes (or perhaps a quoted string).

[2019-11-25 20:27] alexsmac commented on #526
@patrikhuber please try [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/16100), I think it will fix your problem.

[2019-11-27 08:19] darglein commented on #525
Thank you for posting this problem.
It should be fixed with ea057678c5f603289380e0c2975c477693653c29.

[2019-12-03 09:18] WsbPro opened #527 "Cmake script modification for "make install""
The new version of Ceres uses separate folder "Codegen" after commit https://github.com/ceres-solver/ceres-solver/commit/d1703db45a760c490072caf6f0b0894a68422976. But if you install the new version of ceres using "make install", the default configuration in cmakelist.txt (main cmakelist.txt in ceres root folder) forgets to copy the files in "Codegen" folder to Ceres install dir, and thus results i

[2019-12-03 14:56] jbriales opened #528 "Make ceres::Problem movable"
I saw Ceres 2.0 is expected to leverage more of C++11.
I wonder if getting move-semantics for ceres::Problem is in the roadmap.
The main motivation is to be able to do sth like:

[code]

[2019-12-03 15:14] sandwichmaker commented on #528
That sounds like a great idea, want to send us a change?

[2019-12-03 15:15] sandwichmaker commented on #527
Thanks for the suggestion.

https://github.com/ceres-solver/ceres-solver/commit/c56702aacc310c69078bcf2794e3cdaf823d7bbb

should fix this.

[2019-12-03 15:16] #526 closed

[2019-12-03 15:16] sandwichmaker commented on #525
@ale

[2019-12-03 15:16] #525 closed

[2019-12-03 15:16] sandwichmaker commented on #521
@elegracer please consider sending us a change on gerrit.

[2019-12-03 15:22] sandwichmaker commented on #517
can you compile in debug mode and look at the stack trace?

[2019-12-03 15:23] #515 closed

[2019-12-03 15:23] sandwichmaker commented on #512
Closing because there isn't enough information to replicate.

[2019-12-03 15:23] #512 closed

[2019-12-03 15:24] sandwichmaker commented on #507
@alexsmac PTAL

[2019-12-03 15:24] sandwichmaker commented on #503
@alexsmac are you able to replicate this problem?

[2019-12-03 15:25] sandwichmaker commented on #499
any progress on this?

[2019-12-03 15:27] sandwichmaker commented on #492
@Edwinem (1), (2) and (4) will improve things while keeping the current semantics.
(3) I am hesitant to add.  I look forward to reviewing your code!

[2019-12-03 16:06] jbriales commented on #528
I can give it a try when I get a spare moment (which I cannot ensure will be anytime soon though... :( ).
But I'm happy to know you'd be willing to take this change in.

From a quick look to the definition of `ceres::Problem` it seems like all the information lies within `internal::scoped_ptr<internal::ProblemImpl> problem_impl_;`, so that's what we'd need to move.
I'm not familiar with your `inte

[2019-12-03 16:44] sandwichmaker commented on #528
what version of ceres are you looking at? since we moved to c++11, there is no scoped_ptr anymore. Its just unique_ptr.

https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/problem.h#L524

[2019-12-03 17:16] mvitus commented on #499
From the stack trace it looks like it is coming from the openmp implementation.  I looked through the code and didn't spot anything.

Without a small example this is hard to reproduce.

@qchen011 does this happen on all examples?  Can you provide a small dataset and example command that you are running that reproduces this?  Also how are you building cartographer?

[2019-12-03 18:18] qchen011 commented on #499
Not always. I just use the cmake and use clang with address sanitizer option = ON. Unfortunately it is not easy to have an out of box example directly using cartographer instead of cartographer_ros. I went through the reference online, a lot of people had the same [issue](https://github.com/google/sanitizers/issues/994) when using openmp and asan. From the sanitizer repo they said it might be the

[2019-12-03 18:19] #499 closed

[2019-12-03 19:21] jbriales commented on #528
Oops sorry, my fault. Sure, I should look into this on the master version. The version I was looking at is probably much older.

[2019-12-10 04:03] luoyin500 opened #529 "Choosing SPARSE_NORMAL_CHOLESKY, crash occurs when using suitesparse (5.6.0), but is ok when using cxsparse or eigen."
linear_solver_type = SPARSE_NORMAL_CHOLESKY;

It works regularly when using cxsparse or eigen:
options.sparse_linear_algebra_library_type = ceres::SparseLinearAlgebraLibraryType::EIGEN_SPARSE;
or
options.sparse_linear_algebra_library_type = ceres::SparseLinearAlgebraLibraryType::CX_SPARSE;
(And CX_SPARSE is a little faster than EIGEN_SPARSE)

However, it crashes when using suitesparse:
options.spa

[2019-12-10 09:42] YRstronger opened #530 "What is the reason that Unsuccessful steps is not zeros in the FullReport?"
![Uploading image.png…]()
Here is the picture. It shows that 15 of the minimizer iteration is unsuccessful. What cause that?
Thanks anybody for discussing this problem

[2019-12-11 05:17] YRstronger commented on #530
This "unsuccessful steps" may be cause by wrong initial value. After assigning the zeros value to the parameters, it works out.

[2019-12-11 06:14] #530 closed

[2019-12-11 06:15] sandwichmaker commented on #529
@luoyin500 this looks like a bug in suitesparse, it has nothing to do with ceres IMO. It would be good to reach out to Prof. Tim Davis with a reproduction if possible.

[2019-12-11 08:18] luoyin500 commented on #529
@sandwichmaker, thank you. what's the version of suitesparse which is recommended by the current ceres ? Is there any example calling suitesparse's CHOLMOD to prove the calling process in ceres is regular? Currently, I am doubt whether ceres' interface to suitesparse is right.

[2019-12-11 23:37] sandwichmaker commented on #529
@luoyin500 we have been using suitesparse using roughly the same code for almost a decade. so I doubt that the calling code has bugs.

[2019-12-12 02:48] luoyin500 commented on #529
@sandwichmaker , thank you. You mean the bug is in the cere's calling code ?

[2019-12-12 08:41] sealiutree7 opened #531 "ceres.lib(ceres.dll) Error LNK2005"
Sorry for my stupid question. When I was trying to compile COLMAP with myself, here comes errors with ceres somthing like this:

ceres.lib(ceres.dll) : error LNK2005: "public: __cdecl ceres::Problem::~Problem(void)" (??1Problem@ceres@@QEAA@XZ) 已在 c
eres.lib(problem.obj) 中定義過了 [D:\COLMAP\colmap_36_rev\colmap_36_dev2\build\colmap\__build__\src\optim\bundle_adjustment_
test.vcxproj]
ceres.lib(ceres.d

[2019-12-12 13:39] sandwichmaker commented on #529
No I am saying the opposite, I do not think there is a bug in how ceres is calling the code. I think there is a bug in suitesparse/cholmod.

[2019-12-12 13:50] luoyin500 commented on #529
@sandwichmaker , thank you. I am basically confirm the problem lies in the suitesparse. Because running its demo also crashes.

[2019-12-12 13:56] #529 closed

[2019-12-12 20:21] alexsmac commented on #531
[LNK2005](https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-error-lnk2005?view=vs-2019) is when you have violated the ODR, but the methods that it references - e.g. ~Problem() are not defined in the header, only in problem.cc.  I'm not sure how you got into this, it could be that you are trying to link two different versions of Ceres, one static and one dynamic - it coul

[2019-12-12 20:21] #531 closed

[2019-12-13 02:36] sealiutree7 commented on #531
Thank you so much. It's true and it was solved.

[2019-12-13 05:54] Guptajakala opened #532 "ceres appears to be slower than Eigen's own NonLinearOptimization"
Hi,
I implemented a versino of ICP (iterative closest point) and it appears to be much slower than Eigen's [NonLinearOptimization](https://eigen.tuxfamily.org/dox/unsupported/classEigen_1_1LevenbergMarquardt.html)

[code]

I omitted the cost functor which is just a simple autodiff cost functor (I can copy it here if you think it's important).I have compared with PCL's implementation which is using

[2019-12-13 06:02] sandwichmaker commented on #532
please share the output of Summary::FullReport without that it is hard to
see what is going on.
also is the answer given by the two algorithms the same?
Sameer

On Thu, Dec 12, 2019 at 9:54 PM Hoja <notifications@github.com> wrote:

[2019-12-13 06:18] Guptajakala commented on #532
@sandwichmaker
Yes, for the solution, both are very close. Difference is time. Summary is here.
[code]

[2019-12-13 08:55] LarryDong opened #533 ""find_dependency" error in CeresConfig.cmake"
Hello everyone,
When I use CMakeLists.txt to complie my program, which used " find_package(Ceres REQUIRED)",
An error occurred:
[code]

I've checked the **CeresConfig.cmake** file, and find that **${CERES_EIGEN_VERSION}** is 3.3.7, which is exactly my eigen3 version.

I need your help, I'm not sure whether that it's my CMakeLists.txt error or I should modify CeresConfig.cmake, or my eigen3's probl

[2019-12-13 09:16] alexsmac commented on #533
Where is Eigen installed?  Some recent updates to Ceres' detection of
dependencies have been made to make Ceres more relocatable, which means
that the paths are no longer hard-coded into CeresConfig.cmake, but instead
we rely on the packaged config files for dependencies such as Eigen that
supply them.  However, this means that you will have to specify Eigen3_DIR
when building your own project tha

[2019-12-13 09:22] LarryDong commented on #533
@alexsmac
It just hit me that the error, " Invalid arguments to find_dependency", So I checked cmake, and found out that the parameters of "find_dependency" has been changed after cmake3.5.
Now I updated cmake to 3.16 and everything goes on well.
Still thanks for your quick reply.

Maybe this issue can be a reminder for others because I didn't realize that my cmake is out of date, but still the ne

[2019-12-13 09:47] LarryDong commented on #533
Issue closed. Pay attention to CMAKE version if others have  the same problem.

[2019-12-13 10:42] tipf commented on #533
I think it would be better to reopen this Issue, because the main CMakeLists.txt currently states:
`cmake_minimum_required(VERSION 3.5)`
This could be raised of course, but this may cause some problems on older systems. (e.g. Ubuntu 16.04)

[2019-12-13 13:51] alexsmac commented on #533
This should now be fixed in master, @LarryDong please can you confirm

[2019-12-13 14:00] sandwichmaker commented on #532
Notice all the time is being spent in the Jacobian evaluation. Are you sure you are compiling with the right compiler flags, because the automatic differentiation is incredibly slow without the compiler aggressively optimizing the code.

[2019-12-13 14:15] LarryDong commented on #533
Thanks, @alexsmac. Now the -master goes on well but I use CMAKE-3.16 now and don't want to switch back to 3.5. I think there should be no more problems after changing to find_package(). Thanks for your quick reply.

[2019-12-13 15:21] tipf commented on #533
I can confirm that the issue is fixed for CMake 3.5. Thanks @alexsmac !

[2019-12-13 15:25] Guptajakala commented on #532
@sandwichmaker
Here is my compilation option when building ceres. Which option is relevant to automatic differentiation?

[code]

[2019-12-13 16:03] sandwichmaker commented on #532
its not the flags with which ceres is compiled.
autodifferentiated cost functions are user code, so you need to ensure your binary is compiled in optimized mode.

[2019-12-13 16:04] sandwichmaker commented on #532
if you are using cmake, make sure you are compiling with Build type release. by default cmake does not do that.

[2019-12-13 16:04] #533 closed

[2019-12-13 17:40] sandwichmaker commented on #532
-g may not be a great idea. But either ways, the time is in your jacobian computation code.
you can get a bit more performance by using DENSE_NORMAL_CHOLESKY

[2019-12-13 17:41] sandwichmaker commented on #532
Last but not the least if low latency is really important to you (as opposed to throughput, which is what ceres is really designed for) I suggest using TinySolver in ceres.

[2019-12-13 17:41] #532 closed

[2019-12-13 18:07] Guptajakala commented on #532
@sandwichmaker
Thank you for your suggesions! Just get to know TinySolver. Hope in the future there could be some doc related.

[2019-12-13 18:44] sandwichmaker commented on #414
Since there is no expected activity on this issue, I am going to close it.

[2019-12-13 19:13] Ram-Z commented on #451
This has come quite a long way now since https://github.com/ceres-solver/ceres-solver/commit/33dd469a53383743af00a711a6a85e64c35177e8 has been merged. Thans @NeroBurner.

With a preinstalled version Eigen, this should now work. The last hitch is when you try to use FetchContent with both Eigen and ceres-solver. Both define an `uninstall` target and CMake doesn't like that.

[code]

This minimal `C

[2019-12-14 09:44] NeroBurner commented on #451
Some shameless self promotion: using [Hunter](https://github.com/cpp-pm/hunter) as package manager one just needs `CMake` and a compiler to create a project using `ceres-solver`. I've created a (nearly) minimal example to show how to add `ceres-solver` (even with SuiteSparse) with Hunter

[2019-12-15 23:41] sandwichmaker commented on #503
@ZhaoqunZhong on my mac, building from source I see 1.1s on that example. Am I understanding this correctly that you see the problem with openmp enabled?

[2019-12-16 08:27] NeroBurner opened #535 "Remove FindGlog.cmake and use glogConfig.cmake instead"
It would be possible to remove `FindGlog.cmake` as glog provides a cmake config file since `v0.4.0`. Unfortunately Distributions don't use the cmake configuration, rather stick to the autoconfig toolchain.

Open Bugs I've found
- [ ] [Arch Linux Tasks](https://bugs.archlinux.org/task/55185)
- [ ] [Ubuntu Launchpad Bug](https://bugs.launchpad.net/ubuntu/+source/google-glog/+bug/1815110)

[2019-12-16 12:23] NeroBurner commented on #517
@thezest76 could you provide a minimal compile-able and run-able project with example data

something like that https://github.com/NeroBurner/hunter_ceres_example but also with `data.txt`

[2019-12-16 13:06] Ram-Z commented on #451
That example requires Eigen to be found in the system though doesn't? Have you tried getting Eigen with Hunter too?

[2019-12-16 13:14] NeroBurner commented on #451
Eigen is also provided by Hunter. Hunter uses a [modified ceres-solver](https://github.com/hunter-packages/ceres-solver) project. Currently on the [hunter-1.14.0 branch](https://github.com/hunter-packages/ceres-solver/commits/hunter-1.14.0) is used by Hunter.

There all dependencies are required from Hunter, see [this commit](https://github.com/hunter-packages/ceres-solver/commit/439c6a2921654a534

[2019-12-16 13:34] Ram-Z commented on #451
Ah... I see. I guess that works because Hunter will build and "install" Eigen and forget about any of the target it created. Whereas `FetchContent` is still aware of any targets Eigen created.

[2019-12-16 14:18] NeroBurner commented on #451
@Ram-Z Could you try if this commit would fix the last roadblock for `FetchContent`?
https://github.com/NeroBurner/ceres-solver/tree/optional_uninstall_target

just set the cmake-arg `PROVIDE_UNINSTALL_TARGET=NO` to fetch-content of ceres-solver

[2019-12-16 15:56] Ram-Z commented on #451
This does indeed fix the duplicate target name issue. Had to add the following patch to Eigen to fix the `file was generated by the export() command.  It may not be used as the argument to the include() command.`.

[code]

Then I also had to `add_library(Eigen3::Eigen ALIAS eigen)` because that alias is not provided upstream.

But with these changes I managed to use FetchContent on both Eigen and

[2019-12-16 16:10] NeroBurner commented on #451
I think both changes would be valuable contributions to upstream Eigen3.

The Eigen team recently moved to gitlab: https://gitlab.com/libeigen/eigen

[2019-12-16 16:13] Ram-Z commented on #451
I'll submit a patch.

On Dec 16, 2019 at 8:10, NeroBurner wrote:

[2019-12-16 16:30] patrikhuber commented on #347
I started needing & using `SubsetParameterization` too. I also think it would be useful if all the cases worked as expected: freeze nothing (empty vector), freeze some, and freeze all parameters.

[2019-12-16 16:39] sandwichmaker commented on #347
Patrick I have this mostly working (it turned out to be a subtle change), I only have to do some testing to enable this.

[2019-12-16 16:47] patrikhuber commented on #347
No worries, it's working great as it is! It would just be a convenience improvement (code simplification on the caller's end). :) Great to hear and thanks for the update!

[2019-12-16 16:49] sandwichmaker commented on #347
I consider a wart in the API (in fact I have written code at google to get around it myself, so share your  and @emilk 's pain), but it has weirdo consequences underneath, as to how we handle constant parameter blocks so it had to be done delicately. I have a CL sitting in my one of my git clients, lemme see if I can push it out.

[2019-12-16 17:14] Ram-Z commented on #451
Already [patched upstream](https://gitlab.com/libeigen/eigen/commit/2cbd9dd49806d686a40841b6d888a83c816efccf), just not released yet.

[code]

This works now. Thanks.

[2019-12-17 00:53] sandwichmaker commented on #347
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/16420 is out for review.

[2019-12-17 01:02] #485 closed

[2019-12-17 05:22] sandwichmaker commented on #397
@alexsmac are we doing this for 2.0 or should we punt on this?

[2019-12-17 10:19] alexsmac commented on #397
It's not high on my stack at the moment, as I'm not sure how heavily used this combination of features actually is - my suspicion is not very.  I wouldn't hold up 2.0 for this.

[2019-12-17 15:06] #528 closed

[2019-12-17 15:41] sandwichmaker commented on #492
gentle ping?

[2019-12-17 16:19] darglein opened #536 "Generating Backward Automatic Derivatives"
Using the new expression system it would be possible to generate backward autodiff code (=back propagation). I'm currently wondering, if it is worth implementing that, because intuitively it should increase performance if  `num_parameters >> num_residuals`.

What is your opinion on generating backward autodiff code? Should we implement it after the codegen stuff is working?

[2019-12-18 07:45] chennuo0125 opened #537 "can't convert T to basic data type of c++"
code as follows:
[code]
but during compilation, static_cast error !!!!! how to implement the cast ???

[2019-12-18 09:13] alexsmac commented on #537
Assuming that this is part of a functor that you are using with auto-diff, then T will be a templated Jet type when the jacobian is evaluated.  Jets cannot be sensibly cast to doubles as you are trying to do here, although you can cast a double to a Jet.

You should use `T`, not double, as the type for all local variables used in operator().  See the [tutorials and examples](http://ceres-solver.or

[2019-12-18 09:13] #537 closed

[2019-12-18 14:11] sandwichmaker commented on #536
Isn't the total amount of arithmetic the same?

[2019-12-18 14:59] darglein commented on #536
I thought forwards requires more multiplications, because there is a scalar-vector multiplication of size #numParameters in each operation. In backward mode there are #numResiduals multiplications for each operations.

[2019-12-18 15:07] sandwichmaker commented on #536
To be honest, I am not sure.

https://www.amazon.com/Evaluating-Derivatives-Principles-Algorithmic-Differentiation/dp/0898716594

I believe is the seminal reference on this.

[2019-12-18 15:34] darglein commented on #536
I also not an expert, but I think the difference is easy to spot in various forwards-backwards implementations.
Forward:
[code]
The arithmetic operations are `sin + cos + N mults`.

Backward (from https://github.com/autodiff/autodiff/blob/master/autodiff/reverse/reverse.hpp):
[code]
Here `sin(x)` was computed in the forward path so the arithmetic operations are only `sin + cos + 1 mult`. Of course

[2019-12-20 09:46] darglein opened #538 "Autodiff Codegen Documentation"
How would you structure the rst documentation of the autodiff codegen system?

We can integrate it into the current structure
- On Derivatives > Generated Automatic Derivatives
- Modeling Non-linear Least Squares > CodegenCostFunction
- Tutorial > Non-linear Least Squares > Code generation example

or create a new parent node
- Code Generation > Overview
- Code Generation > User Interface
- Code G

[2019-12-21 10:52] narutojxl opened #539 "How to build ceres master with user's eigen?"
Hi, My OS is ubuntu16.04,  with `sudo apt install libeigen3-dev﻿` installed is 3.2.92, which can be see by ` pkg-config --modversion eigen3`, but the ceres master need eigen >=3.3.  I download eigen 3.3.7 into`/home/jxl/third_softwares/eigen_3_3_7`. With cmake gui, set  `Eigen3_DIR = /home/jxl/third_softwares/eigen_3_3_7/`,  configure failed.  Set by command line also failed!

      jxl@dell:~/thi

[2019-12-21 14:26] sandwichmaker commented on #538
I do not think we should split further. I think it should just be a section in modeling nonlinear least squares.

on derivatives is meant to be a stand alone article that explains how various derivative computation methods work, it should also be expanded to include codegen, but it is not a guide to using codegen.

[2019-12-21 14:28] sandwichmaker commented on #536
What I meant was, that these are two different algorithms for computing the same quantity given the same inputs. so the "optimal" amount of arithmetic operations to compute said quantity is constant. My understanding is that depending on the specifics of the function being differentiated, forward/backward/or mixed mode may get close to the minimum amount of arithmetic operations needed.

[2019-12-21 14:29] #501 closed

[2019-12-21 14:30] sandwichmaker commented on #348
@keir can you take a pass at this and articulate what needs done to resolve this issue for 2.0?

[2019-12-21 14:32] sandwichmaker commented on #416
Closing as there is no real path/plan to resolve this.

[2019-12-21 14:32] #416 closed

[2019-12-23 03:20] narutojxl commented on #539
Thanks @sandwichmaker  and @alexsmac!  BTW,  set eigen in ceres CMakeLists.txt like this `set(EIGEN3_ROOT "/home/jxl/third_softwares/eigen_3_3_7/")` or `set(EIGEN3_ROOT_DIR "/home/jxl/third_softwares/eigen_3_3_7/")` before use find_package() to find eigen3, it also failed to find the eigen_3_3_7.  In eigen_3_3_7/cmake/, there is only a `Eigen3Config.cmake.in` file,  not have a `Eigen3Config.cmake`

[2019-12-23 07:09] narutojxl opened #540 "ceres -1.14.0 enable openmp build OK, but link against ceres, not have components [OpenMP]"
Hi, my system is ubuntu16.04,  build ceres -1.14.0 enable openmp  OK, like this.

	jxl@dell:~/third_softwares/ceres-solver-1.14.0/build_dir$ cmake .. -DLAPACK=ON -DSUITESPARSE=ON -DCXSPARSE=ON -DEIGENSPARSE=ON -DGFLAGS=ON -DMINIGLOG=OFF -DSCHUR_SPECIALIZATIONS=ON -DOPENMP=ON -DCXX11_THREADS=OFF -DCXX11=ON -DBUILD_SHARED_LIBS=OFF -DEXPORT_BUILD_DIR=OFF -DBUILD_DOCUMENTATION=OFF -DLIB_SUFFIX=64 -DCM

[2019-12-23 08:20] narutojxl commented on #540
**Config 1**
openmp=OFF,  CXX11_THREADS= ON,  CXX11 =ON, it says  `-- Found Threads: TRUE` and `-- Building with C++11 threads.`, built Ok. But `find_package(Ceres REQUIRED COMPONENTS Multithreading)` also failed!

	jxl@dell:~/third_softwares/ceres-solver-1.14.0/build_dir$  cmake .. -DLAPACK=ON -DSUITESPARSE=ON -DCXSPARSE=ON -DEIGENSPARSE=ON -DGFLAGS=ON -DMINIGLOG=OFF -DSCHUR_SPECIALIZATIONS=ON -D

[2019-12-23 09:39] alexsmac commented on #539
@narutojxl [this listing](https://packages.ubuntu.com/xenial/all/libeigen3-dev/filelist) shows that the libeigen3-dev package in Xenial should include:

`/usr/lib/cmake/eigen3/Eigen3Config.cmake`

are you sure that file does not exist?  If not, where are you pulling the package from instead of mainline?  If it exists, it should be being automatically detected by CMake.

If you want to use a local

[2019-12-23 10:02] alexsmac commented on #540
I can't replicate this with the 1.14 release on an 18.04 machine.

I think your problem is that you had an original Ceres install in `/usr/local` which was not built with any multithreading and you are not re-installing, and thus replacing, that original version after you rebuild Ceres with a different configuration in `/home/jxl/third_softwares/ceres-solver-1.14.0/build_dir`.  You can verify this

[2019-12-23 10:02] #540 closed

[2019-12-23 11:59] narutojxl commented on #539
Hi @alexsmac, thanks for your reply :) . Yes, with  `sudo apt install libeigen3-dev`, eigen 3.2.92 installed in /usr/ path, and /usr/lib/cmake/eigen3/Eigen3Config.cmake exist.  After build and install eigen_3_3_7 locally, set  `-DEigen3_DIR=<PATH_TO_ROOT_INSTALL_DIR>/share/eigen3/cmake`, ceres can find it correctlly, thanks for your help!
BTW, how do you know the variable name to be set is  "Eigen

[2019-12-23 11:59] #539 closed

[2019-12-23 12:39] darglein commented on #536
This also matches my understanding. It would still be interesting to see which algorithm (forward/backward/mixed) gets closer to the minimum for a few common problems. We most likely need the code optimizer and benchmarks for a meaningful comparison.

[2019-12-23 12:48] darglein commented on #538
We can start with a section in modeling nonlinear least squares after the cmake integration is done. This is mostly a user guide isn't it? So not that much technical description how the system works.

[2019-12-23 13:50] sandwichmaker commented on #538
yes.

[2019-12-23 13:50] sandwichmaker commented on #536
That sounds about right.

[2019-12-23 14:18] narutojxl commented on #540
Hi @alexsmac, i removed all ceres installed in system clearly by `sudo make uninstall`  in build directory. When only enable openmp, the two files  `CeresConfig-install.cmake`  and `/usr/local/lib/cmake/Ceres/CeresConfig.cmake` are the same, `CERES_COMPILED_COMPONENTS` is

     #The list of (optional) components this version of Ceres was compiled with.
     set(CERES_COMPILED_COMPONENTS "EigenSpar

[2019-12-23 20:43] kgreenek opened #541 "Eigen3 not found by cmake on Ubuntu"
As of this commit (https://github.com/ceres-solver/ceres-solver/commit/33dd469a53383743af00a711a6a85e64c35177e8), Eigen fails to be found by cmake on Ubuntu 16.04.

When running cmake, the following error can be seen:
[code]

Eigen is apt-installed. Reported version is:
[code]

I tried removing the requirement for 3.3 and got other errors. I.E. changing line 243 in CMakeLists.txt from:
[code]
to
[

[2019-12-23 21:05] kgreenek commented on #541
The version of eigen currently provided by apt for Ubuntu 16.04 is reported during cmake config as `3.2.92` (even though it's called 3.3 in apt).

[2019-12-23 22:40] alexsmac commented on #541
Hi @kgreenek the issue is that vanilla 16.04's packages are pretty old now, and we're modernising our dependencies in preparation for Ceres 2.0 which will be coming early next year.  In addition to requiring Eigen >= 3.3 which allows us to remove some workarounds for issues with older Eigen versions (the 3.2.92 package in 16.04 is one of the pre-release betas (hence .92) rather than a true 3.3 rel

[2019-12-24 03:10] kgreenek commented on #541
Thanks for the fast reply. That all sounds understandable.

We ran into this bug that was causing crashes for us: https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13640

Our solution for now is to create a private fork of 1.13 and cherrypick that fix.

We are building using catkin with ros kinetic fwiw.

[2019-12-28 08:23] ZhaoqunZhong commented on #503
@sandwichmaker Thanks for your follow-up, but openmp is used for multi threading, right? So this means turning on openmp actually downgrades the performance?

[2019-12-30 23:27] moizsajid commented on #481
I also get the same error message in VS 2019

[2020-01-02 08:15] Sun1307010608 opened #542 "dataset.g2o"
hello,
I am learning the ceres libraries, I want to test "/path/to/bin/pose_graph_2d /path/to/dataset/dataset.g2o", do you provide the test dataset yet? and when I compile the pose_graph_2d, after I add the cmake_minimum_version, eigen include dir, it finally has the following error occurs:
CMakeFiles/read_test.dir/read_test.o: In function `bool ceres::examples::ReadG2oFile<ceres::examples::Pose2d

[2020-01-02 22:38] sandwichmaker commented on #542
you need to link to glog.

[2020-01-03 01:13] Sun1307010608 commented on #542
@sandwichmaker thank you, I solved this problem by add glog, do you know what's the problem of this:
/usr/bin/ld: CMakeFiles/pose_graph_2d.dir/pose_graph_2d.cc.o: undefined reference to symbol '_ZN6google21ParseCommandLineFlagsEPiPPPcb'
//usr/lib/x86_64-linux-gnu/libgflags.so.2: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status
CMakeFiles/pose_graph_2d.

[2020-01-03 01:53] sandwichmaker commented on #542
you are missing gflags.

[2020-01-03 03:27] narutojxl opened #543 "how to set 3D rotation param bound?"
Hi, how to set 3D rotation param LowerBound and UpperBound? For example, we can set params in vector space like the following. If we want to set the pitch angle in a lower and upper bound, how should we do this, thanks a lot your help!

	double constraint_raw[7] = {0, 0, 0, 1, 0, 0, 0};

	Eigen::Map<Eigen::Quaterniond> q = Eigen::Map<Eigen::Quaterniond>(constraint_raw);
	Eigen::Map<Eigen::Vector3d

[2020-01-03 04:21] sandwichmaker commented on #543
you cannot do this with a quaternion. use an euler angle parameterization of rotations.

[2020-01-03 04:21] #543 closed

[2020-01-03 08:24] Sun1307010608 commented on #542
@sandwichmaker  thanks a lot.

[2020-01-08 20:55] Ram-Z commented on #451
Finally got back to this again and with the patch to ceres below, I'm happy that ceres can be integrated well using FetchContent.

[code]

The CMP0077 policy allows `option()` calls to not override normal variables that are already set.

[code]

[2020-01-08 21:09] Ram-Z commented on #451
I guess it's worth mentionning that instead of setting `CMP0077 NEW`, you could also increase `cmake_mininum_required(VERSION 3.13)` but I assume that would be less acceptable.

[2020-01-10 06:54] luoyin500 opened #544 "Build shared library of ceres 1.14 by ndk-build using Android.mk, several "undefined reference" occur."
I want to build shared library of ceres 1.14 by ndk-build.
So I change the last line of /jni/Android.mk:
include $(BUILD_STATIC_LIBRARY)
to
include $(BUILD_SHERAD_LIBRARY)

several "undefined reference" occur:

______________________________________________________________________________________________________
D:/libs/ceres-solver-1.14.0/ceres-solver-1.14.0/obj/local/arm64-v8a/objs/ceres/__/inte

[2020-01-10 07:12] #544 closed

[2020-01-10 19:18] Ram-Z commented on #451
I've figured out that you can `set(CMAKE_POLICY_DEFAULT_CMP0077 NEW)` and that would enforce the NEW policy in sub directories.

So no changes are required anymore in Eigen or Ceres.

[code]

I'm not OP, but in my opinion this can now be closed. Thank you all very much.

[2020-01-11 13:15] JohannesBeck commented on #481
This should now be fixed (https://github.com/ceres-solver/ceres-solver/commit/f26f954105e0489b5d9963662791c29f88e3d122).

[2020-01-11 23:28] #481 closed

[2020-01-15 10:03] NeroBurner opened #545 "replace bessel functions with C++17 equivalent"
If we push the minimum required version of C++ to C++17 we could replace the msvc underscored and not underscored `_j0` bessel function usages in `jet.h`

https://github.com/ceres-solver/ceres-solver/blob/edb8322bdabef336db290be1cc557145b6d4bf80/include/ceres/jet.h#L592-L618

C++ reference for the new mathematical special functions like `cyl_bessel_j`
https://en.cppreference.com/w/cpp/numeric/spec

[2020-01-15 20:07] versatran01 opened #546 "Not using optimized inverse for dynamic-sized small matrix?"
https://github.com/ceres-solver/ceres-solver/blob/8def196166ddd56be2e8e547d9df1c73d0ad3391/internal/ceres/invert_psd_matrix.h#L63

Just looking at this code and it checks whether to use inverse based on the matrix size at compile time.
Would this miss the case when the matrix is small but is of size Eigen::Dynamic (kSize=-1)?
If that's the case then this line should be
[code]

[2020-01-18 15:35] oracle3001 opened #547 "use of undefined type 'ceres::internal::ProblemImpl' compile error using VS2019"
When building a shared library (dll) version of ceres from the latest code off github using VS2019 (Version 16.4.3) and SuiteSparse v5.4.0 on Windows 10, I get a whole series of the following errors.

[code]

[code]

I get the same issue if I use the Intel Compiler (v19.1) as well.

However, attempting to build the static version of ceres works correctly.

[2020-01-18 16:47] oracle3001 opened #548 "Ellipse Approximation Example Crashes when dynamic_sparsity = false"
Having compiled the latest version of ceres from github as a static library using VS2019, SuiteSparse (5.6.0) and Intel MKL / TBB (provided as part of Intel Compiler 19.1) on Windows 10.

All the other examples work as expected, however the ellipse_approximation, the first run with dynamic_sparsity set to true returns correctly, but then the application silently crashes when the second run is call

[2020-01-18 17:22] oracle3001 commented on #548
I was accidentally compiling against mkl_intel_ilp64_dll.lib rather than mkl_intel_lp64_dll.lib

[2020-01-18 17:22] #548 closed

[2020-01-19 16:59] alexsmac commented on #547
Should be fixed in [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/16560)

[2020-01-19 19:08] oracle3001 commented on #547
This fixes the ability to build ceres as a dll, however the autodiff_codegen example doesn't build. It return the following errors,

[code]

[2020-01-19 19:22] alexsmac commented on #547
@darglein this looks like the Windows-specific `CERES_EXPORT` prefix is missing from the codegen classes as: `class CERES_EXPORT <NAME>` - please can you update them in a new CL, see problem.h for an example.

[2020-01-19 19:58] oracle3001 opened #549 "Unresolved External ceres::ProductParameterization"
I have just updated from ceres solver 1.14 to the latest code from Github (built using VS2019 on Windows 10). My code which previously compiled and ran without issue now has the following build error,
[code]
relating to the following line of code,
[code]
I use other local paramaterizations elsewhere in the my code that work fine e.g.
[code]

but there seems to be an issue with the ProductParameter

[2020-01-20 13:18] npd26 opened #550 "ceres solver build error"
Hello,

I am building ceres-solver-1.12.0 using CMAKE GUI and visual studio 2019. I am getting below error in pose_graph_3d and sample_function,

`pose_graph_3d.obj : error LNK2001: unresolved external symbol "public: virtual bool __cdecl ceres::EigenQuaternionParameterization::Plus(double const *,double const *,double *)const " (?Plus@EigenQuaternionParameterization@ceres@@UEBA_NPEBN0PEAN@Z)
2>sa

[2020-01-20 14:04] sandwichmaker commented on #550
Please use a more recent version of Ceres solver and let us know if you are
still having issues.

On Mon, Jan 20, 2020, 5:18 AM npd26 <notifications@github.com> wrote:

[2020-01-20 14:25] sandwichmaker commented on #549
@alexsmac

[2020-01-20 14:26] sandwichmaker commented on #546
in that case there is nothing to be gained by that code. The optimized code path AFAIK only works for the statically known dimensions.

[2020-01-20 14:27] sandwichmaker commented on #545
Sorry, c++11 is all we support for now.

[2020-01-20 14:27] #545 closed

[2020-01-20 14:27] #542 closed

[2020-01-20 14:27] #541 closed

[2020-01-20 14:27] #546 closed

[2020-01-20 14:42] npd26 commented on #550
As I required both version (1.14.0 (already build) and 1.12.0) that is why I am trying for 1.12.0.

[2020-01-20 14:45] sandwichmaker commented on #550
unfortunately 1.12.0 is more than three years old and we do not support it anymore.

[2020-01-20 14:59] alexsmac commented on #549
As I don't use Windows I'm not sure what's going on here, however [this post](https://stackoverflow.com/questions/11261072/unresolved-external-symbol-vftable-c/11554907#11554907) suggests that the issue might be related to a CRT version mismatch which can be controlled via the Ceres build option: `MSVC_USE_STATIC_CRT`

[2020-01-20 19:51] oracle3001 commented on #549
I don't believe this is the issue. I have everything involved building using /MD flag and I can build ceres 1.14 (also built with /MD flag and all the same required libraries) and build my project with this old version of ceres without issue.

I can build and use ceres as a static library with my project, but for distribution reasons I would prefer to be able to use it as a dll.

[2020-01-20 20:01] sandwichmaker commented on #549
it may have to do with the fact that product parameterization uses
templates, but I do not have any experience with msvc.

On Mon, Jan 20, 2020 at 11:51 AM oracle3001 <notifications@github.com>
wrote:

[2020-01-21 00:41] Janos95 opened #551 "FixedArray using deprecated way to define pointer alias."
The FixedArray class defines a couple of type aliases as follows:

[code]
The four latter type aliases were deprecated in C++17 and are removed in C++20.
In particular the head of gcc in C++20 mode fails to compile ceres.

[2020-01-21 10:30] alexsmac commented on #549
@oracle3001 please can you try removing the `CERES_EXPORT` prefix from the declaration of `ProductParameterization`, i.e. change (in `<CERES_SOURCE_DIR>/include/ceres/local_parameterization.h`):
[code]
to:
[code]
and rebuild Ceres - I *think* from some reading that the issue may indeed be that templated classes cannot be exported in DLLs unless they are explicitly instantiated in the exporting lib

[2020-01-21 12:57] oracle3001 commented on #549
After rebuilding with that suggested change, I now get the following error messages,

[code]

[2020-01-21 16:58] sandwichmaker commented on #551
@Janos95  thanks for letting us know, we currently only support c++11. c++20 is barely standardized so, so we should not be expecting ceres to compile in c++20 mode.

[2020-01-22 21:42] Janos95 commented on #551
well its deprecated in c++17 and the fix is trivial. I could provide a patch?

[2020-01-22 21:47] sandwichmaker commented on #551
please do.

http://ceres-solver.org/contributing.html

On Wed, Jan 22, 2020 at 1:42 PM Janos95 <notifications@github.com> wrote:

[2020-01-27 14:38] finostro opened #552 "Alignment issue on quaternion"
I am getting an [unaligned assertion](http://eigen.tuxfamily.org/dox-devel/group__TopicUnalignedArrayAssert.html) from eigenn, specifically on the quaternion.

ceres-solver/internal/ceres/local_parameterization.cc:208

p.s. I am using the latest code , compiled with the following configuration (ccmake)
![image](https://user-images.githubusercontent.com/5446036/73183334-67290f80-40f9-11ea-8717-8046

[2020-01-27 20:13] finostro commented on #552
Fixed it by compiling with c++17, honestly I am not sure if it was an issue with ceres or with the other project that uses it. Anyways Eigen alignment issues are apparently all solved by compiling with c++17.

[2020-01-27 21:00] alexsmac commented on #552
The usual reason for this is that you are compiling Ceres and a client project using Ceres with different compile options that affect the compiled output of Eigen, in which case you can get subtle ODR violations as well as other issues.  I suspect that this is an incompatibility between the compile options of your project and Ceres.  However, as you have now resolved the issue I'm going to close t

[2020-01-27 21:00] #552 closed

[2020-01-29 14:26] #550 closed

[2020-01-31 22:23] sandwichmaker opened #554 "gradient checker should use RIDDERS method instead of central differences."

[2020-02-04 20:15] ShakilAhmedDhaka commented on #549
Hi @oracle3001 I having the same problem (Unresolved External ceres::ProductParameterization). Have you solved this yet?

[2020-02-04 20:24] oracle3001 commented on #549
@ShakilAhmedDhaka no I haven't, other than to build as a static library.

However, I did see a mention of something on the ceres google source review.

https://ceres-solver-review.googlesource.com/c/ceres-solver/+/16580

[2020-02-06 16:34] andrejpan opened #557 "Issue with suitesparse-bugfix-1319687 repository"
Dear all,

I am trying to build `cares-solver` on my Ubuntu 16.04 machine and when I tried to add `suitesparse-bugfix-1319687` repository to my system, I got an error bellow.
[code]

Does anyone have some idea on how to solve this issue?

[2020-02-10 16:05] darglein opened #558 "Codegen Optimizer Class Structure"
I'm currently working on the codegen optimizer over here https://github.com/darglein/ceres-solver/tree/master/include/ceres/codegen/internal:

The current code structure is like this (simplified):
[code]
Is this fine or do you prefer adding all `Optimizations` into `Optimizer` as member functions?

[2020-02-10 18:20] sandwichmaker commented on #558
@darglein  there seems to be two very different questions here.

The first one is about class organization. The second seems to be about the level of abstraction. I do not understand how these two connect.  Can you say more?

[2020-02-10 18:21] sandwichmaker commented on #557
@andrejpan, no idea, and not sure what we can do on the ceres solver side.

[2020-02-10 18:21] #557 closed

[2020-02-10 18:24] sandwichmaker commented on #549
Is this still open, I am not sure what to do here.

[2020-02-11 07:50] darglein commented on #558
Yeah the questions are not really related. Let's start with the class organization first :).

[2020-02-11 18:19] sandwichmaker commented on #558
I am thinking about it from the perspective of testing and readability. I think it makes more sense for each optimization to be its own pass. which can be tested for its own invariants. Since there is no interaction between them, it is not clear to me why we would want to put them as members of the same class and then worry about what happens to the state of the class as each of them is called.

[2020-02-12 14:45] Computational-Camera opened #560 "AngleAxisToRotationMatrix results does not math Eigen"
It seems the Rotation matrix output is a transpose of the output from Eigen
i.e.
//===Ceres===
double angle_axis[3] = {0.1722057, -0.4814122, 0.3184683};
AngleAxisToRotationMatrix(angle_axis, R);
//===Eigen===
Eigen::AngleAxisd angle_axis_2 (0.6023575, Eigen::Vector3d(0.2858863, -0.7992134, 0.5287031));
cout<<angle_axis_2.toRotationMatrix()<<endl;

[2020-02-12 15:17] sandwichmaker commented on #560
Check if you are expecting a row major or a column major matrix as output

On Wed, Feb 12, 2020, 6:45 AM Shan Xu <notifications@github.com> wrote:

[2020-02-13 00:17] Computational-Camera commented on #560
I am expecting a row major matrix, so dose it mean the Rotation matrix in ceres is stored as column major format?

[2020-02-13 00:19] sandwichmaker commented on #560
https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/rotation.h#L385

indicates that it returns a column major matrix. you can use the adapter to
get a row major matrix if you like.

On Wed, Feb 12, 2020 at 4:17 PM Shan Xu <notifications@github.com> wrote:

[2020-02-13 04:02] zjd1988 commented on #514
Hi @sandwichmaker  , have you successfully compiled and used ceres with suitesparse(long integer version)?

[2020-02-13 05:14] sandwichmaker commented on #514
no, we use the regular integer API.

On Wed, Feb 12, 2020 at 8:02 PM zjd1988 <notifications@github.com> wrote:

[2020-02-13 09:18] copyme commented on #514
@zjd1988 yes I did but the solver is crashing after just a few iterations from no clear reasons. Unfortunately, I have not had time to dig into this. I am busy with some other projects since weeks. Once I am done with the current work I will try to solve the problems.

[2020-02-14 00:20] #560 closed

[2020-02-14 06:07] wine3603 commented on #527
I used the new version,
but still faild in " make install"
[code]

[2020-02-14 06:12] sandwichmaker commented on #527
This is likely related to the patch that was just added to ceres today. @darglein  can you take a look please.

[2020-02-14 07:56] darglein commented on #527
Thanks for opening this issue. This should be fixed with https://ceres-solver-review.googlesource.com/c/ceres-solver/+/16660

[2020-02-14 09:36] wine3603 commented on #527
THanks a lot  @darglein @sandwichmaker
this fixed my problem!

[2020-02-14 10:43] wine3603 opened #561 "cmake error: include cannot find CeresCodeGeneration.cmake"
My CMakeLists.txt line 50:
`find_package(Ceres REQUIRED)`
When I run cmake, I got this bug:
[code]
my CeresConfig.cmke is in

[code]
Any help?

[2020-02-14 12:14] darglein commented on #561
Thanks for reporting.

This issue is fixed with https://ceres-solver-review.googlesource.com/c/ceres-solver/+/16660.

[2020-02-14 16:01] #561 closed

[2020-02-14 16:01] #558 closed

[2020-02-17 11:07] brawer opened #562 "EvaluationCallback.WithLineSearchMinimizerWolfeBfgsQuadratic fails on Alpine Linux"
On Alpine Linux for x86-64, the Ceres test `evaluation_callback_test` fails on `WithLineSearchMinimizerWolfeBfgsQuadratic`. To reproduce this yourself in a Docker virtual machine, put the following into a file called `Dockerfile` and then run `docker build .` from the same directory. The same failure also appears to happen on Debian Linux for PowerPC and ARM; see [Debian bug 902150](https://bugs.d

[2020-02-17 11:13] brawer commented on #392
As of February 2020, Ceres might run into the same problem on Alpine Linux for x86-64, but I’m not 100% sure if it’s really the same bug. See #562 for instructions how to reproduce the failure on a local machine.

[2020-02-18 15:06] sandwichmaker commented on #562
Thanks for the report, I will take a look. I will need to learn how to run docker first though :)

[2020-02-20 05:44] Wsdnuaa opened #563 "I nee"

[2020-02-20 05:52] Wsdnuaa opened #564 "Division Operation between parameters is needed in my costfuntion,but it doesn`t work"
a[ ] ,b[ ],sample,line are const .
How could  I to divide block include one parameter by another?
Thank for your watching!
`      struct checkResidual {

	checkResidual(double* sample, double* line,double* a,double* b, stereoAdjustment* sAdjust)
		: sAdjust_(sAdjust) ,a_(a),b_(b){
		sample_1 = sample[0];
		line_1 = line[0];
		sample_2 = sample[1];
		line_2 = line[1];
		sample_3 = sample[2];
		line

[2020-02-20 07:10] liujack1019 commented on #396
Is there a schedule to solve this now? My issue is quite similar to this. But I use linux system with bazel build for ceres. I can't even use suitesparse.

[2020-02-20 07:13] liujack1019 commented on #335
@keir any updates now?

[2020-02-20 07:35] #563 closed

[2020-02-23 00:06] sandwichmaker commented on #564
your error message is truncated. it does not say anything about it not being possible to divide by a parameter, but rather that you are likely dividing by zero. look at the whole message it has details.

[2020-02-24 08:53] darglein opened #566 "Optimize Away Zero Multiplications"
I'm currently working on a few optimization passes and found that evaluating zero multiplications improves performance by at least 15%. In particular these optimizations are:

[code]

Such multiplications are extremely common in forward autodiff because the derivative part is initialized with 0. The compiler cannot apply this by itself, because it changes `nan correctness`. For example:

v_0 = nan

[2020-02-24 09:28] darglein opened #567 "Codegen Benchmarks"
What are some good cost functors to benchmark forward AD?

Does it make sense to use synthetic functors?

The current benchmark results for angle-axis BA are:

[code]

[2020-02-25 14:29] sandwichmaker commented on #567
I think a mix of synthetic and real functors would be nice. It would be worth asking on the mailinglist if people are willing to share some of their cost functors.

there is also a quaternion variant of the bundle adjustment error, which is also worth looking at.

[2020-02-25 14:34] sandwichmaker commented on #566
I do not think this is right. If you do nan * 0, and propagate that zero, then you risk eliminating entirely fragements of code which maybe doing bad things no? for example where the nan is generated as an intermediate computation, gets multiplied by an explicit zero which we know at compile time and the result is then propagated.

[2020-02-25 14:46] darglein commented on #566
Is this a problem in an actual case you can think of? Have you ever written an explicit zero multiplication and expected the result to not be zero?

I feel like we would waste a lot of potential by not applying this at all.

[2020-02-25 14:56] sandwichmaker commented on #566
no thats not what I mean. if I understand you correctly, your optimization rests on the assumption that as long as one nan shows up in the final result, it is as good as all the nans showing up. I am saying this cannot be guaranteed, because once you start zeroing the nans out, you may actually end up eliminating them entirely, and the user may get the impression that their code is working correct

[2020-02-25 15:58] darglein commented on #566
Ah ok, I understand you now. There might be a weird case were all nans are removed and the user thinks the code is working fine.

My suggestion would be to add a flag like this:
[code]

[2020-02-26 02:52] LeisureLei opened #568 "RegionsAlias"
I use ceres to optimize pose and I use quaternion to represent rotation.But the code failed.

WARNING: Logging before InitGoogleLogging() is written to STDERR
F0226 10:35:22.432909  7620 problem_impl.cc:82] Check failed: !RegionsAlias(existing_block, existing_block_size, new_block, new_block_size) Aliasing detected between existing parameter block at memory location 0x7f4561fff830 and has size 3 w

[2020-02-28 13:40] Beck-Sisyphus opened #570 "Is ceres solver 2.0 officially released yet?"
Dear ceres developer,

The current build demonstrate the ceres solver has marched to version 2.0, yet in your milestone it is still 55% complete. I wish to fetch the current version into my own project, so I am curious whether it is officially released, and if not when is the release date.

Sincerely,

Beck

[2020-02-28 15:19] sandwichmaker commented on #570
No Ceres solver 2.0 is not released yet. There is a bunch of work that
still needs to be done.

On Fri, Feb 28, 2020, 5:40 AM Beck Pang <notifications@github.com> wrote:

[2020-03-02 21:15] #570 closed

[2020-03-02 21:16] sandwichmaker commented on #568
You are passing two different parameter blocks but they refer to the same memory.

[2020-03-02 21:16] #568 closed

[2020-03-02 21:17] sandwichmaker commented on #566
This goes back to my point earlier, people will use this without understanding the implications. Basically the effect of this is untestable, which means people have to guess and they will always choose faster..

[2020-03-03 00:19] darglein commented on #566
I think we have different views on what this system actually is and what it should do.

For me, autodiff codegen is a tool that is able to create efficient derivatives which are mathematically correct. The optimizer applies symbolic transformations similar to other math tools (Matlab...).

For testing I'm using a Disney BRDF functor, for which I have a hand optimized analytic derivative. Interesti

[2020-03-03 06:12] ckLibra opened #571 "[cmake failed]Target "ceres" links to target "Eigen3::Eigen" but the target was not found"
I already built the eigen 3.3.4 manually in /usr/local/include/eigen3. but also I have one older version eigen3 2.3.0 in usr/include/eigen3 installed by  apt-get install.

when I cmake,it turns out the following error:
CMake Error at internal/ceres/CMakeLists.txt:244 (add_library):
  Target "ceres" links to target "Eigen3::Eigen" but the target was not
  found.  Perhaps a find_package() call is mi

[2020-03-03 09:28] darglein commented on #566
Here are some result for the Disney BRDF benchmark:
[code]
Here we can see three things:

- With optimizations codegen AD is identical to analytic diff.
- Optimizations improve codegen code by a factor of 2
- Forward AD is dominated by zero mults
- If we do not optimize zero mults, all other optimizations are (almost) meaningless

[2020-03-03 10:19] #571 closed

[2020-03-04 03:34] Beck-Sisyphus commented on #570
Thanks for your reply.

[2020-03-04 21:57] jkflying commented on #566
@darglein have you tried `Jet Autodiff` with putting the cost functions into their own compilation unit with `-ffast-math` enabled. This should get the *0 optimized out. It might be necessary to specify to Eigen to use `EIGEN_DONT_VECTORIZE` for that compilation unit too so that the compiler has visibility into the operations that are happening and can do algebraic simplification.

[2020-03-05 08:30] darglein commented on #566
Thanks for the hint. Here are the results with GCC 9.2.1 and -O3:

[code]

-ffast-math
[code]

EIGEN_DONT_VECTORIZE

[code]

EIGEN_DONT_VECTORIZE + -ffast-math

[code]

[2020-03-06 19:24] sandwichmaker opened #572 "Implement the derivative free Gauss-Newton method."
Coralia Cartis, Lindon Roberts: A derivative-free Gauss–Newton method. Mathematical Programming Computation (2019) 11(4):631–674 (2019)

[2020-03-09 10:46] #566 closed

[2020-03-10 02:33] sxtiann commented on #360
I find the  same problem. And it is more weird. Some values are the same. Some are opposite. Have you solved the problem?

[2020-03-10 03:50] ymd-ponyai opened #573 "Possibly mistake in the document."
http://ceres-solver.org/nnls_modeling.html#theory
If I use rho = log(1 + s), the \tilde f will equal \sqrt { \frac {1} {1-s} } f which is greater than f.

[2020-03-10 14:20] sandwichmaker commented on #573
@ymd-ponyai I am not sure what you mean, are you saying the original triggs derivation is wrong or did I replicate it wrong?

[2020-03-10 14:21] sandwichmaker commented on #564
I am going to close this, please re-open if you believe there is a problem with ceres.

[2020-03-10 14:21] #564 closed

[2020-03-10 15:59] sandwichmaker commented on #566
Excellent, I like this path very much. We can add comments about compiling this code and the effect of -ffast-math.

[2020-03-11 00:07] ymd-ponyai commented on #573
I was trying to hand-calculate the residual after applying `CauchyLoss(1.0)`. By following your document (and Triggs') I found a difference between ceres' `Evaluate` and my calculation.

[2020-03-11 00:07] ymd-ponyai commented on #573
Without the loss function the output is trivial and I can verify easily.

[2020-03-12 08:02] ShiwenH commented on #190
@hpp340 you fix my problem. Thanks.

[2020-03-12 22:39] seth-planet commented on #412
Thanks for looking at this, I just found the problem pop up in my own Ceres work.

[2020-03-13 21:06] ymd-ponyai commented on #573
Hi @sandwichmaker , I think I found the reason.
In `corrector.cc` lines 81-85, if `rho''` < 0, then the scaling factor used does not contain the denominator `1-\alpha`.

I suggest this part is added to the web-page document with a reference to the nicely written code comments.

[2020-03-18 10:28] luoyin500 opened #574 "Is there a plan of the official release of version 2.0.0?"
Is there a plan of the official release of version 2.0.0?  Hope the day come soon.

[2020-03-18 12:34] #574 closed

[2020-03-22 15:34] antithing opened #575 "libmv bundle adjustment example, using multiple camera intrinsics?"
I am attempting to use the libmv ba example:

https://github.com/ceres-solver/ceres-solver/blob/master/examples/libmv_bundle_adjuster.cc

However, I have three cameras, one of which is a different resolution and all of which have different intrinsic matrices from the others.

The function:
[code]

Seems to assume the same intrinsics / camera for all views.
Is there an example  for multi-camera ba

[2020-03-24 23:22] sandwichmaker commented on #567
Going to close this in light of the recent work.

[2020-03-24 23:22] #567 closed

[2020-03-24 23:23] sandwichmaker commented on #575
Instead of having a single parameter block called camera_intrinsics, have a different camera_intrinsics parameter block for each camera. Also these questions are better discussed on the ceres-solver@googlegroups.com mailinglist.

[2020-03-24 23:23] #575 closed

[2020-03-25 20:37] perak96 opened #576 "Ceres solver in python"
Hello to everyone,

Is there a python library with ceres solver? Everything i found so far consider using C++?

Thanks in advance!

[2020-03-30 12:34] luoyin500 opened #577 "when using SCHUR(DENSE_SCHUR or SPARSE_SCHUR), the solution is not quite the same in every time (bit inconsistent)，but the solution of SPARSE_NORMAL_CHOLESKY is consistent."
when using multi-threading, in SCHUR(DENSE_SCHUR or SPARSE_SCHUR), the solution is not quite the same in every time (bit inconsistent)，but the solution of SPARSE_NORMAL_CHOLESKY is consistent.

[2020-04-02 13:50] sandwichmaker commented on #577
are you using threading?

[2020-04-02 13:51] #347 closed

[2020-04-02 13:51] sandwichmaker commented on #538
CodeGen is being deleted.

[2020-04-02 13:51] #538 closed

[2020-04-02 19:16] sandwichmaker commented on #576
Please take a look at the ceres-solver@googlegroups.com archive. This comes up regularly there.

[2020-04-02 19:16] #576 closed

[2020-04-02 21:34] #554 closed

[2020-04-03 03:20] SteveMacenski opened #578 "Preconditioning general unconstrained minimization problems"
Hi,

I'm working on building an open-source general path smoothing technique for ROS2. On this journey, I've found that I require to work with an unconstrained minimization problem rather than the NLLS because the each waypoint on a robot's path depends on each other for smoothness and curvature in a way that I could not find a reasonable way to model in the residual block framework (e.g. each way

[2020-04-03 15:04] sandwichmaker commented on #578
can you share the output of Summary::FullReport please? or better still run it with -v=2 and share the output. @alexsmac may have some insights.

[2020-04-03 21:29] SteveMacenski commented on #578
See attached outputs, I included the `minimizer_progress_to_stdout` outputs as well so its a little messy so they're individual files. These 2 runs are 2 consecutive iterations of the path smoother, so there's only 2 waypoints difference as the robot is moving, one converges by a real cost change, the other from the `0e0`.

[cost_change_converge.txt](https://github.com/ceres-solver/ceres-solver/fi

[2020-04-03 22:31] alexsmac commented on #578
Set GLOG_v=2 in the terminal prior to running the application, glog checks
for environment variables matching the glog gflag names but prefixed with
'GLOG_'.  You can also use SetVLOGLevel(), but I think the environment
variable route is better.

On Fri, 3 Apr 2020 at 22:29, Steve Macenski <notifications@github.com>
wrote:

[2020-04-03 22:40] SteveMacenski commented on #578
The issue is that ROS2 also uses glogging, when you set that in the environment, I receive thousands of messages a second from callback groups and other middleware communications debugging. I used the SetVLOG with  the attempts:

[code]

and none changed the output. Still the same output with `minimizer_progress_to_stdout` set to true and printing the full summary.

[2020-04-06 16:03] luoyin500 commented on #577
Year, multi-threading. I wander is there any way to reduce the bit inconsistence, thanks.

[2020-04-06 16:06] luoyin500 commented on #577
Year, multi-threading. I am searching the key function causing the bit-inconsistence. And I wander the is there any way to reduce bit-inconsistence.

[2020-04-07 14:53] sandwichmaker commented on #577
The schur eliminator used in SPARSE_SCHUR or DENSE_SCHUR is threaded and threading can introduce non-determinism.

[2020-04-09 07:17] #577 closed

[2020-04-09 07:44] resplendent-star opened #579 "a 3rd party code may cause one of my project couldnt use ceres anymore"
-- Found required Ceres dependency: Eigen version 3.3.90 in /usr/local/include/eigen3
-- Failed to find glog - Could not find glog include directory, set GLOG_INCLUDE_DIR to directory containing glog/logging.h
CMake Error at /usr/local/lib/cmake/Ceres/CeresConfig.cmake:85 (message):
  Failed to find Ceres - Missing required Ceres dependency: glog.  Searched
  using GLOG_INCLUDE_DIR_HINTS:
  /home/

[2020-04-09 08:15] alexsmac commented on #579
As your glog install was in a non-standard location, Ceres was given its location when it was built.  In order to ensure that it can reference the public dependency when exported Ceres needs to record those paths, if you delete glog then yes, it will indeed not work as you have deleted a dependency of Ceres.  You should install glog, ideally to a standard system location and then rebuild Ceres usi

[2020-04-09 08:15] #579 closed

[2020-04-09 09:13] resplendent-star commented on #579
thanks you very much,your are the god

[2020-04-16 22:04] Seanmatthews commented on #514
@copyme Do you have a fork with your current progress?

[2020-04-19 08:28] suho0515 commented on #252
@alexsmac
it worked for me, thanks! :)

[2020-04-20 00:55] ygwangmsra opened #580 "dllimport bug"
I built ceres with shared library on VS2019, it can be successfully built. But when I try to import the library, the compiler trigers the error like:

By the way, ceres can be built and used with static library under VS2019.  Is it a dll export bug?

[2020-04-23 01:44] zengletian1491 opened #581 "unresolved external symbol "int fLI::FLAGS_v" (?FLAGS_v@fLI@@3HA)"
I compiled the newest version of ceres-sover on Windows 10 system(64 bit) with CMake 3.16 and visual studio 2017. After "Configuring done" and "Generating done", I opened Ceres.sln and build solution with "Debug x64" and "Release x64" mode, repectively. Also, I added the include directory, the library directory and the added dependencies of ceres-solver. However, errors still occurred as follows:

[2020-04-23 08:44] alexsmac commented on #581
I think your version of glog was compiled with gflags, but that you did not provide the details to find gflags when Ceres was built so Ceres assumed that glog was built without gflags support.  However, when you try to link you are missing the corresponding gflags symbols referenced by glog.  The solution if that is the case is to set the paths for gflags s/t it is detected when Ceres is built (yo

[2020-04-24 01:54] zengletian1491 commented on #581
I used gflags-2.2.2 and glog-0.4.0, I give the right information to find gflags-2.2.2 when Ceres was built . Just now, I recompiled gflags-2.2.2, glog-0.4.0 and ceres-solver again, it works! Thank you very much!

[2020-04-24 03:16] zengletian1491 commented on #580
I meet the same quesion! Do you solve it ?

[2020-04-24 03:42] zengletian1491 commented on #580
Solution:
In "Release - 64" mode,  I add some commands in the "property - c/c++ -precompiler - precompiler definition"  in the following:
_CONCOLE
NDEBUG
WIN32
_WINDOWS
CERES_BUILDING_SHARED_LIBRARY
_USE_MATH_DEFINES
_VARIADIC_MAX=10
CERES_SUITESPARSE_VERSION="5.4.0"
GLOG_NO_ABBREVIATED_SEVERITIES
GOOGLE_GLOG_DLL_DECL=__declspec(dllimport)
GOOGLE_GLOG_DLL_DECL_FOR_UNITTESTS=__declspec(dllimport)
G

[2020-04-24 07:50] #581 closed

[2020-04-27 13:04] jcarius opened #582 "Wrong destination of cmake configurations files when building with catkin"
Hi,
I'm building a [catkin](http://wiki.ros.org/catkin) package that depends on ceres-solver. If I install ceres on my system in the default way and then `find_package(Ceres)` everything works fine.
However, since I noticed that Ceres already contains a catkin `package.xml` manifest, I wanted to build it automatically in my catkin workspace. Unfortunately, when doing so (`catkin build ceres-solver

[2020-04-28 10:27] RoronoaZA opened #583 "Failed when make test"
when I run make test output like this:
Total Test time (real) = 194.27 sec

The following tests FAILED:
	 45 - levenberg_marquardt_strategy_test (Failed)
Errors while running CTest
Makefile:127: recipe for target 'test' failed
make: *** [test] Error 8

and
./bin/levenberg_marquardt_strategy_test, log like this
[==========] Running 2 tests from 1 test case.
[----------] Global test environment set-

[2020-04-28 11:50] sandwichmaker commented on #583
Please share more details of your build and test setup.

[2020-04-28 11:50] sandwichmaker commented on #580
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/17201 is in flight to address this issue.

[2020-04-30 08:27] weisongwen opened #584 "inquire about how to get the Jacobian matrix"
@sergeyvfx
First, thanks for the great work on Ceres.

I am employing the Ceres solver to do optimization in robotics SLAM problem. How can I get the Jacobian matrix after the optimization converge?

I refer to the issue [here](https://groups.google.com/forum/#!topic/ceres-solver/2tBpYBgT9SM) . However, it is still not clear how the Jacobian matrix can be acquired. :-)

Thanks a lot in advance.

[2020-04-30 08:33] sunayana-fiagon commented on #187
Could some one point me to the method implementing the bounds constrained optimization problem?

[2020-05-07 12:07] sandwichmaker commented on #584
Problem::Evaluate is your friend.

[2020-05-07 12:07] sandwichmaker commented on #584
http://ceres-solver.org/nnls_modeling.html#_CPPv2N5ceres7Problem8EvaluateERKN7Problem15EvaluateOptionsEPdP6vectorIdEP6vectorIdEP9CRSMatrix

[2020-05-07 12:07] #584 closed

[2020-05-07 12:09] sandwichmaker commented on #580
Should be fixed at head. If it is still open please re-open bug.

[2020-05-07 12:09] #580 closed

[2020-05-07 12:10] sandwichmaker commented on #187
we implement a (mildly incorrect) variant of

LEVENBERG-MARQUARDT METHODS FOR CONSTRAINED NONLINEAR EQUATIONS WITH STRONG LOCAL CONVERGENCE PROPERTIES by Kanzow, Yamashita and Fukushima

it is implemented in trust_region_minimizer.cc

[2020-05-07 16:05] jkflying opened #585 "Solver problem num_threads > 1 leads to non-reprodudible results"
If you add to the SolverOptions in libmv_bundle_adjuster.cc `options.num_threads = 4;`, and compile and run libmv on the sample data, it will give slightly different results for the camera intrinsics every time. With the default of `options.num_threads = 1;` it gives consistent results.

I thought this was related to pointer ordering of the cost function blocks, but it seems having the pointers in

[2020-05-07 18:54] jkflying commented on #585
Further investigation shows that restricting `options.max_linear_solver_iterations = 24;` or lower is able to make `libmv_bundle_adjuster` reproducible on `problem_02.bin`.

I'm not sure if this is just not exposing the case where some numerical issue occurs or if it is in the linear_solver_iterations logic somewhere, but it's the first other solver parameter I've tested which seems to influence t

[2020-05-07 19:22] jkflying commented on #585
Confirmed this is something to do with the `ITERATIVE_SCHUR` linear solver. I've now tested:
[code]
and none of them have any repeatability issues I see with the default ITERATIVE_SCHUR in libmv.

As an aside, on `problem_01.bin` `ITERATIVE_SCHUR` requires nearly 300 iterations to converge, whereas with `SPARSE_SCHUR` it converges in under 100. This means that libmv doesn't converge on it's own sa

[2020-05-07 22:03] jkflying commented on #585
I've narrowed it down to the y block elimination loop in the Schur elimination. With that ParallelFor loop set to 1 thread it gives repeatable results, without it gives different results each run.

[2020-05-07 22:05] sandwichmaker commented on #585
Is there a threading bug there?

On Thu, May 7, 2020, 3:04 PM Julian Kent <notifications@github.com> wrote:

[2020-05-08 02:18] weisongwen commented on #584
@sandwichmaker Many thanks. I will try it accordingly :-)

[2020-05-08 12:58] jkflying commented on #585
Not a threading bug as far as I can tell, I also tried running in TSAN and no warnings.

However, it seems sensitive to the ordering. Running the loop single-threaded from 0...(n-1) gives different results to running the loop from (n-1)...0. I haven't gone into the details of the math there, does this make sense though? Is there some possibility of a data dependency from previous iterations?

[2020-05-08 13:27] sandwichmaker commented on #585
I will take a look.

On Fri, May 8, 2020, 5:58 AM Julian Kent <notifications@github.com> wrote:

[2020-05-08 14:49] sandwichmaker commented on #585
Julian can you be more specific about he function name/line number you are
talking about?
Are you talking about the Eliminate function or are you talking about the
BackSubstitute function?

On Fri, May 8, 2020 at 6:26 AM Sameer Agarwal <sandwichmaker@gmail.com>
wrote:

[2020-05-08 14:54] jkflying commented on #585
It is the second ParallelFor in the Eliminate function. The one with the comment block above, starting with `// Eliminate y blocks one chunk at a time.  For each chunk, compute...`

[2020-05-08 15:03] sandwichmaker commented on #585
Okay so this is the main work that the schur eliminator does.
Here I expect things to be different depending on threading since floating
point arithmetic is not associative.
For example, given an array of numbers, the final answer you get matters on
the order in which the numbers are summed (
https://en.wikipedia.org/wiki/Kahan_summation_algorithm).

Thats roughly whats going on here too. When you

[2020-05-08 16:41] jkflying commented on #585
Ok, if we don't expect these to be independent and then merged in order (sort of map-reduce style) then that's fine. I generally prefer to use an exact solver anyways since my Jacobians fit in memory, I was just concerned there might be a bug here.

You bring up Kahan summation, I've used it elsewhere in several places with great success. I guess it would be possible to do that here as well, but i

[2020-05-08 16:43] #585 closed

[2020-05-15 07:40] XYWang-coder opened #587 "OpenMP with Ceres"
Hi,

I have a problem when using openmp with ceres. If I use OpenMP, there will be a breakpoint in addrisudalblock. So I want to know how to use OpenMP correctly when constructing a problem and the corresponding residulblock. May I ask if there is any suggestion ？

-------------------------------------------------------------------------------------------------------------------------------------

[2020-05-15 18:50] sandwichmaker commented on #587
ceres::Problem is not thread safe. You cannot use threading when constructing the problem.  Also problem construction is quite fast, so I am surprised that you are having to multithread it. If your problem is so large that you are having to multithread the construction, I suspect you are going to spend a lot more time solving it.

[2020-05-15 18:50] #587 closed

[2020-05-19 14:36] sandwichmaker commented on #412
I have been exploring solutions to this, and fixing it for real requires a very large change to ceres internals and it is not clear if the resulting code churn and performance hit -- memory increase in indexing is worth it.

[2020-05-19 14:38] sandwichmaker commented on #348
@keir is this something we should block on for 2.0?

[2020-05-20 07:31] liudongminghaha opened #589 "in the Curve Fitting,how to fit the Fourier series curve."
if the Fourier curve is y = a0 + a1*cos(w*x) + b1*sin(w*x) +  a2*cos(2*w*x) + b2*sin(2*w*x)，a0, a1,a2,b1,b2,w is need to be optimized. in the Curve Fitting tutorial , the  functor  which computes the residual value is that
struct CURVE_FITTING_COST
{
    CURVE_FITTING_COST ( double x, double y ) : _x ( x ), _y ( y ) {}
    template <typename T>
    bool operator() (
        const T* const abc,

[2020-05-21 05:17] liudongminghaha commented on #589
i change the ceres::cos( T(_x) * abc[5] * 2) to ceres::cos( T(_x) * abc[5] * T(2)),it works welll.

[2020-05-21 14:04] #589 closed

[2020-05-22 00:23] sandwichmaker commented on #451
Thank you.

[2020-05-22 00:23] #451 closed

[2020-05-22 00:34] sandwichmaker commented on #583
Closing because unreproducible, please reopen if you have more details to share.

[2020-05-22 00:34] #583 closed

[2020-05-22 00:35] sandwichmaker commented on #551
@Janos95 gentle ping?

[2020-05-22 00:36] sandwichmaker commented on #549
Closing because of no response, if there are more details on this, please feel free to reopen.

[2020-05-22 00:36] #549 closed

[2020-05-22 00:37] sandwichmaker commented on #547
Obsolete.

[2020-05-22 00:37] #547 closed

[2020-05-22 00:38] sandwichmaker commented on #536
Closing as this is likely not something we are going to do in ceres.

[2020-05-22 00:38] #536 closed

[2020-05-22 00:39] #527 closed

[2020-05-22 00:40] sandwichmaker commented on #517
Closing because of lack of response.

[2020-05-22 00:40] #517 closed

[2020-05-22 00:41] sandwichmaker commented on #412
I spent a lot of time working on this, turns out that this is not a small change and correctly making this change requires a very large internal change to ceres. Which will also affect the amount of memory used and the way SuiteSparse is called. As a result we have decided not to act on this.

[2020-05-22 00:41] #412 closed

[2020-05-22 00:44] sandwichmaker commented on #503
@ZhaoqunZhong are you sure that you are not running this in debug mode? also what happens if you use a single thread?

[2020-05-22 15:06] sandwichmaker commented on #305
I am going to close this, as this is rather old at this point, and if this continues to be an issue please reopen.

[2020-05-22 15:06] #305 closed

[2020-05-22 21:25] rhoffman-gpsw opened #590 "Unable to successfully build Ceres-Solver on Windows 10"
I have been struggling to build the Ceres-Solver for some time.  In need it to work as a x64 library.  Has anyone successfully built and released a compiled version Using Microsoft Visual Studio version 2017 and/or 2019?

Any help is appreciated!

Thanks,

Robert

[2020-05-22 21:47] sandwichmaker commented on #590
@rhoffman-gpsw what is the problem that you are facing? and what version of ceres solver are you using ?

[2020-05-22 22:02] rhoffman-gpsw commented on #590
I get glog related missing symbols when I try to link the final library.  Is is for C++ build and it is version 1.14.0 from GitHub.

[2020-05-22 22:25] rhoffman-gpsw commented on #590
I'm currently trying to get it to build with Visual Studio version 2017.  It has been awhile (about 6 weeks) since I last tried to get it to build properly.  I spent about a week trying to get it to build before I had to move onto other things.  I am renewing my effort today.

[2020-05-22 22:28] sandwichmaker commented on #562
@keir I looked at this and turns out that one of the test conditions in the test for EvaluationCallback is overly strict.

it has to do with this fragment of code

[code]

I checked the execution in docker and on my laptop and due to subtle floating point differences the test in docker takes a slightly different path than the test on my desktop and then the line search algorithm manages to search

[2020-05-22 22:38] sandwichmaker commented on #311
Given that there is likely a ton of code which depends on this implementation at this point, I suspect that changing this is not a great idea. Especially in light of the discussion on this thread where there are reasonable arguments for both choices.  So I am going to go ahead and close this.  Please feel free to re-open if you feel strongly about this, I am happy to converse more.

[2020-05-22 22:38] #311 closed

[2020-05-24 08:23] XYWang-coder opened #594 "Residual -nan while using ceres::pow"
Hello,

When I use ceres::pow(base, 1.0/2.2) I got -nan of the residual . If I use ceres::pow(base, 1.0/2.0) the residual is a normal number. May I ask the reason for generating -nan？Thank you very much for your reply.

Here is part of my cost function.
--------------------------------------------------------------------------------------------------------------------------------------
bool operat

[2020-05-24 15:51] alexsmac commented on #521
CL raised [here](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/17380)

[2020-05-24 17:12] alexsmac commented on #507
In conjunction with the updates that were merged to master previously, [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/17381) should remove all paths from CeresConfig *provided that a new enough version of glog built with CMake is available* - this is not the case on at least 18.04 and so we will not be removing support for the FindGlog.cmake module that ships with Ceres.

[2020-05-24 18:27] alexsmac commented on #551
This should be fixed by [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/17383), it works with GCC 8.4 with CMAKE_CXX_STANDARD=20 (results in CMake passing `-std=gnu++2a`).  However, master also works with this configuration, so evidently the checks have been updated in GCC's master since 8.4.  @Janos95 please can you check that the CL works for you.

[2020-05-25 13:07] Janos95 commented on #551
Hey great so see this fixed :) Yes this patch works for me, although I am not on the exact same compiler as when submitting the issue ( I am using the latest gcc, e.g. gcc 11).

[2020-05-25 17:23] alexsmac commented on #507
Closing as the CL has been merged into master

[2020-05-25 17:23] #507 closed

[2020-05-25 17:23] alexsmac commented on #521
Closing as the CL has been merged in master

[2020-05-25 17:23] #521 closed

[2020-05-25 17:24] alexsmac commented on #551
Closing as the CL has been merged into master

[2020-05-25 17:24] #551 closed

[2020-05-25 17:27] sandwichmaker commented on #590
@alexsmac you are the glog expert. Do you know what maybe going on here? also @rhoffman-gpsw it would help if you could share the error log with us.

[2020-05-25 17:32] sandwichmaker commented on #594
I recommend printing out the value of base before you call pow on it to see what is going on.

[2020-05-25 17:35] sandwichmaker commented on #535
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/17381 should address this to the extend it can be done right now.

[2020-05-25 17:35] #535 closed

[2020-05-26 03:39] mohankumarSriram commented on #590
@sandwichmaker
I'm able to build Ceres-Solver in debug mode on Windows 10 using Visual Studio, 2019. I followed the instructions [here](http://ceres-solver.org/installation.html#windows). I'm building from source with the latest source code checked out via git. But I'm facing the issues listed below:

1. The simple_bundle_adjuster binary runs extremely slow.
![slow_bundle_adjustment](https://user-

[2020-05-26 11:29] sandwichmaker commented on #590
@mohankumarSriram the slow speed is because you are building in debug mode.  I do not know why the windows build is not working, @alexsmac may know what is going on with glog/gflags as well as cmake.

[2020-05-26 11:29] sandwichmaker commented on #590
@rhoffman-gpsw are you experiencing the same issues as @mohankumarSriram ?

[2020-05-26 11:37] #270 closed

[2020-05-26 23:02] rhoffman-gpsw commented on #590
I was able to resolve my issues.  I am new to using Cmake, and I think that part of setting things up with Cmake wasn't perfect.  I was able to make up for it with my knowledge of using Microsoft Visual Studio 2017.  Also, I was building with GLOG_NO_ABBREVIATED_SEVERITIES, which didn't work for some reason.  I switched to make sure that NOGDI was defined for building libraries and for my target p

[2020-05-26 23:04] rhoffman-gpsw commented on #590
I will leave this issue open for @mohankumarSriram.
If you need me to close it later, let me know.
Thanks for checking up on me!  Much appreciated!
Also, sorry for taking so long to reply.  I finally got back to this issue today and was able to fix my problems.

[2020-05-26 23:06] rhoffman-gpsw commented on #590
My issues were not exactly the same either.  I was using Visual Studio 2017.  @mohankumarSriram  is using VS 2019, and by default uses a more up to date compiler that "might" be causing some of his issues.

[2020-05-27 22:40] sandwichmaker commented on #590
Thanks @rhoffman-gpsw. @mohankumarSriram  looks like you are facing

https://stackoverflow.com/questions/7668200/error-lnk2038-mismatch-detected-for-iterator-debug-level-value-0-doesnt

[2020-05-27 22:41] sandwichmaker commented on #562
This should be fixed at head.

[2020-05-27 22:41] #562 closed

[2020-05-27 22:41] sandwichmaker commented on #392
This should be fixed at head.

[2020-05-27 22:41] #392 closed

[2020-05-28 04:08] mohankumarSriram commented on #590
Thank you, @sandwichmaker! Your link helped, I got it working. The problem was that both "gflags" and "glog" get built in debug mode by default. I had to build them in release mode and then link their release directories with ceres.

You were right, the release build is considerably faster.
![release_mode_works](https://user-images.githubusercontent.com/22681121/83095991-2a2e5300-a0c2-11ea-9f82-eb

[2020-05-28 05:22] #482 closed

[2020-05-28 05:26] #490 closed

[2020-05-28 14:12] sandwichmaker commented on #590
@mohankumarSriram I am glad to hear things worked out. We would be delighted to have a PR. Please follow the instructions at: http://ceres-solver.org/contributing.html

I am going to close this issue. Looking forward to the PR.

[2020-05-28 14:12] #590 closed

[2020-05-28 14:23] sandwichmaker commented on #594
Closing this issue as there is nothing actionable for us here. Please re-open if you have further questions.

[2020-05-28 16:12] sandwichmaker commented on #503
Closing because of lack of response. Please re-open when you have more information.

[2020-05-28 16:12] #503 closed

[2020-06-09 02:26] YangSiri opened #598 "Memory Increasing Unlimmited"
Hi, great contributors.

I'm facing the problem of **memory-run-out-of**. That's, I build and solve the non-linear optimization problem with 10 parameter blocks and around 3,000 residual blocks, several times repeated while the system goes on. But I saw the memory using is increasing and used up in the end(the computer became stucked and I had to turn the system off). So I wonder about how and whe

[2020-06-09 04:13] emersonknapp opened #599 "libceres-dev on Ubuntu 20.04 Focal Fossa arm64 build is failing"
I'm trying to install libceres-dev on Ubuntu Focal, but it's not present in the apt archives because the build is failing, note here https://launchpad.net/ubuntu/+source/ceres-solver/1.14.0-4ubuntu1/+build/19091179 - it appears to be a single test failure

[code]

[2020-06-09 14:54] sandwichmaker commented on #599
This is fixed at head and in the upcoming ceres 2.0. This is a benign test failure from an overly strict test and can be ignored.

[2020-06-09 14:54] #599 closed

[2020-06-09 14:55] sandwichmaker commented on #598
can you create a small reproduction which shows the issue?

[2020-06-09 14:55] #594 closed

[2020-06-09 15:05] YangSiri commented on #598
Sorry, @sandwichmaker, I dont get you.

I also used CERES in other problems. It worked just fine and the memory cosumption is stable. I just want to know what may cause CERES using large amount of memory of the system.

[2020-06-09 16:45] emersonknapp commented on #599
Do the maintainers here own the launchpad Ubuntu packaging job? Maybe it just needs to be re-run? The package worked in Bionic and for now we just can't use it in Focal (on arm64) because there's been no successful build.

[2020-06-09 17:26] emersonknapp commented on #599
Can we reopen this issue? We can't release 2.0 into Focal - which as LTS will exist for 5 years, we need to potentially backport the test fix patch to 1.14.x in order to support this platform.

[2020-06-09 17:34] SteveMacenski commented on #599
@sandwichmaker when will 2.0 be available? Until that happens, there's no debian to install via apt on Focal which is a pretty bad state to be in for upstream projects.

[2020-06-09 17:38] kyrofa commented on #599
Even if 2.0 becomes available it can't be SRU'd back to Ubuntu. @sandwichmaker can you point us at the patch required to make those tests pass?

[2020-06-09 18:01] sandwichmaker commented on #598
is the problem size increasing as part of the loop? what linear solver are you using? can you print some problem statistics out?

[2020-06-10 00:17] YangSiri commented on #598
No, @sandwichmaker

The problem size is similar in every iteration because it is reset every time.

The solve fullreport is as:

                                     Original                  Reduced
Parameter blocks                           10                        8
Parameters                                 35                       28
Effective parameters                       30

[2020-06-10 00:56] YangSiri commented on #598
![图片](https://user-images.githubusercontent.com/33154113/84215197-22c26d00-aaf8-11ea-8afd-a75786536049.png)
(The red is memory cosumption.)

[2020-06-11 00:35] kyrofa commented on #599
Thank you @sandwichmaker. SRU is ongoing [here](https://bugs.launchpad.net/ubuntu/+source/ceres-solver/+bug/1882626).

[2020-06-11 01:16] SteveMacenski commented on #599
Thanks Kyle for jumping in on this. Admittedly, the launch pad / ubuntu forums are a complete mystery to me. If you want to help fix some openVDB issues in 20.04 too, I won't complain :wink:

[2020-06-11 02:35] ZhengPan2014 commented on #537
I got the problem you mention above, But it seems I must convert T to double or some other type,
and I find the same situation in [cartographer](https://github.com/cartographer-project/cartographer/blob/2f60378140a1b8229a68311f1c5383f30a379ecc/cartographer/mapping/internal/2d/scan_matching/occupied_space_cost_function_2d.cc#L57l)
Is world[0] to be converted to double here?

[2020-06-12 02:47] ZhengPan2014 opened #600 "zero gradient;"
I'm doing a pose optimization, but it seems to make no sense and Gradient is 0 As described in the title. the brief and full report is as follows. any suggestion about this problem?

Brief-report:

Ceres Solver Report: Iterations: 1, Initial cost: 1.333525e+02, Final cost: 1.333525e+02, Termination: CONVERGENCE

Full-report:

[2020-06-15 11:59] #600 closed

[2020-06-17 08:07] onionysy opened #601 "test ceres problem"
I want to test ceres by `bin/simple_bundle_adjuster ../ceres-solver-1.14.0/data/problem-16-22106-pre.txt`  command.However, the error arise `ERROR: unable to open file ../ceres-solver-1.14.0/data/problem-16-22106-pre.txt
*** Error in `bin/simple_bundle_adjuster': free(): invalid pointer: 0x0000000000845ab1 ***
` Can you help me about my problem. Below is the full command line when an error occurs.

[2020-06-18 22:29] ethanhs opened #602 "Expand the C API"
Hi! I'd like to use Ceres from a Rust project, so I was hoping to use the C API, but I noticed that it is rather limited at this time. Would it be possible to expand it so one can set options for the problem?

[2020-06-19 01:19] sandwichmaker commented on #602
Yes of course. Please send us a pull request based on the instructions on
ceres-solver.org.

On Thu, Jun 18, 2020, 3:30 PM Ethan Smith <notifications@github.com> wrote:

[2020-06-22 14:52] kyrofa commented on #599
Alright, SRU has completed. ceres-solver should be available in all architectures on Ubuntu 20.04 now. Thanks for your help @sandwichmaker!

[2020-06-22 14:58] SteveMacenski commented on #599
@kyrofa should we remove cartographer and slam toolbox from the blacklists?

[2020-06-22 15:02] kyrofa commented on #599
@SteveMacenski yeah I say give it a try.

[2020-06-27 05:10] arindamsaha81 opened #603 "Got segmentation fault while running sfm with ceres"
Hello,

I am modifying the ORB_SLAM2 code and optimizing a small sfm problem with ceres where I am getting segmentation fault. I am getting this error randomly, means some time the optimization executes without any error but most of the time it crashes. Below is the gdb backtrack log. The problem is with ceres and eigen. Is this because of multiple thread switch?

Thread 1 "VIO_RGBD" received sign

[2020-06-27 05:23] #603 closed

[2020-06-28 13:44] sandwichmaker commented on #414
https://gitlab.com/libeigen/eigen/-/issues/1912

[2020-06-29 06:21] xielinjiang opened #604 "/usr/local/include/ceres/internal/integer_sequence_algorithm.h:64:16: error: ‘integer_sequence’ is not a member of ‘std"
When I tried to run a ceres demo, I encountered a problem while compiling the program.
[code]

[2020-06-29 06:32] alexsmac commented on #604
You are not compiling your application with a C++ standard >= 14 which is what the master branch of Ceres requires.  I assume you are not using CMake to build your application either, as if you were the Ceres target would capture this dependency.

[2020-06-29 06:32] #604 closed

[2020-06-29 07:56] xielinjiang commented on #604
According to your suggestion, I successfully solved the above problem, but now I have encountered a new problem:
[code]
The content of my CMakeLists.txt file is as follows
[code]
I verified my eigen version with reference to the question https://github.com/ceres-solver/ceres-solver/issues/252

[2020-06-29 08:03] xielinjiang opened #605 "/usr/local/include/ceres/jet.h:981:8: error: ‘ScalarBinaryOpTraits’ is not a class template"
You are not compiling your application with a C++ standard >= 14 which is what the master branch of Ceres requires.  I assume you are not using CMake to build your application either, as if you were the Ceres target would capture this dependency.

_Originally posted by @alexsmac in https://github.com/ceres-solver/ceres-solver/issues/604#issuecomment-650954122_

[2020-06-29 08:04] xielinjiang commented on #605
According to your suggestion, I successfully solved the above problem, but now I have encountered a new problem:
[code]
The content of my CMakeLists.txt file is as follows
[code]
I verified my eigen version with reference to the question https://github.com/ceres-solver/ceres-solver/issues/252
[code]
my Eigen version is 3.3.7

[2020-06-29 08:27] xielinjiang commented on #605
The problem has been solved
I downloaded the release version(1.14.0) of the code, make and install.
Thank you very much !

[2020-06-29 08:27] #605 closed

[2020-06-29 12:35] shirokobrod opened #606 "Using Eigen decompositions with ceres autodiff Jet data type"
I am using Eigen 3.3.7 release with ceres solver 1.14.0 with autodiff Jet data type
and I have some problems. I need to solve linear least square subproblem
within variable projection algorithm, namely I need to solve LLS equation
A(p)*x = b
Where matrix A(p) depends on nonlinear parameters p:
x(p) = pseudo-inverse(A(p))*b;
x(p) will be optimized in nonlinear least squares fitting, so I need Jcobi

[2020-06-30 21:01] tipf opened #608 "Documentation of the DumpLinearLeastSquaresProblem function"
Hi everyone,
I tried to use the [DumpLinearLeastSquaresProblem](https://github.com/ceres-solver/ceres-solver/blob/d656d34809a7958f5b0b1ae246a3f6482e67823e/internal/ceres/linear_least_squares_problems.h#L74) function by enabling it in the solver option. I used the textfile version.
The function itself works perfectly fine, but the [documentation](http://ceres-solver.org/nnls_solving.html#_CPPv2N5ce

[2020-07-01 16:42] sandwichmaker commented on #608
@tipf you are right that the documentation for this is not great. In part because I have been the only user of this API for internal debugging.  Would you care to send a patch to update it?

http://ceres-solver.org/contributing.html

[2020-07-02 09:14] tipf commented on #608
I will look into it @sandwichmaker.

[2020-07-02 12:39] jakkypan opened #609 "How to build for android?"
How to build for android?

i use cmake to build, but not succeed.

[2020-07-03 09:00] tipf commented on #608
Well, I looked through the code:

1. The meaning of the dumped **x** depends on the chosen trust region strategy:
a. In the Levenberg-Marquardt case, **x**  is the damped trust region step.
b. In the Dogleg case, **x**  is the pure Gauss-Newton step (without limiting it to the trust region radius).
2. In both cases, it is the solution of the scaled problem. The actual step that is applied by the s

[2020-07-12 09:10] gogojjh opened #610 "Implement customized LossFunction"
Thanks for your great work.
I find that ceres support several loss functions in this link: http://ceres-solver.org/nnls_modeling.html?highlight=huber#_CPPv2N5ceres9HuberLossE
But could you please give some hints that how can I implement the customized loss function? Like implementing the **Geman-McClure** or **TLS**?

[2020-07-14 09:44] nosleduc opened #611 "Compilation failed with visual 2019"
I'm trying to compile ceres (1.14 released version) with visual studio 2019 and it failed. If I'm using  the platform toolset v140, it succeeds. All my dependencies use v142

I'm using Visual Studio 2019 16.6.3 and latest version of Windows 10.
I'm building ceres without openmp. I'm building it with suitesparse, CXX11, CX11_Threads
The first error I get is
internal\ceres\thread_pool.h(92,27): erro

[2020-07-18 17:05] NikolausDemmel opened #612 "FindTBB.cmake doesn't find newer TBB versions"
For the intel provided linux binary installers, `FindTBB.cmake` has an outdated path, for gcc4.4 only:

https://github.com/ceres-solver/ceres-solver/blob/e39d9ed1d60dfeb58dd2a0df4622c683f87b28e3/cmake/FindTBB.cmake#L145-L157

Up to TBB 2020.2 it seems the possible versions of intel provided binary packages are: 4.1, 4.4, 4.7, 4.8

[code]

I can provide a patch adding all 4 possible paths. Of cours

[2020-07-21 08:17] ojura opened #613 "Custom allocator support"
Hi, as far as I can see, Ceres is using the global `operator new` throughout the codebase, and the Eigen aligned operator for its internal `FixedArray`. How big of an undertaking would it be to be able to pass a custom (stateful) allocator to `Problem`
(like the PMR from C++17) all and use it to perform allocations?

In my case, I am seeing large contention between different subsystems for the sys

[2020-07-21 14:09] sandwichmaker commented on #613
This is highly non-trivial and its not clear to me if its worth the effort. Arena allocation is a good idea when one is doing a lot of small allocations. Once the problem is built ceres tries to minimize allocations. The problem itself contains some memory which it allocates but the user is responsible for doing much of the allocation there too.

What is the size of the problem that you are trying

[2020-07-21 14:13] sandwichmaker commented on #612
@NikolausDemmel TBB is not used in ceres anymore.

[2020-07-21 14:13] sandwichmaker commented on #610
You can define your own subclass of LossFunction and use it in your problem.

[2020-07-21 14:13] #610 closed

[2020-07-21 14:13] sandwichmaker commented on #609
This is described in the documentation.

[2020-07-21 14:14] sandwichmaker commented on #609
Please provide more details.

[2020-07-21 14:14] sandwichmaker commented on #611
Perhaps there is a missing header in one of the files?

[2020-07-21 14:54] NikolausDemmel commented on #612
It is here: https://github.com/ceres-solver/ceres-solver/blob/e39d9ed1d60dfeb58dd2a0df4622c683f87b28e3/cmake/FindSuiteSparse.cmake#L309

If TBB is not found at all, it's not a big deal. But the issue arises when I have system TBB (e.g. on Ubuntu via apt), and a newer binary install from Intel. Then even though I point it to the newer version, ceres finds the old libraries only, and exports togethe

[2020-07-21 14:56] NikolausDemmel commented on #612
(I don't know in which situations suitesparse actually depends on TBB. The current logic seems quite crude. Maybe it wouldn't be needed at all, at least for Ubuntu's suitesparse package.)

[2020-07-22 11:15] ojura commented on #613
Hi @sandwichmaker, thanks for a very quick response. Here is some background info (although I do not think it is important, you will see why later). When we are optimizing the pose in visual odometry, the number of 'reprojected point-to-fixed plane' correspondence cost functions is roughly around 3k. Since the structure of the problem is always the same, we construct it once and preallocate all th

[2020-07-23 05:19] hanzheteng commented on #541
I have encountered the same issue as the above one today. According to [this repo](https://github.com/gaoxiang12/slambook2/tree/master/3rdparty), the solution is to go back to an old version of ceres-solver. In other words, I just do `git reset --hard e51e9b46f6` and then (after installing dependencies) just cmake and make install.

Leaving a comment here just in case someone else finds this issue

[2020-07-23 16:12] alexsmac commented on #612
Thanks @NikolausDemmel, I will have a look at this this weekend

[2020-07-23 16:46] NikolausDemmel commented on #612
Ok thanks. You can consider this patch if you want: https://github.com/NikolausDemmel/ceres-solver/commit/1497dfb86d4adabb094af16c7d6e39e0ca770aaa

[2020-07-25 11:02] jypjypjypjyp opened #614 "PoseOnlyReprojectionError AutoDiffCostFunction vs SizedCostFunction"
I compute the projection error of BA using AutoDiffCostFunction and SizedCostFunction.
Comparing them, I find the result of AutoDiffCostFunction is worse than  SizedCostFunction.

There is one example of the minimizer progress output:
AutoDiffCostFunction:
iter      cost      cost_change  |gradient|   |step|    tr_ratio  tr_radius  ls_iter  iter_time  total_time
   0  1.681844e+03    0.00e+00    1

[2020-07-26 17:47] alexsmac commented on #612
Hi @NikolausDemmel could you please try [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/17560), I have replaced our (originally pulled from another external source) FindTBB.cmake with VTK's latest copy which includes a number of fixes, including I think for the issue that you raised.

[2020-07-31 21:40] sandwichmaker commented on #614
Are you sure that the two functions are computing the same derivatives?

[2020-07-31 21:44] sandwichmaker commented on #613
@ojura Thank you for the details and my apologies for taking so long to reply. What you describe is a real problem but it is not clear to me if passing a custom allocator to ceres (which TBH is near impossible) will solve your problem. We do not do very many if any high frequency memory allocations inside ceres. You could use a custom allocator for constructing the cost function objects, which is

[2020-07-31 23:51] sandwichmaker commented on #609
Closing because of lack of details. Please feel free to reopen with more details.

[2020-07-31 23:52] sandwichmaker commented on #611
Closing because lack of follow up. Please feel free to repopen if there is something actionable.

[2020-07-31 23:52] #611 closed

[2020-07-31 23:52] #609 closed

[2020-07-31 23:54] sandwichmaker commented on #601
Is the file actually present ? are you able to open the file yourself? This looks like a system issue on your side rather than a ceres error.

[2020-07-31 23:54] #601 closed

[2020-07-31 23:56] sandwichmaker commented on #608
Sorry about the delayed reply.

The reason we do the dumping inside the trust region strategies rather than inside the trust region minimizer is because to be able to debug problems we need access to the regularizing matrix D, and thats not accessible to the trust region minimizer.  So I do not see how you will be able to solve that.

[2020-07-31 23:59] sandwichmaker commented on #578
https://groups.google.com/g/google-glog/c/f8D7qpXLWXw
The vmodule behaviour does not work on non-gcc compilers it seems.

[2020-08-01 00:01] sandwichmaker commented on #598
its possible that your problem is getting denser, so the memory used by the sparse cholesky factorization is increasing. Thats the only possible reason I can think of. I would be quite surprised if there is a memory leak inside ceres.

[2020-08-01 04:51] jypjypjypjyp commented on #614
Thank you for your replying.
I change my LocalParameterization from my SE3Parameterization to
ceres::ProductParameterization(
        new ceres::EigenQuaternionParameterization(),
        new ceres::IdentityParameterization(3));
then the problem has been solved. But my SE3Parameterization worked well for my PoseOnlyReprojectionError using SizedCostFunction. I don't known why.
By the way, my code w

[2020-08-01 04:51] #614 closed

[2020-08-02 06:35] sandwichmaker commented on #582
ping?

[2020-08-03 17:53] sandwichmaker commented on #411
This is likely not going to happen.

[2020-08-03 17:53] #411 closed

[2020-08-04 21:08] #483 closed

[2020-08-05 04:45] YangSiri commented on #598
okay, @sandwichmaker

Thanks very much for your advice, bro. However, the problem, like i said, is not growing bigger or denser. I will check my programming for more times to see if there is any clue to this memory-using problem. And if you got new thoughts, please let me know~

[2020-08-05 18:49] alexsmac commented on #612
Closing as the CL has been merged into master ahead of the 2.0 release

[2020-08-05 18:54] NikolausDemmel commented on #612
Thanks for the fix. Sorry I couldn't try it yet. I'll check it out this weekend.

[2020-08-10 20:54] dellaert opened #615 "Local Parameterization treatment of Jacobians is inefficient"
TL;dr: one could save a bundle of compute if one could just fill the `m*d` Jacobians, not the  `m*D` Jacobians.

Long: I am doing some optimization over SO(n), with `n>= 2`. The ambient dimension `D` is `n*n`, e.g. 64 for `n=8`, but the local dimension `d` is much smaller: `n*(n-1)/2`, i.e. for `n=8` it is only 28 << 64.

However, the CostFunction::Evaluate is asked to compute `m*64` Jacobians, wh

[2020-08-10 21:10] sandwichmaker commented on #615
@dellaert you are right and this is a wart in the ceres API, that I haven't quite figured out how to fix in a proper fashion. Manifold support came to ceres after the CostFunction API was designed . And because we allow the user to change the manifold without paying attention to the CostFunction (things like subsetparameterization), making the costfunction aware is problematic from an API perspect

[2020-08-10 21:23] sandwichmaker commented on #615
Try this, in

residual_block.cc
replace

[code]

with

[code]

[2020-08-10 21:25] sandwichmaker commented on #615
and actually the slowdown is for two reasons.

1. We cache the local parameterization jacobians so they do not have to be computed over and over again.
2. And generally speaking we expect them to be small, so the matrix multiplication routines are optimized for that and should work.

So, another thing to try here will be to replace the call to  `MatrixMatrixMultiply` with  `MatrixMatrixMultiplyEig

[2020-08-10 21:26] sandwichmaker commented on #615
I would recommend the second suggestion before the first, since that would require you to implement an efficent MultibyByJacobian routine, whereas you should be able to make a oneline change to ceres and see how it does for you.

[2020-08-10 22:14] dellaert commented on #615
I actually like suggestion (1) quite a bit, and in fact could that not be done *always* ?? You'd just have to make sure the default  implementation does the right thing (i.e., the code that was replaced).

Now, it is also an opportunity to solve the entire thing, because if we get to overwrite MultiplyByJacobian, then could I not opt to not multiply *at all* ? I'll just compute the `m*d` jacobian

[2020-08-10 22:17] dellaert commented on #615
It's a bit hacky. I still think an API change that has an optional method to compute m*d jacobians would be the best way to go. It would indeed need some though on how to integrate with subset etc (which I don't know much about).

[2020-08-10 22:22] sandwichmaker commented on #615
could you try the two options and let me know which works better?
The reason to not do it always is that if you have a lot of residual blocks depending on the same parameter block, then it maybe the case (at least this is the assumption right now), that computing and caching the local parameterization Jacobian is the efficient thing to do.

[2020-08-10 22:22] sandwichmaker commented on #615
I suspect that suggestion 2 will give you a substantial performance boost.

[2020-08-10 23:18] dellaert commented on #615
Not so much. 77% -> 71% of Evaluate. Looking into other thing...

[2020-08-11 00:32] dellaert commented on #615
Suggestion 1 is 20% *more* expensive. The special structure - and there is one - is mostly present in the m*D matrix, and is unavailable in MultiplyByJacobian. 't was a nice thought.

[2020-08-11 00:56] sandwichmaker commented on #615
@dellaert so you have some truly large residual blocks, both in height and in width and they are breaking some of the assumptions we have made. Size 64 parameter blocks are quite rare for us.  BTW are you using autodiff per chance?