[2017-03-19 12:25] ivan-ushakov commented on #257
Sorry, I forgot to tell that I'm building for iOS. Here is my cmake command:

    cmake \
    -DCMAKE_TOOLCHAIN_FILE=<some path>/ceres-solver/cmake/iOS.cmake \
    -DEIGEN_INCLUDE_DIR=<some path>/eigen \
    -DIOS_PLATFORM=OS \
    <some path>/ceres-solver

I also modified CMakeLists.txt and turned on Sparse:

    message(STATUS "Building for iOS: Forcing use of miniglog instead of glog.")
    upd

[2017-03-19 13:01] alexsmac commented on #257
OK, so your problem are these lines from ceres-solver/cmake/iOS.cmake:

[code]

which force find_package/library/path() to search only those paths which are either within the iOS developer root directory, or in the list explicitly specified in CMAKE_PREFIX_PATH by the user irrespective of how those functions are invoked.

This is intentional, as libraries built for the host OS should not be assume

[2017-03-19 17:29] ivan-ushakov commented on #257
Thank you for this details, now it is clear why cmake ignored my parameters. About `EIGEN_SPARSE` option - I tried with it and without it but time result is the same (I checked on `simple_bundle_adjuster.cc` and `problem-16-22106-pre.txt` as input). Also I tried with BLAS from Accelerate.framework and without with same result.
I guess that `SUITESPARSE` option will not change this or I'm wrong?

[2017-03-19 17:53] alexsmac commented on #257
YMMV, it depends on the structure of the problem you are trying to solve, if the problem is essentially dense then SuiteSparse, or indeed any sparse linear algebra library is unlikely to make anything faster, and may (as noted in the comments in simple_bundle_adjuster) make things slower.

Note that if you are using simple_bundle_adjuster.cc that you need to set *both* [linear_solver_type](http://

[2017-03-19 18:25] ivan-ushakov commented on #257
May I use `ceres::SPARSE_NORMAL_CHOLESKY` with `EIGEN_SPARSE`? Sorry for this offtopic.

[2017-03-19 18:28] alexsmac commented on #257
Yes, in fact without specifying ceres::SPARSE_NORMAL_CHOLESKY no sparse library will be used.  If you specify SPARSE_NORMAL_CHOLESKY Ceres will select as the default the 'best' sparse linear algebra library from the set it was compiled with.

[2017-03-19 18:29] ivan-ushakov commented on #257
Ok, than you for your answers. Feel free to close this issue because not I know why it was happen.

[2017-03-19 18:31] #257 closed

[2017-03-20 18:06] ivan-ushakov opened #258 "OpenMP alternatives"
As I understand current version uses OpenMP only for `parallel for` operation. Not all platforms support OpenMP. For example Android and iOS doesn't. On the other hand it is possible build Intel TBB library for that platforms.
So my idea is to have abstraction for parallel processing or maybe we can switch to Intel TBB (Apache license). What do you think?

[2017-03-20 19:14] pmoulon commented on #258
Does anyone can be interested also in considering using the c++11 thread features?

[2017-03-20 20:16] ivan-ushakov commented on #258
I guess we need high level solution not just plain threads because in this case we have to create `parallel for` from zero. Also I think that TBB uses C++11 features.

[2017-03-21 00:42] sandwichmaker commented on #258
This comes up regularly. Up till now we have held the line on not requiring the use of c++11 in the code base. @keir can say more.

[2017-03-21 03:33] #256 closed

[2017-03-22 13:17] chrisluu opened #260 "unresolved external symbols"
The error message is as follows:
unresolved external symbol "__declspec(dllimport) public: class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> > * __cdecl google::base::CheckOpMessageBuilder::NewString(void)" (__imp_?NewString@CheckOpMessageBuilder@base@google@@QEAAPEAV?$basic_string@DU?$char_traits@D@std@@V?$allocator@D@2@@std@@XZ)

I add ceres c++ include dir an

[2017-03-22 13:32] alexsmac commented on #260
You are missing the public link dependencies for Ceres, specifically glog.  If you used CMake to build your project, then the imported Ceres CMake target will contain all the public link dependencies automatically, if you are manually adding Ceres as a dependency to your project, you will need to add them yourself.

The public link dependencies will be specified in CeresTargets-release.cmake (inst

[2017-03-22 14:58] chrisluu commented on #260
@alexsmac Hi, I add all the libraries to my configuration "ceres.lib glog.lib gflags_static.lib CXSparse.lib liblapack.lib libblas.lib". But the error message is still the same.

[2017-03-23 03:00] chrisluu commented on #260
@alexsmac  Can you send me ceres.lib build with vs2015 x64 Release mode? It really drive me crazy.

[2017-03-23 04:42] chrisluu commented on #260
@alexsmac  I finished it by myself. Thanks.

[2017-03-23 09:35] #260 closed

[2017-03-23 12:27] nh2 opened #261 "Clarify remaining uses of nondeterministic functions"
@sandwichmaker In https://ceres-solver.googlesource.com/ceres-solver/+/36c73c26bb3fd9b319435aa9702a110678239d9c you write:

In which part of the code are the unstable implementations still used? Grepping for `ComputeSchurOrdering` in commit 36c73c26bb3fd9b319435aa9702a110678239d9c, there seems to be no use of it besides in tests.

[2017-03-23 12:30] nh2 commented on #261
(Asking this because I've encountered nondeterminism when using the automatic inner iteration ordering.)

[2017-03-23 13:12] nh2 commented on #261
Hmm, I suspect it's this bit, am I right?

https://github.com/ceres-solver/ceres-solver/blob/01e23e3d33178fdd050973666505c1080cfe04c3/internal/ceres/parameter_block_ordering.cc#L111

[2017-03-24 12:58] josch opened #262 "FindCXSparse.cmake doesn't find cs.h in Debian"
Hi,

`FindCXSparse.cmake` doesn't look for `cs.h` in `/usr/include/suitesparse` where this header is shipped by Fedora as well as by Debian and derivatives. Please consider adding the path to `CXSPARSE_CHECK_INCLUDE_DIRS`.

Thanks!

[2017-03-24 14:13] alexsmac commented on #262
This is now fixed in master.

[2017-03-24 14:13] #262 closed

[2017-03-26 17:57] sandwichmaker opened #263 "Update docs to use Spivak notation consistently"
Currently the derivatives article uses the Spivak notation and the rest uses the classical d/\nabla/\partial notation and it would be good to make everything read consistently. This likely also implies that the spivak notation section should be moved out of the derivatives chapter and moved up to a higher level.

[2017-03-26 18:50] sandwichmaker opened #264 "Improve documentation on Loss Functions"
Talk about pitfalls, and how to use them more effectively. For example what happens in a dense problem if you have a single residual versus many residuals. This has come up a number of times in personal and on-list conversations.

[2017-03-26 18:51] sandwichmaker opened #265 "Improve the tutorial"
Add a more conceptual introduction to graphically talk about CostFunctions, ParameterBlock & ResidualBlock.
Also a bundle adjustment example which deals with shared parameters.

[2017-03-26 18:53] sandwichmaker opened #266 "Improve discussion of derivatives"
List of things to add:

* Why does the quality of derivatives matter?
* Discuss, forward v/s backward automatic differentiation and relation to backprop, impact of large parameter block sizes on differentiation performance.
* Inverse function theorem
* Calling iterative routines.
* Reference to how numeric derivatives lead to slower convergence.
* Pitfalls of Numeric differentiation.
* Ill conditi

[2017-03-26 19:48] keir commented on #258
We are still holding the line on no C++11 features in the core, but I'm happy for us to support C++11 optionally if it provides clear benefits to some users. The issue we've had in the past is that it is hard to replace OpenMP's parallel for in straight C++11; you need to replicate all the scheduling and batching logic. TBB is the most likely candidate, but it's a heavy dependency. It's also awkwa

[2017-03-27 01:15] xiaofeiwu commented on #260
I'm compiling ceres on Windows 7 with VS 2015 with glog also compiled in VS 2015. I met similar problem with 4 errors showing:

Error LNK2019	unresolved external symbol "void __cdecl ceres::internal::GetBestSchurTemplateSpecialization(int *,int *,int *)" (?GetBestSchurTemplateSpecialization@internal@ceres@@YAXPAH00@Z) referenced in function "public: virtual void __thiscall ceres::Solver::Solve(str

[2017-03-29 07:46] ttencate opened #267 "Use of CMAKE_SOURCE_DIR and CMAKE_BINARY_DIR prohibits inclusion of Ceres with add_subdirectory"
`CMAKE_SOURCE_DIR` and `CMAKE_BINARY_DIR` point to the directory of the _root_ `CMakeLists.txt`, the one that `cmake` was invoked upon. The use of these variables make it impossible to include Ceres as a subdirectory (or Git submodule) of another CMake project.

Could this be changed to use `CMAKE_CURRENT_SOURCE_DIR` and `CMAKE_CURRENT_BINARY_DIR` instead? These [are available in CMake 2.8.0](http

[2017-03-29 21:03] alexsmac commented on #267
We actually had a CL out for this previously: https://ceres-solver-review.googlesource.com/#/c/7230 that was abandoned, I will have a look at resurrecting it.

[2017-03-30 07:30] ttencate commented on #267
Thank you Alex! That CL is clearly better and more comprehensive than my naive proposal, too :)

[2017-04-01 07:45] ZhengPan2014 commented on #241
yes, just replace line 102 in powell.cpp with

gflags::ParseCommandLineFlags(&argc, &argv, true);

without any changing in CMakeLists.txt.
ps: my CMakeLists.txt is as follow:

cmake_minimum_required(VERSION 2.8)

project(helloworld)

find_package(Ceres REQUIRED)
include_directories(${CERES_INCLUDE_DIRS})

# helloworld
add_executable(helloworld src/helloworld.cpp)
target_link_libraries(helloworld $

[2017-04-01 07:47] ZhengPan2014 commented on #241
yes, just replace line 102 in powell.cpp with

gflags::ParseCommandLineFlags(&argc, &argv, true);

without any changing in CMakeLists.txt.
ps: my CMakeLists.txt is as follow:

cmake_minimum_required(VERSION 2.8)

project(helloworld)

find_package(Ceres REQUIRED)
include_directories(${CERES_INCLUDE_DIRS})
###helloworld

add_executable(helloworld src/helloworld.cpp)
target_link_libraries(helloworld

[2017-04-01 15:04] sandwichmaker opened #268 "Implement a Band-diagonal preconditioner"

[2017-04-01 15:04] sandwichmaker opened #269 "Implement a band-diagonal preconditioner for bundle adjustment problems"

[2017-04-01 15:05] sandwichmaker opened #270 "Implement a subgraph preconditioner for general sparse problems"
Select a subset of rows of the Jacobian and use them to compute an approximation to the Hessian that is easier to invert and use that as the preconditioner for CG on the full problem.

Closely related to http://ieeexplore.ieee.org/abstract/document/6126255/

[2017-04-02 19:46] alexsmac commented on #267
@ttencate please try this (updated) CL: https://ceres-solver-review.googlesource.com/#/c/9780

[2017-04-03 09:00] ttencate commented on #267
LGTM!

[2017-04-04 08:52] alexsmac commented on #267
Thanks, I have merged the CL into master.

[2017-04-04 08:52] #267 closed

[2017-04-09 17:13] sandwichmaker opened #271 "Remove the requirement that SchurEliminator::Eliminate requires an rhs vector"
There is a todo in schur_jacobi_preconditioner.cc for this and this is likely of broader use as we look into covariance computation using the schur eliminator.

[2017-04-09 17:24] sandwichmaker commented on #271
@devinlane

[2017-04-13 09:29] StevenPuttemans opened #272 "Latest PR change prohibits a succesful ceres build"
The latest PR that was merged, makes ceres head build crashing on my Ubuntu16.04 x64 bit system.

https://ceres-solver.googlesource.com/ceres-solver/+/9a4f554b85ecbc3174c75006d943301207dbf68a%5E%21/#F0

The raised error is

[code]

Can this be reverted or fixed?

[2017-04-13 09:32] StevenPuttemans commented on #272
Also just confirmed that if I reverse this change, the build works just fine!

[2017-04-13 09:33] StevenPuttemans commented on #272
@sandwichmaker Since you provided the adaptation, you might want to look into this.

[2017-04-13 09:46] creuther commented on #272
Confirmed, this breaks the build for me as well (Xubuntu 16.04 x64, gcc 5.4.0).

[2017-04-13 13:09] sandwichmaker commented on #272
I will fix it shortly. Sorry about the trouble, not sure how this made it
past the build process.

On Thu, Apr 13, 2017, 2:46 AM Christian Reuther <notifications@github.com>
wrote:

[2017-04-13 13:21] sandwichmaker commented on #272
Thanks for reporting, this is fixed now.

[2017-04-13 13:21] #272 closed

[2017-04-14 07:48] StevenPuttemans opened #273 "Adding C++11 directives through CMAKE for the pkg config"
As discussed in this [OpenCV issue](https://github.com/opencv/opencv_contrib/issues/1122), when enabling C++11 directives in the ceres-solver build, ceres does not automatically specify this through the use of the `target_compile_features` or `INTERFACE_COMPILE_FEATURES` feature.

More info on this can be found on https://cmake.org/cmake/help/v3.8/command/target_compile_features.html and https://c

[2017-04-16 17:35] alexsmac commented on #273
What errors are you encountering specifically?  This should already be present in Ceres, albeit via the [INTERFACE_COMPILE_OPTIONS](https://cmake.org/cmake/help/v3.8/prop_tgt/INTERFACE_COMPILE_OPTIONS.html) target property that was also supported in earlier versions of CMake (target_compile_features() came in in 3.1).

I'm not averse to adding target_compile_features(), but as this will add extra

[2017-04-18 12:08] crmoore commented on #273
Here's a simple case that breaks with the existing ceres CMakeLists.txt.  It works when I hack it to use INTERFACE_COMPILE_FEATURES.

This project requires gnu-extensions (-std=gnu++14), and cmake sets it accordingly.  Ceres sets -std=c++11, and both flags get added to the command line.  gcc seems to behave as if gnu-extensions are disabled.  Oddly, using c++14 features works.  That is "-std=c++11

[2017-04-18 12:44] StevenPuttemans commented on #273
@alexsmac well actually the errors I get is that when building the structure from motion module inside OpenCV, which depends on Ceres solver (which I built with C++11 support) the following appears:

[code]

Whenever I explicitly tell CMAKE to use C++11, in the CMAKE of OpenCV with an extra entry, these issues get resolved.

The weird thing is however, when running CMAKE in OpenCV I get the follow

[2017-04-18 14:01] alexsmac commented on #273
@StevenPuttemans your problem actually looks like a bug in the OpenCV SfM CMake.  Looking at the latest master branch, you're compiling fundamental.cc [which is part of the multiview library](https://github.com/opencv/opencv_contrib/blob/e8c109bf408cac6a85b363a2fd34600958bb1015/modules/sfm/src/libmv_light/libmv/multiview/CMakeLists.txt#L20), however despite (optionally) using Ceres that library ne

[2017-04-18 14:07] StevenPuttemans commented on #273
Thanks for the response. I will take this back to the OpenCV forum and keep you informed.

[2017-04-18 16:00] alexsmac commented on #273
@crmoore although target_compile_features() came in in CMake 3.1, the [cxx_std_11 feature](https://cmake.org/cmake/help/v3.8/prop_gbl/CMAKE_CXX_KNOWN_FEATURES.html#prop_gbl:CMAKE_CXX_KNOWN_FEATURES) didn't come in until CMake 3.8, and the features available in older versions do not reflect Ceres' requirements, so the current target_compile_options() solution is required for all versions < 3.8 in o

[2017-04-18 16:52] crmoore commented on #273
@alexsmac Thanks.  That appears to do the right thing, when using CMake 3.8.

[2017-04-19 12:48] sergiud commented on #273
@alexsmac Are you sure that `cxx_std_11` from CMake 3.8 is required? `cxx_constexpr` and `cxx_alignas` perfectly reflect the compile features required by Ceres public interface. I'm pretty sure that if `cxx_constexpr` and `cxx_alignas` are available, one can strongly assume that TR1 features of the standard C++ library are available as well. At least I'm not aware of any compiler and standard C++

[2017-04-20 16:21] alexsmac commented on #273
@sergiud that seems reasonable, I've updated the CL accordingly [here](https://ceres-solver-review.googlesource.com/#/c/10020/).  @crmoore if you could please confirm this still works as expected for you that would be helpful - thanks.

[2017-04-21 19:23] crmoore commented on #273
Works great.

[2017-04-21 19:35] crmoore opened #274 "CMake: exported ceres target does not have include propertes set"
CMakeLists.txt should use target_include_directories( [target] PUBLIC [directories] ) instead the directory-level include_directories.  This way the proper include directories will be exported to projects depending on ceres.

Expected behavior in a downstream project: target_link_libraries(mytarget ceres) should be enough to use ceres.  Instead, downstream projects need to also add ${CERES_INCLUDE

[2017-04-22 07:53] sergiud commented on #274
I second this. Ideally, Ceres should be usable from the build directory as well which can be achieved using `$<BUILD_INTERFACE:path>` and `$<INSTALL_INTERFACE:relpath>` generator expressions.

[2017-04-25 05:40] skn123 opened #275 "Example for 2D Panorama"
I was wondering if there is any example in Ceres-Solver for building a 2D panorama without estimation of camera intrinsic parameters. An example of a 2D panorama would be a microscope whole slide image or a whole slide image of an IC chip. Any help / pointers would be appreciated.

[2017-04-25 20:12] pmoulon commented on #275
You can stitch all the images by using homographies registration.
-> You can use Hugin with a large focal length or constraint the registration to be on a plane.

If you want to do it yourself:
- you can perform an incremental registration
  - robust estimation of homographies + warping see demo here https://github.com/openMVG/openMVG/blob/master/src/openMVG_Samples/multiview_robust_homography/rob

[2017-04-26 06:02] skn123 commented on #275
Pierre
Thanks for the response. I am aware of the last link and I found it interesting. However, I am unable to translate the terminologies of that paper with my example. I direct your attention to the problem I am looking at:
www.maths-in-industry.org/miis/id/eprint/173/contents
Sec. 1. 3. 2
I am able to estimate the pair wise displacements between neighboring tiles using any suitable method. How

[2017-04-29 11:19] wguo68 commented on #227
I have the same problem. But the link can't open.

[2017-04-30 15:31] alexsmac commented on #274
Whilst we still support CMake 2.8 which does not support target_include_directories() I'm not keen on duplicating all the logic for handling our includes when the current solution works for all CMake versions and is still widely used.  Currently this includes Eigen (requires SYSTEM to suppress internal Eigen warnings on some compilers/versions), MINIGLOG and Ceres config.h file (which requires BEF

[2017-04-30 15:45] alexsmac commented on #273
Closing, as the CL has now been merged into master.

[2017-04-30 15:45] #273 closed

[2017-05-04 13:55] sandwichmaker opened #276 "Make compressed_col_sparse_matrix_utils_test independent of SuiteSparse"
Currently the correctness of these routines depends on SuiteSparse, which is not a great idea. These tests should either be made to depend on Eigen or made entirely independent of any sparse linear algebra library.

[2017-05-04 13:56] sandwichmaker opened #277 "Refactor schur_complement_solver_test"
1. Use value parameterized tests to reduce the amount of redundant code.
2. Use a more extensive collection of matrices.

[2017-05-04 13:57] sandwichmaker opened #278 "Revive visibility_based_preconditioner_test"
This was disabled due to lack of serialized matrices shipping with ceres. This test should be based on matrices generated at runtime.

[2017-05-04 13:59] sandwichmaker opened #279 "Refactor unsymmetric_linear_solver_test"
1. Value parameterized tests for smaller code.
2. Break apart this file into individual test files, since the name itself is not terribly informative
3. Larger collection of matrices with a more varied sparsity structure.
4. The tests for dynamic_sparse_cholesky_solver don't really test the dynamic nature of the solve.

[2017-05-04 14:01] sandwichmaker opened #280 "Faster covariance estimation for bundle adjustment problems"

[2017-05-09 14:54] KeithT opened #281 "'j0': The POSIX name for this item is deprecated. (VS2015) (Again)"
Just downloaded the latest master, built it on Windows 10, VS2015.

Then created a new project which uses jet.h and get the identical error to:
https://github.com/ceres-solver/ceres-solver/issues/190

[2017-05-09 16:07] alexsmac commented on #281
Is CERES_MSVC_USE_UNDERSCORE_PREFIXED_BESSEL_FUNCTIONS defined in the configured Ceres config.h (in <BUILD_DIR>/config/ceres/internal/config.h ?  And what appears in <BUILD_DIR>/CMakeFiles/CMakeOutput.log related to: HAVE_UNDERSCORE_PREFIXED_BESSEL_FUNCTIONS ?

[2017-05-09 20:52] AndreasSchacherbauer opened #282 "Unable to build ceres-solver for iOS with c/c++ flag `-fembed-bitcode`"
Hi,
I tried to build ceres for iOS with the bitcode option enabled but I got the following error: `clang: error: -mllvm is not supported with -fembed-bitcode`.
I had to remove the `-mllvm` cxx flag in the main [CMakeLists.txt](https://github.com/ceres-solver/ceres-solver/blob/master/CMakeLists.txt#L702) file and was then able to specify `-fembed-bitcode` in the iOS.cmake toolchain file line 250-25

[2017-05-10 05:33] KeithT commented on #281
Thanks for the support.

[CMakeOutput.txt](https://github.com/ceres-solver/ceres-solver/files/988765/CMakeOutput.txt)

Yes I believe so, from config.h:
"// If defined, Ceres was compiled with a version MSVC >= 2005 which
// deprecated the standard POSIX names for bessel functions, replacing them
// with underscore prefixed versions (e.g. j0() -> _j0()).
#define CERES_MSVC_USE_UNDERSCORE_PREFIXED_B

[2017-05-10 06:11] KeithT commented on #281
Further to the above, when I open jet.h in the ceres project the #if defined (CERES_MSVC_USE_UNDERSCORE_PREFIXED_BESSEL_FUNCTIONS) condition is active, whereas in the other project that links to ceres the else condition is. I guess this is because there are no "Preprocessor Definitions" set in the c/c++ propoerties in the new project, so CERES_MSVC_USE_UNDERSCORE_PREFIXED_BESSEL_FUNCTIONS is not d

[2017-05-10 08:20] alexsmac commented on #281
This sounds like you have a configuration issue and you are including the headers for a different version of Ceres in your project.

jet.h #includes ceres/internal/port.h, which in turn #includes ceres/internal/config.h provided that you are compiling for C++ (which I'm assuming you are given that you are trying to use jet.h).

So whilst jet.h should really #include ceres/internal/config.h directl

[2017-05-10 08:54] alexsmac commented on #282
The ``-mllvm`` option is required to pass the ``-inline-threshold=600`` option through Clang to the LLVM pipeline.  As per the comment in the CMakeLists, historically we have found that increasing the inlining threshold on Clang made a big performance improvement overall as otherwise Eigen was being hobbled as various functions were not being inlined.

As it seems from the Clang/LLVM code that -ml

[2017-05-12 07:45] KeithT commented on #281
There were 2 versions installed, although I am pretty sure only 1 was referenced in the project. I started again to be sure.

What I am trying to do is build ceres and have a new project (outside the ceres VS solution) link to it. (c++, Windows 10, VS2015).

I have eigen, glog, gflags downloaded and built were necessary and have 2 ceres configs one with examples and one without, also built.

As a

[2017-05-12 09:00] ttencate opened #283 "Add support for fabs(Jet) in addition to abs(Jet)"
[The situation with `::abs` is messy](http://stackoverflow.com/questions/21392627/abs-vs-stdabs-what-does-the-reference-say): the `<cmath>` header may or may not declare `::abs(double)`. If you need portable overloads for floats and doubles, the recommendation is to either use `std::abs` or `fabs` instead.

However, for automatic derivatives, neither will work. `std::abs` disables argument-depende

[2017-05-12 13:10] sergiud commented on #283
Why not simply
[code]
This way the appropriate overload will be discovered through ADL.

[2017-05-12 13:13] ttencate commented on #283
Thanks! Good idea, hadn't thought of that. Feel free to close this if that's the recommended approach.

[2017-05-12 13:43] alexsmac commented on #283
Using ceres::abs() should also work regardless of T.

[2017-05-14 12:42] oracle3001 opened #284 "Problem Using GradientChecker on Windows Build (with included potential solution)"
I found that when building Ceres on a windows machine using VS2015, that if I attempted to make use of the GradientChecker functionality in my code I would get the following error (despite ceres.lib being properly linked in the project).

[code]

After conversing with Tal Ben-Nun who maintains the Visual Studio port for ceres, we believe the following code should be altered.

[2017-05-14 16:30] sandwichmaker commented on #284
Yes that seems like an oversight, please submit a change on gerrrit.

On Sun, May 14, 2017, 5:42 AM oracle3001 <notifications@github.com> wrote:

[2017-05-15 06:33] sandwichmaker commented on #282
@alexsmac it maybe worth looking at the -inline-threshold again. Its been a while since we evaluated the need for it.

[2017-05-15 06:33] sandwichmaker commented on #284
https://ceres-solver-review.googlesource.com/#/c/10160/ has been submitted. It should fix the problem. Please let me know and I will close this issue.

[2017-05-16 06:02] sandwichmaker commented on #284
Closing, please re-open if ceres at HEAD does not solve your problem.

[2017-05-16 06:02] #284 closed

[2017-05-16 15:26] hcjghr opened #285 "Custom Eigen path"
Hi,

I'm trying to use a custom eigen path when building ceres and as far as I understood I should set variables:
- EIGEN_INCLUDE_DIR_HINTS to where I have eigen installed
- EIGEN_PREFER_EXPORTED_EIGEN_CMAKE_CONFIGURATION=FALSE

With this, ceres still selects the default eigen installed in /usr/local/include/eigen3 . I have noticed that in FindEigen.cmake the path is added to the search as: PATHS

[2017-05-17 09:31] alexsmac commented on #285
@hcjghr - this looks like a bug, I'll push a fix for this later today.

[2017-05-17 10:29] hcjghr commented on #285
@alexsmac great! I also noticed the same problem with suitesparse (SUITESPARSE_CHECK_LIBRARY_DIRS) and cxsparse (CXSPARSE_INCLUDE_DIR_HINTS).

[2017-05-18 12:09] alexsmac commented on #285
@hcjghr - I've added a CL which should fix this issue [here](https://ceres-solver-review.googlesource.com/10180) - please give it a try.  This also includes a fairly substantial cleanup of FindSuiteSparse to reduce the number of code blocks calling find_path/library().

[2017-05-22 11:12] calocedrus commented on #239
@alexsmac the link http://ceres-solver.org/building.html#understanding-the-cmake-package-system you make reference to doesn't exist anymore. Is there a new page similar to the gone one? As @ramanpreet9 I'm struggling to compile a single standalone ceres program.

[2017-05-22 12:45] alexsmac commented on #239
@calocedrus the updated links are now in the Installation section of the Ceres documentation [here](http://ceres-solver.org/installation.html#using-ceres-with-cmake) and [here](http://ceres-solver.org/installation.html#installing-a-project-with-cmake-vs-exporting-its-build-directory).

[2017-05-22 13:27] calocedrus commented on #239
Thanks Alex!

[2017-05-29 21:26] burlachenkok opened #286 "ceres-solver - what it can do for me and what it can't ?"
Hi, One of my friends recomended to look into your solver. I opened first chapter http://ceres-solver.org/nnls_tutorial.html#introduction and try to understand for which problems I can apply you solver.
You said about box constraints - I understand them, but I misunderstand all other important things from your description.

Q1: Do you support general affine inequality constraints? Do you support c

[2017-05-29 23:41] rstebbing opened #287 "Broken `dynamic_sparsity` with addition of `crsb_rows_` and `crsb_cols_`"
The commit [`Optimize J' * J in sparse_normal_cholesky_solver.`](https://github.com/ceres-solver/ceres-solver/commit/07dbf31eca6851aadaed0dc337e05c8bb5965850) extended `CompressedRowSparseMatrix ` with `block_offsets_`, `crsb_rows_`, and `csrb_cols_`, where the latter two are set in `CompressedRowJacobianWriter::CreateJacobian`.

Unfortunately, the corresponding additions have *not* been added to

[2017-05-29 23:43] sandwichmaker commented on #287
Thanks @rstebbing for reporting.
Looking now.

[2017-05-29 23:45] sandwichmaker commented on #286
@burlachenkok these questions are best asked on the ceres solver mailinglist.
In any case here you go

1. No we do not support affine or convex inequality constraints. Only bounds constraints on the variables.
2. The functions phi and f_i need to be differentiable.
3. Depends on the kind of domain. For R_+, a bounds constraint would be the way to go, in other cases where parameter blocks sit on ma

[2017-05-29 23:45] sandwichmaker commented on #286
Closing the issue here, please continue further discussion on the mailinglist.

[2017-05-29 23:45] #286 closed

[2017-05-30 01:02] sandwichmaker commented on #287
https://ceres-solver-review.googlesource.com/#/c/10242/ is out for review.
I have added you as a reviewer to it. Please take a look.

[2017-05-30 11:41] justwillim opened #288 "make test failed on tx2"
I'm trying to use ceres on nvidia TX2, it seems like test 10 failed on it.
I have tried it on TX1 and there's no issue.

Any thought about it?
Thanks

Test log are outlined below,

Test project /home/nvidia/ceres-solver/build
      Start  1: array_utils_test
 1/72 Test  #1: array_utils_test ............................   Passed    0.01 sec
      Start  2: autodiff_test
 2/72 Test  #2: autodiff_tes

[2017-05-30 11:58] sandwichmaker commented on #288
@justwillim I do not have access to a tx2, can you share more detailed logs from the bundle adjustment test? did it just time out? can you run it from the command line.

something like

 ./bin/bundle_adjustment_test --test_srcdir=../data/ -logtostderr

[2017-05-30 11:58] #287 closed

[2017-05-30 13:59] justwillim commented on #288
there too much print while I run this test independently, I clipped a part of them below:

final_residuals[i] evaluates to 0.95460845306081998,
expected_final_residuals_[i] evaluates to 1.1131732224770092, and
SystemTestProblem::kResidualTolerance evaluates to 0.0001.
Not close enough residual:37966
/home/nvidia/ceres/ceres-solver-1.12.0/internal/ceres/test_util.h:165: Failure
The difference betwe

[2017-05-30 14:00] justwillim commented on #288
also use the latest release version also have the same issue

[2017-05-30 18:17] sandwichmaker commented on #288
This seems like a convergence issue. I am not sure what math libraries you are using, and what is the underlying architecture that is being used.  But my guess is that because of linear algebra libraries like eigen are doing something funny on this CPU?  do you know if eigen for example passes all its tests on this platform?

[2017-05-31 11:28] justwillim commented on #288
It passed all test after changed the eigen to latest release 3.3.3,  although there are still 7 test in eigen. thank you for your light of this issue very much

[2017-05-31 11:42] sandwichmaker commented on #288
@justwillim you are welcome, I am glad I was able to help.

[2017-05-31 11:42] #288 closed

[2017-06-01 23:19] clalancette opened #289 "Bundle adjustment test fails on aarch64"
I'm running ceres-solver on Ubuntu 16.04 on an aarch64 machine (a Pine64 board).  When I try to run the bundle_adjustment_test on that architecture, the first test (DenseSchurWithAutomaticOrdering) fails with the following:

[code]

(there are thousands more errors like that, I just chose the first one).

All of the other tests pass.  Let me know if you need more information, I'm happy to provide

[2017-06-02 01:55] jasjuang commented on #249
Commit 74df65b breaks this. Now when I did a fresh pull of ceres with the same Eigen setup, I got the below error

[code]

I have no idea why and how it points back to my source Eigen build folder instead of pointing to the installed version at `C:\Program Files`. I looked into the new FindEigen.cmake and I suspect it's line 119
`find_package(Eigen3 QUIET)` breaking it, but I cannot find a corresp

[2017-06-02 18:07] sandwichmaker opened #290 "Add a test for use_explicit_schur_complement = true with NO_SPARSE linear algebra library."

[2017-06-03 12:56] sandwichmaker commented on #275
@skn123 I am going to close this issue as this is not really ceres related.

[2017-06-03 12:56] #275 closed

[2017-06-04 13:13] alexsmac commented on #249
This looks like an issue with Eigen's CMake, it implies that find_package(Eigen) is reporting that:

EIGEN_INCLUDE_DIR=C://include/eigen3

The most likely explanation for this mangled path is that the windows-specific logic for determining the installed header location from the Eigen3Config.cmake path is incorrect.  On *nix where it installs to /usr/local/share/eigen3/cmake (on 3.3.1), the relativ

[2017-06-04 13:30] alexsmac commented on #285
@hcjghr - please can you confirm that this CL fixes the issue for you.

[2017-06-04 15:26] jasjuang commented on #249
@alexsmac I tried the CL and I get `endif An ENDIF command was found outside of a proper IF ENDIF structure.` I noticed that from line 153~179. There are 4 3 ifs and 4 endifs.

[2017-06-04 15:35] alexsmac commented on #249
I can't replicate this, and the statements appear to be fine.  Are you applying the CL on top of the latest master branch?

[2017-06-04 18:58] jasjuang commented on #249
@alexsmac Sorry I missed one line to add in your CL. I added it back and everything is working great. Look forward to see the merge.

[2017-06-04 18:58] #249 closed

[2017-06-04 21:26] alexsmac commented on #249
This has now been merged into master.

[2017-06-05 08:43] alexsmac commented on #285
The fix (across all our find package scripts) has now been merged into master.

[2017-06-05 08:43] #285 closed

[2017-06-07 19:26] #283 closed

[2017-06-07 19:27] sandwichmaker commented on #281
I am going to close this for now,  as the original description of the bug does not apply.

@KeithT if this continues to be an issue, please open an issue which relates to the build system.

[2017-06-07 19:27] #281 closed

[2017-06-07 19:37] sandwichmaker commented on #282
A quick informal test on my laptop does not indicate that this is particularly useful.
@alexsmac do you remember what prompted this inline threshold to begin with?

[2017-06-07 19:39] sandwichmaker commented on #282
So this seems to be the CL that added this

https://github.com/ceres-solver/ceres-solver/commit/3d6eceb45cf27024865908f0c10a5c2b0f8719cf

so I need to check as to what happens to the performance of ITERATIVE_SCHUR with and without this.

[2017-06-07 19:39] alexsmac commented on #282
I think it was something @keir added to improve Jet performance, without it I think autodiff cost functions were being clobbered when evaluating Jets with larger parameter sizes.

[2017-06-08 01:09] sandwichmaker commented on #282
Turns out this has to do with the Schur based solvers rather than Jets. And there is a performance differential, but I need to spend some time to see if we can do this via compiler annotations instead of compiler flags.

[2017-06-09 13:39] archenroot commented on #3
I just faced this issue on Gentoo system with sci-libs/ceres-solver-1.11.0

[2017-06-09 13:58] alexsmac commented on #3
@archenroot what is the linker error you are encountering?

[2017-06-09 18:44] Yamin05114 opened #291 "Compiling error: undefined reference to `google::base::CheckOpMessageBuilder::NewString[abi:cxx11]()'"
Hi I came across this error when compiling, thanks in advance:
`[ 54%] Linking CXX executable ../bin/nist
CMakeFiles/nist.dir/nist.cc.o: In function `std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >* google::MakeCheckOpString<int, int>(int const&, int const&, char const*)':
nist.cc:(.text._ZN6google17MakeCheckOpStringIiiEEPNSt7__cxx1112basic_stringIcSt11char_traitsIc

[2017-06-09 18:47] alexsmac commented on #291
You are compiling Ceres with CXX11 enabled, but have not compiled glog with C++11 enabled.

[2017-06-09 19:23] Yamin05114 commented on #291
@alexsmac Should I compile glog again with CXX11 or just turn off CXX11 of Ceres

[2017-06-09 19:29] Yamin05114 opened #292 "."

[2017-06-09 20:52] Yamin05114 commented on #291
I solved the problem by rebuild the glog from source file. But new problem came out like the following:
`[ 98%] Linking CXX executable ../bin/denoising
CMakeFiles/denoising.dir/denoising.cc.o: In function `main':
denoising.cc:(.text.startup+0x67): undefined reference to `google::SetUsageMessage(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&)'
collect2: error

[2017-06-09 21:25] jasjuang opened #293 "commit efa0911 breaks compilation on windows"
I am on Windows 10, Visual Studio 2015

Step to reproduce:

[code]

In visual studio the error is shown us

[code]

[2017-06-11 08:27] #292 closed

[2017-06-11 08:31] sandwichmaker commented on #293
@jasjuang this is a weird error, but I do not have visual studio. Is it because we are doing an ifdef inside a macro invocation?

[2017-06-11 23:47] sandwichmaker opened #294 "Better level1 BLAS routines for small matrices"
?axpy is used at lot of places in ceres, and it would be interesting to create a jump table of compiler optimized versions of it for a variety of sizes and calling them.

[2017-06-12 01:25] jasjuang opened #295 "Suggestion: Continuous Integration"
Is it possible to add continuous integration into ceres? So whenever there is a build compilation error it will get caught automatically. I am wondering whether Google is using any CI internally for ceres. If not, I suggest Travis CI for linux compilation and AppVeyor for windows compilation. Both are free for open source projects.

[2017-06-12 01:39] jasjuang commented on #293
a little bit hard to tell why it's failing, I tried removing the ifdef entirely (in my case CERES_NO_LAPCK is undefined) and it compiles without a problem, other than that I am not sure how to debug this problem

[2017-06-12 08:32] alexsmac commented on #295
I did set up Travis CI for Ceres a while back here, although I didn't get around to merging it, I will have another look at it.  Internally to Google there is CI for Ceres, although none of the Ceres maintainers use Windows so we don't have anything set up for that - AppVeyor looks great for this though, have you used it before?

[2017-06-12 15:46] jasjuang commented on #295
@alexsmac My experience is mainly using AWS + Jenkins for CI with both Linux and Windows. It's more painful to setup but cost-wise is less for private repos. Another open source library [caffe](https://github.com/BVLC/caffe/) which I used has AppVeyor integrated, and the setup file looks fairly straight forward so I believe it won't be too hard to setup.

[2017-06-13 04:32] sandwichmaker commented on #295
@jasjuang can you try https://ceres-solver-review.googlesource.com/#/c/10460/ and tell me if it works for you?

[2017-06-13 04:33] sandwichmaker commented on #293
Please try https://ceres-solver-review.googlesource.com/#/c/10460/

[2017-06-13 05:33] jasjuang commented on #293
@sandwichmaker this change compiles successfully for me

[2017-06-13 05:33] #293 closed

[2017-06-13 07:50] sandwichmaker commented on #293
Thanks @jasjuang I have submitted the fix to the master branch.

[2017-06-14 16:13] hcjghr commented on #285
Hi,

sorry for not responding sooner but I can confirm that I tested the newest code and the issue is now fixed.

Thanks for such a quick response!

[2017-06-15 14:00] sandwichmaker commented on #289
what version of Eigen are you using? this looks like there is either a correctness or a precision bug in the underlying linear algebra library. I had an earlier report about this and upgrading to the latest version of eigen fixed the problem for them.

[2017-06-15 15:32] clalancette commented on #289
It's the version that is in Ubuntu 16.04, so it looks like 3.3~beta1-2 .  What's interesting is that the test works just fine on x86_64 with this same version of Eigen; it only fails on aarch64.

[2017-06-15 17:26] clalancette commented on #289
So, I just rebuilt ceres-solver with Eigen 3.3.4 on my aarch64 board, and the bundle adjustment tests do seem to be passing now.  It might be nice in CMakeLists.txt to detect when it is on aarch64, and require Eigen 3.3.4 or above.  That being said, feel free to close this out.  Thanks.

[2017-06-15 17:48] sandwichmaker commented on #289
@alexsmac WDYT? also @clalancette we will happily take a patch to the effect.

[2017-06-20 15:54] svenpilz opened #296 "[GradientProblem] Objective is evaluated twice at each iteration"
It seems the objective function (`GradientProblem::Evaluate`) of a general unconstrained minimization (`GradientProblemSolver`) is evaluated twice with the same parameter during each iteration, first for the line search and afterwards for the actual evaluation. This would double the optimization time (ignoring additional line search steps), and may be a problem depending on the objective's computa

[2017-06-21 06:24] jasjuang opened #297 "What version of SuiteSparse is compatible with ceres?"
Could you let me know what version of SuiteSparse is expected to be compatible with the current ceres?

I am trying to coordinate with [vcpkg](https://github.com/Microsoft/vcpkg/) to get ceres easily installed on Windows by simply doing `vcpkg install ceres`. The current state is SuiteSparse 4.5.5 compiles with the old ceres 1.12.0 release without a problem, but we need the up-to-date cmake commit

[2017-06-21 06:54] sandwichmaker commented on #297
This looks like a linking problem not a problem with ceres. you are not linking to ccolamd.

[2017-06-21 15:48] jasjuang commented on #297
@sandwichmaker Hard for me to imagine there is something wrong with the linking because the exact same configuration works for ceres 1.12.0. I am guessing it linked but the latest ceres might be using a newer api of Suitesparse but 4.5.5 is too old hence the unresolved external symbol. I know that you guys don't work on Windows, but in linux, what version of SuiteSparse is required for the latest

[2017-06-22 08:01] sandwichmaker commented on #297
4.5.4 is what I use on my mac using homebrew.

[2017-06-25 01:05] sandwichmaker commented on #297
@jasjuang notice the functions that are complaining,

     4>libcholmod.lib(cholmod_ccolamd.o.obj) : error LNK2019: unresolved external symbol ccolamd_recommended referenced in function cholmod_ccolamd [C:\dev\vcpkg\buildtrees\ceres\x64-windows-rel\internal\ceres\ceres.vcxproj]

cholmod_ccolamd is complaining that it cannot find ccolamd_recommended.

CHOLMOD provides wrappers to various other part

[2017-06-25 03:41] sandwichmaker commented on #296
@svenpilz there maybe a way of saving this extra eval, but would likely require work. What kind of problem are you solving where this is an issue, can you share more details?

[2017-06-26 02:00] jasjuang commented on #297
@sandwichmaker Thanks for the info. I downgraded SuiteSparse to 4.5.4 but I still encounter the same compilation error. I am still trying to figure out whether something has to be changed on SuiteSparse or Ceres to fix this. When I build SuiteSparse, libccolamd.lib, libcholmod.lib and libcolamd.lib are generated. Should I be expecting a llibccolamd_recommended.lib? But again the old 1.12.0 ceres r

[2017-06-26 03:31] sandwichmaker commented on #297
Can you try bisecting from 1.12.0 and the head to see what commit
introduced this problem?

On Sun, Jun 25, 2017, 7:00 PM Jason Juang <notifications@github.com> wrote:

[2017-06-26 15:32] svenpilz commented on #296
@sandwichmaker photo-consistency based multi-view reconstruction of faces, i.e. comparing L^p metrics of captured and rendered camera views. Which takes about two minutes per evaluation (rendering, error and gradient) at the highest image resolution.

[2017-06-26 22:04] svenpilz commented on #296
At the moment we cache the last evaluation and return that result, when the previous parameters are given. As the parameters are binary-wise the same, this is a good workaround for us :-).

[2017-06-26 23:43] sandwichmaker commented on #296
interesting, thanks for the background. I will take a look.

[2017-06-27 14:44] sandwichmaker commented on #296
@svenpilz I looked this briefly, fixing this is going to require an architectural change in the way the main loop of the line search minimizer talks to the line search routines themselves. I need to think about how to do this without breaking the abstraction completely. That said I agree, this would be a nice performance improvement so it is worth doing.

[2017-06-27 14:45] sandwichmaker commented on #297
so this seems like a windows problem, because on the mac everything builds fine.

[2017-06-28 13:38] sandwichmaker commented on #296
@svenpilz as part of this work, the first thing is to fix and count correctly the time and number of calls spent in evaluations. so,
https://ceres-solver-review.googlesource.com/#/c/10580/ is out for review. Once that is in, I will use that to track down every function evaluation and see what I can do about it.

[2017-06-29 06:41] sandwichmaker commented on #296
https://ceres-solver-review.googlesource.com/#/c/10600/
https://ceres-solver-review.googlesource.com/#/c/10620/

are out for review.

You are welcome to patch them and try them out.

[2017-07-02 06:10] jasjuang commented on #297
@sandwichmaker I am having difficulties to build suitesparse from source on windows, and for some reason if I build ceres from source it won't recognize the suitesparse from vcpkg. The only way I get ceres to work with suitesparse is build them both from vcpkg, but I am not able to find a way to checkout particular commit to build on vcpkg, the only option I have is either the stable releases or t

[2017-07-02 06:59] jasjuang commented on #297
@sandwichmaker I just figured out which commit breaks it. It's fa39fae. I was able to compile commit ec5bd23. My guess is some change in FindSuiteSparse.cmake breaks it. Could you provide some insights on what change in FindSuiteSparse.cmake could potentially break it?

[2017-07-02 07:06] sandwichmaker commented on #297
aha there is a bug in there. hold tight I have a fix.

[2017-07-02 07:11] sandwichmaker commented on #297
can you try https://ceres-solver-review.googlesource.com/#/c/10680/
to see if it fixes your problem. It is a one character fix.

[2017-07-02 07:24] jasjuang commented on #297
Just finished rebuilding and it compiles! Can you also make a release after this commit?

[2017-07-02 07:24] #297 closed

[2017-07-02 07:26] sandwichmaker commented on #297
Committed to head. So you should be able to use it. As for a release, I am in the midst of landing another large change to line search minimizer and perhaps one more feature before I do a release candidate for 1.13.0.

[2017-07-02 07:37] #276 closed

[2017-07-05 03:00] Tariq-Abuhashim opened #298 "CMake error installing as Shared library"
I get this error when running "sudo make install" :

[100%] Built target pose_graph_3d
Install the project...
-- Install configuration: "Release"
-- Up-to-date: /home/tariq/Dev/ceres-solver/build/include/ceres/autodiff_cost_function.h
-- Up-to-date: /home/tariq/Dev/ceres-solver/build/include/ceres/autodiff_local_parameterization.h
-- Up-to-date: /home/tariq/Dev/ceres-solver/build/include/ceres/c_a

[2017-07-05 09:14] alexsmac commented on #298
I can't reproduce this on either OS X or Ubuntu with either master or the 1.12 release tarball, and the installation is performed using the standard CMake functions (which also handle the naming of the library based on the stated version).

Given that all but the library type specific files are listed as up-to-date, I'm assuming that you already installed a version of Ceres built from the same sou

[2017-07-05 10:51] CerrieJ opened #299 "Memory leak problem"
Hi, I was trying to use Problem object and one of its method AddResidualBlock(), but I encountered a memory leak issue.

[code]

If I did not release one of its parameters ,*cost_function, it will give me a memory leak warning. However, if in the end, I use delete command to release the memory, the program crashes.

[code]

memory leak：
![image](https://user-images.githubusercontent.com/15920960/2

[2017-07-05 13:18] sandwichmaker commented on #299
@CerrieJ the problem is not the lines you point out, but rather the delete lines in your code. AutoDiffCostFunction will take ownership of the functor passed to it and similarly Problem takes ownership of the CostFunction passed to it.  There should be no need to delete the functor or the costfunction.

[2017-07-05 23:27] sandwichmaker commented on #296
Fixed upstream :). Thank you for reporting this.

[2017-07-05 23:27] #296 closed

[2017-07-06 02:24] CerrieJ commented on #299
@sandwichmaker
Thanks for your answer.
The reason why I use the delete function to release the functor and the costfunction memory is that I found the memory leaks at the line problem.AddResidualBlock()
when I using the CRT Library to check my codes.

[code]
Can you explain the reason for me?
Thanks.

[2017-07-06 03:43] sandwichmaker commented on #299
@CerrieJ I have no experience with development on windows/CRT. Maybe @alexsmac can say more or perhaps @Nazg-Gul ?

[2017-07-06 08:40] Doodleshr opened #300 "Error when use libceres.a"
I generated a libceres.a using NDK 10d by executing ./ndk-build in /jni , but when I tried to test it by using

`g++ filename.cpp -L. -lceres`

 I got tons of errors like what followed below:

 to `google::LogMessageFatal::~LogMessageFatal()'
partitioned_matrix_view_2_3_3.cc:(.text._ZN5ceres8internal21PartitionedMatrixViewILi2ELi3ELi3EEC2ERKNS0_17BlockSparseMatrixEi[_ZN5ceres8internal21Partitioned

[2017-07-06 09:25] Tariq-Abuhashim commented on #298
I have pulled the new release and compiled it:

mkdir build
cd build
ccmake ..
I set SHARED=ON, EIGENSPARSE=ON, CMAKE_INSTAL_PREFIX=/home/tariq/Dev/ceres-solver/build
make
sudo make install

I get the same error:
[100%] Built target pose_graph_3d
Install the project...
-- Install configuration: "Release"
-- Installing: /home/tariq/Dev/ceres-solver/build/include/ceres/autodiff_cost_function.h
-- In

[2017-07-06 11:43] cdcseacave opened #301 "Jet operator with scalars"
Any reason why Jet does not support `+=`, `-=`, `*=`, `/=` operators with scalar?

[2017-07-06 13:43] alexsmac commented on #298
First off, you appear to be trying to install to the build directory, that's not a good idea or intended CMake usage.  If you want to use Ceres without having to install it (and are using CMake for your own dependent project) then you can use the EXPORT_BUILD_DIR option as detailed [here](http://ceres-solver.org/installation.html#options-controlling-ceres-configuration).  I can replicate this issu

[2017-07-06 13:43] #298 closed

[2017-07-06 13:55] alexsmac commented on #300
It looks like you are trying to link against actual glog when compiling for Android, instead of using the MINIGLOG option in Ceres which compiles a minimal replacement for glog.  Only the latter is supported.

In MINIGLOG, LogMessageFatal() is a function, not a class.  Whereas the errors you are seeing relate to the LogMessageFatal destructor which should only be present in actual glog where LogMe

[2017-07-06 15:02] Nazg-Gul commented on #299
Not that much familiar with CRT either, but one thing seems specious to me. You are calling `_CrtDumpMemoryLeaks()` before `problem`'s destructor is called (problem will be destroyed when exiting current scope). This seems to explain both issues you'rte experiencing:

- `_CrtDumpMemoryLeaks()` will report memory leak because you've got objects which are still alife at the moment of `_CrtDumpMemory

[2017-07-06 21:48] alexsmac commented on #301
These have now been added in master.

[2017-07-06 21:48] #301 closed

[2017-07-07 07:49] CerrieJ commented on #299
@Nazg-Gul  Thanks for your explain. I'm so sorry for my mistake and I did not found it before my last reply. Last day I found I calling _CrtDumpMemoryLeaks() before problem's destructor is called and I modified it like your explain, there is my new codes:
[code]
There is the  memory leak report:
[code]
If I didn't call my mySolver() function like this:
[code]

 it still report me the memory leak:

[2017-07-07 07:57] CerrieJ commented on #299
@sandwichmaker @Nazg-Gul
Thanks both of you. I knew my question maybe a bit weird, maybe everything is because I'm not familiar with ceres solver and Windows/CRT, and I will study hard. So, If you not have any idea about my question please feel free to ignore it.

Thanks.

[2017-07-07 08:13] Nazg-Gul commented on #299
Since you've got `_CRTDBG_LEAK_CHECK_DF` flag passed to CRT debug flags, you don't have to explicitly call `_CrtDumpMemoryLeaks()`, it'll be called automatically at program exit. That could solve some false-positive leaks reports (there might be some heap allocations in some static objects from CRT itself or libraries used by Ceres).

In any case, i don't know specifics of leak detection on Window

[2017-07-10 22:19] #300 closed

[2017-07-10 22:20] sandwichmaker commented on #299
I am going to close this issue as this looks like a MSVC thing rather than a ceres issue.

[2017-07-10 22:20] #299 closed

[2017-07-16 02:15] RomaTeng opened #303 "the size of Jacobians when using localparamerization and analytical derivative"
Hello,
I am trying Ceres for solving nonlinear least squares.
There is a little problem (but I am not sure):
For the cost function f(x),  the residual is  n_f dimension,   the global size of x is n_xg,
the local size of x is n_xl ( n_xl << n_xg ).
For efficiency,  we are trying to use the analytical cost function and provide the Jacobians.
However, in Ceres, we have to provide the   n_f * n_xg

[2017-07-17 04:46] sandwichmaker commented on #303
The local parameterization also has to implement a Plus operation which must be compatible with the Jacobian. Therefore, the solution you are using only makes sense if you can ignore the last n_xg - n_xl coordinates, which if you can, then why use that as a parameter size at all?

All that said, the big question is, how much of the time that you are trying to optimize is being spent in the applica

[2017-07-17 13:17] RomaTeng commented on #303
For a simple example, we try to use 9*1 (3*3) elements to denote a rotation matrix and use the exponential mapping ( Exp( ) )  as the oplus operation involving all these 9 elements. We think this way can save time compared to quaternion/axis-angle because the 9 elements can be directly used in the ``Evaluate" without the need to transform the state vector to a rotation matrix. For our understandin

[2017-07-17 13:37] sandwichmaker commented on #303
@RomaTeng I understand that. My question to you is,

1. what do you propose as a solution.
2. have you measured the amount of time being spent constructing the hessian as part of the over all solve? is this a curiosity or do you actually have a performance problem? if so, can you share some numbers?

[2017-07-17 14:01] RomaTeng commented on #303
1.  Our current solution is:
First we calculate  the n_f * 3  matrix ``J_real" , and put " J = [ J_real   0_{ nf * 6 } ] " as the Jacobian in the cost function. Then we provide the J_local = [ I_{3 * 3} ;  0_{6 * 3}  ] as the Jacobian in the local-parameterization. In this way, J * J_local is equal to J_real, which is used in building the Hessian matrix.
However, you know, this solution is not ele

[2017-07-17 14:03] sandwichmaker commented on #303
how does this work with the Plus operation for your local parameterization?

[2017-07-17 23:52] RomaTeng commented on #303
Now our solution works.
But I am not sure it is efficient.

[2017-07-19 18:50] debalance opened #304 "invert_psd_matrix_test fails on Debian Sid, amd64"
Trying to package 1.13.0 RC1 for Debian, I encounter one failing unit test:

Running main() from gmock_main.cc
[==========] Running 3 tests from 1 test case.
[----------] Global test environment set-up.
[----------] 3 tests from InvertPSDMatrix
[ RUN      ] InvertPSDMatrix.Identity3x3
[       OK ] InvertPSDMatrix.Identity3x3 (0 ms)
[ RUN      ] InvertPSDMatrix.FullRank5x5
[       OK ] InvertPSDMat

[2017-07-20 13:58] sandwichmaker commented on #304
curiously, this does not seem to be a problem using eigen 3.3.4 on the mac using homebrew.

[2017-07-22 21:04] sandwichmaker commented on #304
@debalance could I get more details, say the cmake log here? I am unable to replicate this failure on eigen 3.2.0-8 on ubuntu or on eigen 3.3.4 on macos.

[2017-07-23 06:43] debalance commented on #304
Full build log attached. The build happens in a clean chroot with only the build dependencies installed.

[ceres-solver_1.13.0\~rc1\~dfsg0-1_amd64.build.txt](https://github.com/ceres-solver/ceres-solver/files/1167915/ceres-solver_1.13.0.rc1.dfsg0-1_amd64.build.txt)

Let me know if I can make the build more verbose somehow.

[2017-07-25 02:11] leokoppel commented on #304
I reproduced with Eigen 3.3.2. The exception occurs with `-DCMAKE_BUILD_TYPE=None` or `Debug `, not with `Release`. [Build log](https://launchpadlibrarian.net/330456364/buildlog_ubuntu-xenial-amd64.ceres-solver_1.13.0.rc1-1~xenial1_BUILDING.txt.gz)

[2017-07-25 09:36] sergiud commented on #304
That's an assert rather than an exception. This is why it's triggered in debug builds only.

Looking at the google test log, it seems `Eigen::JacobiSVD` with `Eigen::ComputeThinU` and/or `Eigen::ComputeThinV` is used on a fixed size matrix which is [incorrect](https://eigen.tuxfamily.org/dox/classEigen_1_1JacobiSVD.html#a5dab376cc86cf0d36674bcdad4af3f5a).

[2017-07-26 04:29] sandwichmaker commented on #304
thanks for the reproduction, looking now.  really weird that the test passes though.

[2017-07-26 06:56] debalance commented on #304
I can confirm that the test doesn't fail if setting -DCMAKE_BUILD_TYPE=Release

[2017-07-27 04:07] sandwichmaker commented on #304
https://ceres-solver-review.googlesource.com/#/c/10820/ is out for review.

[2017-07-27 17:34] sandwichmaker commented on #304
@debalance this should be fixed. Also I am curious why is the debian build not in release mode? Please close this issue when you have a verification.

[2017-07-28 06:15] debalance commented on #304
Confirmed, the issue is solved.

Until this issue came up I wasn't aware of the different CMAKE_BUILD_TYPE variants, so simply didn't set any in the package build. I don't think there's anything in the docs regarding this, at least I didn't find anything. I'm now setting the package build to release mode.

What I would like to know is, why did this issue not surface during release mode?

[2017-07-28 06:15] #304 closed

[2017-07-28 06:43] sandwichmaker commented on #304
I am not sure. The assert only fires in debug mode but I was able to get
the correct answer for fixed size matrices. Maybe I did not hit the corner
case where the assert is actually trying to protect from? In any case that
branch of the code is not used by anyone yet.

On Thu, Jul 27, 2017, 11:15 PM Philipp Huebner <notifications@github.com>
wrote:

[2017-07-28 08:26] leokoppel commented on #304
I think it is because you are doing SVD on a square matrix, so Eigen does not try to resize anything. "Thin" only makes a difference for a non-square matrix.

[2017-07-28 13:25] sandwichmaker commented on #304
Thin should make a difference for rank deficient square matrices, no? hmm you maybe right. I will check.

[2017-07-28 13:32] sandwichmaker commented on #304
@leokoppel you are right. The problem is not fixed size but my desire to use thin svd which is pointless here because the matrices will always be square.

[2017-07-28 16:12] leokoppel commented on #304
I see what you mean; rank-deficient does mean only part of U and V is needed to calculate the inverse. It's just that Eigen does not consider rank when choosing the dimensions of the return values, even with "thin" option.

[Here](https://bitbucket.org/eigen/eigen/src/8d1ccfd9c5a0bf1a662bd0fe35858f4e527d2bac/Eigen/src/SVD/SVDBase.h?at=default&fileviewer=file-view-default#SVDBase.h-258) is how Eige

[2017-07-29 06:21] debalance opened #305 "BundleAdjustmentTest fails on mips, mipsel and mips64el"
BundleAdjustmentTest.SparseNormalCholeskyWithAutomaticOrderingUsingCXSparse fails on the architectures mips, mipsel and mips64el:

E0728 14:26:41.787685 13464 trust_region_minimizer.cc:91] Terminating: Number of consecutive invalid steps more than Solver::Options::max_num_consecutive_invalid_steps: 5
F0728 14:26:41.889307 13464 test_util.h:175] Check failed: summary.termination_type != ceres::FAIL

[2017-07-30 21:45] sandwichmaker commented on #305
@debalance how do you suggest we approach debugging this? I am guessing that this has something to do with the newly done sparsenormalcholeskysolver.  But somehow the tests for sparse normal cholesky solver are not catching it. But without access to a MIPs machine and poking at the internal this is impossible to debug.

[2017-07-30 21:46] sandwichmaker commented on #304
Thanks @leokoppel I will take a look.

[2017-07-30 22:23] sandwichmaker commented on #305
@debalance I'd also like to know if this is worth holding the 1.13.0 release back for. WDYT?

[2017-07-31 07:41] debalance commented on #305
@sandwichmaker I would not hold back the release for this, you could either make a point-release later or I can simply add a patch to the Debian package if this get fixed.

As for access to mips* hardware, I can help you out if you add a GPG key to your github profile and then follow
https://dsa.debian.org/doc/guest-account/
using that key.

Another possibility is to emulate a MIPS system using Qe

[2017-07-31 14:28] sandwichmaker commented on #305
thanks @debalance that makes sense. I will cut a release and then look into this.
BTW could you try a debug build on MIPS to see if that throws up anything? I suspect this has to do with eigen (before thats the only place we have platform specific code AFAIK).

[2017-08-01 05:49] debalance commented on #305
So I ran a manual build on mips with -DCMAKE_BUILD_TYPE=Debug and now bundle_adjustment_test has been running for 12+ hours and counting.
I don't think there's anything helpful in the build log so far, but here it is anyway:
[ceres-solver_1.13.0\~rc1\~dfsg0-1_mips.debug-build.txt](https://github.com/ceres-solver/ceres-solver/files/1189597/ceres-solver_1.13.0.rc1.dfsg0-1_mips.debug-build.txt)

[2017-08-02 05:50] debalance commented on #305
The Debug build finally finished exactly like the release build on the buildd before:

Running main() from gmock_main.cc
[==========] Running 36 tests from 1 test case.
[----------] Global test environment set-up.
[----------] 36 tests from BundleAdjustmentTest
[ RUN      ] BundleAdjustmentTest.DenseSchurWithAutomaticOrdering
[       OK ] BundleAdjustmentTest.DenseSchurWithAutomaticOrdering (45622

[2017-08-02 09:07] alexsmac commented on #305
@debalance I notice that the successful 1.12 build was using Eigen 3.3.2, but the failing 1.13 build was using Eigen 3.3.4.  Both of them appear to be using CXSparse 3.1.9 and SuiteSparse 4.5.5.  Is it possible to rebuild 1.13 with Eigen 3.3.2 (or the converse, i.e. 1.12 with 3.3.4) so that we can isolate whether the Eigen version is a factor?

[2017-08-02 19:46] debalance commented on #305
Good thinking! I'm currently doing a build in a Debian Stretch chroot (which ships Eigen 3.3.2).

[2017-08-04 05:56] debalance commented on #305
The rebuild on Stretch has exactly the same result, so the slightly different version of Eigen is unlikely to be the cause.

[2017-08-08 12:36] huangqinjin opened #306 "Ceres solver 1.13.0 C++11 option"
Ceres solver 1.13.0 uses `target_compile_features` to specify C++11 requirements, but the generated compiler options is `-std=gnu++11` instead of `-std=c++11` on Ubuntu 16.04. `find_package(Ceres)` does not report something like 1.12.0
[code]

[2017-08-09 03:45] sandwichmaker commented on #306
@alexsmac

[2017-08-09 03:46] #303 closed

[2017-08-09 09:00] alexsmac commented on #306
This should be resolved by [this CL](https://ceres-solver-review.googlesource.com/#/c/ceres-solver/+/10900) which is out for review.

[2017-08-09 13:25] huangqinjin commented on #306
But 1.12.0 uses `-std=c++11` and 1.13.0 uses `-std=gnu++11` by default, right?

[2017-08-09 13:35] alexsmac commented on #306
@huangqinjin, on newer versions of CMake (>= 3.1), Ceres now specifies the C++11 features that it requires via target_compile_features() rather than forcing the specific compiler flag to -std=c++11.  CMake will then pick the 'best' compiler flag that satisfies all of the specified features for a target that depends on Ceres, so if that target specified different features to Ceres, CMake will choos

[2017-08-09 14:18] sandwichmaker commented on #306
CL has been submitted. Thank @alexsmac

[2017-08-09 14:24] #306 closed

[2017-08-10 17:30] versatran01 opened #307 "Small typo in examples/powell.cc"
[code]
In the above struct, `x4` should be `x3`

[2017-08-13 13:59] alexsmac commented on #307
@versatran01 thanks there is a CL out to fix this that should be merged shortly.

[2017-08-14 03:19] happypepper opened #308 "Failing tests on Release Build on Windows x64"
Built lib file successfully on windows with Eigen 3.3.4, but it fails a bunch of tests. I've listed them here:

1>16/75 Test #16: corrector_test ...............................***Failed    0.08 sec
1>18/75 Test #18: covariance_test ..............................***Failed    0.10 sec
1>34/75 Test #34: graph_test ...................................***Failed    0.06 sec
1>46/75 Test #46: local_parame

[2017-08-14 03:48] sandwichmaker commented on #308
The common thing here seems to be that every one of these is a death test and the macro in question is EXPECT_DEATH_IF_SUPPORTED. What is your build environment? can you share your cmake log? I suspect this has to do with gunit/the testing framework and your dev environment interacting poorly.

[2017-08-14 03:49] #307 closed

[2017-08-14 03:59] happypepper commented on #308
I'm using Visual Studio 2017 Community. I just tested with Eigen 3.2.10 and it fails on the same tests.

Here's the cmake log using Eigen 3.3.4:

Detected Ceres version: 1.13.0 from C:/Users/lawson/ceres/ceres-solver-1.13.0/include/ceres/version.h
No preference for use of exported Eigen CMake configuration set, and no hints for include directory provided. Defaulting to preferring an installed/expo

[2017-08-14 04:38] sandwichmaker commented on #308
Thanks for sharing. I am going to need @alexsmac ' s help in this matter. This is not an Eigen issue. This is most likely a gunit issue.

[2017-08-14 04:40] happypepper commented on #308
Thank you for your quick reply. If it is just a testing issue, does this mean that the produced ceres lib is usable?

[2017-08-14 04:42] sandwichmaker commented on #308
@happypepper I do not know. I am guessing it should be okay.

[2017-08-14 05:13] happypepper commented on #308
I disabled GTEST_HAS_DEATH_TEST and all tests passed!

[2017-08-16 09:35] ytzhao opened #309 "Segmentation fault when Solver::Summary deconstruct"
Hi all,

I'm fresh to Ceres, I met a problem but could find any solution till now.
I followed the tutorial document on the official [Ceres page](http://ceres-solver.org/nnls_tutorial.html#numeric-derivatives) and tried the example in "Numeric Derivatives" part without any change at all.
When I run this code, I can get the correct answer and brief report printed in the terminal of the problem _f(x)

[2017-08-17 08:48] alexsmac commented on #309
@ytzhao do you mean that you tried to run the helloworld_numeric_diff example from <CERES_BUILD_DIR>/bin?  Or do you mean that you created a separate project outside of Ceres and copied helloworld_numeric_diff.cc into it and tried to compile it against Ceres?  If you did the latter, how did you find Ceres, via a find_package(Ceres) with CMake [as per this example](http://ceres-solver.org/installat

[2017-08-17 14:57] nonlimited opened #310 "Eigen NumTraits incomplete for Eigen/Geometry/AngleAxis"
Hello,

when using Eigen's Geometry/AngleAxis class, compilation errors occour, as these classes require the traits highest() and lowest() to be defined.

[code]
Would be nice, if they could be added.

Cheers

[2017-08-17 16:06] pmoulon commented on #310
Do you mean?
[code]

[2017-08-17 18:38] nonlimited commented on #310
@pmoulon  you are right. its either

`std::numeric_limits<float>::lowest()` or `-std::numeric_limits<float>::max()`

as described by [NumTrait Docs](https://eigen.tuxfamily.org/dox/structEigen_1_1NumTraits.html)

[2017-08-18 06:41] ytzhao commented on #309
@alexsmac Hi Alex, thanks first. I didn't run the helloworld_numeric_diff. I've made a new project to test Ceres with Qt5.7. The problem is to find the minimal value of (1/2) * (10-x)^2. I run the same without change in another environment:
Ubuntu1404
Qt5.7
g++ (GCC) (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4
libstdc++.so.6.0.19
the program is still compiled with -fPIC, and -D_GLIBCXX_USE_CXX11_ABI=0.

[2017-08-24 22:06] keir commented on #258
More discussion on this old mailing list thread:
https://groups.google.com/forum/#!topic/ceres-solver/miRlSAy8hcM

[2017-08-24 22:54] keir commented on #258
More discussion:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ceres-solver/FIl-kQFHZFA/eE0a-uMsGQAJ

Patch adding threading using TBB, with optional OpenMP, but then requires C++11 in all cases:
https://github.com/yprokazov/ceres-solver/commit/429335555577fab2970817f6f36da56264b8b086

[2017-08-24 23:03] keir commented on #310
Can you clarify what Eigen version you are using?

[2017-08-25 05:41] nonlimited commented on #310
Eigen version is 3.3.4

[2017-08-25 23:32] keir commented on #310
Can you please post a complete compilable example so I can reproduce the issue?

[2017-08-25 23:33] keir commented on #310
Also, have you seen ceres/rotation.h? Using Jet objects in Eigen's angle axis implementations is probably not a good idea; we have special handling for derivatives that won't be done in Eigen's version.

[2017-08-28 13:07] nonlimited commented on #310
@keir
yes, I know about ceres/rotation.h.
However, I would like formulate my terms as much as possible with Eigen Expressions only.

I also want to contribute to Eigen on that side, implementing the special case for rotation angle == {0,Pi}. They do special handling anyways, so it could be generalized at this point.

here is a snippet that reproduces the problem

[code]

Error by g++-7.1 is
[code]

[2017-09-05 11:38] nonlimited commented on #310
Here is the non-compiling example. The problem indeed hails from the conversion of a rotation matrix to angle axis format.

[code]

cmake project file:

[code]

[2017-09-05 16:21] keir commented on #310
Unfortunately your desire to stay with Eigen expressions will likely lead to bad optimization -  autodiff is not a panacea; you cannot blindly use it without understanding what happens underneath. Eigen will not do any special handling for autodiff, nor can they-- the special handling requires digging directly into the autodiff types. It would be strange for Eigen to have Ceres::Jet specific code.

[2017-09-05 16:23] keir commented on #310
However, I could be convinced to add overloads for Eigen::AngleAxis<> that call into the other routines in ceres/rotation.h. I suspect it'd be messy and not worth the effort, but if the patch turns out reasonably clean, then I would support inclusion in Ceres.

[2017-09-12 13:23] cfneuhaus opened #311 "Missing Scale factor in QuaternionParameterization?"
In the current implementation of `QuaternionParameterization`, the local parametrization for rotations is equal to (angle/2) * axis. This is because the `QuaternionParameterization::Plus` function is implemented as

[code]

I recently stumbled across this. Isn't it a bit unusual not to use the angle*axis representation for the local parametrization. Wouldn't it make sense to multiply the angle by

[2017-09-15 02:52] cstarknyc opened #312 "Covariance_test fails for build on RasPi"
Test failure post-build on Raspberry Pi Zero (Jessie version, pkgs as of 2017/09/14):
All other tests passed:
[code]

Probing in detail:

[code]

[2017-09-25 16:13] sandwichmaker commented on #258
TBB support has been added to ceres!

[2017-09-25 16:13] #258 closed

[2017-09-25 16:13] sandwichmaker commented on #310
we should add these traits. It is the user's choice as to how they want to use Jets.

[2017-09-26 03:44] elviskuo07 opened #313 "Can't build on iOS 11"
clang: error: invalid iOS deployment version '-miphoneos-version-min=11.0', iOS 10 is the maximum deployment target for 32-bit targets [-Winvalid-ios-deployment-target]
clang: error: invalid iOS deployment version '-miphoneos-version-min=11.0', iOS 10 is the maximum deployment target for 32-bit targets [-Winvalid-ios-deployment-target]

[2017-09-26 12:25] sandwichmaker commented on #311
please see discussion on the mailinglist.  The implementation is correct. The scale factor if introduced will just get undone/rescaled in the jacobian of the local parameterization.

The tangent space issue is interesting, I will think about it some more.

[2017-09-26 12:26] sandwichmaker commented on #310
https://ceres-solver-review.googlesource.com/#/c/ceres-solver/+/11020/ is out for review. Please test it and let me know that it does the needful for you.

[2017-09-26 12:26] sandwichmaker commented on #309
@ytzhao any updates on this?

[2017-09-26 13:54] vrfneuhaus commented on #311
Note: I am not claiming the implementation is 'wrong' -- after all it's just a scale factor on the residual, so optimization is going to work fine. I am just saying that the choice for this (in my opinion) "unnecessary/unusual" scale factor in the tangent space can force users to compensate for it for covariance computations, as I had to when implementing my `Minus` function.

A possible alternati

[2017-09-26 13:57] cfneuhaus commented on #311
(Sorry, I had to repost because I was using the wrong Github account ;) )

Note: I am not claiming the implementation is 'wrong' -- after all it's just a scale factor on the residual, so optimization is going to work fine. I am just saying that the choice for this (in my opinion) "unnecessary/unusual" scale factor in the tangent space can force users to compensate for it for covariance computation

[2017-09-28 09:34] phyorch opened #314 "Configuring incomplete, errors occurred!"
At the step cmake ../ceres-solver-1.13.0 the error occurres
here is the detail information
Looking for dgemm_
-- Looking for dgemm_ - found
-- Looking for pthread.h
-- Looking for pthread.h - found
-- Looking for pthread_create
-- Looking for pthread_create - not found
-- Looking for pthread_create in pthreads
-- Looking for pthread_create in pthreads - not found
-- Looking for pthread_create in p

[2017-09-28 12:28] alexsmac commented on #314
@phyorch This is not a Ceres problem, the problem is that your gflags installation is damaged as this part of the output explains:

[code]

[2017-10-04 06:49] bygreencn opened #315 "Failing tests on Release 1.13.0 Builded on Windows7 x64 with mingw64."
### **Test result is:**
Running tests...
Test project D:/Src.Disk/opensource/suitesparse-mingw64/MINGW-packages-master/mi                                  ngw-w64-ceres-solver/src/build-x86_64-w64-mingw32
      Start  1: array_utils_test
 1/75 Test  #1: array_utils_test .............................   Passed    0.05                                   sec
      Start  2: autodiff_test
 2/75 Test  #2

[2017-10-07 01:13] cstarknyc commented on #312
Likely explanation for failure: `LargeScaleCovarianceTest.Parallel` invokes 4 threads, and there appears no way to set a ceiling on this number. Raspberry Pi 3s have 4 cores, but using them in this way is likely unstable. Worse, the Pi Zero is single core, so this test will fail out right.

If I may make a suggestion, perhaps a core number limit could be passed as a `cmake` parameter? Or perhaps t

[2017-10-07 17:34] pmoulon commented on #312
Why not compile ceres with no openmp support or limit the number of thread by using an [environment variable](https://msdn.microsoft.com/en-us/library/yw6c0z19.aspx).

You can compile ceres with no threading support by using `-DOPENMP=OFF` in the cmake command line.

[2017-10-13 08:35] bygreencn commented on #315
**version 1.12.0 test for sparse_cholesky_test is passed with all same enviroments.**

[2017-10-14 05:24] cstarknyc commented on #312
@pmoulon : Thanks for both these tips. Both solve the problem.

[2017-10-14 08:22] keir commented on #315
Hi Sui,

Thank you for taking the time to run these tests on windows and reporting
back. We should probably expand the test thresholds here; if you look
closely at the failing tests they are only very slight misses from our
precision guards. Our 10*eps amount is a heuristic; the likely fix is to
push 10*eps to 15*eps, and that would solve the issue.

Can you try tweaking the test thresholds and se

[2017-10-15 13:52] bygreencn commented on #315
Yes @keir , when i change it to 15*eps is ok, and later i will and a patch request for mingw-w64 and windows.

[2017-10-17 15:04] rwiesenfarth opened #316 "Configuring with CXSPARSE=OFF still tries to compile with cxsparse"
I tried to build ceres (as part of OpenMVG) without cxsparse by clearing the CXSPARSE option in CMake. This breaks the build (VS2015, x64). For me, this change to the CMakeLists.txt solves the problem:

[ceres.patch.txt](https://github.com/ceres-solver/ceres-solver/files/1391466/ceres.patch.txt)

(Sorry, I am on GitHub, but do not have a Gerrit account and would like to avoid going through the who

[2017-10-17 15:24] rwiesenfarth commented on #316
Sorry, my fault - OpenMVG does not include ceres-solver as submodule, so I missed that this issue is already fixed two years ago...

[2017-10-17 15:24] #316 closed

[2017-10-19 22:36] #310 closed

[2017-10-20 01:24] msy22 opened #317 "Subcommand fails when building Ceres with ninja"
I am trying to install Ceres for use with Google Cartgographer. I've been following the installation instructions provided on the Cartographer [read the docs page](https://google-cartographer.readthedocs.io/en/latest/), which uses `ninja` to build it. Unfortunately, the build fails at this line:

    user@computer:~/ceres-solver/build$ ninja

with a fairly lengthy error:

    [309/344] Building CX

[2017-10-20 06:28] keir commented on #317
Hi M@t,

Yep, master is broken. Thanks for the report; I'll try to fix this now.

Cheers,
Keir

On Thu, Oct 19, 2017 at 6:24 PM, M@t <notifications@github.com> wrote:

[2017-10-20 06:33] keir commented on #317
In the interim, you can just use the latest stable or go back a couple of
patches, and everything should work.

On Thu, Oct 19, 2017 at 11:28 PM, Keir Mierle <mierle@gmail.com> wrote:

[2017-10-20 06:48] keir commented on #317
Fixed:
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/11240

[2017-10-20 06:48] #317 closed

[2017-10-24 00:53] msy22 commented on #317
Fantastic, I can confirm that everything at my ends installs properly now and seems to be working.

[2017-10-26 08:05] ytzhao commented on #309
@sandwichmaker sorry to reply you late, this solution works well for me. Thank you! :)

[2017-10-26 08:05] #309 closed

[2017-11-03 07:05] sweeneychris opened #318 "Preprocessor status should be checked before creating Schur specialization"
If the preprocessor fails (i.e. status == false) then it is possible that the [jacobian in the minimizer_options](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/solver.cc#L556) is never created and thus leads to a segfault. Either the status variable needs to be checked or some more logic needs to be built into this part of the code to handle this case.

[2017-11-04 23:57] sweeneychris commented on #318
I should mention that this was only an issue for me when using the TrustRegionPreprocessor, as [this line](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/trust_region_preprocessor.cc#L370) is not reached if any of the preprocessing fails. In my case, the inner iteration minimizer failed in the setup which led to the segfault. A temporary fix was to simply disable inner ite

[2017-11-09 22:03] daemacles opened #319 "Revisit #251: Alignment Issue with Eigen 3.3.1"
This is sort of re-opening https://github.com/ceres-solver/ceres-solver/issues/251

I'm having a similar problem with 1.12, and see that in change 1271 (https://ceres-solver-review.googlesource.com/c/ceres-solver/+/1271) the `EIGEN_MAKE_ALIGNED_OPERATOR` was removed from `FixedArray::InnerContainer`, along with setting `Jet::v` to `Eigen::DontAlign`.

At some point later with C++11, the `DontAlign

[2017-11-10 04:56] sandwichmaker commented on #319
@keir can you take a look?

[2017-11-14 12:00] keir commented on #319
I've spent some time digging into this, and a proper fix is not trivial. I have a patch underway but it will require some further work.

[2017-11-14 14:41] NikolausDemmel opened #320 "Use of Taylor expansions in rotation.h"
All resources I know state that for the rotation conversion formulae such as the ones in [rotation.h](https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/rotation.h) you should use the Taylor expansion for small angles, to avoid numerical instabilities. The implementation in Ceres uses the first order Taylor expansion for `angle > 0` for some and `angle > numerical_limits::epsil

[2017-11-14 14:42] NikolausDemmel commented on #320
This is related: https://ceres-solver-review.googlesource.com/c/ceres-solver/+/4180

[2017-11-17 18:26] daemacles commented on #319
Thanks for taking the time to look into this.  Let me know if I can help with it, e.g. running tests before your patch goes in, etc.

[2017-11-18 01:19] keir commented on #319
My belief is that the current code is already broken, strictly speaking, even though it mostly works. I may split the patch to add a workaround for the specific issue in this case, which is essentially the suggested patch, and then have a followup to reconsider the alignment issue more broadly.

[2017-11-18 11:54] raghavg96 opened #321 "Unbale to build with Ceres with JetsonTX1"
Hi,
I am trying to use ceres in my project.
I installed the dependencies and ceres got built successfully.
I ran make test and all the tests were successful.
I am using ceres-1.13.
When I use libceres.a in my project I get the following error while building(Is there an obvious error that I am making):

`/usr/local/lib/libceres.a(reorder_program.cc.o): In function `ceres::internal::(anonymous names

[2017-11-18 13:05] raghavg96 commented on #321
I also read in another post that this might be the problem with the Eigen version on aarch64 that I am using, so I updated Eigen version to 3.3.4 but it didn't solve anything

[2017-11-20 10:12] alexsmac commented on #321
Closing, as this has been resolved on the mailing list.

[2017-11-20 10:12] #321 closed

[2017-11-25 06:50] ziyangli commented on #176
Look forward to this doc.

[2017-11-27 05:59] sandwichmaker commented on #320
@NikolausDemmel since you are raising the issue, perhaps you can run some tests and report back?

[2017-11-27 06:02] sandwichmaker opened #322 "Improve SCHUR based preconditioners for the shared intrinsics case"
Can we exploit the arrowhead nature of the sparsity pattern caused by intrinsics parameters ?

[2017-11-28 01:23] NikolausDemmel commented on #320
@sandwichmaker, fair enough, I will see what I can do as time permits.

I was still wondering what peoples wisdom from practice is. It could be that some say it's fine as is implemented, or that there are specific reasons for `angle > 0` vs `angle > numerical_limits::epsilon`. Or it is mostly incidental and when this was implement the question didn't come up, it worked fine, and noone had time to

[2017-12-07 13:54] multigrid101 commented on #291
I am late to the discussion, but I had the same problem. In my case, making sure that cmake uses at least `g++-5` solved the issue, i.e. calling cmake like this:

[code]

make sure to wipe the `ceres-bin/` directory clean before calling cmake with a new compiler version.

[2017-12-11 23:12] cbeck88 opened #323 "Ceres headers leak the glog macros"
Ceres uses either `glog` or `miniglog` for logging, which is fine.

What is bad is that including Ceres headers into your project leaks the `#define`'s of glog everywhere, and miniglog brings in many of the same defines.

This is a really big problem for any large project that is using Ceres and not glog, or is using something else with similar macros, or wants to migrate from something else to gl

[2017-12-12 07:27] jakexie opened #324 "Add a penalty to loss function or cost function?"
I'm quite new to Ceres, so there are probably some simple questions.
I want to add a penalty to a problem, perhaps like :
   argmin:Huber(E(x))    ==>  argmin:Huber(E(x)) + λR(f)
I have not find a API to add a penalty to this least-squares problem. Where should I add the penalty to ?
Just add a item  behind cost function, like:
     reprojection[0] = rep[0] - feature_x ==> reprojection[0] = rep[0]

[2017-12-12 19:34] sandwichmaker commented on #324
@jakexie  add another residualblock/cost function for the penalty terms.

[2017-12-12 19:44] sandwichmaker commented on #323
@cbeck88 you make a good point. I believe the bulk of these problems arise in headers which are using templates like autodiff_cost_function.h etc.

I'd also like to understand what is it that you are trying to do in your application. Which of the various problems you are talking about is most relevant to you.

Last but not the least, would you be willing to work on this?

[2017-12-12 19:51] sandwichmaker commented on #320
mostly incidental if I recall correctly. If it is not, then changing that threshold should cause one of the tests to fail.

The taylor expansion matters at two places.
1. The value of f(x)
2. The value of Df(x)

The way to do this IMO is to compute values of f(x) and Df(x) for various small values of x, using an extended precision method (say mathematica/maple) and then compare it to the values yo

[2017-12-12 20:10] sandwichmaker commented on #319
ping? @keir

[2017-12-13 01:17] cbeck88 commented on #323
We (tesla) are using Ceres in various parts of autopilot firmware. We are also using glog for our primary logging. However, we have a heavily patched / modified version of glog, because we have a real-time critical safety criteria, and we are not supposed to make dynamic allocations e.g. while the car is moving.

We therefore have a heavily modified version of glog. We generally only use the "raw_

[2017-12-17 19:40] aecins commented on #246
@bchretien Another gentle ping. Ran into this issue this week. It would be really great to see per iteration updates with the gradient solver.

[2017-12-21 00:07] keir commented on #323
Hi Chris,

First off thank you for the detailed comment. Fundamentally I agree with you about the transitive log includes in Ceres being a bad idea. I remember when those logs were first introduced to Ceres and I was not happy about it for the exact reasons you raise. We decided to do it anyway because while gross, the logs and check macros are helpful in common practical cases and we decided the

[2017-12-21 22:26] salimoha opened #326 "How can I run Ceres after making changes to the template code?"
I am using Ceres to solve a nonlinear LS problem. To get familiar with Ceres I made some changes in robsenbrock.cc. How can I compile the modified code? Thanks!

[2017-12-21 23:42] keir opened #327 "Build is broken with EIGENSPARSE=off due to covariance module"
It appears we cannot compile Ceres currently without suite sparse due to the covariance module:

`/usr/local/google/home/keir/ceres-solver/internal/ceres/covariance_impl.cc: In constructor ‘ceres::internal::TriangularMatrix::TriangularMatrix(cholmod_factor*)’:
/usr/local/google/home/keir/ceres-solver/internal/ceres/covariance_impl.cc:133:37: error: ‘cholmod_factor* {aka void*}’ is not a pointer-to

[2017-12-22 01:09] keir commented on #327
Here is the CMake log from the 'g' command in ccmake:

[code]

[2017-12-22 01:10] keir commented on #327
Full compiler output:
[code]

[2017-12-22 01:23] keir commented on #327
This turned out to be a PEBKAC issue, relating to an errant Ceres checkout in the from the past. Closing.

[2017-12-22 01:23] #327 closed

[2017-12-22 01:24] sandwichmaker commented on #326
@salimoha this seems like a cmake/build question rather than a ceres question.

[2017-12-22 23:06] salimoha commented on #326
I resolved the issue. We have to do make all in ceres-bin folder. Thanks

[2017-12-22 23:15] salimoha opened #328 "Running ceres in parallel to solve a nonlinear least square problem"
How can I run ceres in parallel using multiple starting points? I read this post: https://github.com/mapillary/OpenSfM/issues/102
But I couldn't find out how to do Ceres in parallel. I appropriate if you could point out how it is possible to run Ceres in parallel? I found out that we can use openmp to do so. But do you @sandwichmaker have any test example to make Ceres optimization run in parallel

[2017-12-23 00:57] sandwichmaker commented on #328
you will have to construct multiple problems and solve them. There is nothing ceres specific to be done here. You can't share the same problem object between multiple parallel solves though.

Questions like these are not really issues, please consider joining the ceres-solver@googlegroups.com.

[2017-12-23 00:57] #328 closed

[2017-12-23 00:57] #326 closed

[2017-12-23 11:22] cbeck88 commented on #323
Yea, i still need to look in more detail at ceres code and think about it. I think a simple macro redirection mechanism and a way to configure it with a config header would be more than adequate, and i agree that a logging.cc file is probably inappropriate. I'll try to make a patch soon with the understanding that it will take time to review.

[2017-12-23 14:34] yang0773 opened #329 "openmp doesn't work on Android + NDK compiling"
guys,

http://www.ceres-solver.org/installation.html tells that openmp should be turned off on Android. And we actually find the ChangeNumThreadsIfNeeded() to force num_linear_solver_threads as 1. But I encountered a performance issue when running SLAM on Android and hope to turn on openmp with multi-threading. After enabling openmp by hand, we got different results compared to single-thread mecha

[2017-12-27 06:01] keir opened #330 "Ceres should have a Apple Sparse Solver backend"
Apple has created their own set of high-performance sparse solvers[1] available on iOS and Mac OS X devices. While Ceres generally favors of open source solutions, there is no reason there couldn't be an optional Apple Sparse Solver backend. This might lead to higher performance overall solves due to Apple's device-specific optimizations.

[1] https://developer.apple.com/documentation/accelerate/s

[2017-12-27 14:34] keir commented on #319
I spent some time digging into this but could not figure out a satisfying resolution. I'll have to circle back next year.

[2017-12-27 14:37] keir commented on #246
@bchretien Would happy review your patch in Gerrit; can you please push it over there so we can get it submitted? Due to the CLA issue we can't accept GitHub pull requests (and we want to keep our review history centralized).

[2017-12-27 14:38] keir commented on #187
This has gone a bit stale; still relevant?

[2017-12-27 14:39] keir commented on #311
@sandwichmaker Any update here?

[2018-01-02 02:19] yonelay11 opened #331 "Building with Suitesparse"
Hello, I want to know how to build ceres-solver with Suitesparse on Window 10. I had a libblas.lib and liblapack.lib  and I put libblas.lib into the BLAS_blas_LIBRARY. But, they said, **Did not find BLAS library, disabling LAPACK support.**

[2018-01-03 15:32] sandwichmaker commented on #330
I have been meaning to try it out. I think this would be a cool addition.

[2018-01-05 21:10] sandwichmaker opened #332 "Unify MatrixTransposeMatrixMultiply implementations"
There are two different implementations of MatrixTransposeMatrixMultiply in inner_product_computer.cc and small_blas.h. The latter did not work as well as the former when we were benchmarking inner_product_computer. So it would be good to benchmark the two implementations properly and pick one and put it in small_blas.h and use it at both places.

[2018-01-08 09:50] lz199144 opened #333 "Android Link Error"
`Error:(511) undefined reference to 'ceres::Problem::AddResidualBlock(ceres::CostFunction*, ceres::LossFunction*, std::vector<double*, std::allocator<double*> > const&)'
Error:(685) undefined reference to 'ceres::Problem::GetResidualBlocks(std::vector<ceres::internal::ResidualBlock*, std::allocator<ceres::internal::ResidualBlock*> >*) const'
F:\android-ndk-r13b\sources\cxx-stl\llvm-libc++\include\

[2018-01-09 00:51] keir commented on #333
This does not give us sufficient information. Please explain:
- Your development OS & version
- The NDK version
- Your command to compile

[2018-01-09 00:54] keir commented on #224
Is this still relevant?

[2018-01-09 08:53] lz199144 commented on #333
Sorry, I use ndk r13b and the origin Android.mk to make the libceres.a file, when I use it in my Android Studio project, it shows link errors.

Part of my Android project configs:
[code]

[code]

[2018-01-10 13:08] sandwichmaker commented on #319
ping?

On Wed, Dec 27, 2017 at 6:34 AM Keir Mierle <notifications@github.com>
wrote:

[2018-01-11 00:01] keir commented on #319
Sorry, I haven't had a chance to dive back into this yet.

[2018-01-11 00:06] keir commented on #333
I'm sorry, I am not sure what is going on. You'll likely have to debug this yourself. It looks like somehow parts of Ceres are not getting linked in, which is very weird:

[code]

The `std::logic_error` type is used to throw exceptions. Ceres does not use exceptions. However, perhaps you are using some other code that relies on C++ exceptions but you are not linking a version of libc++ or libstdc+

[2018-01-11 00:07] keir commented on #333
Also, are you able to compile libceres.a independently (without your surrounding project)? As in, directly from the Ceres upstream source?

[2018-01-11 09:20] lz199144 commented on #333
I fixed this error by changint APP_STL to c++_static in Application.mk of my project.

[2018-01-11 09:20] #333 closed

[2018-01-12 04:17] anuppari opened #334 "CMake errors when enabling TBB"
The main `CMakeLists.txt` and `cmake/FindTBB.cmake` have a few errors. Here's a diff of the changes I made to get it working (I can't use gerrit to make a pull request).

[code]

[2018-01-12 21:11] keir opened #335 "Make Ceres Bazel build configureable"
Currently the Ceres Bazel build only supports a basic config without SuiteSparse or other handy utilities. The fix is to make a Skylark macro that allows depending on different configurations of Ceres.

[2018-01-12 21:14] keir opened #336 "Make Ceres Bazel tests us a macro with better fine-grained configuration"
Currently the Bazel tests for Ceres are instantiated in a list comprehension; however, a better approach is a Skylark macro that can conditionally include some flags or not depending on the test.

[2018-01-12 21:24] keir opened #337 "Change Ceres Bazel build to use better Eigen BUILD file"
The current Eigen BUILD  file is simplistic; instead it should use a more featureful one like the one in TensorFlow.

https://github.com/tensorflow/tensorflow/blob/master/third_party/eigen.BUILD

[2018-01-12 21:32] keir commented on #334
Hi Anup,

Thanks for the patch. We try to make the Gerrit process as painless as possible; is there a part of it that is making it hard to contribute? If there is a problem with our docs, we'd like to fix it.

Thanks,
Keir

[2018-01-12 21:41] alexsmac commented on #334
Can you expand on what the error you encountered was?  I can't replicate any issues with TBB on master and this:

[code]

should definitely not be necessary.  CXX11 is declared as a CMake option, as such `if (CXX11)` is fine.

[2018-01-12 21:56] anuppari commented on #334
I had a few issues on a Win10x64 with Visual Studio 2015.

1. I have the `TBBROOT` environment variable set, so the `TBB_SEARCH_DIR` has the correct parent directory of my TBB, however, the `find_library` calls would not find the library without the right `PATH_SUFFIXES` argument. From my testing, if that argument is supplied with a cmake variable, it should be without quotes, else it doesn't work

[2018-01-16 19:33] brunobg opened #338 "Remove glog/logging.h from header"
glog is included in several headers that are eventually used by applications, such as:

https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/internal/autodiff.h
https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/internal/fixed_array.h
https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/internal/variadic_evaluation.h

I had problems compiling

[2018-01-16 19:56] keir commented on #338
It's not true; the CHECK and DCHECK macros rely on glog. There is a separate thread discussing this issue:
https://github.com/ceres-solver/ceres-solver/issues/323

[2018-01-16 20:48] brunobg commented on #338
Sorry, closing the issue.

[2018-01-16 20:48] #338 closed

[2018-01-22 20:19] rachillesf opened #339 "Segmentation Fault at ceres::Solver::Solve. Ubuntu 16.04"
Hi, i'm dealing with a strange segmentation fault when trying to optimize a problem, calling ceres::Solver::Solve.

I'm running at ubuntu 16.04, when running at ubuntu 14.04 with the same code the problem does not happen.
When running a different application with the same residuals (but compiled with ROS) the problem also does not happen.

here is the error and gdb backtrace
`Program received sign

[2018-01-23 02:29] sandwichmaker commented on #339
@rachillesf this looks like something funny is going on with Eigen. The code in question is not doing anything funny or interesting, it is a straight assignment.. hard to say more from this trace.

[2018-01-24 00:48] keir commented on #339
Are you able to run in Valgrind or ASAN? It could be that the code is
broken even in the working case, but it's only triggering a segfault in one.

On Mon, Jan 22, 2018 at 6:29 PM, Sameer Agarwal <notifications@github.com>
wrote:

[2018-01-24 21:36] brentmorgan1987 commented on #246
Is there a quick fix to see my solution per every iteration?  This is needed for me :)....
I could technically write the solution for every Evaluate() call but it would probably slow it down, compared to a "real" fix.  Thanks,

Best,
Brent

[2018-01-26 05:36] sandwichmaker commented on #246
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/11780 is out for review.

[2018-01-26 05:48] sandwichmaker commented on #329
@yang0773 The advice around openmp and android is likely stale. More recent versions of NDK have openmp support that works. That said threading changes the order of operations, which for a poorly conditioned problem can sometimes lead to differing results.

The TBB support is quite new, but yes it should work on android also. We would love to hear of your progress.

[2018-01-26 05:48] sandwichmaker commented on #331
@yonelay11 could you provide more details of cmake logs?

[2018-01-26 05:49] #324 closed

[2018-01-26 05:49] sandwichmaker commented on #320
ping?

[2018-01-26 12:58] NikolausDemmel commented on #320
I haven't yet had the time to add the Taylor expansion implementation and unit tests. It's still on my agenda, but I can't tell when I'll get to it unfortunately...

[2018-01-26 13:29] NikolausDemmel commented on #311
Just a few comments. Both variants make sense. I cannot really say which is preferrable.

Maybe whatever the choice, stating this distinction clearly in a code comment would be beneficial.

 - Sola discusses this distinction in his [tech report](http://www.iri.upc.edu/people/jsola/JoanSola/objectes/notes/kinematics.pdf). In some sense, the current implementation is more natural, since the lie alge

[2018-01-26 16:38] #246 closed

[2018-02-05 23:32] sandwichmaker opened #340 "Update ExecutionSummary to use a single map object"
The time and calls maps should be replaced by a single map. That way we can use a single mutex, and one map lookup.

[2018-02-06 00:30] sandwichmaker opened #341 "Do not evaluate Jacobian, when we know that the solver is going to terminate at the end of the iteration."

[2018-02-06 01:17] keir commented on #323
Have you had a chance to think about this more? We would welcome the change.

[2018-02-06 01:30] #340 closed

[2018-02-07 01:32] cbeck88 commented on #323
Yeah, sorry, I got bogged down with other stuff at work, but I'm likely to have time to work on this for real next week. I'm glad to hear back from you :)

[2018-02-07 01:39] jasjuang commented on #331
@yonelay11 The easiest way to build ceres-solver with Suitesparse on Window 10 is use [vcpkg](https://github.com/Microsoft/vcpkg/). It will be as simple as `vcpkg install ceres`

[2018-02-09 09:37] chenkan1994 commented on #335
@keir is there any work that has been done?

[2018-02-13 13:29] mojovski opened #342 "How to reset a problem?"
I would like to clean a problem before filling it with new residuum blocks etc.
Right now, I delete the pointer to ceres::Problem* but after I create a new one,
[code]
exists with SIGSEGV.
Can someone suggest me a way how to reset a problem?

Thank you very much in advance!

[2018-02-13 14:20] alexsmac commented on #342
There is no mechanism to reset a problem.  Creating a new problem is the correct way to 'reset' as it stands.  I think the problem you are encountering is because by default the Problem assumes ownership of all LocalParameterisations (and CostFunctions) given to it.  You can change that behaviour by setting Problem::Options::local_parameterization_ownership as described [here](http://ceres-solver.

[2018-02-13 14:20] #342 closed

[2018-02-13 15:16] mojovski commented on #342
thank you very much!
I came further and the SIGSEGV is not thrown on adding a new parameterization.
However, when I try to solve the problem at the second time (after the Problem* has been deleted and created again)
[code]
again a SIGSEGV is thrown.
Is there something I might miss?

This is the code how I re-create my ceres::Problem:
[code]

[2018-02-13 15:46] alexsmac commented on #342
I don't see any obvious problems in the snippet you posted.  I would imagine that you might have a similar problem to the previous problem with your LocalParameterisation with your residuals.  Are you retaining them via a pointer after adding them to the Problem?

You could try recompiling Ceres (and your project) in Debug and running it in GDB/LLDB.  If you are using Clang, then you can also add

[2018-02-13 15:49] sandwichmaker opened #343 "Improve LM Scaling, make it more dynamic if the point moves too far away from the initial point"

[2018-02-13 15:49] sandwichmaker commented on #339
gentle ping?

[2018-02-13 15:49] sandwichmaker commented on #334
ping?

[2018-02-13 16:24] sandwichmaker commented on #329
ping? is this still open?

[2018-02-13 16:44] mojovski commented on #342
retaining residuals might be the reason. Is there another way than using
[code]
? I read about it somewhere in old google-community posts but there were no example about what it means to retain them.
Thanks again!

[2018-02-13 17:18] alexsmac commented on #342
Just like the LocalParameterizations, it's controllable via `Problem::Options::cost_function_ownership`.  By default Problem will take ownership and delete the cost functions given to it on destruction.

[2018-02-13 18:25] sandwichmaker commented on #280
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/9581

[2018-02-13 21:22] mojovski commented on #342
Thanks! This did the trick.
[code]

[2018-02-15 05:50] sandwichmaker commented on #331
ping?

[2018-02-15 09:19] Minipada opened #344 "covariance_test fails on arm64 (rpi3)"
I am working with a raspberrypi3 in 64 bits and tried to run the tests apps, covariance_test fails and is `Killed`

My setup:
* rpi3 aarch64
* ceres-solver commit: [e5dceb3ab0c32e3682c0effb2d856c78f52bf8a9](https://ceres-solver.googlesource.com/ceres-solver/+/e5dceb3ab0c32e3682c0effb2d856c78f52bf8a9)
* compilation options: default
* Ceres build log:

      -- A library with BLAS API found.
      -

[2018-02-15 09:39] KunWangV opened #345 "undefined reference to"

[2018-02-15 09:48] Minipada commented on #344
Seems a duplicate. I didn't see #312 . Will try the flag

[2018-02-15 09:58] KunWangV commented on #345
sorry, wrong commit. please close it.

[2018-02-15 13:49] #345 closed

[2018-02-15 13:50] #344 closed

[2018-02-15 13:51] #312 closed

[2018-02-15 14:31] #291 closed

[2018-02-15 14:32] #308 closed

[2018-02-15 14:32] sandwichmaker commented on #289
@alexsmac is this actionable?

[2018-02-15 14:33] #314 closed

[2018-02-15 16:44] anuppari commented on #334
Yep this works.

By the way, for anyone interested (and maybe worth putting in the installation instructions), if you're using the intel MKL and TBB libraries for BLAS/LAPACK, the FindBLAS and FindLAPACK provided with cmake and used by ceres rely on the "LIB" environment variable, which should be set to the library directories of both, e.g.,
[code]
Also, before configuring ceres with cmake, one sh

[2018-02-15 19:17] alexsmac commented on #334
Thanks - the fix has now been merged into master.

[2018-02-15 19:17] #334 closed

[2018-02-15 19:33] alexsmac commented on #289
@clalancette can you please try this CL: https://ceres-solver-review.googlesource.com/#/c/ceres-solver/+/12040 - it should check that the Eigen version is >= 3.3.4 on aarch64 - thanks.

[2018-02-16 09:34] Minipada commented on #344
In case anyone comes by here, the solution offered in the mentioned PR works.

[2018-02-18 20:26] clalancette commented on #289
@alexsmac Sorry for the delay here.  I was able to test this out on my aarch64 board, and it does indeed throw an error as expected when building against the system version.  It also seems to work fine when building against a newer version of Eigen, so I would say that that patch looks good to me.  Thank you!

[2018-02-19 02:15] #289 closed

[2018-02-19 05:58] an-kumar commented on #335
@keir bump on this issue -- any updates? Otherwise i'll start working on my own version, but would prefer not to double up the work.

[2018-02-20 08:31] cnovel opened #346 "Warning C4267 in dynamic_autodiff_cost_function.h"
In include/dynamic_autodiff_cost_function.h, at line 108:
``    const int num_parameter_blocks = parameter_block_sizes().size();``
creates a  `warning C4267: 'initializing': conversion from 'size_t' to 'const int'`.

This patch fix the warning:
``    const int num_parameter_blocks = static_cast<int>(parameter_block_sizes().size());``

[2018-02-21 01:22] keir commented on #346
I believe we have a flag on to disable this warning (it fires in many more places also). What compiler are you using?

[2018-02-21 08:04] cnovel commented on #346
I'm using Visual Studio 2017 (15.5.6). Which flag would be able to disable these warnings?

[2018-02-24 18:36] sandwichmaker opened #347 "What are the right semantics for LocalParameterization with local_size = 0."
Currently these are disallowed, but they lead to weird semantics if you are using subset parameterization and set the entire parameter block constant via subset parameterization, it leads to a crash.

On the other hand, a localparameterization which is not subset parameterization and has a tangent space size of zero is most likely an error, and we have been biased towards detecting that.

Would it

[2018-02-24 18:53] #346 closed

[2018-02-25 11:38] emilk commented on #347
The most confusing thing to me as a user is that `SubsetParameterization` is used to freeze parameters, but you can't use it to freeze _all_ parameters:

[code]

The most consistent rule would be that all these worked, i.e. to allow freezing all parameters with `SubsetParameterization`. This is the solution I would vote for.

If we do not go this path, then the last example should at least give a

[2018-02-26 18:07] keir commented on #346
This commit probably shouldn't have gone in. Ceres takes the stance (as does most Google code) that the following is valid:

int x = y; // y is size_t

Perhaps we should try and make the Ceres public headers compile with this warning on (e.g. keep the fix as is)?

[2018-02-26 19:05] keir commented on #323
We're working on some nice perf improvements in Ceres; you'll probably want to get to this so you can upgrade to new upstream versions easy and fast in the future :)

[2018-02-26 23:24] keir opened #348 "Sanitize & document all Ceres preprocessor defines needed by custom builds"
Currently, Ceres has a somewhat inconsistent pattern of preprocessor defines, like CERES_USE_EIGEN_SPARSE vs CERES_NO_SUITE_SPARSE. They are opposite-sensed for historical reasons that could be fixed now.

Additionally, those defines should get documented, maybe in a new page of the docs. Then guidance can be provided on when to enable or disable the flags for people who have integrated Ceres into

[2018-02-27 13:58] linhuixiao opened #349 "Ubuntu16.04 install ceres error: 对‘google::base::CheckOpMessageBuilder::NewString()’未定义的引用"
Hello, My computer is lenovo YOGA 910, the CPU is i7-7500U, My system is Ubuntu 16.04.03, Opencv 3.3, I'm following the step to install :http://www.ceres-solver.org/installation.html#linux  ;
it is:
##########################################
 CMake
sudo apt-get install cmake
 google-glog + gflags
sudo apt-get install libgoogle-glog-dev
 BLAS & LAPACK
sudo apt-get install libatlas-base-dev
 Eigen3

[2018-02-28 08:39] cnovel commented on #346
So I read the Google guidelines for C++, and while I understand the idea beneath them, compilers will still output warnings (I'm pretty sure gcc will raise the same warning). I don't have a strong opinion on the solution (ie between static_cast and compilation flags, even if I think static_cast is a better solution), it's just that for code quality, this warnings should be taken into account and d

[2018-03-02 19:31] keir opened #350 "Add microbenchmarks for Tiny Solver"
Currently there are none. Suggested for the benchmarks would be comparisons vs normal Ceres for small problems, and additionally some differently sized problems.

[2018-03-02 23:13] oliviersoares opened #351 "Compiling error in test parallel_utils_test.cc introduced with latest commit"
Last commit:
https://github.com/ceres-solver/ceres-solver/commit/21f519d009b2123ad328e5f5e0f6523939519d6a

introduced a compiling error (using gcc 5.4.0, Ubuntu 16.04 environment).

[ 56%] Building CXX object internal/ceres/CMakeFiles/parallel_utils_test.dir/parallel_utils_test.cc.o
internal/ceres/parallel_utils_test.cc: In member function ‘virtual void ceres::internal::LinearIndexToUpperTriangula

[2018-03-02 23:29] pmoulon commented on #351
This `>>` should compile fine if c++11 is active, else it will give trouble.

[2018-03-02 23:51] oliviersoares commented on #351
It's fine if you enforce the flag "-std=c++11", make c++11 a requirement for Ceres and have cmake fail if no c++11 compiler is found.

As far as I can tell, everywhere else in Ceres code base, "> >" (with a space) is used for templates so I  assumed that the use of ">>" was an error.

[2018-03-03 00:43] sandwichmaker commented on #351
Thanks for reporting. Fixed at head now.

[2018-03-03 00:43] #351 closed

[2018-03-04 05:10] sandwichmaker commented on #339
Closing because of no response, please re-open if you have new information.

[2018-03-04 05:10] #339 closed

[2018-03-04 05:11] sandwichmaker commented on #332
Fixed at head. InnerProductComputer uses small_blas now.

[2018-03-04 05:11] #332 closed

[2018-03-04 05:12] sandwichmaker commented on #331
Closing because of no response.

[2018-03-04 05:12] #331 closed

[2018-03-04 05:13] sandwichmaker commented on #329
Closing based on on-mailinglist discussion and we now have c++11 threading support too.

[2018-03-04 05:13] #329 closed

[2018-03-04 05:13] sandwichmaker commented on #313
ping @alexsmac ?

[2018-03-04 12:18] alexsmac commented on #313
@elviskuo07 this should be fixed in this CL: https://ceres-solver-review.googlesource.com/c/ceres-solver/+/12580

[2018-03-04 20:39] alexsmac commented on #349
@linhuincu - what version of GCC/Clang are you using (your problem may be similar to [this one](https://github.com/BVLC/caffe/issues/4492))?  Can you also please post the configure output from CMake.

[2018-03-04 21:27] sandwichmaker commented on #294
likely not worth it.

[2018-03-04 21:27] #294 closed

[2018-03-04 21:30] sandwichmaker commented on #350
One idea.

I think its worth refactoring nist.cc into a problem solving as well as timing benchmark. both for ceres and for tinysolver.

It is also worth thinking about doing it in a manner that more_garbow_hillstrom.cc can use the same infra too even though the constrained problems cannot be solved using tinysolver.

[2018-03-05 05:43] strasdat opened #352 "const correctness for LossFunction*"
AddResidualBlock takes in a **pointer of non-const LossFunction**

[code]

However, it seems like internally it is delegated to ResidualBlock with takes in **a pointer of const LossFuntion**.

[code]

Can we consider this as a "const-correctness" bug?

In other word, is it always safe to do:

[code]

?

[2018-03-05 06:01] sandwichmaker commented on #352
The reason AddResidualBlock does not take const pointers is because in the common case Ceres takes ownership of these pointers and will destroy them when the Problem object is destroyed.

[2018-03-06 16:26] alexsmac commented on #313
The fix has now been merged into master.

[2018-03-06 16:26] #313 closed

[2018-03-09 21:04] keir commented on #336
The tests are now done more explicitly; there isn't much point in macroifying. Closing.

[2018-03-09 21:04] #336 closed

[2018-03-10 23:56] strasdat commented on #352
@sandwichmaker there might be some misunderstanding. I was not talking about **a const pointer of Foo** (``Foo * const``) but a **pointer of const Foo** (``const Foo *``).

Clearly, the latte *can* be deleted:
https://stackoverflow.com/questions/755196/deleting-a-pointer-to-const-t-const

[2018-03-11 23:21] keir commented on #352
Hi Hauke,

You may be correct here. Thanks for pointing it out. I'll think about this
a bit more and reply later.

Cheers,
Keir

On Sat, Mar 10, 2018 at 3:56 PM Hauke Strasdat <notifications@github.com>
wrote:

[2018-03-12 00:00] williammc commented on #344
@Minipada
I've been exploring solution or recipe for SuiteSparse on yocto.
Is your solution from a public yocto recipe ?
If not, can you share hints about building SuiteSparse on yocto ?

[2018-03-12 07:53] Minipada commented on #344
@williammc it is unfortunately not. I didn't find the time to push it to upstream. As it is buildable with makefiles, the recipe was straightforward.

[2018-03-12 17:55] williammc commented on #344
@Minipada thanks for quick response! Mostly, i'm stuck with gfortran compiler on yocto.
But this patch seems to be right for gcc-7.2.0 : https://patchwork.openembedded.org/patch/146603

[2018-03-14 17:47] sandwichmaker commented on #349
ping?

[2018-03-18 01:32] soulslicer commented on #197
I am still experiencing this issue in my project on gcc4.8. How exactly do you fix this?

[2018-03-18 01:43] soulslicer opened #353 "Unable to work on Ubuntu 14.04?"
Hi all,

I am attempting to run my project with Ceres on Ubuntu 14.04. I have compiled it with SuiteSparse. Yet, when I run my program, it crashes with:

Termination:                          FAILURE (Can't use SPARSE_NORMAL_CHOLESKY with SUITESPARSE because SuiteSparse was not enabled when Ceres was built.)

This error does not happen on Ubuntu 16.04. Why is this the case?

[2018-03-19 01:53] Changseob opened #354 "Windows/Andorid/iOS performance Issue"
Hi, I am developing Mobile SLAM from [VINS-Mobile](https://github.com/HKUST-Aerial-Robotics/VINS-Mobile)

But, I have some question or issue.

In iOS (VINS-Mobile), ceres-solver has any problem for SLAM
However, in Windows(or Android), there are some problems.

Although windows machine has better hardware definitely,  performance is lower than iOS.

I don't know it is lower performance or differen

[2018-03-19 14:25] sandwichmaker commented on #354
Can you share the output of ceres::Solver::Summary::FulReport() in the two cases please?
also worth talking to the original VINS developers about the nans.

[2018-03-19 14:26] sandwichmaker commented on #353
@alexsmac can you take a look please?

[2018-03-19 14:42] alexsmac commented on #353
@soulslicer please can you share the output of the CMake when you configured Ceres, and the corresponding: <BUILD_DIR>/CMakeFiles/CMakeOutput.log

[2018-03-23 09:49] Changseob commented on #354
---------------------------- ↓ Windows 3 attempts FullReport() --------------------------------------------
Solver Summary (v 1.13.0-eigen-(3.3.4)-no_lapack-eigensparse-openmp-no_tbb)

                                     Original                  Reduced
Parameter blocks                          139                      136
Parameters                                428                      418
Ef

[2018-03-25 23:21] jbeich opened #355 "Fails to build with TBB=on in certain cases"
After a80b8cfeac6c CMake is confused about compiler flags on Unix (e.g., FreeBSD).

[code]

[2018-03-25 23:25] jbeich commented on #355
Nevermind. It seems `BLA_VENDOR` has to be passed as environment variable.

[2018-03-27 13:12] sandwichmaker opened #356 "Replace scoped_ptr with std::unique_ptr"

[2018-03-27 13:12] sandwichmaker opened #357 "Update FixedArray to use absl::FixedArray and deprecate ManualConstructor"

[2018-03-27 13:13] sandwichmaker commented on #357
This should fix https://github.com/ceres-solver/ceres-solver/issues/319

[2018-03-31 06:01] brentmorgan1987 commented on #246
I implemented the changes.  What am I supposed to see?  I do not see any changes in the stdout.

I set the
update_state_every_iteration = true
in gradient_problem_solver.h

Best,
Brent

[2018-04-02 22:01] keir commented on #357
While I agree we should fix #319, I'm less convinced we want to depend on absl. I'll first re-visit the alignment issue now that C++11 is required.

[2018-04-02 22:06] sandwichmaker commented on #357
I meant pulling it out of absl and using it, instead of depending on absl.

On Mon, Apr 2, 2018, 3:01 PM Keir Mierle <notifications@github.com> wrote:

[2018-04-03 16:41] ojura opened #358 "Gflags include dir not exported when using Gflags built with CMake"
https://github.com/ceres-solver/ceres-solver/blame/master/cmake/CeresConfig.cmake.in#L299

When we enter this IF, shouldn't we append this to `CERES_INCLUDE_DIRS` instead of just setting `gflags_DIR`?

Or in line https://github.com/ceres-solver/ceres-solver/blame/master/cmake/CeresConfig.cmake.in#L316 - why append `GFLAGS_INCLUDE_DIR_HINTS`? Why not `GFLAGS_INCLUDE_DIRS`?

[2018-04-03 17:09] alexsmac commented on #358
1) No we shouldn't.  There are two things happening here, gflags_DIR is the seed directory for the exported gflags CMake configuration that will be checked by find_package(gflags), it's important that you specify the one that we used when Ceres was built.  From gflags_DIR, CMake will find the exported gflags-config.cmake, which creates the imported gflags target and will set the include directorie

[2018-04-03 17:28] ojura commented on #358
Okay, in that case 2) was the cause of the error I stumbled into. I started getting gflags headers not found errors when I linked against ceres. Thanks.

[2018-04-03 17:33] alexsmac commented on #358
In which case that sounds like a different issue, as GFLAGS_INCLUDE_DIR_HINTS would be initialised with GFLAGS_INCLUDE_DIR when gflags was not built with CMake.  What version of gflags is this?  And does your gflags-target.cmake (usually somewhere like: `/usr/local/lib/cmake/gflags` not set the `INTERFACE_INCLUDE_DIRECTORIES` property?

[2018-04-03 19:06] keir commented on #356
Done.

[2018-04-03 19:06] #356 closed

[2018-04-06 07:10] linhuixiao commented on #349
Hello everyone, I have solved this problem.
The problem was occur by  the gcc --version is 4.9. I upadate the gcc to the 5.4 in https://gcc.gnu.org/install/ , and use gcc 5.4 to rebuild the glog in https://github.com/google/glog.
Actually, I'm follow the Ceres tutorial http://www.ceres-solver.org/installation.html to install Ceres 1.13.0, the   libgoogle-glog-dev in the apt-get command is not corr

[2018-04-06 15:58] adityargupta commented on #249
Just downloaded the latest version of ceres 1.14 and eigen 3.3.4 and I am getting the same error above:

CMake Error at cmake/FindEigen.cmake:89 (message):
  Failed to find Eigen - Could not find file:
  C:/Users/agupta/Documents/EIS/include/eigen3/Eigen/src/Core/util/Macros.h
  containing version information in Eigen install located at:
  C:/Users/agupta/Documents/EIS/include/eigen3.
Call Stack (

[2018-04-06 16:09] jasjuang commented on #249
@adityargupta I suggest you install ceres through [vcpkg](https://github.com/Microsoft/vcpkg/) on windows. It simplifies the installation to `vcpkg install ceres`

[2018-04-06 16:32] pmoulon opened #359 "install -> parallel_for_tbb.cc.o has no symbols"
I noticed this `warning` message when I compiled and setup ceres on MacOS (CXX11 Threads ON, TBB OFF)

[code]

Here my question:
Do we want to include `parallel_for_tbb.cc` to the list of compiled files if we did not ask for TBB threading or do we just want to ignore this?

[2018-04-07 14:03] sandwichmaker commented on #359
@pmoulon just ignore this for now. I hate the thought of making the cmake file even more complicated than it is already.

[2018-04-07 14:03] #359 closed

[2018-04-07 14:08] sandwichmaker commented on #354
@Changseob notice that the first three of your ios solves are actually failures. Looks like the residual/jacobian evaluation failed for some reason. Which is why it quits so early.
The last ios iteration is more interesting, but there notice that you are using multiple threads while you are not using any threads in the windows solve. That should explain the performance difference you are observing

[2018-04-07 14:08] #354 closed

[2018-04-07 14:08] #349 closed

[2018-04-12 13:55] antonaaa opened #360 "why the result of "RotationMatrixToAngleAxis" differ from "Rodrigues" in OpenCV by a sign?"
I use ceres to do Bundle Adjustment to optimize my SFM  program，but result always wrong.
After debugging, I find that problem occurs in function `RotationMatrixToAngleAxis`.
And I do the same testing,  and I find that the result of `RotationMatrixToAngleAxis` differs from  `Rodrigues` by a sign.

Below is my testing code, and the output:

below is my testing code.
`#include <opencv2/opencv.hpp>
#i

[2018-04-12 14:02] #360 closed

[2018-04-16 06:50] hj-pony opened #361 "make test failed on iterative_refiner_test"
output following:

Test project /home/×××/4git/ceres-solver/ceres-bin
        Start   1: array_utils_test
  1/128 Test   #1: array_utils_test .........................................   Passed    0.00 sec
        Start   2: autodiff_test
  2/128 Test   #2: autodiff_test ............................................   Passed    0.00 sec
        Start   3: autodiff_cost_function_test
  3/128 Test   #

[2018-04-16 17:37] hj-pony commented on #361
@sandwichmaker
output is following, it seems like what you said. and what should i do to pass the test.

Running main() from gmock_main.cc
[==========] Running 2 tests from 1 test case.
[----------] Global test environment set-up.
[----------] 2 tests from IterativeRefinerTest
[ RUN      ] IterativeRefinerTest.RandomSolutionWithExactFactorizationConverges
[       OK ] IterativeRefinerTest.RandomSo

[2018-04-16 19:55] sandwichmaker commented on #361
I just pushed a change, this should be fixed at HEAD.

[2018-04-17 02:16] hj-pony commented on #361
thx, it works.

[2018-04-17 14:44] #361 closed

[2018-04-20 04:40] SummerPoon928 opened #362 "Build problem in 1.14 Android"
For Android.mk in version 1.14, **thread_token_provider.cc** and **parallel_utils.cc** are missing in **LOCAL_SRC_FILES**. Therefore unresolved reference of **ThreadTokenProvider** and **LinearIndexToUpperTriangularIndex** occurs in libceres.a respectively when these 2 classes are called by other application.

[2018-04-20 05:30] sandwichmaker commented on #362
@SummerPoon928 thanks for reporting, I will fix this shortly.

[2018-04-20 10:33] mkraft89 opened #363 "Incomplete/failing test in corrector_test.cc"
Hi,

thanks a lot for the great work you are doing with ceres!

I've been looking into the robust loss function feature and the residual/jacobian corrections recently.
It seems to me that the test Corrector.MultidimensionalGaussNewtonApproximation in line 145 in

[https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/corrector_test.cc](url)

is incomplete. The ground truth hessia

[2018-04-22 21:10] sandwichmaker commented on #362
could you try

https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13440

which has the fix and a few other changes.

[2018-04-23 02:02] SummerPoon928 commented on #362
Ok! I will try but I would like to ask a question. For your update, it is mentioned that OpenMP is enabled. However, from the official website, it states that OpenMP is not support. If Android is not able to use OpenMP as multi-threading, is it necessary to add it on Android.mk file?

Update Android.mk

1. Add some missing files.
2. Add support for EIGEN_SPARSE.
**3. Enable OpenMP threading by def

[2018-04-23 07:50] SummerPoon928 commented on #362
I use android-ndk-r10e to build but it fails.

For Android.mk **-DCERES_STD_UNORDERED_MAP** is disabled so that the following error message occurs.

ceres-solver/jni/../internal/ceres/collections_port.h:66:4: error: **#error One of: CERES_NO_UNORDERED_MAP, CERES_TR1_UNORDERED_MAP, CERES_STD_UNORDERED_MAP, CERES_STD_UNORDERED_MAP_IN_TR1_NAMESPACE** must be defined!

[2018-04-23 13:45] sandwichmaker commented on #362
What version of Ceres are you using?
Use the version at head.

On Mon, Apr 23, 2018, 12:50 AM SummerPoon928 <notifications@github.com>
wrote:

[2018-04-23 14:13] linusmartensson opened #364 "Remove /jni and use CMake"
For modern versions of the Android NDK, there is stable CMake support which I've made frequent use of to build various Android projects in the wild. Maintaining the jni directory as a separate build environment is prone to introducing bugs and compile issues, as seen in #362.

For verbosity, with Eigen installed in ./third_party/eigen, I am currently using the following setup to build ceres for bo

[2018-04-24 02:01] SummerPoon928 commented on #362
I use version 1.14.0

[2018-04-24 13:10] jn-c opened #365 "Error when installing ceres-solver for the second time."
I am trying to install ceres-solver for my project in ubuntu 16.04. The installation is completed successfully only once, I got an error when trying to install the second time. This is the output of the first installation and the second installation:

[code]

[2018-04-24 13:12] sandwichmaker commented on #363
@mkraft89 thanks for bringing this up, its been a while since I looked at this code, but I will take a look.

[2018-04-24 13:36] linusmartensson commented on #364
Sure thing. As a first step, I compressed the script down a bit further here:

[code]

I would say the most crucial manual step is setting the correct toolchain file, followed by the android options. I have not tried all possible setups, so depending on your preferences some testing may be in order.

c++_shared is my Android STL of choice, since it has the best C++11 support and a permissive licen

[2018-04-24 14:12] alexsmac commented on #365
This isn't a Ceres issue, and doesn't look like a CMake issue either, it's a Catkin issue.  This line:

[code]

is the problem, one of the paths in that command does not exist when called the second time.  You should be able to determine which one by checking all paths in that line.  You should raise this with the ROS / Catkin guys.

[2018-04-24 14:12] #365 closed

[2018-04-24 14:14] jn-c commented on #365
@alexsmac Thank you!

[2018-04-26 08:02] bjornpiltz commented on #295
I have set up AppVeyor integration over at https://github.com/bjornpiltz/ceres-solver. It is very straight forward. Apart from adding [appveyor.yml](https://github.com/bjornpiltz/ceres-solver/blob/master/appveyor.yml) I needed to make [one change to CMakeLists.txt](https://github.com/ceres-solver/ceres-solver/commit/040b445e94739ec93a12633cd1bfa6844ca670bb) to enable the use of [jlblancoc's SuiteS

[2018-04-28 13:38] sandwichmaker commented on #295
Thanks @bjornpiltz this is awsome. @alexsmac could you work with @bjornpiltz to see the best way to integrate this into cmake?

[2018-04-29 01:06] non-void opened #366 "Linking Error with Android"
I ran the following command on the terminal in jni folder and everything seems fine:
`EIGEN_PATH=/home/eigen3 ndk-build  `
Then I go to the obj folder and find the **libceres.a** file
I copied into my project's jni folder, together with Android.mk and Application.mk.
This is my Android.mk:
[code]

This is my Application.mk:
[code]
The test.cpp is as follows:
[code]
Then in the jni folder, I run th

[2018-04-29 02:33] non-void commented on #366
I re-installed android ndk and found the problem still happens, it is not my NDK's fault.
Then I tried to comment some of the lines in Test.cpp, and found the error first occurs in
`Problem problem`
The Problem is unable to initialize.

Could anyone please give me an example how to use the Ceres Solver in Android, with the Application.mk and Android.mk and other stuff?

I have stuck on this proble

[2018-04-29 07:48] non-void commented on #366
I changed the
`APP_STL := c++_static`
to
`APP_STL := c++_share`
in my project's android.mk

Then I managed to complie!

However, I tried to run it on my android machine, it failed immediately.
The error message is like this:

[code]

**There must be still something wrong with the compile.**

This is the modified test.cpp, added a function for Java layer's call.
[code]

[2018-04-30 14:47] RiverIntheSky opened #367 "SEGFAULT when using SetParameterLowerBound/SetParameterUpperBound"
backtrace
[code]
I couldn't figure out if it's cere's problem of using Eigen, or there is some problem with my cost function that line search couldn't find a valid step size. My cost function is discontinous and I approximated the jacobian myself.
Any help would be appreciated!

Eigen  3.2.92
ubuntu 16.04
gcc 5.4.0

[2018-05-01 00:18] sandwichmaker commented on #367
This seems odd and unexpected. Can you run the solver with -logtostderr -v=3 and share the log here? I'd like to see the polynomial thats actually causing this mess.

[2018-05-04 16:32] SerIgFed opened #368 "The example "nist" couldn't be built under windows10 + msvc2017 + cmake3.10"
the linker says that the obj-file is too big, and I had to fix it in the "examples\CMakeLists.txt" file:
after the line:
     add_executable(nist nist.cc)

I've inserted the 3 lines:
    if(MSVC)
        set_target_properties(nist PROPERTIES COMPILE_FLAGS "${COMPILE_FLAGS} /bigobj")
    endif()
, and then it was built successfully. It would be nice to get this fix from you.

[2018-05-05 11:42] sergiud commented on #368
This does not seem to be a proper fix. Where does the variable `${COMPILE_FLAGS}` come from? Also, the `COMPILE_FLAGS` property is deprecated and `COMPILE_OPTIONS` should be used instead.

[2018-05-06 14:53] alexsmac commented on #368
If this is *only* required for nist, then (as @sergiud already said) this would be a better fix:

[code]

If you can confirm that fixes the problem we can create a CL to add this to master.

[2018-05-06 15:00] alexsmac commented on #366
I don't have any suggestions I'm afraid - @keir do you have any ideas?

[2018-05-06 16:10] month612 opened #369 "Build failed in android 2.3.2 with ceres_solver 1.14"
Build failed in android 2.3.2 use ceres_solver 1.14

I'm trying to use the Ceres solver 1.14 for a project in Android.I strictly follow the installation(http://www.ceres-solver.org/installation.html)，but I'm running into some "undefined reference" linker errors and I was hoping somebody could help me figure out what's wrong.
I  defined the CERES_GLOG_DIR=/D:/Ceres_ndk/ceres-solver-1.14.0/jni/glog

[2018-05-06 16:55] alexsmac commented on #295
Interesting, so I don't have a Windows machine but I'm slightly surprised that [jlblancoc's SuiteSparse](https://github.com/jlblancoc/suitesparse-metis-for-windows) is actually working for you when used as above.

Using this:

[code]

forces the use of the configured suitesparse-config.cmake installed by CMake, which bypasses the `FindSuiteSparse.cmake` that ships with [jlblancoc's SuiteSparse](ht

[2018-05-06 16:59] alexsmac commented on #369
You're hitting the issue fixed this by [this commit](https://github.com/ceres-solver/ceres-solver/commit/c6cf24cb1bfe205173fb9f41b7cf929c57745113#diff-276d9f119640e5ce234cead6a37a559c), can you try this with the master branch of Ceres instead of the 1.14 release - that should fix this problem.

[2018-05-06 17:11] alexsmac commented on #364
@linusmartensson - looks good, and yes I concur that this should be mostly about updating the build documentation for Android - would you be willing to submit a CL doing so?

In terms of incorporating the android logging library, I think something like the following [at this point](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/CMakeLists.txt#L179) should fix the issue:

[

[2018-05-07 01:48] month612 commented on #369
Thank you very much for your help. It was very useful to me and now  ceres_solver do works fine on Android.Thank you very much！

[2018-05-07 13:55] SerIgFed commented on #368
Thanks for the correction, it works fine.

[2018-05-08 08:14] non-void commented on #369
I am also struggling with the ceres-on-android problem, can you please share the android source code with me?
I want to compare your project with mine and find where I do wrong.

Very thanks if you are so glad to share it with me.

Email: panxiaoyu6@gmail.com

[2018-05-08 14:14] alexsmac commented on #368
This fix has now been merged into master.

[2018-05-08 14:14] #368 closed

[2018-05-09 21:31] sweeneychris opened #370 "Is MiniGLOG still needed?"
It seems GLOG is now supporting Android: https://github.com/google/glog/issues/280

[2018-05-10 08:39] blackball opened #371 "Not able to provide Eigen dirs with cmake."
I have my Eigen installed locally. I wanted to build ceres-solver with it by using cmake. But it stuck at the cmake phase ignoring the macros I passed into through command line, for example:

[code]

Now my solution is directly changing the FindEigen to make it work. I would like know if there's a way not requiring modifying the file. Thanks!

Here are the cmake error msg:

[code]

[2018-05-10 08:46] blackball commented on #371
I just found out that I could use: -DEIGEN_INCLUDE_DIR_HINTS:PATH=/path/to/my/eigen/ to make it work. Ignore this. closed.

[2018-05-10 08:46] #371 closed

[2018-05-10 08:55] alexsmac commented on #370
Interestingly, most users on the mailing list about MINIGLOG seems to be running Windows, not Android, as a result I think its outgrown its original intended use-case of compensating for glog not being available on Android.

[2018-05-11 01:52] LingjieLi commented on #260
How do you solver the problem? @chrisluu

[2018-05-11 06:47] ogrex commented on #330
The same idea occurs to me. however, not much info about the performance of Sparse Solver is given on Internet.

[2018-05-15 16:53] nicole-antoine opened #372 "Ubuntu 14.04 configuring incomplete ceres 1.13"
Hello,
I'm currently trying to install ceres-solver but even though I tried to follow some guides/steps (I followed the "official instructions" as well as https://chaitanyaandhare.wordpress.com/2015/01/25/how-to-install-google-ceres-solver-and-1dsfm-on-ubuntu-14-04/ in vain.) I end up with errors, some I could deal with but I'm a bit of idea right now. I also tried with different version but I don

[2018-05-15 19:02] alexsmac commented on #372
@nicole-antoine this section is the error that is preventing CMake from configuring Ceres:

[code]

The problem is specifically that the `Eigen3Targets.cmake` file has been deleted from your Eigen build directory.  I checked a fresh build of eigen-eigen-5a0156e40feb (3.3.4) and Eigen's CMake will correctly create that file so for some reason it was deleted in your build.  Rebuilding in `/home/vcla

[2018-05-15 20:36] jbeich commented on #355
Unfortunately, passing `BLA_VENDOR` isn't reliable as CMake would ignore the requested BLAS implementation if not found or there was an error.

[2018-05-15 20:38] jbeich commented on #355
Can probably be fixed by replacing
https://github.com/ceres-solver/ceres-solver/blob/facb199f3eda902360f9e1d5271372b7e54febe1/CMakeLists.txt#L438
with
[code]

[2018-05-16 14:24] NeroBurner opened #373 "C++17 removes random_shuffle breaks ceres-solver"
Ceres-Solver with C++17 won't compile.

C++14 deprecates `random_shuffle`, C++17 removes `random_shuffle`
As replacement since C++11 `std::shuffle` is provided
Source: http://en.cppreference.com/w/cpp/algorithm/random_shuffle

In current master only `schur_eliminator_impl.h` seems to use random_shuffle https://github.com/ceres-solver/ceres-solver/blob/5d8b494557e17992b64d8df548f49ef1f9ef4e05/inter

[2018-05-17 03:35] #372 closed

[2018-05-17 03:36] sandwichmaker commented on #373
@NeroBurner that line can likely just be dropped. Please feel free to send a CL.

[2018-05-19 08:06] SubMishMar opened #374 "Minimizing a generic quadratic function"
The tutorial lucidly explains how to minimize a simple quadratic function like 0.5*(10-x)^2. But how can I do it for lets say 0.5*(x^2 + 3*x + 1)? I modified the code as follows:

[code]

But I the following compilation error:
[code]

I understand that sqrt() normally  doesnt take in templates as inputs but I dont know how to make this work. Any help will be appreciated. Thanks.

[2018-05-20 14:58] sergiud commented on #374
Why do you call `sqrt` in the first place? Other than that, you probably need to insert a `using std::sqrt` prior to its use.

[2018-05-20 16:00] SubMishMar commented on #374
I have tried std::sqrt, it does compile but the solver complains that the residual is not correct.

I use sqrt because I want to minimize x^2+3x+1 if I set the residual without sqrt, it will minimize x^2+3x+1 and it's not the same thing.

[2018-05-20 16:10] sergiud commented on #374
I'm sorry, but this does not make any sense.

[2018-05-20 16:38] BrannonKing commented on #319
What's wrong with utilizing EIGEN_MAKE_ALIGNED_OPERATOR_NEW to repair this issue?

[2018-05-21 11:37] ZhengPan2014 opened #375 "Residual and Jacobian evaluation failed."
I'm doing PnP problem with ceres-solver, but I got the problem mentioned in the title, the residual is inf.
## **code is as follow:**
[code]

## **Error in terminator:**
Residual Block size: 1 parameter blocks x 2 residuals

For each parameter block, the value of the parameters are printed in the first column
and the value of the jacobian under the corresponding residual. If a ParameterBlock was
h

[2018-05-21 12:04] sergiud commented on #375
Obviously, you're doing something wrong. These lines look suspicious:

[code]
There's an out-of-bounds access to `p_camera[3]`.

[2018-05-21 13:59] v01d opened #376 "support RelWithDebInfo"
Hi,
when building ceres with CMAKE_BUILD_TYPE=RelWithDebInfo, optimization flags that are set for Release (-march=native) are not set. This target should be Release + "-g" flag, so that it is possible to follow backtraces and still use optimized code. On building ceres as part of a ROS Catkin workspace, this is particularly troublesome as it is not designed to mix build types and forces me to have

[2018-05-21 14:20] v01d opened #377 "GCC_VERSION is blank on cmake, -march=native not set"
I was building ceres on ubuntu 16.04 with CMAKE_BUILD_TYPE=Release and found out it does not set march=native. I traced the problem to the GCC_VERSION variable not being set. I found out that the recommended way to test gcc version is using CMAKE_CXX_COMPILER_VERSION variable. Changing this in the cmake file makes it correctly detect the version as being above 4.2 and enables the corresponding fla

[2018-05-21 16:38] DmitriyKorchemkin opened #378 "target_compile_features support for not-so-old compilers"
Hello,

282b8b5f3 adds
[code]
to internal/ceres/CMakeLists.txt , which breaks configuration with relatively new compiler coupled with non-bleeding-edge CMake (i.e gcc 7 will be unsupported with cmake < ~ KitWare/CMake@8570dc7f64928ec7896197394f089f5ad063c6ca ).

Is there any solution to overcome this (without updating cmake)?

[2018-05-21 18:04] sergiud commented on #378
What's your CMake version?

Without removing this line, I don't believe there's a drop-in replacement for this functionality. Besides, `target_compile_features` was introduced with `CMake 3.1` in 2014. You don't need a bleeding-edge CMake.

I don't understand this. Can you elaborate?

[2018-05-21 21:54] DmitriyKorchemkin commented on #378
I'm using `cmake` 3.11.2 and `gcc` 7.3  (with error `target_compile_features no known features for CXX compiler "GNU"`); unable to reproduce on a clean install, though.

Supposedly, just my cmake installation is broken.

[2018-05-21 21:54] #378 closed

[2018-05-22 06:31] ZhengPan2014 commented on #375
@sergiud thank you!  such a stupid mistake I have made and I even can't find it out myself just because I wrote it.

[2018-05-22 06:31] #375 closed

[2018-05-22 20:34] pbeeson opened #379 "check_gradients seems to improve my solver"
I have a solver that is formulated such that it runs for a maximum amount of time or a complicated stop criteria is seen in a option callback.  When I do this, I see the stopping criteria is seen only ~70% of the time.  When the *only* change I make is  `options.check_gradients = true;` That solve rate spikes to 97.4%.  I cannot for the life of me figure out what check_gradients might be changing

[2018-05-22 20:47] pbeeson commented on #379
This is using 1.12 from the Ubuntu .debs

[2018-05-22 20:48] pbeeson commented on #379
But I just compiled 1.14 and built against that (wiped 1.12 from my machine to make sure) and it still happens.

[2018-05-22 21:06] pbeeson commented on #379
Unless I'm mistaken that check_gradients is simply a validation check?
http://ceres-solver.org/nnls_solving.html#_CPPv2N5ceres6Solver7Options15check_gradientsE

[2018-05-22 21:10] pbeeson opened #380 "update_Every_state_iteration documentation has errors"
http://ceres-solver.org/nnls_solving.html#_CPPv2N5ceres6Solver7Options28update_state_every_iterationE

The enumerated list has the same values set to false for both cases.

[2018-05-23 04:32] sandwichmaker opened #381 "Add AutoDiffFirstOrderFunction"
Add an automatically differentiated version of FirstOrderFunction.

[2018-05-23 04:32] #373 closed

[2018-05-23 04:34] sandwichmaker commented on #374
@SubMishMar The nonlinear least squares minimizer cannot minimize arbitrary quadratic functions. It can only minimize functions that can be written as the sum of squares. If you want to minimize arbitrary functions, I recommend using the Gradient based solver.

[2018-05-23 04:34] #374 closed

[2018-05-23 04:39] sandwichmaker commented on #379
@pbeeson that does seem odd.  do you have a small reproduction that I can perhaps take a look at?

[2018-05-23 04:40] sandwichmaker commented on #380
Thanks for catching this @pbeeson I will fix this shortly.

[2018-05-23 08:18] alexsmac commented on #381
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13580

[2018-05-23 12:09] pbeeson commented on #379
That’s going to be a bit difficult. I was looking into replacing nlopt with
Ceres in my ROS-ecosystem IK solver (https://bitbucket.org/traclabs/trac_ik/).
I can share the source if you like but it won’t compile without ROS. Let me
spend a few days trying to dump/read some binaries so that you don’t need
ROS or nlopt installed —- you might still need KDL debs).
On Tue, May 22, 2018 at 11:39 PM Same

[2018-05-23 13:11] alexsmac commented on #379
Are you saying that without gradient checking, 70% of the time your custom callback terminates the solve (the remaining 30% is when the solve times out), whereas with gradient checking 97% of the time your custom callback terminates the solve?

How are you determining when your stop criteria is triggered and how are you calculating the 'solve rate'?  Are you checking that the solver has succeeded

[2018-05-23 13:32] pbeeson commented on #379
YES!

Right now I'm doing a quick dirty thing for testing.  Because my solver can have user defined tolerances, I am checking to see if the residuals fall within those tolerances (assuming the tolerances are around zero residual).  When this happens, I set a flag "stop_desired" (which obviously is set to false right before the Solve() call.  In the Callback, if stop desired is true, then I return

[2018-05-23 14:06] pbeeson commented on #379
So I just ran an experiment where I seed the problem with the exact same inputs, and I print the 6 values in the  the parameter block on every call to the cost function.  The *only* difference between the two runs is setting check_gradients=true; inn the option block or commenting that line out.

What I see are _drastically_ different numbers getting passed by ceres into the cost function dependin

[2018-05-23 14:09] alexsmac commented on #379
Are you exploiting any caching of previously evaluated values in your CostFunction in your termination criterion?  I.e. are you comparing the delta between consecutive calls to CostFunction::Evaluate?

The gradient checker will invoke the CostFunctions to perform numerical differentiation to verify the returned jacobians match to within the specified tolerance.  As such Ceres will indeed evaluate

[2018-05-23 14:14] pbeeson commented on #379
No.

 I'll attach the actual source here (it's only 300 lines or so).  Please note that the "stop_desired" is really `progress=1` and "continue solving" is  `progress == -3`.  Those are the only two return codes used right now for this initial test.

[source.zip](https://github.com/ceres-solver/ceres-solver/files/2031428/source.zip)

[2018-05-23 14:24] pbeeson commented on #379
Also (maybe helpful), if I comment out the `SetParameterLowerBound` and `SetParameterUpperBound` lines, ceres solves 100% of the time regardless of the check_Gradients option, and at *much* faster average speeds with check_Gradients not used.  However, I need the bounds for robot kinematics.  Robot joints have limits.

Perhaps there is some weirdness with the upper/lower bounds and the check_gradi

[2018-05-23 18:48] SubMishMar commented on #374
@sandwichmaker  Thanks for the clarification. Btw, Can I solve a linear system like Ax = b in ceres?

[2018-05-25 03:28] wzxchy opened #382 "Build failed in android 3.0.1 with the latest version"
I'm trying to build ceres for android with the latest version but have some trouble. I would be appreciate if you could help me solve it.
My Application.mk is as follows:
-----------------------------------------------------
APP_BUILD_SCRIPT := $(call my-dir)/Android.mk
APP_PROJECT_PATH := $(call my-dir)

APP_CPPFLAGS += -fno-exceptions
APP_CPPFLAGS += -fno-rtti
APP_CPPFLAGS += -std=c++11

APP_OPT

[2018-05-26 22:28] richmattes commented on #376
Maybe consider adding an option to enable native optimization?  For tasks like distribution packaging, you don't necessarily want native optimizations as the optimizations will be native to the build machine, not the client machines.  Distributions also tend to use RelWithDebInfo during the build so that debug info is generated to populate -dbg packages.

[2018-05-26 23:00] richmattes opened #383 "Test failure in CompressedRowSparseMatrixTest.AppendRows"
I'm seeing a test failure in CompressedRowSparseMatrixTest.AppendRows when building ceres-solver-1.14.0 for Fedora 28.  Test output:

[code]

Backtrace:
[code]

I think the problem might be in the [constructor of CompressedRowSparseMatrix](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/compressed_row_sparse_matrix.cc#L166).  The failure is occuring because a mutable_cols a

[2018-05-30 14:22] pbeeson commented on #379
OK, I created a simple example where I set up two identical cost functions, problems, etc.  The *ONLY* difference is the `option.check_gradient` flag.  In the one case it after 30 iterations it converges but fails to find a suitable answer (there are multiple suitable solutions).  When I have check_gradients turned on, it does find an answer after only 12 iterations. [test_ceres.cpp.gz](https://gi

[2018-05-30 14:41] sandwichmaker commented on #379
Thanks @pbeeson I am traveling today. I will take a look at this in the next day or so.

[2018-05-31 16:18] sandwichmaker commented on #383
@richmattes thanks for reporting. This is a bit odd that you are seeing this failure, but I am not seeing it on macos or elsewhere. Let me take a closer look.

[2018-05-31 16:20] sandwichmaker opened #384 "parallel_for_nothreads should be guarded by CERES_NO_THREADS"

[2018-05-31 16:47] richmattes commented on #383
I did some digging - from the backtrace it sure looks like the code is tripping over a vector bounds check for the [] operator in libstdc++.   Since it just started showing up when building the RPM for Fedora 28 I looked at the difference between the default RPM build flags between Fedora 27 and 28.  It turns out that Fedora [added -D_GLIBCXX_ASSERTIONS](https://bugzilla.redhat.com/show_bug.cgi?id

[2018-06-05 07:15] jackyfriend opened #385 "Why the library for android is so big?"
Hello, I used the most recent ceres-solver to build the android library, and modified the APP_STL to gnustl_static and with '-std=c++11' and '-DCERES_RESTRICT_SCHUR_SPECIALIZATION'. After built, the static library is up to 140MB. How can I make it smaller? The static library for ios is just 17MB which is so smaller than android.

[2018-06-06 17:03] sandwichmaker commented on #385
are you sure you are not building with debugging symbols?

[2018-06-07 06:00] jackyfriend commented on #385
@sandwichmaker Thank you for your reply, I' m sure building with the release symbol because in the default ceres-solver/jni folder, the Application.mk is using 'APP_OPTIM := release', and I did not change that.

[2018-06-07 06:08] venonat001 opened #386 "How to update weight between iterations?"
Hello,
recently I'm using the ceres solver to solve some bundle adjustment problems with ground control points. Weight of control points is expected to be updated according to the  value of objective functions after each iteration, but now I'm confused how to realize it.

[2018-06-08 04:50] sandwichmaker commented on #385
@alexsmac any ideas?

[2018-06-08 04:51] sandwichmaker commented on #386
This is not possible to do, or a good idea.
Ceres depends on the objective function being constant across iterations.

[2018-06-08 04:51] #386 closed

[2018-06-08 04:51] sandwichmaker commented on #382
looks like you need to link to the openmp runtime.

[2018-06-08 04:57] sandwichmaker commented on #379
Sorry Patrick, I have been sick and then swamped with the day job.
I will look asap.

On Wed, Jun 6, 2018 at 8:26 PM, Patrick Beeson <notifications@github.com>
wrote:

[2018-06-08 21:40] artivis opened #387 "Analytic CostFunction Jacobians wrt local parametrization"
I have the feeling that this topic has been raised a couple times yet I couldn't find a satisfactory answer...
So here we are again,

I'm trying to take benefit from a piece of code that defines some basics operations on manifolds (e.g. SO2/3) together with the Jacobians. No suspense here, all Jacs are developed wrt the tangent space.

For short
[code]
So what do I do with 'my' `d y / d R` ??

As

[2018-06-12 08:20] ZhiyuLiu1993 commented on #349
@alexsmac Hello, I tried to cross-compile ceres-solver，but the following error occurred.
**configure output from CMake**:
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/arm-linux-gnueabihf-gcc-5
-- Check for working C compiler: /usr/bin/arm-linux-gnueabihf-gcc-5 -- works
-- Detecting C compiler ABI info
-- Det

[2018-06-12 09:35] alexsmac commented on #349
Can you post the output of: `make VERBOSE=1`, and the contents of: `<CERES_BUILD_DIR>/CMakeFiles/Export/lib/cmake/Ceres/CeresTargets.cmake`

[2018-06-12 09:48] ZhiyuLiu1993 commented on #349
@alexsmac
Thanks for your reply.
**It is the output:**
[ 75%] Linking CXX static library ../../lib/libceres.a
cd /home/lzy/google_carto_ws/src/ceres-solver/build/internal/ceres && /usr/bin/cmake -P CMakeFiles/ceres.dir/cmake_clean_target.cmake
cd /home/lzy/google_carto_ws/src/ceres-solver/build/internal/ceres && /usr/bin/cmake -E cmake_link_script CMakeFiles/ceres.dir/link.txt --verbose=1
/usr/bin

[2018-06-13 11:48] linusmartensson commented on #385
I can't tell why you get that package size, but I had the same issue and found that removing debug symbols using strip reduces the library size by several orders of magnitude:
[code]

[2018-06-13 22:44] paulinus opened #389 "Handling NULL permutation from SuiteSparseQR"
When computing covariances using SuiteSparse, the method `SuiteSparseQR` is called. One of the outputs of that method is a permutation.

Ceres checks that this permutation is not NULL
https://github.com/ceres-solver/ceres-solver/blob/1e8e9452d0a7dfaf5697b544810798a58e35443e/internal/ceres/covariance_impl.cc#L654

From the source code of SuiteSparse, it seems that NULL is a valid output that is mea

[2018-06-14 03:52] sandwichmaker commented on #389
@paulinus interesting catch. I had not realized that NULL is a valid output. This is definitely a bug. Yes modifying/fixing ceres to not check fail and to deal with correctly would be the way to go.

[2018-06-14 04:15] sandwichmaker commented on #387
@artivis

I understand the appeal of working on the manifold and respecting its local tangent space and ceres is hip to all the latest hotness there. It just prefers to compose the action of a CostFunction with the LocalParameterization. There are a number of reasons for this.

1.  Purely historically CostFunctions came first and LocalParameterizations came much later. So CostFunctions were always

[2018-06-14 04:16] sandwichmaker commented on #383
@richmattes thank you, sorry day job has kept me busy for the last few weeks.  Please send me a fix on gerrit, or I will take a look as soon as I can.

[2018-06-14 04:20] sandwichmaker commented on #377
@alexsmac can you take a look please?

[2018-06-14 04:21] #369 closed

[2018-06-14 07:38] paulinus commented on #389
good, thanks for the quick response. I've submitted a patch for review in gerrit https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13640

[2018-06-15 02:12] sandwichmaker commented on #389
merged!

[2018-06-15 02:12] #389 closed

[2018-06-15 07:46] allo- opened #390 "Missing lapack dependency to libf2c"
When building (for windows) with lapack, ceres links against ``lapack.lib``, but not against ``libf2c.lib``, what causes unresolved symbol errors when linking a project against ceres.

[2018-06-15 09:00] alexsmac commented on #390
This looks like a bug in the FindLAPACK.cmake shipped with CMake, it should be pulling in all libraries required to link against LAPACK, but evidently [Eigen (amongst others)](https://bitbucket.org/eigen/eigen/src/7a835107faf8b928ed3ccca591ceded3e008aebb/cmake/FindLAPACK.cmake?at=default&fileviewer=file-view-default#FindLAPACK.cmake-84) have their own forks that have special cases for f2c for Wind

[2018-06-15 13:52] sandwichmaker commented on #390
This is a bit complicated and not really Ceres or even FindLAPACK's fault. Allow me to explain.

The standard [LAPACK](http://www.netlib.org/lapack/) is in pure Fortran. Fortran 95 as I understand it. Building and using it requires a fortran compiler and no libf2c.

A number of libraries (including Eigen) that implement parts of LAPACK using their own optimized implementations say in C or C++ then

[2018-06-17 17:25] oracle3001 opened #391 "ParallelFor Function Already Defined Error"
Building with the latest version of the code with Visual Studio 2017 + Intel MKL  / TBB on Windows 10, I get the following error. The basis for the windows solution is from https://github.com/tbennun/ceres-windows, which the latest code swapped into the relevant directory. Doing this before, I haven't had any issues compiling.

[code]

[2018-06-17 19:20] alexsmac commented on #377
This should be fixed in [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13662) which should be landing soon.

[2018-06-17 19:38] alexsmac commented on #355
@jbeich thanks for this, unfortunately I don't think the proposed fix would work on its own as it would cause other issues in the FindSharedPtr/FindUnorderedMap code which would require -std=c++11 to be passed to check_cxx_source_compiles() via CMAKE_REQUIRED_FLAGS in order to correctly detect the C++11 versions.

However, we have replaced wholesale a lot of this logic in master, which is actually

[2018-06-17 19:44] alexsmac commented on #384
Fixed in [CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13664)

[2018-06-17 19:55] alexsmac commented on #391
This looks odd.  Although [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13664) should 'fix' the issue in that the nothreads variant will be #ifdef-ed out, its definition should already be excluded from the build by [these lines](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/CMakeLists.txt#L33).

If I had to guess, I would suspect that this is a p

[2018-06-17 20:17] oracle3001 commented on #391
In the config.h I just have
`#define CERES_USE_TBB`

If one adds
`#define CERES_NO_THREADS`

you get a huge number of errors stating

Severity	Code	Description	Project	File	Line	Suppression State
Error	C1189	#error:  CERES_USE_TBB is mutually exclusive to CERES_USE_OPENMP, CERES_USE_CXX11_THREADS and CERES_NO_THREADS (compiling source file ..\ceres-solver\internal\ceres\blas.cc)	ceres	d:\sdks\x64\

[2018-06-17 20:27] oracle3001 commented on #391
I partially misread your post.

You are correct it is that the msvc generated project I am using is based on an old version of ceres and up until now it is possible to crowbar in update code, but that has now changed such that it is including these dupes.

[2018-06-18 11:46] debalance opened #392 "evaluation_callback_test failing on arm64 ppc64el"
Hi!
The evaluation_callback_test introduced in 1.14 fails on arm64 and ppc64el:
https://buildd.debian.org/status/fetch.php?pkg=ceres-solver&arch=arm64&ver=1.14.0-1&stamp=1529085054&raw=0
https://buildd.debian.org/status/fetch.php?pkg=ceres-solver&arch=ppc64el&ver=1.14.0-1&stamp=1529082790&raw=0

With 1.13 all tests succeeded on those platforms.

[2018-06-18 17:18] #384 closed

[2018-06-18 17:18] sandwichmaker commented on #392
@keir can you take a look please.

[2018-06-18 17:19] sandwichmaker commented on #391
@oracle3001 can you confirm that this is fixed at head?

[2018-06-18 17:19] sandwichmaker commented on #390
@allo- it is not clear what Ceres can do here. This is a problem with the upstream library that is bringing in a libf2c dependency but not properly bringing it along.

[2018-06-18 17:21] oracle3001 commented on #391
I can confirm it isn't an issue with ceres code and I can now successfully build.

It is related to outdated solution provided by

https://github.com/tbennun/ceres-windows,

[2018-06-18 17:33] allo- commented on #390
I was not sure, where the bug lies. I thought about Suitesparse or clapack itself. So this is a cmake bug?

[2018-06-18 21:52] #391 closed

[2018-06-19 04:49] sandwichmaker commented on #390
The bug lies in your lapack implementation, which should declare its dependency on libf2c.

[2018-06-19 04:50] sandwichmaker commented on #387
@artivis I am going to close this issue. If you have further questions on this issue, feel free to re-open or discuss on the mailinglist.

[2018-06-19 04:50] #387 closed

[2018-06-21 12:22] alexsmac commented on #376
This should now be updated in master, `-march=native` is no longer enabled by default on Linux (it was not enabled by default on OS X) and the docs have been updated to explain how to add it should they wish to do so.

[2018-06-21 12:22] #376 closed

[2018-06-22 06:30] jackyfriend commented on #385
@linusmartensson Thank you for your help. It works very well. Great job.

[2018-06-22 10:33] alexsmac commented on #377
This should now be fixed in master.

[2018-06-22 10:33] #377 closed

[2018-06-28 17:40] alexsmac opened #394 "Investigate reordering options for Accelerate framework"
Investigate what, if any, options exist in Accelerate to support reordering in [ReorderProgramForSparseNormalCholesky()](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/reorder_program.cc#L539)

[2018-06-28 19:23] sandwichmaker opened #395 "Add example code and documentation for using the Inverse Function Theorem for computing derivatives."
FAQ #6 http://ceres-solver.org/modeling_faqs.html

[2018-06-29 08:38] alexsmac opened #396 "Detect and enable Accelerate framework in Bazel build on Apple OSs"
The Bazel build currently disables all optional dependencies, including Accelerate even when built on an Apple OS.  It should detect and enable them like the CMake buildsystem.

[2018-06-29 08:40] alexsmac opened #397 "Add support for Accelerate framework to DynamicSparseNormalCholeskySolver"

[2018-06-29 13:14] alexsmac commented on #330
Support for Apple's Accelerate sparse solvers has now been merged into master

[2018-06-29 13:14] #330 closed

[2018-06-29 14:16] #385 closed

[2018-06-29 14:17] sandwichmaker commented on #362
@SummerPoon928 is this still open? have a look at HEAD, cmake support should be straightforward to use now.

[2018-06-30 16:35] sandwichmaker commented on #390
@alexsmac is this something ceres can do anything about, or should we close this?

[2018-06-30 16:36] sandwichmaker commented on #168
Closing as this bug has not seen any action for three years now.

[2018-06-30 16:36] #168 closed

[2018-06-30 16:36] sandwichmaker commented on #159
@nocnokneo is this still a problem?

[2018-06-30 16:40] sandwichmaker commented on #174
Going to close this, as there is no plan to work on this anytime soon.

[2018-06-30 16:40] #174 closed

[2018-06-30 16:41] sandwichmaker commented on #184
@markusjrmueller is this still a thing? just trying to figure out if this is actionable.

[2018-06-30 16:42] sandwichmaker commented on #343
No clear actionable description.

[2018-06-30 16:42] #343 closed

[2018-06-30 16:43] sandwichmaker commented on #192
No plan on doing this anytime soon. Closing for now.

[2018-06-30 16:43] #192 closed

[2018-06-30 16:44] sandwichmaker commented on #244
This is fixed.

[2018-06-30 16:44] #244 closed

[2018-06-30 17:16] sandwichmaker commented on #170
Closing this as this is a duplicate of the subset preconditioner issue.

[2018-06-30 17:16] #170 closed

[2018-06-30 17:17] sandwichmaker commented on #204
Closing this as cmake build should allow you to build an executable and run it on android.

[2018-06-30 17:17] #204 closed

[2018-06-30 17:17] sandwichmaker commented on #238
@alexsmac is this actionable? if not please close it.

[2018-06-30 17:18] sandwichmaker commented on #224
Closing.

[2018-06-30 17:18] #224 closed

[2018-06-30 17:19] sandwichmaker commented on #268
No plans currently. Subset Preconditioner is the path here.

[2018-06-30 17:19] #268 closed

[2018-06-30 17:19] sandwichmaker commented on #269
Subset preconditioner is the path here.

[2018-06-30 17:19] #269 closed

[2018-06-30 17:20] sandwichmaker commented on #274
@alexsmac is this still actionable, otherwise lets close this.

[2018-06-30 17:20] sandwichmaker commented on #305
@debalance is this still a thing?

[2018-06-30 17:21] sandwichmaker commented on #315
@bygreencn is this still a problem?

[2018-06-30 17:21] sandwichmaker commented on #319
@keir can you take a look at this please?

[2018-07-01 14:06] bygreencn commented on #315
@sandwichmaker not test the newer release, change it to 15*eps is ok at 1.13

[2018-07-01 17:10] alexsmac commented on #274
Since we upgraded our minimum CMake version to 3.5, this has become viable.  I've added a CL to enable it [here](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13762).

[2018-07-01 17:11] #238 closed

[2018-07-01 17:13] alexsmac commented on #390
I don't think we should run modified versions of the default CMake FindBLAS/FindLAPACK packages which I think is where this issue lies, in that they should report all include directories/libraries required in order to use BLAS/LAPACK.

[2018-07-01 17:13] #390 closed

[2018-07-01 20:28] sandwichmaker commented on #367
ping? if I do not hear back I will close this as unreproducible.

[2018-07-01 20:28] sandwichmaker commented on #366
@keir ping?

[2018-07-01 20:29] sandwichmaker commented on #362
I am going to close this, please re-open if this is still an issue.

[2018-07-01 20:29] #362 closed

[2018-07-01 20:30] sandwichmaker commented on #353
I am going to close this, if you have an update on this bug, please re-open it.

[2018-07-01 20:30] #353 closed

[2018-07-01 20:32] sandwichmaker commented on #382
@wzxchy try using cmake at head instead of the JNI version.

[2018-07-01 20:32] sandwichmaker commented on #370
closing for now, as there is no real way this is going away.

[2018-07-01 20:32] #370 closed

[2018-07-01 20:32] sandwichmaker commented on #367
or rather, I am going to close this, please update/re-open if you have feedback.

[2018-07-01 20:32] #367 closed

[2018-07-01 20:33] #322 closed

[2018-07-01 20:34] sandwichmaker commented on #217
I am going to close this. If there is new information or reproduction, please re-open.

[2018-07-01 20:34] #217 closed

[2018-07-01 20:35] #210 closed

[2018-07-02 05:53] debalance commented on #305
Yes it is, with the current release the output is a bit more specific:

	112 - ba_sparsecholesky_cxsparse_auto_test (Child aborted)
	113 - ba_sparsecholesky_cxsparse_auto_threads_test (Child aborted)
	114 - ba_sparsecholesky_cxsparse_user_test (Child aborted)
	115 - ba_sparsecholesky_cxsparse_user_threads_test (Child aborted)

[2018-07-02 07:09] ZhiyuLiu1993 opened #398 "Cross-compile ceres-solver error"
Hello, I tried to cross-compile ceres-solver，my build system is Ubuntu 16.04, 64bit, host system is armv7,  cross toolchain is arm-linux-gnueabihf-g++-5, 32bit.
but the following error occurred.

**configure output from CMake:**
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/arm-linux-gnueabihf-gcc-5
-- Check

[2018-07-02 18:39] alexsmac commented on #348
These are already documented [in the config.h.in](https://github.com/ceres-solver/ceres-solver/blob/master/cmake/config.h.in) file, what are the docs there missing that's relevant?

[2018-07-02 18:58] alexsmac commented on #398
I don't see anything wrong with the link line:

[code]

That includes libceres.a first, then libglog.a, so when the symbols are undefined after it parses libceres.a they should be resolved when the linker parses libglog.a.  Which of the examples/tests fail to build, is it just simple_bundle_adjuster ?

[2018-07-02 20:02] sandwichmaker commented on #348
this refers to things like the EIGEN_SPARSE macro versus the SUITESPARSE
macro which have opposing semantics.

Also we should document this on the web. config.h.in is not the place most
people will go looking.

On Mon, Jul 2, 2018 at 11:39 AM, Alex Stewart <notifications@github.com>
wrote:

[2018-07-03 02:19] ZhiyuLiu1993 commented on #398
No, Other examples such as nist have the same error.  I am trying to use the ceres library, still the same error when linking.

[2018-07-03 08:43] alexsmac commented on #398
I can't replicate any issues with Ceres when it and its dependencies are all statically built without cross-compiling so I think that this is probably an artefact of your cross-compilation setup.

Are you sure that the glog build you are trying to link against (`/home/lzy/car_cc/lib/libglog.a`) was also cross-compiled?  You can verify the architecture with: `objdump -f <PATH_TO_LIBRARY>`.

[2018-07-03 13:55] ZhiyuLiu1993 commented on #398
Yes，I tried using the glog library on the arm to include this function, it's OK. I commented on the logging.h file 672 lines of this NewString function,  just return nullptr,  because I didn't see using this function.  The library can now link normally but I have not tested.

[2018-07-03 18:13] sandwichmaker opened #399 "Build broken on macos"
Looks like the include target dir refactoring broke the build.

[code]

[2018-07-03 18:51] sandwichmaker commented on #159
Closing and will deal with new issues on more recent issues.

[2018-07-03 18:51] #159 closed

[2018-07-03 18:52] sandwichmaker commented on #175
unactionable ... unactioned upon.

[2018-07-03 18:52] #175 closed

[2018-07-03 18:53] sandwichmaker commented on #184
going to close it, if its still a thing, please re-open.

[2018-07-03 18:53] #184 closed

[2018-07-03 18:56] #274 closed

[2018-07-03 18:58] sandwichmaker commented on #295
Is this actionable? if so, @jasjuang or @alexsmac will you take this on?

[2018-07-03 18:58] sandwichmaker commented on #305
interesting, so this seems like a cxsparse problem more than anything else.

[2018-07-03 19:00] sandwichmaker commented on #382
Will close, please re-open if this continues to be a problem.

[2018-07-03 19:00] #382 closed

[2018-07-03 19:00] #398 closed

[2018-07-04 16:39] jzubizarreta commented on #303
Hi @RomaTeng,

How do you implement the trick of jacobians?
I am trying to do the same without success.

Does the Plus operation need any special treatment?

Thanks in advance,

Jon

[2018-07-05 10:18] luator opened #400 "Build fails: SuiteSparseQR.hpp: No such file or directory"
After pulling updates from master, the build is failing for me (using Ubuntu 16.04) with the following error:

    ceres-solver/internal/ceres/suitesparse.h:44:29: fatal error: SuiteSparseQR.hpp: No such file or directory

The missing file is installed on my machine with this path: `/usr/include/suitesparse/SuiteSparseQR.hpp`

I think it is caused by 2166bad133d279ec28008f1df8b4d90a7023f531 as thi

[2018-07-05 11:33] alexsmac commented on #400
I can't replicate this on an Ubuntu machine with the same installation paths for SuiteSparse.  Is this starting from a completely clean build directory?  Also what build is failing - Ceres itself, or something dependent upon Ceres?

[2018-07-05 11:44] luator commented on #400
It is ceres itself. I can produce the error with an isolated, clean build like this:
[code]

For a bit more context, this is the full error I get:
[code]

[2018-07-05 12:37] alexsmac commented on #400
OK - I can replicate this when using a standard environment rather than my dev environment, it should be fixed by [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13820), please can you confirm that this fixes the problem for you.

[2018-07-05 13:32] alexsmac commented on #400
The CL has now been merged into master, please re-open the issue if the problem still remains (it fixes the issue when I was able to replicate it).

[2018-07-05 13:32] #400 closed

[2018-07-05 14:50] luator commented on #400
It is good now, thanks a lot for fixing this so fast!

[2018-07-06 20:21] alexsmac commented on #295
Ceres is now building on [Travis CI](https://travis-ci.org/ceres-solver/ceres-solver), we can have another look at getting the Windows build on AppVeyor integrated too.

[2018-07-07 13:19] sandwichmaker opened #401 "EvaluationCallback documentation should talk about how to access the parameters."
It should mention that it should be used with http://ceres-solver.org/nnls_solving.html#_CPPv2N5ceres6Solver7Options28update_state_every_iterationE.

[2018-07-07 21:03] sandwichmaker commented on #248
Even with @alexsmac's fix to the line search #6851a63 this still remains a problem.

[2018-07-07 21:07] sandwichmaker commented on #355
Ceres does not have TBB support anymore.

[2018-07-07 21:07] #355 closed

[2018-07-07 21:23] sandwichmaker opened #402 "Add sanitizer support to the cmake file so that we can use clang sanitizers to build and test code."
e.g.

https://github.com/Eyescale/CMake/blob/master/Sanitizer.cmake

[2018-07-07 22:21] sandwichmaker commented on #383
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13862 is out for review.

[2018-07-07 22:35] sandwichmaker commented on #379
okay finally looking at this. Sorry for the delay. but I am able to use your reproduction to replicate the problem. will update this issue.

[2018-07-07 22:53] sandwichmaker commented on #379
Okay, so I know what is going on and why.

First some a look at the Summary:FullReport in the two cases.

check_gradients = false

[code]

check_gradients = true

[code]

Notice anything interesting?  The clue is that when check_gradients is false, there are line_search iterations and when its on, there aren't any. Line search is used in the trust region minimizer to help enforce the bounds constr

[2018-07-07 23:47] sandwichmaker commented on #379
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13864 is out for review and fixes this problem.

@pbeeson thank you very much for the test case that reproduces this problem.

[2018-07-07 23:50] sandwichmaker commented on #380
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/13860 is out for review.

[2018-07-08 13:34] pbeeson commented on #379
Ok. I'm glad this highlighted the difference between the two cases. But I
guess it's overall bad news for me because that means my problem (both my
test case you used and my actual IK problem that I wanted to use this for)
will fail once check gradients enforces line search iterations.  So right
now I can't move my application from nlopt SLSQP to Ceres because I 1) must
have bounds checking and 2)

[2018-07-08 18:36] sandwichmaker commented on #379
@pbeeson the problem you highlight is a broader problem with how Ceres implements bounds constrained optimization. The ceres implementation is not great and needs to be fixed and improved.

https://github.com/ceres-solver/ceres-solver/issues/245
https://github.com/ceres-solver/ceres-solver/issues/187

talk about this.

So as far as constrained optimization goes, a proper constrained optimizer will

[2018-07-10 06:50] #379 closed

[2018-07-10 06:51] sandwichmaker commented on #379
@pbeeson I am closing this issue, the two issues I mentioned are a better place to discuss convergence.

[2018-07-10 06:52] sandwichmaker commented on #366
the Android.mk build is no more. Can you please try the cmake based build?

[2018-07-10 06:54] keir commented on #352
Hi Hauke,

After some debate, we agree with you that technically, AddResidualBlock() could take const Foo* arguments and still delete Foo. However, we feel it is not in the spirit of const Foo* arguments that the receiver will delete Foo. In other words, adopting your suggestion will lead to violating the principle of least surprise for many C++ programmers.

For that reason, I'm closing this bug.

[2018-07-10 06:54] #352 closed

[2018-07-10 21:53] sandwichmaker commented on #392
@debalance I think this maybe an uninitialized memory error.

can you try

https://github.com/ceres-solver/ceres-solver/commit/923fddcd0eabd7902092122b8cdca45800609870

and see if it fixes the problem.

[2018-07-15 06:35] mishraka opened #403 "Is this correct?"
https://github.com/ceres-solver/ceres-solver/blob/d05515b3eb27e2f3880884a878354db035006999/examples/robot_pose_mle.cc#L222

[2018-07-16 15:33] krishnakumarrs opened #404 "Ceres solver mac which path is needed to be added in matlab environment"
I have installed ceres, but when i compile matlab mex file which require

 mex ceres****.cpp /usr/local/lib/libceres_shared.so /usr/local/lib/libglog.so -I/usr/include/eigen3;
   mex ceres****.cpp /usr/local/lib/libceres_shared.so /usr/local/lib/libglog.so -I/usr/include/eigen3;

it shows me error that
fatal error: 'ceres/ceres.h' file not found
#include "ceres/ceres.h"
         ^~~~~~~~~~~~~~~
1

[2018-07-16 15:59] alexsmac commented on #404
You have several issues here:

1) The library name for Ceres (even when built as a shared library) is libceres.so/dylib
2) You should specify the directories containing the external libraries to be linked against with -L<PATH> then the libraries themselves with -l<NAME> (note: lower-case 'L', not capital 'i').  This means that your MEX command should be something like:

`mex -I/usr/local/include -

[2018-07-16 16:37] krishnakumarrs commented on #404
Thanks for the solution it worked.

[2018-07-16 16:37] #404 closed

[2018-07-16 17:17] sandwichmaker commented on #403
@mishraka I am not sure what your question is. Can you say more?

[2018-07-17 05:16] krishnakumarrs opened #405 "Problem in finding the path to shared library of ceres in ubuntu matlab mex"
I have tried to run a mex in matlab environment

Invalid MEX-file '/T/***.mexa64': libceres_shared.so.1.6.0: cannot open shared object file: No such file or
directory.

Please help.

[2018-07-17 08:49] alexsmac commented on #405
Your MEX file was probably compiled against a very old version of Ceres that presumably no longer exists on your system.  Ceres hasn't built a library called `ceres_shared` since about 2014, since then Ceres will built both static & shared libraries as `libceres.a/so/dylib`.  You need to recompile your MEX file linking to the version of Ceres that you have installed.

[2018-07-17 08:49] #405 closed

[2018-07-20 07:00] debalance commented on #392
That did not make a difference,
see
https://buildd.debian.org/status/fetch.php?pkg=ceres-solver&arch=arm64&ver=1.14.0-2&stamp=1532030431&raw=0
and
https://buildd.debian.org/status/fetch.php?pkg=ceres-solver&arch=ppc64el&ver=1.14.0-2&stamp=1532029756&raw=0

[2018-07-20 07:48] sandwichmaker commented on #392
hmm :/ thanks for testing @debalance

@keir back to you!

[2018-07-22 00:06] mishraka commented on #403
Thanks @VerseChow

[2018-07-22 00:06] #403 closed

[2018-07-23 22:46] sandwichmaker opened #406 "Improve documentation for HomogeneousVectorParameterization"
The current docs are a bit too terse and confusing, and the properties of this parameterization are not clear.

[2018-07-23 22:47] sandwichmaker commented on #406
@mvitus

[2018-07-29 16:31] RomaTeng commented on #303
@jzubizarreta

In the residual block, I provide
Jacobian = [realJacobian; 0]
In the local parameterization, I provide Jacobian = [ I ; 0]
The Plus operation is defined as the standard rotation plus (exp).
This way works well.

[2018-07-31 09:22] wx7531774 opened #407 "Memory release"
Hi, I am using ceres-solver to solve Bundle adjustment for SFM, and I am using it in a incremental way. So, in my program, Bundle adjustment by Ceres-Solver is reptitively recalled. However, I find that each time I recall function ceres::solve, the memory increase, and after computing, the memory is not released, so, when dealing with large number of images, the memory is overstacked. It seems tha

[2018-07-31 21:11] sandwichmaker commented on #407
@wx7531774 as far as I know there are no memory leaks in ceres.
are you sure your code is not leaking memory?

[2018-08-01 07:15] wx7531774 commented on #407
Hi, Yeah! I have tested ceres individually, I find it works well. But, when
I integrate it with my sfm program, the problem shows again..

2018-07-31 23:11 GMT+02:00 Sameer Agarwal <notifications@github.com>:

--
Best Regards,

Xin Wang
_ _

Institute of Photogrammetry and GeoInformation
Leibniz University Hannover
Nienburger Str. 1
D-30167 Hannover

wang@ipi.uni-hannover.de

[2018-08-07 01:42] sandwichmaker commented on #407
perhaps try valgrind/or memorysanitizer in clang to see where the leak is coming from.
Please re-open this issue if you have more specific details of a potential leak.

[2018-08-07 01:42] #407 closed

[2018-08-07 14:04] antithing opened #408 "Can't use SPARSE_NORMAL_CHOLESKY with CX_SPARSE because CXSparse was not enabled"
I have just rebuilt Ceres, and linked CXsparse.

My CMake looks like this:

`-- Found CXSparse version: 3.1.9, building with CXSparse.`

`-- Building Ceres as a shared library.
Enabling CERES_USE_EIGEN_SPARSE in Ceres config.h
Enabling CERES_NO_LAPACK in Ceres config.h
Enabling CERES_NO_SUITESPARSE in Ceres config.h
Enabling CERES_USE_CXX11 in Ceres config.h
Enabling CERES_USE_OPENMP in Ceres conf

[2018-08-07 16:02] alexsmac commented on #408
I would assume that this is because you are linking against a different version of Ceres to the one you think which was not compiled with CXSparse - what is the output from Solver::Summary::FullReport()?  The Ceres version string should detail what the Ceres library you are linking against was compiled with.

[2018-08-07 16:56] antithing commented on #408
I have just rebuilt from source and tried again, re-linked and i see the same thing. Sorry for the stupid question, how do I run `Solver::Summary::FullReport();` ? It gives me `a nonstatic member reference must be relative to a specific object`.

[2018-08-07 17:04] antithing commented on #408
Ah got it. summary as follows:

[code]

[2018-08-07 17:09] antithing commented on #408
I have also tried
`	options.sparse_linear_algebra_library_type = SUITE_SPARSE;
`

and I get the same:

`Termination:                          FAILURE (Can't use SPARSE_NORMAL_CHOLESKY with SUITESPARSE because SuiteSparse was not enabled when Ceres was built.)
`

[2018-08-07 17:13] alexsmac commented on #408
This:

[code]

shows that the version of the Ceres library you are compiling against was *not* compiled with CXSparse, or SuiteSparse.  If it were you would see something like this:

[code]

I would assume that you have multiple versions of Ceres that are all on your DLL load path and that the version compiled without CXSparse is being linked first.  On Linux you would use ldd or otool on OS X to

[2018-08-08 06:12] osadowskyphd opened #409 "No need for ceres::int32"
Now with the standard type of int32_t.  Moreover, it's defined as int, which does not really guarantee size, and, moreover, in the context of block sizes I'm not so sure how much the 32 bit size matters.  And if it does, then, perhaps, to prevent overflow an int64_t is better.

[2018-08-08 06:16] osadowskyphd opened #410 "Ceres headers cannot stand alone"
in an attempt to get finer-grain control over the inclusion of ceres headers, I found out that some of them do not stand alone, and generate compiler errors if they are included not from ceres.h.

Some examples:
evaluation_callback.h
loss_function.h

In addition, it looks like somewhere in the chain of ceres.h it includes iostream.  Although this is not necessarily a bad thing, I think it's better

[2018-08-08 11:53] sandwichmaker commented on #410
Thanks @osadowskyphd this is definitely a bug, I will take a look.

[2018-08-08 11:57] sandwichmaker commented on #410
As for the iostream header, jet.h includes it because it is needed to define operator<< for Jets. That is likely going to remain the same.

[2018-08-08 13:54] sandwichmaker commented on #410
I do not see loss_function.h having any problems. evaluation_callback.h was missing an include. which I will fix shortly.
can you share the error you are getting?

[2018-08-08 13:59] sandwichmaker commented on #410
I am going to close this, please feel free to re-open if you find any other headers which are problematic.

[2018-08-08 13:59] #410 closed

[2018-08-08 14:01] osadowskyphd commented on #410
I think that I mistook thr error of something else with this include.  It's
just evaluation_callback, it seems.

בתאריך יום ד׳, 8 באוג׳ 2018, 16:54, מאת Sameer Agarwal ‏<
notifications@github.com>:

[2018-08-08 14:06] osadowskyphd commented on #410
I am wondering if ostream alone is not sufficient for this.

As i wrote, I tried to use finer grain includes. Then std::cout was no
longer recognized. But for  operator << std::ostrem should suffice.

בתאריך יום ד׳, 8 באוג׳ 2018, 14:57, מאת Sameer Agarwal ‏<
notifications@github.com>:

[2018-08-09 06:21] osadowskyphd opened #411 "Include <ostream> instead of <iostream>"
This is a followup to #410 - sorry I could not figure out how to reopen the issue.

[2018-08-09 08:36] sandwichmaker commented on #411
good point. actially iosfwd suffices.

[2018-08-10 04:48] #409 closed

[2018-08-15 13:31] Amazingren commented on #291
I also came across this problem ,and I find it is because
the VERSION of gcc/g++ is too low,
so I switch the VERSION
from 4.8 to 5.5,
then the problem was solved!
Hope could be help to you gays~

[2018-08-15 13:34] Amazingren commented on #219
I also came across this problem ,and I find it is because
the VERSION of gcc/g++ is too low,
so I switch the VERSION
from 4.8 to 5.5,
then the problem was solved!
Hope could be help to you gays~

[2018-08-16 12:58] TobiasNFrames opened #412 "32-bit integers used in block_sparse_matrix.cc"
Hi!

I was asked on your Google Group to file a bug related to the fact that signed integers are used throughout the code of block_sparse_matrix.cc for types that should be unsigned. I came across this issue due to an integer overflow in num_nonzeros_ that would lead to an assertion triggering as the condition num_non_zeros_  >= 0 doesn't apply any more.

When looking at this class it's in fact th

[2018-08-16 13:17] alexsmac commented on #412
The use of signed integers is deliberate, as explained in the [Google Style Guide here](https://google.github.io/styleguide/cppguide.html#Integer_Types), use of unsigned integers is bad practice outside of very limited cases (bitfields and modular arithmetic).  The core issue here is really the length of the integer type used rather than whether it is signed, so I have updated the title accordingl

[2018-08-22 14:09] sanliturk opened #413 "ceres library requires inclusion of pthread library in target_link_libraries"
In  examples/CMakeLists.txt file , into target_link_libraries statement include pthrad after ceres name .
The same application should be performed on examples/sampled_function/CMakeLists.txt file .

[CMakeLists.txt](https://github.com/ceres-solver/ceres-solver/files/2310649/CMakeLists.txt)
[CMakeLists.txt](https://github.com/ceres-solver/ceres-solver/files/2310647/CMakeLists.txt)

uname -a
Linux l

[2018-08-22 14:12] sanliturk commented on #413
Library name above written incorrectly : pthrad
It should be  "pthread" .
In CMakeLists.txt files , it is written correctly .

[2018-08-22 14:43] alexsmac commented on #413
This isn't required on our default Linux targets (Ubuntu 14.04/16.04), what options are you trying to build Ceres with?  Please try [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/14040), which should fix the issue more cleanly than propagating the pthreads qualifier to all example targets (which isn't portable).

[2018-08-22 15:13] sanliturk commented on #413
On Wed, Aug 22, 2018 at 5:43 PM, Alex Stewart <notifications@github.com>
wrote:

I have added a new comment into issue .
Thank you very much for your prompt response.

Mehmet Erol Sanliturk

[2018-08-22 17:47] alexsmac commented on #413
The CL has now been merged into master, so please pull master and verify if the fix works for you.

[2018-08-22 19:12] sanliturk commented on #413
I have created a Build directory .
The statements are the following :
cmake -DCMAKE_INSTALL_PREFIX=`pwd`/../Installed ..

-- The C compiler identification is GNU 8.1.1
-- The CXX compiler identification is GNU 8.1.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting

[2018-08-22 19:16] sanliturk commented on #413
I have downloaded "master" .
Copied into it "Build" and "Installed" directories .

Build  steps are attached below .
It worked perfectly without making any modification to any CMakeLists.txt file .

Really thank you very much .

[s@localhost Build]$ cmake -DCMAKE_INSTALL_PREFIX=`pwd`/../Installed ..
-- The C compiler identification is GNU 8.1.1
-- The CXX compiler identification is GNU 8.1.1
-- Ch

[2018-08-22 19:18] sanliturk commented on #413
On Wed, Aug 22, 2018 at 8:47 PM, Alex Stewart <notifications@github.com>
wrote:

I have downloaded and build the master .
It worked without any problem .
An extensive build comment is also attached .

Really thank you very much .

Mehmet Erol Sanliturk

[2018-08-23 08:25] #413 closed

[2018-08-29 13:04] Glavnokoman commented on #362
cmake build still does not work for me
`Performing Test CXX11_MATH_FUNCTIONS_FOUND
-- Performing Test CXX11_MATH_FUNCTIONS_FOUND - Success
-- Looking for pthread.h
-- Looking for pthread.h - not found
CMake Error at /usr/share/cmake-3.12/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find Threads (missing: Threads_FOUND)
Call Stack (most recent call first):
  /usr/share/cma

[2018-09-10 15:19] allo- opened #414 "Ceres Jets are hard to use together with numeric literals"
The operators of the ``Jet`` class are complicated to use with standard numeric literals. For example a ``Jet<double, 4> x`` does not work with

    T x;
   if( x == 0) { ... }

but you need to use

    T x;
    if(x == static_cast<T>(0)) { ... }

This is especially a problem, when you use types like ``std::complex<T>``, which are evaluated as ``std::complex<Jet<double, 4>>``. E.g. the MSVC stdlib

[2018-09-16 15:51] alexsmac commented on #394
Closing as Accelerate has no function to perform a reordering without also performing a symbolic factorisation, as the only way to get back the ordering is via SparseSymbolicFactorOptions which is passed to SparseFactor() which always performs at least a symbolic factorisation.

[2018-09-16 15:51] #394 closed

[2018-09-17 11:57] osadowskyphd opened #416 "Can ceres::EvaluationCallback be replaced by std::function?"
I am wondering about this after coming to a point where I defined a class local to a function scope with a single instance in the body of the function, only so I can pass the instance as EvaluationCallback.  The better C++ solution for this is a lambda object, which does not have to inherit anything, and can capture local variables.  I suppose that as a first stage, a templated derivative of Evalu

[2018-09-17 16:01] allo- commented on #414
When we have the example:

[code]

You get a compiler error at ``if(x[0] == 0)``, because JetT cannot be cast to integer. so you need to use:

    if(x[0] == static_cast<T>(0))

And it works.

Now try to use ``std::complex``:

    std::complex<T> var1(x[0], x[1]);
    std::complex<T> var2 = variable / 2.0;

Then you get the error from my post above, because ``std::complex`` has an implementation,

[2018-09-17 23:42] sandwichmaker opened #417 "Add the ability to evaluate a single residual block."
Either via a special path in Problem::Evaluate or via another API.

[2018-09-20 14:59] csukuangfj opened #418 "http://ceres-solver.org/index.html does not use HTTPS"
The connection is not secure.

Are there any reasons not to use https ?

[2018-09-20 17:21] sandwichmaker commented on #418
@keir maintains the server that hosts ceres-solver.org, he can comment.

[2018-09-21 03:36] csukuangfj opened #419 "inefficient code for computing residuals when Jacobian is not needed"
See the code
https://github.com/ceres-solver/ceres-solver/blob/72d8e1cdb1e7cdfbd662892f2a04f9af792a9be7/include/ceres/internal/autodiff.h#L231
https://github.com/ceres-solver/ceres-solver/blob/72d8e1cdb1e7cdfbd662892f2a04f9af792a9be7/include/ceres/internal/autodiff.h#L288-L290
https://github.com/ceres-solver/ceres-solver/blob/72d8e1cdb1e7cdfbd662892f2a04f9af792a9be7/include/ceres/internal/autodiff

[2018-09-21 03:38] csukuangfj commented on #419
Moreover, the check for `N0` is **missing**, see the code below
https://github.com/ceres-solver/ceres-solver/blob/72d8e1cdb1e7cdfbd662892f2a04f9af792a9be7/include/ceres/internal/autodiff.h#L216-L225

[2018-09-21 06:25] charelstoncrabb opened #420 "Windows build gflags error"
I seem to be having trouble building ceres on Windows, and it seems to be related to related to searching for the gflags path?

I am on a 64 bit Windows 10 machine using VS 2017, cmake version 3.11. I am trying to build ceres with Eigen, gflags, and glog and NOT suitesparse.

I have attached the output of the gflags cmake/build outputs as well as the ceres cmake output.

It looks like that during

[2018-09-21 06:26] sandwichmaker commented on #420
@alexsmac PTAL.

[2018-09-21 06:34] sandwichmaker commented on #419
Please take a look at:
https://github.com/ceres-solver/ceres-solver/blob/72d8e1cdb1e7cdfbd662892f2a04f9af792a9be7/include/ceres/autodiff_cost_function.h#L205

which only calls the Differentiate method if jacobians are asked for.

as for the check, it is for trailing zeros after the first parameter, you are right that test can be made stricter by checking for N0 is not zero.

[2018-09-21 06:41] csukuangfj commented on #419
@sandwichmaker
yes, I see. thanks for the reply.

[2018-09-21 06:45] csukuangfj opened #421 "AutoDiffCostFunction supports only double floating point numbers"
See the code
https://github.com/ceres-solver/ceres-solver/blob/72d8e1cdb1e7cdfbd662892f2a04f9af792a9be7/include/ceres/autodiff_cost_function.h#L202-L204

though `AutoDiff` supports any type `T`
https://github.com/ceres-solver/ceres-solver/blob/72d8e1cdb1e7cdfbd662892f2a04f9af792a9be7/include/ceres/internal/autodiff.h#L205-L208

It is fixed to `double` in `AutoDiffCostFunction` which forbids users

[2018-09-21 07:14] csukuangfj opened #422 "ConditionedCostFunction does not allow duplicate cost function pointers."
See the code
https://github.com/ceres-solver/ceres-solver/blob/72d8e1cdb1e7cdfbd662892f2a04f9af792a9be7/internal/ceres/conditioned_cost_function.cc#L70-L72
https://github.com/ceres-solver/ceres-solver/blob/72d8e1cdb1e7cdfbd662892f2a04f9af792a9be7/internal/ceres/stl_util.h#L51-L54

It causes runtime errors when
https://github.com/ceres-solver/ceres-solver/blob/72d8e1cdb1e7cdfbd662892f2a04f9af792a9b

[2018-09-21 07:38] csukuangfj opened #423 "conditioned_cost_function.h is not exported."
`conditioned_cost_function.h` is not included in `ceres.h`

Users have to use `#include <ceres/conditioned_cost_function.h>` to include it explicitly.

[2018-09-21 13:34] #419 closed

[2018-09-21 13:41] sandwichmaker commented on #423
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/14320 fixes it.

[2018-09-21 13:41] #423 closed

[2018-09-21 13:42] sandwichmaker commented on #421
Yes this is by design, since Ceres only support double  valued cost functions.

[2018-09-21 13:42] #421 closed

[2018-09-22 19:59] jasonfly07 opened #424 "Check max time within an iteration"
In solver options, we set the `max_solver_time_in_seconds` to something like 50 milliseconds, but it seems that the actual running time always goes over this budget, such as 50-60 milliseconds with just 1 iteration. This is undesirable, since we plan to use this in a real-time system with tight computation budget.

Is there a way to query the time within an iteration, so we can just terminate the

[2018-09-23 00:39] csukuangfj opened #425 "opened file is not closed"
See the code
https://github.com/ceres-solver/ceres-solver/blob/0d3a84fce553c9f7aab331f0895fa7b1856ef5ee/internal/ceres/bundle_adjustment_test_util.h#L98

`fclose()` is not called for `fptr`.

[2018-09-23 00:47] csukuangfj commented on #425
see https://ceres-solver-review.googlesource.com/c/ceres-solver/+/14401

[2018-09-23 19:11] #425 closed

[2018-09-23 19:12] sandwichmaker commented on #422
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/14340

[2018-09-23 19:30] sandwichmaker commented on #424
@jasonfly07 you are right, the semantics are more like, we terminate at the first iteration that goes past this bound. Ceres is not really designed for a hard realtime system, in that it is not interruptible.
It is possible to add more fine grained checks, there are essentially three places where you can check.

1. Before you compute the newton step.
2. Before you evaluate the new step
3. Before y

[2018-09-25 17:09] #422 closed

[2018-09-27 02:32] JHzss opened #426 "Terminating: Residual and Jacobian evaluation failed."
When I use ceres to optimize the problem , the terminal show : Terminating: Residual and Jacobian evaluation failed. I have checked the size of residual and jacobian matrix. There is no problem. It will not break down but just will not optimize the problem. What is the problem ? Thank you!

[2018-09-27 11:54] huangqinjin opened #427 "UTF-8 chars in the project"
The UTF-8 char "–" (Hexadecimal: E28093) lies in some files, for example:

include/ceres/types.h(224):  // Algorithms,"; J. Inst. Maths. Applics., Vol. 6, pp 76–90, 1970.

In my visual studio (code page 936) , it causes the warning C4819.

[2018-09-27 13:45] sandwichmaker commented on #427
Thanks @huangqinjin  I will take a look.

[2018-09-27 13:46] sandwichmaker commented on #426
@JHzss have a look at the output on stderr, there is detailed information printed about the exact values at which the Jacobian/residual evaluation is failing.

[2018-09-28 07:17] happyfrank opened #428 "Using ceres-solver do Bundle Adjustment Runing Crash"
Recently I wanna build [openMVG](https://github.com/openMVG/openMVG) on IOS.

Before use internal [ceres-solver 1.13.0](https://github.com/openMVG/openMVG/tree/master/src/third_party/ceres-solver). The result was great. But for multithreading, IOS not supports openMP.

Then I found ceres solver-2.0.0 supports std::thread. So I build openMVG use external ceres-solver 2.0.0.

When I run the Bundle A

[2018-09-28 11:33] JHzss commented on #426
@sandwichmaker But I check the stderr , there is no detailed information printed about the exact values and I print it using 'cout' and find the values of Jacobian/residual are normal.

[2018-09-28 13:36] sandwichmaker commented on #426
That is odd. What platform are you on?

On Fri, Sep 28, 2018, 4:33 AM JHzss <notifications@github.com> wrote:

[2018-09-28 13:55] JHzss commented on #426
@sandwichmaker I'm on Ubuntu 14.04，the version of ceres is ‘ceres-solver-1.12.0’. I use the ceres to optimize the camera and IMU error . I don't know   if it is because I use two different types residual or other reason. It have confused me a few days...

[2018-09-28 13:58] sandwichmaker commented on #428
that does look like its happening inside ceres. any chance you can replicate this with debugging turned on?