[2022-04-20 12:34] sandwichmaker commented on #795
Sorry but we do not have that in Ceres solver.

[2022-04-20 17:22] #795 closed

[2022-04-20 17:22] #794 closed

[2022-04-20 17:22] #793 closed

[2022-04-20 17:22] #792 closed

[2022-04-21 01:50] yuyu0927 commented on #795
Do you plan to implement this algorithm and add it?

[2022-04-21 01:54] sandwichmaker commented on #795
No we do not have any such plan currently.

[2022-04-22 03:56] Cc19245 opened #796 "Why ceres-solver doesn't perform quaternion normalization in struct QuaternionPlus?"
Hi !
I'm confused about this. Why  ceres-solver doesn't perform **quaternion normalization** in struct QuaternionPlus? After each update, isn't the result not a unit quaternion? Therefore it cannot represent rotation.

<img width="438" alt="image" src="https://user-images.githubusercontent.com/82990771/164592934-508ae3ad-3959-439d-a266-2eb6ec1fb8e4.png">

[2022-04-23 19:21] sandwichmaker commented on #796
x is a unit quaternion and q_delta is a unit quaternion. Their product is a also a unit quaternion (upto round off).

[2022-04-23 19:21] #796 closed

[2022-04-23 19:21] #790 closed

[2022-04-23 19:22] #786 closed

[2022-04-25 17:50] mvitus commented on #790
A couple places to find datasets are:

* https://lucacarlone.mit.edu/datasets/
* https://github.com/OpenSLAM-org/openslam_g2o/tree/master/data

[2022-05-04 10:37] AndreyMlashkin opened #797 "ceres-solver/2.0.0: can't build with mingw on Windows"
Package Name/Version: ceres-solver/2.0.0:
Operating System+version: Windows 10
Compiler+version: GCC 11.2, installed with choco
build with conan v1.48.0

relates to https://github.com/conan-io/conan-center-index/issues/10610

actual error:

[ 19%] Building CXX object source_subfolder/internal/ceres/CMakeFiles/ceres.dir/covariance_impl.cc.obj
c:/programdata/chocolatey/lib/mingw/tools/install/mingw6

[2022-05-04 11:20] alexsmac commented on #797
It looks like we need to add the equivalent of MSVC's `/bigobj` on MinGW, [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/21480) should do that.  Please give it a try and report back if it fixes your issue

[2022-05-04 14:24] sergiud commented on #797
@alexsmac OP is using Ceres 2.0. Is this still necessary for 2.1?

[2022-05-04 19:03] alexsmac commented on #797
Good question, but given the classes that it is complaining about in the snippet above didn't change that much in the update to 2.1, my assumption would be yes, as I don't _think_ the changes to visibility would resolve this from what I have read about the issue.  @AndreyMlashkin can you confirm that vanilla 2.1 is broken in the same way as well as whether the CL above (which is > 2.1) addresses t

[2022-05-04 19:43] sergiud commented on #797
You are probably right. Just comparing against [msys2 provided 32-bit package](https://github.com/msys2/MINGW-packages/tree/7db4218249ae81ae7e9b6ce7865cd54760f81cf6/mingw-w64-ceres-solver) of Ceres Solver 2.1, however, does not indicate that a MinGW patch is actually necessary.

[2022-05-04 20:16] alexsmac commented on #797
From what I have read, this problem may be specifically for 64-bit builds,
I don’t know how accurate that is though and I have never used MinGW

On Wed, 4 May 2022 at 20:44, Sergiu Deitsch ***@***.***>
wrote:

[2022-05-05 15:49] Sonne-Zhu opened #798 "Using ceres and GTSAM at the same time, the program is stuck in the update function of the gtsam optimizer and cannot jump out."
Hello, I implemented a SLAM algorithm based on factor graph optimization on ubuntu18.04. I used GTSAM4.0.0 and ceres2.0.0 in one node at the same time. After compiling, when the algorithm is executed to the update( of the isam optimizer in gtsam ) function, it will be stuck in the update function and cannot be jumped out, as if it has fallen into an infinite loop, but the program does not report a

[2022-05-06 03:52] sandwichmaker commented on #798
I am hard pressed to think of anything. One wild guess, are you using openmp for threading in both gtsam and Ceres? In that case there maybe some sort of deadlock in the underlying threadpool.

[2022-05-06 13:54] sandwichmaker opened #799 "Explore the use of geodesic acceleration"
and more generally ideas from https://arxiv.org/abs/1201.5885

[2022-05-06 16:19] nate-thirdwave opened #800 "Bazel build does not include all relevant .cc files"
Using the built-in BUILD file, the listing of tiles in `bazel/ceres.bzl` is incorrect and yields a library that is missing several destructor implementations (CostFunction, EvaluationCallback, IterationCallback) and some classes: DenseQR

Local patching yielded the following diff:

[code]

[2022-05-07 13:35] sandwichmaker commented on #800
You are right, our bazel build has become stale. I will fix this later today.

[2022-05-09 12:44] AndreyMlashkin commented on #797
I have a slight different error message after applying the patch:
[code]

[2022-05-09 15:40] 44825762 opened #801 "Error in evaluating the ResidualBlock"
I use Ceres to optimise a non-linear problem, but it shows this error.

It is very weird, I checked the jacobian and the residuals, they all correct.

I can't understand where is the error comes from.

Here is a part of log.

The error is not caused by  "Uninitialized".

I am looking forward to your reply.

Thank you.

================================
   res     0.723307   0.397519    1.07305  -0.

[2022-05-09 19:33] sandwichmaker commented on #801
How do you know your jacobians are correct? can you post the code thats computing it?

[2022-05-11 10:32] 44825762 commented on #801
Problem solved.

It does cause by jacobian.

Here is the solution.

Before we put the jacobian into ceres, we should add a column with zero in jacobian.

For example, assume the jacobian size is 6x6, we should make it to 6x7.

Thanks.

[2022-05-11 12:06] sandwichmaker commented on #801
That makes no sense.

On Wed, May 11, 2022, 3:32 AM LGR ***@***.***> wrote:

[2022-05-14 12:25] 1040624230 opened #802 "LocalParameterizations cause compilation failure"
I compile the cere's helloworld instance at win10 in VS2022, but there are so many errors and all of that is about

"error C4996: 'ceres::LocalParameterization': LocalParameterizations will be removed from the Ceres Solver API in version 2.2.0. Use Manifolds instead.".

help please, and forgive me for my poor grammar

[2022-05-15 05:46] 1040624230 commented on #788
https://github.com/ceres-solver/ceres-solver/issues/802#issue-1235961470
im waiting for your excellent help

[2022-05-16 15:19] feiyu12138 opened #803 "build error!!"
Hey,
When I build ceres, I got a trouble as follows:

CMake Error at internal/ceres/CMakeLists.txt:145 (add_test):
  Error evaluating generator expression:

    $<TARGET_FILE:cuda_dense_cholesky_test>

  No target "cuda_dense_cholesky_test"

totally having no idea, please give me a hand !

[2022-05-18 04:58] xuhao1 opened #804 "Hidden symbol error."
Hi there,
I am using ceres on my own project. When using v1.x version, everything works fine. After upgrade to 2.1.0, it raises
[code]
When compiling my project. One solution is changing CmakeLists of ceres
[code]
to
[code]

My question is, why is this case? It looks like in the code(cost_function.cc) CostFunction is already marked as exported.

[2022-05-18 06:01] sergiud commented on #804
From your description it is not exactly clear how you upgraded. My guess is that you intermixed several versions of Ceres and only partially upgraded some of the involved projects resulting in the above error. In either case, you need to consistently compile and link against the new version of Ceres in all (even indirect) dependencies.

[2022-05-19 10:46] hzzg0727 commented on #802
Hello. I meet the same problem today, and I solve it by dealing with error C4996 (https://docs.microsoft.com/en-us/cpp/error-messages/compiler-warnings/compiler-warning-level-3-c4996?view=msvc-170).
The way I use is to close SDL checks like this:
![image](https://user-images.githubusercontent.com/62739713/169276002-88f759ae-457d-428a-9186-61bf73145eca.png)
And it works.
I hope this will help you.

[2022-05-19 12:21] 1040624230 commented on #802
bingo! thanks so much

[2022-05-19 12:22] #802 closed

[2022-05-19 20:31] sandwichmaker commented on #803
cc: @joydeep-b
can you share what your cmake configuration log looks like?

[2022-05-19 20:43] joydeep-b commented on #803
Interesting.
The target is defined in [internal/ceres/CMakeLists.txt:465](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/CMakeLists.txt#L465).

Yes, @feiyu12138 could you please share the output of running cmake?

[2022-05-19 21:12] sandwichmaker commented on #800
This is fixed at head now. sorry for taking so long.

[2022-05-19 21:12] #800 closed

[2022-05-19 21:12] #798 closed

[2022-05-19 21:16] #761 closed

[2022-05-19 21:16] sandwichmaker opened #805 "Add support for Nested Dissection when using ACCELERATE_SPARSE"

[2022-05-19 21:17] sandwichmaker opened #806 "Add support for Metis based nested dissection when using EIGEN_SPARSE"
Nested Dissection is available as an unsupported module in Eigen.

[2022-05-19 21:19] sandwichmaker opened #807 "Add nested dessection based fill-reducing ordering when using CX_SPARSE"
The matlab code that ships with CXSparse contains a MATLAB implementation of nested dissection using some of the lower level routines in CXSparse. One would have to port that to c/c++ and call it for this to work.

[2022-05-20 04:24] sandwichmaker opened #808 "Windows CI is broken."
cc: @sergiud

[2022-05-20 17:45] sergiud commented on #808
SuiteSparse on Windows is built without METIS whereas Ceres assumes METIS is available. Fixing the issue requires some adjustments of the CMake support for SuiteSparse as well as refactoring in Ceres directly since there's no METIS detection mechanism yet.

[2022-05-20 17:56] sandwichmaker commented on #808
So for now just add a CERES_NO_METIS to the build? @alexsmac is planning on adding metis detection to the suitesparse cmake files.

[2022-05-20 18:06] sergiud commented on #808
`CERES_NO_METIS` is an option, yes but not really necessary. METIS detection/availability indicator needs to be added to CMake SuiteSparse as well. Ideally, we synchronize to further ensure compatibility between `FindSuiteSparse.cmake` and CMake support for SuiteSparse.

I suggest adding a `Partition` component to `find_package (SuiteSparse)`. Its presence will indicate whether CHOLMOD was compile

[2022-05-20 18:12] sandwichmaker commented on #808
Thats fair, my suggestion was only meant as a stop gap while FindSuiteSparse.cmake is modified.

[2022-05-20 18:21] sergiud commented on #808
Ah yes. Sounds reasonable.

[2022-05-20 19:28] mzf-guest opened #809 "sphinx_rtd_theme not found if pip not installed"
Dear Ceres developers,

While updating the Debian Ceres package to 2.1.0 version, I've figured out that the documentation is not built due to sphinx-rtd-theme not found. The theme has been installed locally with the associated Debian package, and pip is not available.

The root of the issue is the check in cmake/FindSphinx.cmake, which uses pip.

I would suggest to run `import sphinx_rtd_theme` in

[2022-05-20 19:41] sandwichmaker commented on #809
Thanks @mzf-guest we will take a look.

[2022-05-20 19:51] sandwichmaker commented on #809
@mzf-guest I am curious about the other patches in that directory, are any of those also worth fixing upstream?

[2022-05-20 20:31] mzf-guest commented on #809
Hi @sandwichmaker!

Thanks for the prompt answer. All the patches in the `debian/patches` folder have the `Forwarded: not-needed` header which mean that they are Debian specific patches that should not be forwarded upstream. You can still review them in case of they may be useful for other specific usages.

Just let you know that Debian maintainers **must** forward the patches to upstream authors.

[2022-05-24 06:01] sandwichmaker commented on #809
Thank you François. I appreciate the explanation. I will make this fix shortly.

[2022-05-24 06:04] sandwichmaker commented on #809
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/21621 is out for review.

[2022-05-24 15:09] NeroBurner commented on #761
This is  much more elaborate and complete than I could have imagined the implementation to be. Thank you very much!

39ec5e8f

[2022-05-24 15:52] sandwichmaker opened #810 "Remove Support for CXSparse"
Eigen does everything that CXSparse does (as far as Ceres Solver is concerned), it is already a critical dependency for us.
Further, Eigen has a more liberal license - MPL than CXSparse, so its not clear why maintaining a fourth sparse linear algebra backend gives us anything.

[2022-05-25 14:38] PanZhichen opened #811 "How can I solve the error: ‘SubsetManifold’ is not a member of ‘ceres’?"
the version of my ceres is 2.0.0.

Thanks for any suggestion

[2022-05-25 14:39] sandwichmaker commented on #811
Use Ceres solver 2.1.0

On Wed, May 25, 2022, 7:38 AM PanZhichen ***@***.***> wrote:

[2022-05-25 15:16] PanZhichen commented on #811
OK. Thanks for your help!

[2022-05-25 15:16] #811 closed

[2022-05-25 19:45] mzf-guest commented on #809
@sandwichmaker Thanks!

[2022-05-27 02:09] JACKLiuDay opened #813 "Nvidia NX ceres2.1.0 build OK, test with error."
![image](https://user-images.githubusercontent.com/30967867/170614438-38430ba0-8693-4e62-a139-2c94db59c01d.png)
my jetpack is 4.4.1. Nvidia NX, ceres 2.1.0. it looks like something wrong with test. I do know why as I know nothing about cuda.

[2022-05-27 02:28] sandwichmaker commented on #813
cc: @joydeep-b can you take a look please?

[2022-05-27 10:38] sergiud opened #814 "Use C++17 Bessel functions"
C++17 introduced many special mathematical functions which could allow to deprecate `BesselJ0`, `BesselJ1`, `BesselJN` and replace these by `std::cyl_bessel_j`. However, in [an effort](https://github.com/ceres-solver/ceres-solver/commit/e3254ed62d09c868e3f38788d525c79e40428662) to do so, it turns out that libc++ does not yet implement the special mathematical functions. Particularly affected are t

[2022-05-27 13:16] joydeep-b commented on #813
@JACKLiuDay Could you please share the results of running the test in verbose mode:
[code]

[2022-05-27 14:13] sandwichmaker commented on #807
Not gonna happen, as cxsparse support is being removed.

[2022-05-27 14:13] #807 closed

[2022-05-27 14:13] sandwichmaker commented on #806
Done!

[2022-05-27 14:13] #806 closed

[2022-05-27 14:13] sandwichmaker commented on #805
Done!

[2022-05-27 14:13] #805 closed

[2022-05-27 17:26] #810 closed

[2022-05-28 21:04] sandwichmaker commented on #814
Yeah I suspect this is going to have to wait a while.

[2022-05-30 00:48] JACKLiuDay commented on #813
![Uploading image.png…]()

Hi, thank you for your reply. Here is my test.

[2022-05-30 01:56] slitcch commented on #421
Why does Ceres only support double-valued cost functions? I have to make my thing run really really fast, and I suspect that single-precision will work fine with my problem (autodiff and pretty sparse)

[2022-05-30 01:58] slitcch commented on #421
If I wanted to hack single-precision in, could you tell me roughly where I should be changing things? I'm (probably) happy to take it on even if it's a lot.

[2022-05-31 19:39] sandwichmaker opened #816 "fmin/fmax semantics are problematic when comparing Jets with scalars"
cc: @sergiud

@alexsmac found an instance of this in production code. But here is a minimal reproduction. Consider the following two tests.

[code]

[code]

`FmaxEqualPartRight` passes while `FmaxEqualPartLeft` fails. The issue is the way we do jet v/s scalar comparisons. We promote the scalar to a jet with zero derivative and compare the real parts. If both the operands are jets to begin with the

[2022-05-31 19:52] sergiud commented on #816
On equality the argument with non-zero dual part (alternatively, the `Jet` argument) should be prioritized, correct?

[2022-05-31 20:25] sergiud commented on #816
I'm also not convinced treating equality in a special manner is the way to go. As another possibility:  what if the user expects a zero derivative? This case would be always overridden by the proposed logic.

Even if we try to be smart here, as you mentioned, the problem only shifts to Jet-Jet comparisons.

I believe establishing a convention is more sensible. This way, the user can decide which a

[2022-05-31 20:38] sandwichmaker commented on #816
lets deal with the two issues one at a time.

What do you think is a reasonable solution for scalar/jet asymmetry?

as for establishing a convention, I am not sure that will do much. Because libraries meant for automatic differentiation are written without being aware of ceres for one, the other is that it is possible that the author may not have thought about fmax/fmin at all.

I think if we have

[2022-05-31 20:46] sergiud commented on #816
As previously indicated, I do not believe these are two separate problems. Treating the issues separately would clearly cause an inconsistency in the produced results. Eventually, we want to be consistent to ternary comparison (using ordinary comparison operators) that replicates `fmin/fmax`.

[2022-05-31 20:53] sandwichmaker commented on #816
Sorry that was a bit of a rambling comment, and  while I started by saying that we should separate them I ended up elsewhere. Let me try and re-state my position.

When there is ambiguity, we should try and minimize surprise. I think the in the case of comparing a scalar and a jet, the thing which minimizes surprises is:

1. The result should be the same regardless of whether it is fmax(s,j) or fm

[2022-05-31 21:05] sergiud commented on #816
Thanks for clarification. Unfortunately, this still leaves my question unanswered (given your intention is to minimize surprises) why `fmin/fmax` should behave differently from
[code]
where `a`, `b` are combinations of arguments supported by both functions.

[2022-05-31 21:09] sandwichmaker commented on #816
My argument (albeit not a particularly strong one) is that when a user uses fmax/fmax they are not thinking in terms of an implementation.  They are are primarily thinking in terms of an implementation. Indeed they would likely be perfectly happy with

[code]

[2022-05-31 21:22] sergiud commented on #816
I see. However, `fmin/fmax` are essentially the above comparisons (pick any of the two) sans floating point exceptions. I still argue there should not be any inconsistency between any of the variants (as a matter of fact, neither compared to `std::min` and `std::max` results.)

[2022-05-31 21:34] sergiud commented on #816
As before: establishing a convention such that users can decide what derivatives are propagated on equality. I do not believe we can do better that without sacrificing consistency.

[2022-05-31 21:45] sandwichmaker commented on #816
No amount of convention setting is going to get around the surprise of `fmax(s,j) != fmax(j,s)`.

[2022-05-31 21:54] sergiud commented on #816
Sure, but the alternative is equally surprising for Jet arguments, no?

[2022-06-01 04:06] #664 closed

[2022-06-01 13:50] alexsmac commented on #816
I'm not a fan of any solution that requires custom functions such as `Propagate()` as it is pretty common amongst our user-base for people to use Jets implicitly in generic and/or 3rd party templated math libraries, that's a key USP and requiring those to use custom Ceres specific functions and thus link against Ceres is not viable solution.

I think the biggest issue here is that whilst the commi

[2022-06-01 14:22] sergiud commented on #816
Thanks for the summary. However, reverting to previous logic does not fix the underlying problem. Always returning a specific argument on equality (a convention) is what I proposed above but does not seem to convince @sandwichmaker.

[2022-06-02 09:33] kaitaotang opened #817 "Make error when installing ceres"
I suffer a error at "make" step. My gcc and g++ version is 11.
Dear all,  How to solve this error please?

`In file included from /home/tang/tang/Library/ceres-solver-1.14.0/include/ceres/ordered_groups.h:34:
In file included from /usr/bin/../lib/gcc/x86_64-linux-gnu/11/../../../../include/c++/11/map:60:
/usr/bin/../lib/gcc/x86_64-linux-gnu/11/../../../../include/c++/11/bits/stl_tree.h:685:4: erro

[2022-06-02 09:46] sergiud commented on #817
You should probably use Ceres Solver 2.1 instead of version 1.14.

[2022-06-02 10:01] kaitaotang commented on #817
I try Ceres 2.1.0 again. Unfortunately, I encounter the same problem as above.

[2022-06-02 10:15] sergiud commented on #817
Could you please post the full CMake and GCC output?

[2022-06-02 10:21] kaitaotang commented on #817
Ok,  I use Ceres 2.1.0, Eigen version is 3.3.4, gcc and g++ version is 11.1.0
when "cmake .." step, the terminal is as below:
`tang@tang:~/tang/rover_slam/ceres-solver/build$ cmake ..
-- Detected Ceres version: 2.2.0 from /home/tang/tang/rover_slam/ceres-solver/include/ceres/version.h
-- Detected available Ceres threading models: [CXX_THREADS, OPENMP, NO_THREADS]
-- Found Eigen version 3.3.4: /usr

[2022-06-02 10:39] sergiud commented on #817
Your CMake output is incomplete. Please remove the build directory and run CMake again. Also please format the log using code tags. It's very hard to read.

[2022-06-02 22:44] joydeep-b commented on #813
Correction: please use
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/21761

[2022-06-04 10:35] alexsmac commented on #816
I've raised a CL [here](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/21780) that implements the behaviour I described whereby we return the argument with maximal information content, or the first if their information content is equal

[2022-06-06 00:26] JACKLiuDay commented on #813
Thank you for your reply.I just got back from vacation and I will try this patch with my classmate

[2022-06-06 20:03] sandwichmaker commented on #816
The key argument that you make in your CL is that when comparing to a constant we should treat Jets as having more information and that should somehow privilege them. I do not find this argument particularly convincing.  Because mathematically there is no difference between a constant c and a jet with scalar part c and zero derivatives.

Trying to draw a distinction between the two cases I think w

[2022-06-06 20:47] sandwichmaker commented on #816
Jax does averaging

[code]

will print `1.5`.

[2022-06-06 21:10] sergiud commented on #816
Averaging makes sense to me and implementation-wise avoids introducing additional overloads to `fmin/fmax`. The hyperplane analogy (assuming the scalar part of a Jet is meant to be the intercept and the derivative is the normal) is not convincing because the arguments cannot be hyperplanes and (incomplete) points at the same time. For a point to be on a hyperplane, the dot product of the normal an

[2022-06-06 22:41] sandwichmaker commented on #816
@sergiud why are the semantics for std::max and std::fmax different?

[2022-06-06 22:47] sandwichmaker commented on #816
Reading

https://stackoverflow.com/questions/16584558/the-difference-between-max-and-fmax-cross-platform-compiling

I can see that one implementation for std::max is that it always returns the first argument in the case of equality. I think it is extremely unintuitive to be doing this though.

[2022-06-06 22:59] sergiud commented on #816
For one, both functions use a single binary comparison. However, we need lexicographical (three-way) comparison. (Fun fact: in C++20  there's a spaceship operator that allows such comparison in a single call.) Also, both functions do not provide means for applying an operation to both arguments post hoc to transform the result.

The C++standard also says:

[2022-06-06 23:04] sandwichmaker commented on #816
Thanks Sergiu,
https://pixorblog.wordpress.com/2016/06/27/some-remarks-about-minmax-functions/
has a nice explanation. The short of it is, numerical code should not use std::min/max. we should just mark min/max with warnings.

[2022-06-06 23:05] sandwichmaker commented on #816
Now that we have agreement on fmin/fmax, @alexsmac will you revise your Cl to average the gradients.

[2022-06-07 08:28] brunnerant opened #819 "Store temporaries in `FirstOrderFunction`"
I am currently implementing a function to optimize a grid of vertices using the general unconstrained minimization framework. My grids usually have a large amount of vertices, so it means that I have a lot of parameters. To make evaluation faster, I would ideally like to store intermediate values in arrays between the forward and the backward pass, and keep those arrays as members of the `FirstOrd

[2022-06-09 00:13] sergiud commented on #797
You should consider upgrading to Ceres 2.1.

@alexmac I've added a [MinGW job](https://github.com/sergiud/ceres-solver/runs/6803334677?check_suite_focus=true) to the Windows workflow and can't reproduce the failures in any of configurations. As such, adding a `/bigobj` equivalent for MinGW does not seem to be necessary.

[2022-06-09 05:26] alexmac commented on #797
It's been a while since I used MinGW @sergiud - I think you meant @alexsmac :)

[2022-06-09 08:30] sergiud commented on #797
Yes, you are right. Sorry for that.

[2022-06-09 12:05] sergiud opened #820 "`inner_product_computer_test` segfault in 32 bit MinGW build"
From the [log](https://github.com/sergiud/ceres-solver/runs/6804094359?check_suite_focus=true#step:8:106):
[code]
It looks like the issue affects only the 32 bit build but not 64 bit.

[2022-06-09 23:03] dbyoung720 opened #821 "Not find export.h"
/block_structure.h(44,10): fatal error C1083: not oopen : “ceres/internal/export.h”: No such file or directory [F:\..\ceres_internal.vcxproj]
......
......

WIN10X64 + VS2022 +CMake

[2022-06-10 07:51] JACKLiuDay commented on #813
Hi，I tried the solution while it still shows some error.
![微信图片_20220610154353](https://user-images.githubusercontent.com/30967867/173016326-f203ceda-53ab-4323-9ee6-8a392b7d7f8c.jpg)
![微信图片_20220610154346](https://user-images.githubusercontent.com/30967867/173016370-cb8158f2-accf-4b62-b274-cfdc441b42b1.jpg)
By the way, I did not install cuda toolkit or any  other cuda software. Just pure jetpack 4

[2022-06-10 13:49] joydeep-b commented on #813
I see that it is still referring to `cuda-memcheck`, but in the latest patch it calls a full path.
I'm guessing this is still running the old patch. The latest version actually won't compile on linux until [21700](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/21700) is merged in.
Also, I see that you have a file write permissions issue that is unrelated to build issues - you should

[2022-06-10 13:52] joydeep-b commented on #813
As a workaround for now, you can specify the Cuda path in your environment variables as described in the post-installation steps of the Cuda installation guide:
https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#environment-setup

[2022-06-10 16:04] Yxxxb commented on #317
I met a similar error while making ceres, do u know how to deal with it?

FAILED: bin/trust_region_minimizer_test
: && /usr/bin/c++  -Wmissing-declarations -Wno-unknown-pragmas -Wno-sign-compare -Wno-unused-parameter -Wno-missing-field-initializers -O3 -DNDEBUG   internal/ceres/CMakeFiles/trust_region_minimizer_test.dir/trust_region_minimizer_test.cc.o  -o bin/trust_region_minimizer_test  lib/libg

[2022-06-10 16:16] Yxxxb commented on #317
I finally use "make .." and then ninja, it works.

[2022-06-11 00:09] sandwichmaker commented on #821
Can you share your cmake logs please?

[2022-06-11 00:10] sandwichmaker commented on #820
any idea whats going on? this is a weird crash.

[2022-06-13 00:26] slitcch commented on #421
Thanks for responding @sandwichmaker ! I actually ended up going with `TinySolver`, which I soon after realized supports single floats natively. It works really well - for my very sparse application (~42-150 residuals) it's a lot faster than the normal Solver! And using single-precision is around 30% faster than double. Overall everything is very very fast now; might take another speed optimizatio

[2022-06-13 08:55] HomieRegina commented on #813
Hi, I tried the modified Ceres path and modefied the CUDA path configs, but still encountered the same issue.My board is Nvidia NX with jetpack 4.4.1. cuda 10.2.89.
![1](https://user-images.githubusercontent.com/107244263/173317218-468b95a2-c1be-4063-a628-88f2d8825e7d.jpg)

![2](https://user-images.githubusercontent.com/107244263/173317232-efc98fd0-4482-4342-bc0e-eb08544be6b4.jpg)

[2022-06-13 10:11] sergiud commented on #820
Yes, it is. I'm not entirely sure yet but it is possible LTO is doing wild things.

[2022-06-14 01:33] joydeep-b commented on #813
No, it should be fine, as long as you did manage to successfully compile it with CUDA. However I'm not sure how you were able to compile it with CUDA without installing the CUDA toolkit.

[2022-06-14 01:45] HomieRegina commented on #813
Hi, I have installed cuda10.2. In addition to CUDA toolkit, which dependent libraries do I need to install?
![4b514e742b98403ba95e48ebcbaf5c4](https://user-images.githubusercontent.com/107244263/173475771-d4144c66-ee74-437f-8fcf-64d8408e0b6e.jpg)

![aadf7eee5ebd308c0bce33b6527e028](https://user-images.githubusercontent.com/107244263/173475781-c67c19fc-53e0-4bd3-8b72-ffb9a4eec42a.jpg)

![6afb6ca532

[2022-06-14 01:54] joydeep-b commented on #813
The last screenshot you shared indicates that you don't have permissions to run cuda in debug mode on the Jetson. You can enable access either by adding your user to the `debug` group, or allowing access to everyone using:
[code]

[2022-06-14 03:08] HomieRegina commented on #813
Thank you for your reply. I have successfully made test. Thank you again for your help.

[2022-06-14 13:51] chennuo0125-HIT opened #822 "how can I set manual Schur structure in DENSE_SCHUR ?"
before, i solve BA problem by g2o solver, which can specify 3d point as marginalized, so solver can use schur method to optimized no marginalized pose, and then back-substituting to calculate marginalized 3d point. i want to implement above process by ceres-solver, but i dont know how to specify marginalized parameter block. hope for your reply :)

[2022-06-15 13:00] wongkenchiang97 opened #823 "Error in evaluating the ResidualBlock. residual added twice. size of residue changed."
I've no idea why I got twice number of residue, and the size of residue have changed. Technically, I'll only have residue with size=1. From the STDERR, it reported the residue size is 2.

The Optimization Converge only once.
![residual_block_error](https://user-images.githubusercontent.com/55145225/173827463-2f083fca-3479-490a-848a-090d8e6337c5.png)

 Defined my residue with size =1.  I used a for

[2022-06-15 19:35] mzf-guest opened #824 "SONAME/SOVERSION (3) does not match the ceres major version (2)"
Hello,

after updating the Debian package to 2.1.0, it appears that the SONAME have been changed from 2 to 3 without changing the major version of the package. The associated commit is https://github.com/ceres-solver/ceres-solver/commit/f90833f5fac832b39ccb22a20567a9ad035cb71a but the commit comment does not explain the rationale for this change.

It triggers a [warning](https://lintian.debian.org

[2022-06-15 19:39] sergiud commented on #824
The SONAME increment is correct because ABI incompatible changes have been introduced. The assumption that Ceres uses semantic versioning is probably incorrect too.

[2022-06-16 02:52] ChenLongquan opened #825 "after SetParameterLowerBound, solve time cost from 13ms rise to 21ms"
After SetParameterLowerBound and SetParameterUpperBound , solve time cost from 13ms rise to 21ms in same iteration num. Could someone tell this reason?

[2022-06-16 03:32] sandwichmaker commented on #825
Adding bounds constraints requires Ceres Solver to do one or more line searches after computing the trust region step to make sure that the bounds constraints are satisfied. This requires computing the residuals and jacobians which takes up extra time. If you look at Summary::FullReport you will see the extra residual/jacobian evaluations show up.

[2022-06-16 03:32] #825 closed

[2022-06-16 03:32] sandwichmaker commented on #822
Marginalization is not possible in Ceres Solver right now. you have to marginalize variables yourself. We are working on it though.

[2022-06-16 03:32] #822 closed

[2022-06-16 03:34] sandwichmaker commented on #823
the second set of printouts are the jets being printed which are used by automatic differentiation to compute the derivatives. The four numbers after ";" are the derivative of the residual w.r.t. the four variables.

[2022-06-16 03:35] sandwichmaker commented on #820
does it go away without lto?

[2022-06-16 03:44] HeXu1 opened #826 "how to opt negative cost"

[2022-06-16 03:47] HeXu1 commented on #826
the residual square always positive,but I want opt opposite of it.but how to make it? thanks.

[2022-06-16 03:55] wongkenchiang97 commented on #823
@sandwichmaker Thanks for your reply.
Why the size of residue will change to 2? I declared the residual size  as 1:
`ceres::CostFunction* cost_function = new ceres::AutoDiffCostFunction<GroundPlaneResidual,1,1,1,1,1>( new GroundPlaneResidual(static_cast<double>(ground_pts->points.at(i).x), static_cast<double>(ground_pts->points.at(i).y), static_cast<double>(ground_pts->points.at(i).z)));`

[2022-06-16 03:56] sandwichmaker commented on #826
the objective function is the sum of squared residuals, so the nonlinear least squares solver cannot minimize a negative residual. For that you need to use GradientProblemSolver which can optimize arbitrary scalar functions.

[2022-06-16 03:56] #826 closed

[2022-06-16 05:35] HeXu1 commented on #826
thanks a lot.

[2022-06-16 10:52] sergiud commented on #820
Unfortunately, it [does not](https://github.com/sergiud/ceres-solver/runs/6915642211?check_suite_focus=true#step:7:106). Disabling optimizations [does not help either](https://github.com/sergiud/ceres-solver/runs/6916572324?check_suite_focus=true#step:7:106).

[2022-06-16 14:24] sandwichmaker commented on #820
Is there a stack trace to be had in debug mode?

On Thu, Jun 16, 2022, 3:53 AM Sergiu Deitsch ***@***.***>
wrote:

[2022-06-16 17:42] sandwichmaker commented on #819
The const qualifier is there to make sure that calling this function is idempotent on the same set of input values, this is necessary for things like line search. if you are doing things where these guarantees are violated things get problematic and buggy.  I suspect the sort of thing you are looking for is the equivalent of EvaluationCallback that we have for the nonlinear least squares solver, b

[2022-06-16 19:15] mzf-guest commented on #824
Hi @sergiud

Sorry if my message offended you, it was definitely not the intention!

Thanks for the clarification. I understand that the SOVERSION change is intentional without changing the package major version as you do not follow semantic versioning. So, we will start the transition process for Debian packages (and you may encounter other downstream distro complaining soon :smile: ).

Again, I

[2022-06-16 19:28] sergiud commented on #824
François, no offence taken. I'm only surprised to see that Debian assumes semantic versioning by default. I believe this causes many misunderstandings.

[2022-06-17 19:56] jiapei-nexera opened #827 "undefined reference to `METIS_NodeND'"
Please refer to [https://github.com/KarypisLab/METIS/issues/33](https://github.com/KarypisLab/METIS/issues/33)

Trying to build [https://github.com/ceres-solver/ceres-solver](https://github.com/ceres-solver/ceres-solver) without **SuiteSparse BUT METIS** , I got:

[code]

[2022-06-17 20:02] sandwichmaker commented on #827
@jiapei-nexera we are working on fixing our build issues. cc: @sergiud

[2022-06-17 20:07] sandwichmaker commented on #823
can you share the output of summary::FullReport() ?

[2022-06-17 21:24] jiapei-nexera commented on #827
@sandwichmaker

By the way, did you notice that [https://github.com/DrTimothyAldenDavis/SuiteSparse](https://github.com/DrTimothyAldenDavis/SuiteSparse) also depends on **metis-5.1.0** ??

[2022-06-17 21:28] sandwichmaker commented on #827
Yes i am aware of that.

On Fri, Jun 17, 2022, 2:24 PM jiapei-nexera ***@***.***>
wrote:

[2022-06-17 22:10] jiapei-nexera opened #828 "error: cannot convert ‘int*’ to ‘idx_t*’ {aka ‘long int*’}"
Where to set `CERES_NO_METIS =  true` ?

Otherwise, I'll have the following **ERROR** message

[code]

[2022-06-17 22:25] sandwichmaker commented on #828
please do not use ceres at head right now, use a stable version(version 2.1) while the build is broken.

[2022-06-17 22:28] sergiud commented on #821
This looks like OP's setup is broken. Not a Ceres issue.

[2022-06-17 22:30] jiapei-nexera commented on #827
@sandwichmaker
Could it be possible it's an issue from **METIS itself**?
Take a look at [https://github.com/mfem/mfem/issues/698](https://github.com/mfem/mfem/issues/698) ?

[2022-06-17 23:10] jiapei-nexera commented on #827
@sandwichmaker

And also, current **METIS** is now split into two parts:

- [https://github.com/KarypisLab/METIS](https://github.com/KarypisLab/METIS) itself
- [https://github.com/KarypisLab/GKlib](https://github.com/KarypisLab/GKlib)

For now, I even failed to build **CERES examples**, as well as **dense_linear_solver_benchmark** with the following error message (but everything else built success

[2022-06-18 08:19] wongkenchiang97 commented on #823
![image](https://user-images.githubusercontent.com/55145225/174429305-280316a7-2b34-42c1-b5e9-3ac65c3db927.png)

[2022-06-18 08:26] wongkenchiang97 commented on #823
I have added another non-linear optimization,  both problem will only converged once.

This is the 2nd non-linear optimization sumary::FullReport()
![image](https://user-images.githubusercontent.com/55145225/174429479-e12da5a7-0c0b-4956-9c12-a0f5eae55e99.png)

[2022-06-18 08:34] wongkenchiang97 commented on #823
Still haven't solve the residual size and invalid jacobians issue.
![image](https://user-images.githubusercontent.com/55145225/174429756-74e91049-6a4a-4588-b362-d048f0d6c99d.png)

[2022-06-20 09:01] wongkenchiang97 commented on #823
I guess it's the problem between Ceres-Solver and ros::ServiceServer. When I solve the optimization problem by calling a class-method instead of calling a ros::ServiceServer, It is running well.

the optimization keep on running without error
![image](https://user-images.githubusercontent.com/55145225/174565560-7ba6ac83-13ea-4080-82bc-8a653b8239bd.png)

[2022-06-21 07:25] chennuo0125-HIT opened #829 "how to understand summary Time (in seconds) ?"
the following snippet show cost time of solver, but i dont understand the difference between "Residual only evaluation " and "Jacobian & residual evaluation"? another question is that "Jacobian & residual evaluation" time include "Residual only evaluation" time ?
[code]

[2022-06-21 14:52] sandwichmaker commented on #829
Sometimes we evaluate just the cost/residuals and sometimes we evaluate the cost and the derivative/Jacobians. We report the time spent in these two evaluations separately.

No the pure residual/cost evaluation time is not included in the residual + Jacobian eval time.

[2022-06-21 14:53] Yaolang003 opened #830 "How to eliminate ceres is the following log message？"
When I use the following code：
[code]
Ceres blocks some of the log information.
However, the following information is still printed out：
![1655823081419](https://user-images.githubusercontent.com/35597652/174830033-a3487e1d-d44c-47ce-a7e6-4319f6ed3631.jpg)
Need to remove all the log information, please give some suggestions, thank you！

[2022-06-21 14:54] sandwichmaker commented on #830
What platform are you on? If you can use full glog, otherwise look at changing the min logging level inside miniglog.

[2022-06-21 14:59] Yaolang003 commented on #830
I use it in Qt5.12.5, using the MVSC compiler.
Your method I can try.

[2022-06-21 16:55] Yaolang003 commented on #830
Do I need to modify and add the following code to recompile Ceres. And then use Ceres in my project?
[code]
I tried to set this level in my own project, which seems to have no effect.

[2022-06-21 20:20] sandwichmaker commented on #830
Those are settings for full glog.
you are using miniglog, you need to set

[2022-06-22 01:57] chennuo0125-HIT commented on #829
i get it, thank for your reply.

[2022-06-22 02:03] chennuo0125-HIT commented on #829
@sandwichmaker what about "Minimizer" time ? "Jacobian & residual evaluation" + "Linear solver" not equal to "Minimizer", i konw LM or DogLeg algorithm mainly include Jacobian&residual calculation and linear solver, so  i want to know what was included in "Minimizer".

[2022-06-22 02:32] sandwichmaker commented on #829
Minimizer is the sum of the three times above it.

[2022-06-22 02:33] chennuo0125-HIT commented on #829
why?

[2022-06-22 02:34] chennuo0125-HIT commented on #829
why ?

[2022-06-22 02:46] chennuo0125-HIT commented on #829
what do you mean about "above it" ?  "Jacobian & residual evaluation" or  "Linear solver" ?

[2022-06-22 03:01] sandwichmaker commented on #829
The three entries above it means
Linear solver, Jacobian and residual and residual only.

On Tue, Jun 21, 2022, 7:46 PM chennuo0125-HIT ***@***.***>
wrote:

[2022-06-22 07:42] chennuo0125-HIT commented on #829
i get it, thank you

[2022-06-22 07:42] #829 closed

[2022-06-22 16:47] #808 closed

[2022-06-22 18:43] #816 closed

[2022-06-23 08:22] sergiud commented on #827
Ceres METIS linker error was fixed in 0c88301e6658f9c52e54621d45e333dce35c09ec. GKlib linker errors are unrelated to this issue.

[2022-06-23 14:17] sandwichmaker opened #831 "fmin/fmax break when Jets are instantiated with floats"
The line

[code]
is what creates trouble because 0.5 is a double while J{x} and J{y} are jets of type float.

[2022-06-23 14:18] sandwichmaker commented on #831
cc: @sergiud

[2022-06-23 14:25] sandwichmaker commented on #828
this should be fixed at head now. you can disable metis use in eigen setting EIGENMETIS=OFF.

[2022-06-23 14:25] #828 closed

[2022-06-24 02:41] jiapei-nexera commented on #827
@sergiud

Great... But **NOT** able to build with **benchmark**, which is installed from Ubuntu 22.04 repo directly.
And I believe you have noticed my other issue at: [https://github.com/sergiud/SuiteSparse/issues/5](https://github.com/sergiud/SuiteSparse/issues/5) ? The same as **ceres**.

May I ask where did you guys manage these packages?

[code]

[2022-06-27 03:25] chennuo0125-HIT opened #832 "in terms of BA problem, the performance of ceres-solver is worse than that of g2o ?"
I had made a test at [https://github.com/chennuo0125-HIT/test](https://github.com/chennuo0125-HIT/test), and got following result:
[code]
from above result, I found ceres-solver is not as good as g2o in terms of "cost time " or "point error". Maybe there is something wrong with my test, please point it out, thanks :) :) :)

[2022-06-27 03:31] sandwichmaker commented on #832
It is hard for me to comment on the solution quality without looking at your formulation. It is certainly possible that there are problems for which g2o finds a better minimum than ceres solver. Having said that, ceres solver ran for 18 iterations whereas  g2o ran for 9, and there is about a 2x difference in time so their speed per iteration is basically the same.

[2022-06-27 03:48] #830 closed

[2022-06-27 03:49] chennuo0125-HIT commented on #832
the test is simple, just provide some poses and points, then noise these with gaussian. then I  optimize ba problem with two solvers, and got above result. if you dont want to see that test, i hope you can provide a demo for compare these two solvers, because the solver you provided and g2o both can solve SLAM problem, as user for me, I want to know what advantage of ceres-solver over g2o, thank f

[2022-06-27 11:50] chennuo0125-HIT commented on #832
@whuaegeanse thanks for your reply
for bug 1, what you write is "left perturbation", but what i wrote is "right perturbation", both are ok, you can see paper: [A micro Lie theory for state estimation in robotics](https://arxiv.org/abs/1812.01537)
for bug2, what you write is combination of rotation and translation, but what i wrote made rotation and translation independent for easy jacobian derivat

[2022-06-28 04:57] whuaegeanse commented on #832
@chennuo0125-HIT
1. Bug in test code
For 19308 residuals, the initial cost is 1.442765e+09. The error is about 260 pxiels. It means the initial parateres are far from the true values.  It's hard for ceres or g2o to optimize. Thus, I suppose that bugs in test code. Outliers should be removed befor performing BA.

2. Demo
I have tried the demo you mentationed. And it works well as expected.

3. Same

[2022-06-28 07:48] chennuo0125-HIT commented on #832
@whuaegeanse
I have debug the code, found the simulation data has a big gaussian noise, so cause initial cost too large. but for this data, g2o has an excellent performance, which can illustrate g2o is more robust ? Also, the simulation data is copyed from g2o demo [https://github.com/RainerKuemmerle/g2o/tree/master/g2o/examples/ba](https://github.com/RainerKuemmerle/g2o/tree/master/g2o/examples/b

[2022-06-28 07:55] chennuo0125-HIT commented on #832
@whuaegeanse
g2o has an advantage to set vertex marginalized, so which can use shur complete to speed up calculation. during my demo, i want to set marginalized false for fair comparation, but when i do this and get problem [https://github.com/RainerKuemmerle/g2o/issues/591](https://github.com/RainerKuemmerle/g2o/issues/591), I think the problem is unreasonable simulation data bug, if you have bet

[2022-06-28 10:24] whuaegeanse commented on #832
1. Bugs in Evaluate
[code]
should be
[code]
https://github.com/chennuo0125-HIT/test/blob/main/ceres_g2o_comparer/ceres_ba.hpp#78

2. Bugs in SimulationData
[code]
should be
[code]

3.Linear solver ordering in ceres
[code]
as you mentationed above, ceres will compute the linear solver ordering automaticly by default. And the linear solver ordering  plays a important role in linear solver to schur 3

[2022-06-28 10:33] chennuo0125-HIT commented on #832
@whuaegeanse
for 1: its a bug, I fixed it and get following correct result:
[code]

for 2: the pixel_noise_ is equal to 1.0, so its not a bug
for 3: I dont know how ceres implement shur, could you give me a note ?

[2022-06-29 07:56] whuaegeanse commented on #832
http://ceres-solver.org/nnls_solving.html?highlight=schur#ordering

[2022-06-29 13:09] chennuo0125-HIT commented on #832
@whuaegeanse thanks for your help :) :) :)

[2022-06-29 13:09] #832 closed

[2022-06-30 03:51] NeekHua opened #833 "fatal error: template instantiation depth exceeds maximum of 900 (use -ftemplate-depth= to increase the maximum)"
if my residual and X parameters greater than 900,compile will error.What should I do?
Any answers would be helpful to me

[2022-07-04 13:54] wenixang commented on #426
thank you,i'v met the same problem and i works!

[2022-07-08 00:08] zhangzh103 opened #834 "How dose the ceres calculate the cost for multiple residuals"
I want to know how does the ceres calculate the initial cost when there is two or more residuals. I set the value of the two residuals to be both 1 and the cost is 29 and when I set one of them to 2 the cost became 79.5. What's the formular does ceres use to calculate this value?

[2022-07-08 06:54] tasptz opened #835 "sparse_cholesky_test fails with Ubuntu 20.04"
[sparse_cholesky_test.log](https://github.com/ceres-solver/ceres-solver/files/9069518/sparse_cholesky_test.log)

Ceres compiled on Ubuntu 20.04 (as described [here](http://ceres-solver.org/installation.html#linux)) and all packages are default packages.

Git hash is `027e741a1ad6246c396b963dc73e51b4713c3d7c`.

[2022-07-08 13:36] sandwichmaker commented on #833
@NeekHua is your problem solved?

[2022-07-08 13:37] sandwichmaker commented on #834
cost is 1/2 (r1^2 + r^2).
are you using any loss functions?

[2022-07-08 13:51] sandwichmaker commented on #835
Thanks for the report @tasptz let me take a look. @alexsmac maybe able to get to it before me.
I do not see a commit by the hash you have posted here, could you check to see which version of ceres solver you are using?

[2022-07-08 14:00] EXing opened #836 "Bug Report: SetParameterBlockVariable will destroy the ordering"
Reproduction Code (Just replace this main function in examples/simple_bundle_adjuster.cc):
_int main(int argc, char** argv) {
  google::InitGoogleLogging(argv[0]);
  if (argc != 2) {
    std::cerr << "usage: simple_bundle_adjuster <bal_problem>\n";
    return 1;
  }

  BALProblem bal_problem;
  if (!bal_problem.LoadFile(argv[1])) {
    std::cerr << "ERROR: unable to open file " << argv[1] << "\n";

[2022-07-08 14:05] sandwichmaker commented on #836
Thank you @EXing I will take a look.

[2022-07-08 14:15] sandwichmaker commented on #835
I am able to replicate this failure at head.  This appears to be a configuration problem because metis is not available by default on ubuntu yet the nested dissection based tests are being run.
cc: @sergiud

[2022-07-08 14:19] sandwichmaker commented on #836
I see what is happening, yes currently ceres solver removes the constant parameter blocks from the ordering. This happens at https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/trust_region_preprocessor.cc#L182.

[2022-07-08 15:50] #835 closed, assigned to sandwichmaker

[2022-07-08 15:59] sergiud commented on #835
CI fails with these changes.

[2022-07-09 09:04] zhangrong1722 opened #837 "calculate hessian matrix when evaluating jacobian"
for dense-normal-cholesky solver, jacobian matrix is intermediate variable and hessian matrix(JTJ) is necessary. So how calculate hessian matrix when evaluating jacobian.

[2022-07-09 09:20] zhangrong1722 commented on #103
I was wondering how to implement this feature. Is there any idea?

[2022-07-09 11:51] fyj404 opened #838 "Correctness of covariance"
When I used ceres covariance in the vins slam BA problem, I found that even the estimated parameter values were quite different from the true values,but the optimization is still 'confident' enough to give me a low covariance estimate.

[2022-07-09 11:52] fyj404 commented on #838
The optimizer provides a covariance of 1e-6

[2022-07-10 16:36] alexsmac commented on #838
As we explain in the documentation for Covariance [here](http://ceres-solver.org/nnls_covariance.html), using (J^T * J)^{-1} is only the covariance if the errors in all of the residuals are distributed according to a standard Normal, i.e: N(0, I).  If that is *not* the case, which depends on your problem and how you set up your CostFunctions, but is almost never the case in practice, then the resu

[2022-07-10 16:36] #838 closed

[2022-07-10 16:47] alexsmac commented on #837
Where required, the Hessian approximation is computed internally within the Ceres back-end using the Jacobians returned by the CostFunctions (and any Manifolds).  There is no public API that allows CostFunctions to return (J^T * J)^{-1} as the manner in which this is computed and represented efficiently depends on the choice of linear solver, and part of Ceres' private (not public) APIs.

If you a

[2022-07-10 16:47] #837 closed

[2022-07-10 19:41] sandwichmaker commented on #823
okay I am going to close this issue assuming that this is an ROS issue. Please reopen it if you need further help.

[2022-07-10 19:41] #823 closed

[2022-07-10 19:42] sandwichmaker commented on #827
is this issue still open?

[2022-07-10 19:42] sandwichmaker commented on #821
Going to close it because of lack of response.

[2022-07-10 19:42] #821 closed

[2022-07-10 19:43] #813 closed

[2022-07-10 19:43] #819 closed

[2022-07-10 19:44] sandwichmaker commented on #817
Closing because of lack of further response. Please reopen or file another issue as needed.

[2022-07-10 19:44] #817 closed

[2022-07-10 19:44] sandwichmaker commented on #804
closing because of lack of response.

[2022-07-10 19:44] #804 closed

[2022-07-10 19:45] sandwichmaker commented on #803
closing because of lack of response.

[2022-07-10 19:45] #803 closed

[2022-07-10 19:55] sandwichmaker opened #839 "Add Mixed Precision Support for CPU based dense linear solvers"
@joydeep-b is adding support for mixed precision solves using CUDA, it would be good to have the same for CPU based linear solvers. It will also serve as a nice baseline for the CUDA based solvers.

[2022-07-10 23:45] fyj404 commented on #838
Thank you very much. I still need to learn more

[2022-07-11 03:27] NeekHua commented on #833
@sandwichmaker I don't solved my problems.It still exists.I suspect that Ceres may not support so many unknowns and optimization functions

[2022-07-11 04:24] sandwichmaker commented on #833
What error are you facing now?
Also how large is your cost functor that you are trying to differentiate?

On Sun, Jul 10, 2022, 8:27 PM NeekHua ***@***.***> wrote:

[2022-07-11 07:11] NeekHua commented on #833
@sandwichmaker I want use ceres lib optimization my python code.And I use
this project `https://github.com/Edwinem/ceres_python_bindings`.and changed own custom_cpp_cost_functions.cpp,then joint compilation ceres_python_bindings and ceres-solver .When in unknown variable and costfunction counts less than 900.my python code inference is ok. but if more than 900 ,inference lib don't  normal use.Now

[2022-07-11 11:00] sandwichmaker commented on #833
How many variables do you have in one cost function? And how many
residuals? Can you share your cost function ?

On Mon, Jul 11, 2022, 12:11 AM NeekHua ***@***.***> wrote:

[2022-07-13 03:58] NeekHua commented on #833
@sandwichmaker  of course .
My  cost functionis following:
[code]

[2022-07-13 04:47] sandwichmaker commented on #833
This is an utterly huge residual function. You have 16364 residuals and 11281 variables. Of course you are facing problems with autodiff.  Even the smaller version with 90 residuals and 61 variables is quite large. This is not about ceres, you are taxing the C++ compiler with an enormous template expansion.

Even if you were able to compile this code, the autodiff is going to be very very slow. I

[2022-07-14 02:56] NeekHua commented on #833
@sandwichmaker Yes, I can compiler it successfully,and I need joint optimization some offline video frame parameters and I think need use only one autodiff. Your means Ceres support so many unknowns and optimization functions,only running very slow .I get it .Thank you for your reply and guidance~

[2022-07-15 11:51] S-o-T commented on #760
Is there an ETA available? Would be interesting to compare with https://github.com/MegviiRobot/MegBA

[2022-07-15 13:53] joydeep-b commented on #760
Work is under way: https://ceres-solver-review.googlesource.com/c/ceres-solver/+/21940

[2022-07-19 08:46] joydeep-b commented on #762
The cause of this specific issue was already fixed.
If you are encountering errors, please open a new issue.

[2022-07-19 11:45] Greywan commented on #803
I had the same problem:
`cmake ../ceres-solver-2.1.0`

CMake Error at internal/ceres/CMakeLists.txt:141 (add_test):
  Error evaluating generator expression:

    $<TARGET_FILE:cuda_dense_qr_test>

  No target "cuda_dense_qr_test"

CMake Error at internal/ceres/CMakeLists.txt:145 (add_test):
  Error evaluating generator expression:

    $<TARGET_FILE:cuda_dense_cholesky_test>

  No target "cuda_den

[2022-07-19 11:55] Greywan opened #840 "CMake Error at internal/ceres/CMakeLists.txt"
Hey,
When i run
`cmake ../ceres-solver-2.1.0`
I got a trouble as follows:

CMake Error at internal/ceres/CMakeLists.txt:141 (add_test):
  Error evaluating generator expression:

    $<TARGET_FILE:cuda_dense_qr_test>

  No target "cuda_dense_qr_test"

CMake Error at internal/ceres/CMakeLists.txt:145 (add_test):
  Error evaluating generator expression:

    $<TARGET_FILE:cuda_dense_cholesky_test>

[2022-07-19 17:22] sandwichmaker commented on #840
cc: @joydeep-b

[2022-07-19 17:25] joydeep-b commented on #803
@Greywan can you please share the full CMake output?

[2022-07-19 21:41] sergiud commented on #840
`CMakeError.log` contains general test output which can be ignored. The main problem is still the failing evaluation of the generator expression due to missing `cuda_dense_qr_test` target.

[2022-07-20 02:41] Greywan commented on #840
Do you mean CMakeOutput.log? @joydeep-b
CMakeOutput.log:
The system is: Linux - 4.15.0-142-generic - x86_64
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler: /usr/bin/cc
Build flags:
Id flags:

The output was:
0

Compilation of the C compiler identification source "CMakeCCompilerId.c" produced "a.out"

The C compiler identification is GNU, found in "/hom

[2022-07-20 02:45] Greywan commented on #840
Thanks for your reply, so how can i solve the problem @sergiud

[2022-07-20 03:05] joydeep-b commented on #840
@Greywan I meant the full output of running `cmake `.
I'd like to see what configurations it is detecting and building with.
It looks like you are building on Windows; I don't have a windows computer to test on, but I believe the output should be shown in the cmake window (https://cmake.org/runningcmake/) :
![cmake-gui](https://cmake.org/wp-content/uploads/2018/10/cmake-gui.png)

For example, this

[2022-07-20 06:53] Greywan commented on #840
Thanks for your reply, my environment is ubuntu 16.04 @joydeep-b

(base) ➜  ceres-bin cmake ../ceres-solver-2.1.0
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7.5.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features

[2022-07-20 15:25] joydeep-b commented on #840
@Greywan Thanks, this was helpful.
I have a suspicion of what is going on: when gflags is not found, testing is disabled, but the `BUILD_TESTING` variable is still true. Let me take a look.

[2022-07-20 16:12] joydeep-b commented on #840
Up for review: https://ceres-solver-review.googlesource.com/c/ceres-solver/+/22120

[2022-07-20 17:37] luoyin500 opened #841 "Is there any way to add the relative constraints on the variables."
I want to add some relative constraints between the variables, such as:
x[i+1] > x[i]
I wander is there any way to approach it, thank you!

[2022-07-21 03:00] XinquanDu opened #842 "cuda_dense_qr_test failed"
when I make ceres_solver_2.1.0 on Ubuntu 18.04 , I follow the instruction on the website: www.ceres-solver.org/installatiion.html#linux, during which I failed in "make test".
I got:
 27/183 Test #27: cuda_dense_qr_test·······························································
***Failed    0.45sec

That's the only one failed test, other 182 tests passed

[2022-07-21 05:55] sandwichmaker commented on #842
cc: @joydeep-b

[2022-07-21 05:55] sandwichmaker commented on #842
Can you share the logs from the test please? I suspect it is a tolerance issue.

[2022-07-21 05:58] sandwichmaker commented on #840
Should be fixed now.

[2022-07-21 05:58] #840 closed

[2022-07-21 11:02] Metear opened #843 "make error"
/usr/local/include/ceres/product_manifold.h:315:59: error: expected constructor, destructor, or type conversion before ‘;’ token
  315 |     -> ProductManifold<Manifold0, Manifold1, Manifolds...>;

When I ues the make to build my example, the error occured.

[2022-07-21 12:38] sergiud commented on #843
What compiler do you use (including exact version)?

[2022-07-21 12:43] Metear commented on #843
Ubuntu20 default version.

[2022-07-21 12:46] sergiud commented on #843
You mean GCC 9.4.0? If this is the case, there's something wrong with you setup. Without a complete example it's hard to tell what exactly is wrong.

[2022-07-21 12:50] Metear commented on #843
Sorry. I have solved this problem. I misspelled the parameter when using find_package.

[2022-07-21 15:08] #843 closed

[2022-07-22 20:35] nudro opened #844 "Ubuntu 18.04 cmake errors - FAILED TO DETECT CUDA ARCHITECTURES"
I've resolved this issue, but am posting in case other users on Ubuntu face the same issue. Upon building per instructions https://colmap.github.io/install.html for installing the the Ceres-Solver: `cmake .. -DBUILD_TESTING=OFF -DBUILD_EXAMPLES=OFF`, the following error pops up:

[code]

My system is running `gcc 7.5.0` and `CUDA-11.1`.

Solution is:

[code]

Specify your CUDA version in place of

[2022-07-22 20:35] #844 closed

[2022-07-25 16:27] KrisThielemans opened #845 "findGlog does not always define glog::glog"
When using a `CONFIG`, Glog defines the `glog::glog` target, which is recommended to use. However, when searching for the files "by hand", this target is not defined.

[2022-07-25 16:46] alexsmac commented on #845
This was intentional, Ceres does not provide the `glog::glog` target when we have to resort to using a module to avoid confusion with the real glog target, and as `IMPORTED` targets cannot themselves then be (re)exported.  Ceres only uses `GLOG_INCLUDE_DIRS` and `GLOG_LIBRARIES` (which are "" and glog::glog respectively when using an exported glog config) when specifying glog as a link dependency.

[2022-07-25 17:27] KrisThielemans commented on #845
We use this `FindGlog.cmake` in our own project (not Ceres). https://github.com/UCL/pet-rd-tools. We use `glog::glog` as it is the best way to pass options etc, but this fails to build for people who installed Google on Ubuntu (at least up to 20.04) via APT, as it doesn't supply the glog config) #846 is a simple addition that helped us, but I understand if you don't want to merge it for Ceres.

[2022-07-25 19:46] KrisThielemans commented on #845
Thanks @sergiud, that's indeed what we do. (By the way, I like L310 to avoid having some `if` in the config file.).

[2022-08-02 04:14] Yeah2333 opened #847 "Can't use SPARSE_NORMAL_CHOLESKY with Solver::Options::sparse_linear_algebra_library_type = SUITE_SPARSE, because support was not enabled when Ceres Solver was built."
I have build ceres with sparse and pass ./sparse_normal_cholesky_solver_test test.
test output:
`$ ./sparse_normal_cholesky_solver_test
Running main() from gmock_main.cc
[==========] Running 6 tests from 1 test suite.
[----------] Global test environment set-up.
[----------] 6 tests from SparseNormalCholeskySolverTest
[ RUN      ] SparseNormalCholeskySolverTest.SparseNormalCholeskyUsingSuiteSparse

[2022-08-02 23:25] sandwichmaker opened #848 "Add Incomplete Cholesky Preconditioner Using Eigen's Incomplete Cholesky"
Explore the use of Eigen's incomplete cholesky factorization as a preconditioner for CGNR.

[2022-08-02 23:38] sandwichmaker commented on #847
I am quite confused by this error. Are you able to run bundle_adjuster ? with suite sparse as your sparse linear algebra library?

[2022-08-03 02:18] #833 closed

[2022-08-04 04:32] sandwichmaker opened #849 "Change Eigen error handling to more fine grained"
We usually just check Success, but we should be able to do better by using the other values of the ComputationInfo enum.

[2022-08-05 12:47] #788 closed

[2022-08-05 13:00] #841 closed

[2022-08-05 13:01] sandwichmaker commented on #797
Is this still an issue?

[2022-08-05 13:07] sandwichmaker commented on #279
this test does not exist anymore.

[2022-08-05 13:07] #279 closed

[2022-08-06 15:22] sergiud commented on #820
I stepped through the test using `gdb` and got this:
[code]
For some reason, the `product_terms` vector is empty. Is this a threshold problem?

[2022-08-06 15:33] sandwichmaker commented on #820
can you check what is happening in InnerProductComputer::Init() then?
is it the case that start_row_block = end_row_block somehow? or the rows themselves are empty?

[2022-08-06 15:35] sandwichmaker commented on #820
actually start_row_block is guaranteed not to be equal to end_row_block in the test so thats not the problem. I bet the random matrix we create is not dense enough.

[2022-08-06 15:36] sandwichmaker commented on #820
so at line 189 of inner_product_computer_test.cc we should check to see if there are actually any nonzeroes.

but more importantly the code itself should not crash on an empty matrix. so we should just add a test for that and update the code.

[2022-08-06 16:17] sergiud commented on #820
`start_row_block_` is 3 and `end_row_block_` is 4. Referencing the rows of the start block gives this:
[code]
which is why `product_terms.emplace_back` is never called.

[2022-08-06 19:14] sergiud commented on #820
Interestingly, incrementing the PRNG seed to 29824 allows the test to pass.

[2022-08-06 19:19] sergiud commented on #820
As an unrelated remark, I suggest deprecating `random.h` functionality which is based on notoriously low quality `std::rand` implementations (with global state) and replace it by `<random>`.

[2022-08-06 19:27] sandwichmaker commented on #820
Yes that makes sense and he's I will remove random.h

On Sat, Aug 6, 2022, 12:19 PM Sergiu Deitsch ***@***.***>
wrote:

[2022-08-06 19:41] mallareddy47 opened #851 "CMake Warning (dev) in internal/ceres/CMakeLists.txt:"
CMake Warning (dev) in internal/ceres/CMakeLists.txt:
  Policy CMP0104 is not set: CMAKE_CUDA_ARCHITECTURES now detected for NVCC,
  empty CUDA_ARCHITECTURES not allowed.  Run "cmake --help-policy CMP0104"
  for policy details.  Use the cmake_policy command to set the policy and
  suppress this warning.

  CUDA_ARCHITECTURES is empty for target "ceres_cuda_kernels".
This warning is for project dev

[2022-08-06 20:01] sergiud commented on #851
What issue are you facing exactly?

In case the warning is bothering you, just set `CMAKE_CUDA_ARCHITECTURES` manually. You can also disable CUDA altogether by setting `-DUSE_CUDA=OFF`.

@joydeep-b CMake 3.18 introduced the `CMP0104` policy whose `NEW` behavior is to auto initialize `CUDA_ARCHITECTURES`. Ceres should probably enable the policy if it's available.

[2022-08-06 20:34] joydeep-b commented on #851
Yes, I have seen this.
The issue is that starting CMake 3.18, we need to specify a list of Cuda virtual/real architectures, but this is not supported on older CMake versions.
The version of CMake that ships with Ubuntu 20.04 does not support this feature.
@sandwichmaker Let's mark this as an issue to investigate by the next minor revision. I'll take a look at it by then.

[2022-08-06 21:25] joydeep-b opened #852 "Bug: Incomplete preconditioner validity checks with CGNR"
What: Calling the solver with CGNR and the SCHUR_JACOBI preconditioner results in fatal errors.
How to reproduce:
[code]
Output:
[code]

[2022-08-07 00:45] sandwichmaker commented on #852
Thanks @joydeep-b, I will take a look.

[2022-08-07 00:45] sandwichmaker opened #853 "InnerProductComputer should be able to handle empty matrices"
The test show a failure where the code dies on matrices which are structurally all zero.

[2022-08-07 00:46] sandwichmaker commented on #853
cc: @sergiud

[2022-08-07 00:47] sandwichmaker commented on #849
cc: @joydeep-b

[2022-08-07 19:10] sandwichmaker opened #854 "Remove random.h and use modern c++ RNGs"
cc: @sergiud

[2022-08-08 11:33] #820 closed

[2022-08-08 14:36] sandwichmaker commented on #848
Initial attempts at this were not very promising. Closing for now.

[2022-08-08 14:36] #848 closed

[2022-08-08 14:37] sandwichmaker commented on #722
Closing because of lack of feasibility.

[2022-08-08 14:37] #722 closed

[2022-08-08 18:43] #854 closed

[2022-08-09 04:02] sandwichmaker commented on #853
Fixed at head.

[2022-08-09 04:02] #853 closed

[2022-08-09 04:02] sandwichmaker commented on #839
Cholesky is done. It maybe interesting to do this for QR also.

[2022-08-09 04:06] joydeep-b opened #855 "TODO: Clean up "RightMultiply" and "LeftMultiply" terminology"
cc: @sandwichmaker

Currently the `RightMultiply` and `LeftMultiply` methods are actually `RightMultiplyAndAccumulate` and `LeftMultiplyAndAccumulate` operations -- they should be renamed as so to avoid confusion.

[2022-08-09 04:08] joydeep-b commented on #851
This has been fixed by d8dad14eed1cd162526277b08012a2f82024098b

[2022-08-09 14:01] sandwichmaker commented on #845
This is now fixed at head.

[2022-08-09 14:01] #845 closed

[2022-08-09 15:16] sandwichmaker opened #856 "Replace fixed sized arrays with std::array"
Otherwise clang-tidy will complain.

[2022-08-09 20:13] sandwichmaker commented on #852
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/22400 is out for review

[2022-08-10 03:08] hitbuyi opened #857 "Does ceres can be used in QNX?"
I want to use ceres-solver in QNX environment, is it possible? any information on this issue is  appreciated

[2022-08-10 03:10] sandwichmaker commented on #857
I have no idea. I suspect it will work. we do not depend on very many unix apis. I think the only thing is miniglog/glog.

[2022-08-10 03:22] district10 commented on #857
Yes, It works.

[2022-08-10 05:05] #857 closed

[2022-08-10 16:42] sandwichmaker opened #858 "Iterative refinement for CPU based DENSE_QR"

[2022-08-10 16:42] sandwichmaker opened #859 "Iterative Refinement for CUDA based DENSE_QR"

[2022-08-10 16:43] sandwichmaker commented on #839
Closing this in favor of two issues that talk about dense_qr more specifically.

[2022-08-10 16:43] #839 closed

[2022-08-10 16:43] sandwichmaker commented on #859
cc: @joydeep-b

[2022-08-10 16:45] joydeep-b commented on #859
@sandwichmaker  Please assign to me, I'll take a look sometime.

[2022-08-10 16:46] joydeep-b opened #860 "Add rank checking for CUDA QR"
Now that we have support for custom Cuda kernels in Ceres, it will be easy to add rank checking to Cuda DENSE_QR.
@sandwichmaker please assign to me.

[2022-08-10 17:09] #834 closed

[2022-08-10 19:25] #855 closed

[2022-08-11 08:46] hitdshu commented on #841
Well, with some tricks, you might.

For instance, if one wants x2 > x1, he could define x1 and dx as the optimization variable. And x2 is represented as x2 = x1 + exp(dx).

To summarize,
optimization variables: x1, dx
optimization function: origin f(x1, x2)--->Now: f(x1, x1 + exp(dx))

With these tricks, I think one can express relative constraints between two variables.

Deshun

[2022-08-11 08:50] luoyin500 commented on #841
@hitdshu this is a practical mathod, I will try it. Thanks for your help~

[2022-08-11 09:05] 44825762 opened #861 "Ceres Solver Report: Iterations: -2, Initial cost: -1.000000e+00, Final cost: -1.000000e+00, Termination: FAILURE"
I got a result like this:

==================================================================================

iter      cost      cost_change  |gradient|   |step|    tr_ratio  tr_radius  ls_iter  iter_time  total_time
   0  5.285684e+15    0.00e+00    2.54e+18   0.00e+00   0.00e+00  1.00e+04        0    4.19e-02    9.55e-02
   1  5.281679e+15    4.00e+12    2.54e+18   1.54e+01   1.00e+00  3.00e+0

[2022-08-11 14:36] sandwichmaker commented on #861
This looks like an uninitialized summary object. If your optimization succeeded the. You should not get a summary like this.

[2022-08-12 07:02] 44825762 commented on #861
Yes, it looks like an uninitialized problem. The data used in whole process is not changed, and it is successful in the first optimization process.  In the second optimization, some data which in same format has been added in process, then it fails.

In the second optimization, some data in same format has been added in process, then it failed.

There are three part we can change when using Ceres,

[2022-08-12 14:36] sandwichmaker commented on #861
so there are two solves being called?
so this has nothing to do with the first successful solve.
Please print Summary::FullReport it will tell you what is going on. also running the solver at higher verbosity will likely tell you the cause of failure.

[2022-08-13 00:01] mallareddy47 commented on #851
@joydeep-b is this moved to master branch? or diff branch

[2022-08-13 04:07] joydeep-b commented on #851
This is merged into master.
@sandwichmaker  this issue can be closed.

[2022-08-13 04:11] #851 closed

[2022-08-13 04:21] #852 closed

[2022-08-13 18:08] sandwichmaker opened #862 "Add documentation for SCHUR_POWER_SERIES_EXPANSION preconditioner and initialization."

[2022-08-13 18:09] sandwichmaker opened #863 "Expand the bundle adjustment tests to test mixed precision solves"

[2022-08-13 18:09] sandwichmaker opened #864 "Expand the bundle adjustment tests to use the power series expansion preconditioner."

[2022-08-13 20:50] sandwichmaker opened #865 "Expand documentation for mixed precision solves"
The feature is mature now and has extensive support across linear solvers.

[2022-08-13 20:53] sandwichmaker opened #866 "constexpr based cleanup for strings"
type.cc and elsewhere we have a number of constant strings which can benefit from using constexpr string_view.

[2022-08-14 11:41] sergiud opened #867 "`-Wfree-nonheap-object` warnings in LTO builds"
Ceres Solver compiled with GCC 12.1.1 and `-flto=auto` flag issues the following warning in release builds:
[code]
Looking at the `FixedArray` implementation, the reason for the warning seems to be the logic for differentiating between the statically and dynamically allocated buffers. While the static buffer is identified only through its size which can only be determined at runtime, additional co

[2022-08-14 23:50] joydeep-b opened #868 "Unify synthetic BA structure generator code"
There is very similar code in `schur_eliminator_benchmark.cc` and `sparse_linear_operator_benchmark.cc` that generate synthetic Jacobians. They could be combined.

[2022-08-15 06:57] 44825762 commented on #861
Ok, I got this:

=====
[code]
=====
[code]
====

It does show the reason.
Thank you.

[2022-08-16 06:16] #861 closed

[2022-08-16 22:13] joydeep-b commented on #760
CUDA CGNR Is now merged into master: 829089053e261f056dd72cd8c74e4c19ac445924
@sandwichmaker Let's close this issue and create new ones for the targeted follow-up items we discussed.

[2022-08-16 22:18] #760 closed

[2022-08-16 22:18] sandwichmaker opened #869 "Add support for JACOBI preconditioner for CGNR when using CUDA"
cc: @joydeep-b

[2022-08-16 22:22] sandwichmaker opened #870 "Slow CGNR on older Nvidia GPUs"
On nvidia GPUs like Quadro K2200, CGNR is slower on CPU. The reason it appears is the slow performance of A'x when A is a compressed row sparse. The slowdown does not affect more recent GPUs with compute capability 7.5+. K2200 has compute capability 5.0.

Making a second copy of A and transposing it, seems to alleviate a good chunk of this slowdown at the cost of doubling the memory usage.

[2022-08-16 22:22] sandwichmaker commented on #870
cc: @joydeep-b

[2022-08-16 22:23] sandwichmaker commented on #867
we should be able to fix this by moving to absl and using the more up to date implementation there I think.

[2022-08-16 22:28] sandwichmaker opened #871 "Add support for running ITERATIVE_SCHUR on CUDA"
IDENTITY, JACOBI, SCHUR_JACOBI and SCHUR_POWER_SERIES_EXPANSION preconditioner should all be possible to run on the GPU relatively easily.

The key idea is to export E, F, inverse(E'E), F'F and inverse(F'F), schur_jacobi as CSR matrices which can be copied to the GPU, then implicit schur complement and the various preconditioners can be computed easily.

[2022-08-16 22:28] sandwichmaker commented on #871
cc: @joydeep-b
cc: @S-o-T

[2022-08-17 01:34] dhmzdl opened #872 "Is there any way to get the variables to be optimized in each iteration step"
Hello everyone, when running ”std::cout << summary.BriefReport() << endl;”, I'm wonder if there is any way to get the variables to be optimized in each iteration step.
I checked the Summary and IterationSummay, but I didn't find any clues.

[2022-08-17 03:29] sandwichmaker commented on #872
I do not understand your question.

[2022-08-17 03:29] dhmzdl commented on #872
您发的邮件我已经收到。

[2022-08-17 03:49] dhmzdl commented on #872
double *rot = (double*)malloc(4 * sizeof(double));  // Quaternion
double *tra = (double*)malloc(3 * sizeof(double)); // Translation
...
problem.AddResidualBlock(cost, new ceres::HuberLoss(0.5), rot, tra);
...
ceres::Solver::Options options;
options.linear_solver_type = ceres::DENSE_SCHUR;
options.max_num_iterations = 150;
options.trust_region_strategy_type = ceres::LEVENBERG_MARQUARDT;
options.min

[2022-08-17 04:30] sandwichmaker commented on #872
Solver::Options::update_state_every_iteration in conjunction with an IterationCallback is what you need.

[2022-08-17 06:47] dhmzdl commented on #872
The problem has been solved，thanks!

[2022-08-17 06:47] #872 closed

[2022-08-17 15:38] sandwichmaker opened #873 "bundle_adjuster + dense_schur + cuda + mixed_precision_solve does not work"
W0817 08:37:22.441073  579289 levenberg_marquardt_strategy.cc:112] Linear solver fatal error: cuSolverDN::cusolverDnSpotrf failed.

cc: @joydeep-b

[2022-08-17 15:39] sandwichmaker opened #874 "Change bundle_adjuster to use user ordering by default."
This will shave off a bunch of time at startup when working with large problems.

[2022-08-17 15:42] sandwichmaker commented on #873
bundle_adjuster --input problem-16-22106-pre.txt  --linear_solver dense_schur --dense_linear_algebra_library cuda  -mixed_precision_solves

also fails, so this is not a conditioning problem.

[2022-08-17 15:46] joydeep-b commented on #873
Hmm I’ll take a look. Agreed this sounds more like a big than a numerical
issue.

On Wed, Aug 17, 2022 at 10:43 AM Sameer Agarwal ***@***.***>
wrote:

[2022-08-17 18:21] sandwichmaker opened #875 "Modernize the way we use googletest."
Currently we package googletest and gmock using a now obsolete method which generated single headers from the repo. This is not supported anymore. The modern instructions for using googletest are described at

https://google.github.io/googletest/quickstart-cmake.html

[2022-08-17 18:23] sandwichmaker commented on #875
One thing which is not clear is if we should be fetching inside the cmake file, or using googletest as a submodule the same way abseil recommends that it be used.

https://abseil.io/docs/cpp/quickstart-cmake

[2022-08-17 18:24] sandwichmaker commented on #875
@sergiud wdyt?

[2022-08-17 18:31] sergiud commented on #875
I'm all for it. I'd rather integrate googletest through `find_package` such that distribution specific packages can be used without hassle. This is also consistent to how every other dependency is included in Ceres.

[2022-08-17 18:35] sandwichmaker commented on #875
My question is, should we be including googletest as a git submodule or pull it using cmake's FetchContent.

[code]

[2022-08-17 18:49] alexsmac commented on #875
Whilst it's true that they advise against this, it's also true that an _awful_ lot of people do exactly this, and they even provide an option: [`INSTALL_GTEST`](https://github.com/google/googletest/blob/main/CMakeLists.txt#L32) in their own CMake to support this.  Hence why there are googletest packages in Ubuntu, Homebrew et al.  Their concerns around ensuring the compiler flags are identical are

[2022-08-17 19:08] sandwichmaker commented on #875
So for googletest fetchcontent/find_package/including the source in ceres are all mostly non-issues IMO. So I am good with using find_package. Though googletest is going to take on abseil as a dependency soonish, and then if we are using find_package for that, then I suppose our hand will be forced and we will be using find_package for abseil also? The problem  we will have then is that given abse

[2022-08-17 19:18] sandwichmaker commented on #875
cc: @keir WDYT is the right way to depend on googletest and abseil going forward?

[2022-08-17 19:35] sandwichmaker opened #876 "Use FeatureSummary module to summarize the cmake configuration"
https://cmake.org/cmake/help/latest/module/FeatureSummary.html

[2022-08-17 19:49] #874 closed

[2022-08-17 22:11] joydeep-b commented on #873
@sandwichmaker I'll have to add some more instrumentation and ask you to re-run.
What Cuda version are you running?
Unfortunately I'm not able to reproduce this problem so I'm wondering if this is card-specific.

[code]

[2022-08-17 22:14] sandwichmaker commented on #873
Thanks for checking Joydeep, I will verify on my end to see what is going
on.

On Wed, Aug 17, 2022, 3:11 PM Joydeep Biswas ***@***.***>
wrote:

[2022-08-17 22:56] sandwichmaker commented on #873
This is indeed a bug on my end, it had to do with not enabling the right architecture support in my toolchain. Sorry for the noise.

[2022-08-17 23:00] joydeep-b commented on #873
Is this something the general public (outside Google) might face? Do we need to add something to the docs?

[2022-08-17 23:06] sandwichmaker commented on #873
no its our toolchain where we limit the architectures we compile for by default and I have an old card. compiling the code in the open source repo with the regular toolchain works just fine.

[2022-08-17 23:06] #873 closed

[2022-08-17 23:13] sandwichmaker opened #877 "CUSPARSE_SPMV_ALG_DEFAULT is too new for some versions of CUDA"
even though CUSPARSE_MV_ALG_DEFAULT is deprecated, we may have to use that in our code depending on the version of CUDA being used.

cc: @joydeep-b

[2022-08-17 23:13] sandwichmaker commented on #877
This triggers a bug with 10.1

[2022-08-17 23:47] joydeep-b commented on #877
Sigh. I was trying not to do cuda version-based code, but we might have to.

[2022-08-18 00:02] sandwichmaker commented on #877
GitHub does not allow me to respond with a laugh cry emoji.

[2022-08-26 13:48] joydeep-b opened #878 "Add support for CUDA batched Cholesky decomposition"
The Jacobi preconditioner could be computed on the GPU using batched Cholesky decomposition [cusolverDnDpotrfBatched](https://docs.nvidia.com/cuda/cusolver/index.html#cuSolverDN-lt-t-gt-batchpotrf).

This functionality would also help with other features, e.g. Schur computation, on the GPU.

[2022-08-27 02:02] aligholami commented on #877
Any updates on this? I am having issues compiling Ceres solver with CUDA 11.1 and I get the following error:
[code]

[2022-08-27 04:58] sandwichmaker commented on #780
Now that the logging library is part of abseil

https://github.com/abseil/abseil-cpp/tree/master/absl/log

we should be able to replace our use of gflags and glog with absl.

[2022-08-27 14:21] anas-abulehia opened #879 "Windows Installation of ceres using CMake"
I have followed the instructions given in [http://ceres-solver.org/installation.html](url). However after several trials I couldn't install it. The CMake output error is
LINK : fatal error LNK1104: cannot open file 'm.lib' [C:\Users\anasa\Desktop\ceres\ceres-bin\CMakeFiles\CMakeTmp\cmTC_52ebe.vcxproj]
![image](https://user-images.githubusercontent.com/49106882/187034327-bccfef54-67a4-4254-bc9f-5ad

[2022-08-29 00:40] sandwichmaker opened #880 "Multithread SpMV for BlockSparseMatrix and CompressedRowSparseMatrix"
Right multiplication should be fairly straightforward to speedup, since we can process each row block in parallel.
LeftMultiplication will require a scatter & gather.

[2022-08-29 00:43] sandwichmaker commented on #879
what version of ceres solver are you using?

[2022-08-29 00:44] sandwichmaker commented on #877
@joydeep-b could you look into fixing this ?

[2022-08-29 01:31] sandwichmaker commented on #869
https://github.com/ceres-solver/ceres-solver/commit/42352e2e2a046673cc21e6c884817f5040899e6a fixes this.

[2022-08-29 01:32] #869 closed

[2022-08-29 01:32] sandwichmaker commented on #868
Turns out this is not really possible, since the matrix structure generated in schur_eliminator_benchmark is very specific to a particular optimization.

[2022-08-29 01:32] #868 closed

[2022-08-29 06:07] anas-abulehia commented on #879
I just cloned the repository 2 days ago

[2022-08-29 14:24] joydeep-b commented on #877
@sandwichmaker I'll take a look, please assign to me.

@aligholami If you have the ability to upgrade the CUDA version, that would be a workaround for now until this is fixed.

[2022-08-29 14:27] sandwichmaker commented on #877
It is already assigned to you :)

[2022-08-30 15:11] joydeep-b commented on #877
@aligholami Could you please try patch [22761](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/22761)?

[2022-09-02 02:31] liyhn opened #881 "Compiling Example Error: parameter_dims.h error c2059: “...”"
All The CC/C++ examples Compiling meets these  parameter_dims.h  error c2059 problem ,
And I Test it under Visual studio 2017 and 2019 ,result the same, how to deal with it?
1>curve_fitting.cc
1>D:\3DLineScanner\ceres-solver-master\include\ceres/covariance.h : warning C4819: 该文件包含不能在当前代码页(936)中表示的字符。请将该文件保存为 Unicode 格式以防止数据丢失
1>D:\3DLineScanner\ceres-solver-master\include\ceres/internal/parameter_

[2022-09-02 02:33] liyhn commented on #881
![image](https://user-images.githubusercontent.com/31336348/188046187-76ef0501-5766-41a5-88ea-a270de8bc1c1.png)

[2022-09-02 02:34] liyhn commented on #881
![image](https://user-images.githubusercontent.com/31336348/188046360-fed008c9-9399-4913-a756-b56a4dcd4a18.png)

[2022-09-02 12:13] parthdoshi11071997 opened #882 "Segmentation Fault - Ceres Solver"
I am trying to achieve solution for a Multilateration problem. The input data i have are Global pose of the landmarks and distances from it.
My costfunction is following

[code]
And the main code is
[code]
However, i get the segmentation fault error.
**Edit**
I run this file as a ROSnode, which subscribes to a topic to get the input data (i.e global_pose, dists)
The solver runs first time successf

[2022-09-02 12:51] sandwichmaker commented on #882
Can you compile in debug mode and share a stack trace?

On Fri, Sep 2, 2022, 5:14 AM parthdoshi11071997 ***@***.***>
wrote:

[2022-09-02 13:16] parthdoshi11071997 commented on #882
Thanks for the quick response. As the cpp file is a rosNode, it finds the headers file included in the node (bracause of package cMake file).
However, a normal debugging with gcc does not. (not sure exactly why).

[2022-09-02 14:02] parthdoshi11071997 commented on #882
Sorry for the earlier reply.
I think ROSNode are Debug by gdb or Valgring
Here is the traceback

[code]

[2022-09-02 16:25] sandwichmaker commented on #882
Are you saying that the first call to solveProblem succeeds and the second call fails?
are you using the same problem object each time? or are you creating a new one?

[2022-09-02 16:28] sandwichmaker commented on #881
This looks like some sort of parse error.  I do not know anything about MSVC but I suspect that the problem is your setup somehow, since we do not observe this as a problem in our CI. Sorry @sergiud and @alexsmac are on vacation, they know their way around MSVC issues.

[2022-09-02 16:29] sandwichmaker commented on #879
@anas-abulehia @sergiud and @alexsmac are on vacation and they are the MSVC folks on the team, I know nothing about MSVC :/ I would wait for them to come back next week and offer some help.

[2022-09-02 16:29] sandwichmaker commented on #877
This should be fixed at head.

[2022-09-02 16:29] #877 closed

[2022-09-05 06:55] parthdoshi11071997 commented on #882
Hi,
Yes, the first call runs successfully and and i get the error on the 2nd call.
The objects like
ceres::Problem
ceres::summary
ceres::Problem
are declared in a header file.

[2022-09-05 14:15] parthdoshi11071997 commented on #882
Thanks, that worked

[2022-09-05 14:15] #882 closed

[2022-09-08 02:55] jasjuang commented on #879
Easiest way to install Ceres on Windows is through [vcpkg](https://github.com/microsoft/vcpkg)

[2022-09-08 17:51] sergiud commented on #879
`CheckFunctionExists.c` is not something you would compile yourself, which is what you seem to be doing.

What instructions did you follow exactly? The instruction section is very comprehensive and we would need to guess what commands you actually executed.

Please provide the command-line arguments used to invoke CMake, the full CMake and compiler output. Without this information it is unlikely w

[2022-09-09 07:19] LilyGinger opened #883 "how to hid the ceres solve output?"
Hi, we call ceres solver in matlab mex. We are wondering how to close the output during the ceres::Solve process?

[2022-09-11 17:30] sandwichmaker commented on #883
are you using glog or miniglog?

[2022-09-11 17:31] sandwichmaker commented on #881
@sergiud any ideas?

[2022-09-11 19:22] sergiud commented on #881
My guess would be also that there's something wrong with the setup. The compiler does not seem to understand C++17 fold expressions, among others.

@liyhn Please install an English language pack for Visual Studio and provide the full CMake and compiler output as text instead of screenshots.

[2022-09-14 01:23] liyhn commented on #881
Cmake Text:
Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.19042.
Detected Ceres version: 2.2.0 from D:/3DLineScanner/ceres-solver-master/include/ceres/version.h
-- Detected available Ceres threading models: [CXX_THREADS, OPENMP, NO_THREADS]
-- Found Eigen version 3.3.7: D:/SDK/eigen-eigen-337/build
-- Enabling use of Eigen as a sparse linear algebra library.
-- Found CUDA versi

[2022-09-14 01:37] liyhn commented on #881
I Sorry I made a mistake it's the c++17 issue
![image](https://user-images.githubusercontent.com/31336348/190039100-22ceb91c-bfeb-44e2-989b-d36762b3f44c.png)

[2022-09-14 01:38] liyhn commented on #881
So this Issue Closed
![image](https://user-images.githubusercontent.com/31336348/190039222-5bb12acd-1107-489a-ba4b-ba19523c534b.png)

[2022-09-14 01:42] liyhn commented on #881
It's the compiler's C++17 parameter not set issue, it's done , thank you very much !!!

[2022-09-16 09:31] leiwanporsche opened #884 "No CUDA type under dense_linear_algebra_library_type"
Hello. I was trying to accelerate the solver process of ceres. According to the tutorial we can use CUDA as the type of the dense linear algebra type. But actually there are not this type under the dense_linear_algebra_library_type

![image](https://user-images.githubusercontent.com/108680208/190606102-50298176-6310-4ff5-b7ee-bf37c838397a.png)

![image](https://user-images.githubusercontent.com/10

[2022-09-16 09:33] leiwanporsche commented on #884
And I am using WSL2 Ubuntu 20.04, CUDA 11.2, Ceres 2.1.0

[2022-09-16 16:32] sandwichmaker commented on #884
Pretty sure you have an older version of ceres solver lying around somewhere.

https://github.com/ceres-solver/ceres-solver/blame/6c27ac6d509554b6120f917e2669bb05794ca8de/include/ceres/types.h#L214

[2022-09-16 17:12] #881 closed

[2022-09-19 12:46] anstaf opened #885 "Typo in TrustRegionMinimizer::Init"
`x_norm_` member variable is correstly set in https://ceres-solver.googlesource.com/ceres-solver/+/refs/heads/master/internal/ceres/trust_region_minimizer.cc#168
but a few lines after it is set to -1: https://ceres-solver.googlesource.com/ceres-solver/+/refs/heads/master/internal/ceres/trust_region_minimizer.cc#182

`x_norm_` is read only in `TrustRegionMinimizer::ParameterToleranceReached`. It is

[2022-09-19 13:28] sandwichmaker commented on #885
Thanks @anstaf. Yes this is a bug that affects the code till the first successful iteration.

https://ceres-solver-review.googlesource.com/c/ceres-solver/+/22940 is out for review.

[2022-09-19 14:57] #885 closed

[2022-09-19 16:39] sandwichmaker opened #886 "Remove OPENMP and NO_THREADS as threading backends"
With @DmitriyKorchemkin's ParallelFor changes and C++17 being the standard model we are compiling with there is no reason to keep these two backends in place. They are not really tested or optimized. There should be no penality for not using the threads anymore (mutex costs remain the same). OpenMP seems to be mildly slower than CXX threads also.

[code]

[2022-09-19 16:41] sandwichmaker commented on #886
cc: @DmitriyKorchemkin

[2022-09-19 18:50] DmitriyKorchemkin commented on #886
@sandwichmaker , OpenMP backend was limited in performance by `dynamic` scheduling and calling `omp_get_thread_num` via `TokenProvider` on each iteration.

This was fixed in the 4th patchset of CL under discussion, and now OpenMP backend is one of the fastest implementations, so the choice is not that simple in my opinion.
![speedup](https://user-images.githubusercontent.com/6394216/191093072-a3b0

[2022-09-19 18:52] sandwichmaker commented on #886
Thats a fair observation, there is no rush to remove anything I was just hoping for simplification. I think we can still get rid of the no_threads backend. Lets come back to this once the c++ threading improvements are all done and stable and see if the extra effort to maintain the openmp backend is worth it.

[2022-09-20 02:57] WuKongBlog opened #887 "Build ceres_cuda_kernels failed: nvcc fatal"
Build latest ceres with CUDA on windows 10 failed

![image](https://user-images.githubusercontent.com/68042053/191156929-345af67b-c93d-4bd5-a270-f4aa6618ff83.png)

Log：
[code]

I did some searches and found that this error may be caused by the space in the path, but there is no space in my path.
Is it because the path after /Fd does not have quotation marks?

PS: I use visual studio 2017

[2022-09-20 03:16] sandwichmaker commented on #887
Cc:@joydeep-b

[2022-09-20 15:29] joydeep-b commented on #887
Another thought (based on the "a single input file" part of the error) : I wonder if the ".cu.cc" extension is throwing it off. Could you also try renaming it to just ".cu" and re-run the command manually with just the ".cu" extension?

[2022-09-21 01:00] WuKongBlog commented on #887
I tried to execute the original command, the command after add quotation marks after/Fd, and the command after remove ". cc" in the build path.
The same error was reported:（
![image](https://user-images.githubusercontent.com/68042053/191390998-bfd0e4b6-8b4e-4d37-aa9c-9941de60dbec.png)

[2022-09-21 01:07] joydeep-b commented on #887
Hmm, this is mystifying, but I'm also not sure about all the VS flags. Could you try:
[code]

[2022-09-21 01:10] WuKongBlog commented on #887
:(
![image](https://user-images.githubusercontent.com/68042053/191391890-a1945b6a-6ec6-4adc-99ae-edd122b98eaf.png)

[2022-09-21 02:17] WuKongBlog commented on #887
After my line by line analysis, I found the problem. The command on the right can run successfully.
For `nvcc fatal: A single input file is required for a non link phase when an outputfile is specified` :  `/wd4018/wd4267/wd4099/wd4996/wd4800/wd4244/wd4251/bigobj` should not appear behind the `-cudart static`, though I don't know where to put this...
There are also some other problems, see the fig

[2022-09-21 08:38] leiwanporsche commented on #884
@sandwichmaker
Therefore the stable version 2.1.0 doesn't support the CUDA right? Since the link is of the main branch. And I try to compile the source code on the branch, but it would fail.

![image](https://user-images.githubusercontent.com/108680208/191457322-e56d5b30-31d7-4e9b-b976-44e4ab6ac057.png)

[2022-09-21 17:53] sandwichmaker commented on #884
My point to giving that link was that if you follow the blame link you will see that this line exists in version 2.1.0. Its the sparse support which was added after 2.1.0.

[2022-09-21 21:43] DarlingHang commented on #803
I met similar problem. The output is:

`-- Detected Ceres version: 2.1.0 from /data/xinhang/colmap/ceres-solver-2.1.0/include/ceres/version.h
-- Detected available Ceres threading models: [CXX_THREADS, OPENMP, NO_THREADS]
-- Found Eigen version 3.3.7: /usr/local/share/eigen3/cmake
-- Enabling use of Eigen as a sparse linear algebra library.
-- Found CUDA version 11.2: /usr/local/cuda/lib64/libcuda

[2022-09-21 22:17] joydeep-b commented on #803
I believe this is a duplicate of #840 , and it should be fixed at HEAD. Please try the latest version from the master branch.

[2022-09-22 11:15] aj161198 opened #888 "Error in building ceres-solver on 18.04 on CUDA 11.7"
On running cmake .. -DBUILD_TESTING=OFF -DBUILD_EXAMPLES=OFF, I get no error but when I do make -j I get the following error.
I m trying to install COLMAP and thus I needed ceres-solver build with CUDA.
Here is the output of `cmake .. -DBUILD_TESTING=OFF -DBUILD_EXAMPLES=OFF`
[code]

Here is the output of` make -j10 `command

[code]

[2022-09-22 16:15] sandwichmaker commented on #888
This should be fixed at head now.

[2022-09-22 16:41] sandwichmaker commented on #888
I just verified the fix.

[2022-09-22 16:41] #888 closed

[2022-09-22 16:57] sandwichmaker opened #889 "cuda_kernels_test is failing at HEAD"
This is with the latest cuda SDK

[code]

and `gcc-11`.

Here is the failing log.

[code]

[2022-09-22 16:57] sandwichmaker commented on #889
cc: @joydeep-b

[2022-09-22 17:00] joydeep-b commented on #889
Ack. Please assign to me.

[2022-09-22 17:12] joydeep-b commented on #889
Hmm unfortunately I am not able to reproduce this issue - I tried on three computers with a 2080Ti, an A2000, and an A6000.
Could you run with `--v 3 --alsologtostderr` ? I'd like to see the output of the GPU props.

[2022-09-22 17:22] joydeep-b commented on #887
@WuKongBlog Thanks, this is very helpful!
Can you share the compiler error that you get when you compile with "--std=c++14"?

Also, what happens if you include all the "/wd*" flags but omit the "/bigobj" flag?

[2022-09-22 17:23] sandwichmaker commented on #889
I think it is some sort of timing error. Because when I add these logging flags, sometimes it passes, sometimes it fails.

Here is a passing run.

[code]

Here is the failing run
[code]

[2022-09-22 17:28] sandwichmaker commented on #889
I can replicate the non-determinism even without the flags. Its just a little bit harder. Also the set of tests that are failing also varies. So this is definitely a synchronization bug.

[2022-09-22 17:34] joydeep-b commented on #889
This smells like a stream sync issue, and I am wondering if there some missing or partial support for your GPU (I see that it has a CC = 5).
Quick hack: would you mind applying this patch and re-running?

[code]

[2022-09-22 17:42] sandwichmaker commented on #889
Yes that fixes it. In fact it seems only the first cudaDeviceSynchronize call is needed, not the second one. Commenting out the first one causes the test to fail but not the second one.

[2022-09-22 17:43] joydeep-b commented on #889
Ugh.
Okay, and if you don't sync the entire device, but add an additional stream sync before the memcpy?

[2022-09-22 17:44] sandwichmaker commented on #889
Yes
[code]

[2022-09-22 17:45] joydeep-b commented on #889
I mean:
[code]

[2022-09-22 17:47] joydeep-b commented on #889
Oh wait, I see the bug. CL on its way.

[2022-09-22 17:49] sandwichmaker commented on #889
also why are you using cudaMemcpyAsync here at all? if you are going to wait for the synchornization anyways? why not just use cudaMemCpy

[2022-09-22 17:49] sandwichmaker commented on #889
and yes the second version also works.

[2022-09-22 17:55] joydeep-b commented on #889
"async" here means async wrt CPU. It needs to sync w.r.t the stream where all the ceres CUDA operations runs. Hence it needs to be async but launched on the correct stream, and then we sync the whole stream.

[2022-09-22 18:45] joydeep-b opened #890 "Revise API to Ceres CUDA Kernel Calls"
They currently take a stream, but instead they should take the stream from the associated CudaBuffer objects.
This might need some investigation into how to get nvcc to play nice with the additional ceres includes.

[2022-09-22 18:46] #889 closed

[2022-09-23 07:23] GopiRajuMatta commented on #877
I am having the same error while compiling with CUDA 11.7.

[2022-09-23 10:34] sandwichmaker commented on #877
This is fixed at head no?

On Fri, Sep 23, 2022, 12:23 AM GopiRajuMatta ***@***.***>
wrote:

[2022-09-23 10:47] GopiRajuMatta commented on #877
I used the latest stable version, 2.1.0. For that I didn't face this problem. Now it is working. Thank you!

[2022-09-23 10:54] ChenLongquan opened #891 "FullReport Question"
![1663930281569](https://user-images.githubusercontent.com/20835824/191945518-4f9c960e-0c36-4843-ab11-1f0f481b070b.png)

this is my report, but I don't understand why residual and jacobian only cost 0.01s and 0.33s. However minimizer cost 4.35s?

[2022-09-23 10:57] sandwichmaker commented on #891
That is an odd looking full report for sure. I have never seen a
discrepancy like this.
Is your code public that I can replicate it?

On Fri, Sep 23, 2022, 3:54 AM spring ***@***.***> wrote:

[2022-09-23 11:02] sandwichmaker commented on #891
The only place I can imagine the time is going is inside the lbfgs update.

On Fri, Sep 23, 2022, 3:57 AM Sameer Agarwal ***@***.***>
wrote:

[2022-09-23 16:00] sandwichmaker commented on #891
or if you can profile the code and share the results with me.

[2022-09-23 16:00] sandwichmaker commented on #884
that last compile error is fixed at head.

[2022-09-23 17:33] sandwichmaker opened #892 "evaluation_benchmark breaks the build on ubuntu 20.04"
The problem seems to be that Shutdown is not defined in the benchmark library shipping with this version of ubuntu.

https://github.com/ceres-solver/ceres-solver/actions/runs/3110500172/jobs/5041748677#step:8:84

[2022-09-23 17:34] sandwichmaker commented on #892
cc: @DmitriyKorchemkin

[2022-09-24 04:54] sandwichmaker commented on #892
Fixed at head.

[2022-09-24 04:54] #892 closed

[2022-09-24 09:14] ChenLongquan commented on #891
thank you for your reply! I have found the abnormal time cost's reason is log output in terminal blocking.

[2022-09-24 09:15] ChenLongquan commented on #891
I have set
option.minimizer_progress_to_stdout = true;
option.logging_type = ceres::LoggingType::SILENT;

But it still outputing log, how to disable this?

[2022-09-24 13:44] junlinp opened #893 "Build with bazel is broken"
build with bazel fails.there are some files have removed from the repository but the bazel BUILD file don't update.

[2022-09-24 14:36] junlinp commented on #893
#894

[2022-09-26 03:26] sandwichmaker commented on #893
Thanks for reporting @junlinp. We do not accept patches on github. I have fixed this issue upstream.

[2022-09-26 03:26] #893 closed

[2022-09-26 03:29] sandwichmaker commented on #891
Are you using miniglog? or glog?

[2022-09-26 03:34] ChenLongquan commented on #891
minilog. I add #define MAX_LOG_LEVEL -100 in ceres/miniglog/glog/logging.h. problem solved!

[2022-09-26 03:34] #891 closed

[2022-09-26 11:14] JKViswanadham14 opened #895 "error: ‘CX_SPARSE’ is not a member of ‘ceres’; did you mean ‘NO_SPARSE’?"
Hi,

I am trying to build OpenMVS and ran into this. any leads appreciated.

[2022-09-26 11:16] sandwichmaker commented on #895
I think you are trying to use too new or a version of Ceres Solver.
Cx_sparse support was removed from Ceres sometime ago. I would ask the
openmvs folks which version of Ceres Solver they recommend.
Sameer

On Mon, Sep 26, 2022, 4:14 AM JKViswanadham14 ***@***.***>
wrote:

[2022-09-26 12:33] JKViswanadham14 commented on #895
Thanks for your reply. how do i check version of Ceres solver on my system?

[2022-09-27 01:00] prasadvagdargi commented on #887
Temporarily fixed the issue by removing /bigobj and the /wd* flags and compiling with --std=c++17.

The error with 1) all /wd* flags and --std=c++14 2) all /wd* flags omitting /bigobj 3) All /wd* flags with --std=c++17 4) /bigobj flag and -std=c++17
remains:

Keeping the /bigobj flag and --std==c+14 results in:

[2022-09-27 01:22] WuKongBlog commented on #887
Remove the `-x cu` , more compilation error information can be obtained like this:
[code]

The first error line is about Nested Namespace Definition, which requires c++17

And if I add all the "/wd*" flags and the "/bigobj" flag inside the `-Xcompiler='...'` ,  the command can run successfully, but I don't know if it's right

The new command:
[code]

[2022-09-27 06:29] qianqian121 commented on #360
Ceres reads the rotation matrix in col major by default. OpenCV is row major. Eigen is col major by default.
[antonaaa](https://github.com/antonaaa) testing code used the opposite row/column major.

[2022-09-27 18:17] joydeep-b commented on #887
We cannot remove the `-x cu` flag - it's telling the compiler that this is a C++ file with CUDA extensions. Without it, it will try to compile as just C++ and fail on the kernel invocations and the kernel threading variables (the errors that you listed).
[link](https://docs.nvidia.com/cuda/cuda-compiler-driver-nvcc/index.html#options-for-altering-compiler-linker-behavior-x)

The `/wd*` flags are d

[2022-09-28 04:15] dhmzdl opened #896 "How to store multiple ceres::Problem so that we can call each Problem.evaluate in other Functions or Class?"
Hello everyone, two quesitions:
Question A: as the title shows:
class A{

      struct ptr{
          ceres::Problem* myProblem;
	  double* para;
      };
      vector<ptr> problemSeqs;

      void freePtr(){
         for(int i = 0; i < .... i++){
              free(problemSeqs[i].para)
              problemSeqs[i].para = NULL;
              problemSeqs[i].myProblem = NULL;
         }
      }

[2022-09-28 16:49] sandwichmaker commented on #895
include/ceres/version.h

[2022-09-28 16:50] sandwichmaker commented on #896
I think I would be able to answer your question better if you could tell me what is it that you are trying to achieve.

[2022-09-28 18:24] shounak873 opened #897 "Collecting residuals after solving"
Hi, is there a way to save the residual values from the optimization and use it for learning parameters iteratively like Iterative Re-weighted Least Squares?

[2022-09-28 18:28] sandwichmaker commented on #897
Use Problem::Evaluate.

On Wed, Sep 28, 2022, 11:24 AM Shounak Das ***@***.***> wrote:

[2022-09-28 19:04] #897 closed

[2022-09-29 08:19] WuKongBlog commented on #887
@joydeep-b
1. Of course we can't remove the `-x cu` flag，I removed this command just to show more compilation errors, like the error about the c++version.
2. There is no problem with the `/wd*` and  `/bigobj` flags themselves. The problem is their location. If they are placed behind the `-cudart static` like before, you will be prompted that `nvcc fatal: A single input file is required for a non l

[2022-10-03 13:48] #895 closed

[2022-10-03 13:48] #884 closed

[2022-10-03 13:49] sandwichmaker commented on #879
Closing because of lack of response.

[2022-10-03 13:49] #879 closed

[2022-10-03 17:48] sandwichmaker commented on #896
The problem is that in func1 you are allocating a problem object on the stack, storing a pointer to it, but when you exit func1 that problem is destroyed. You need to allocate on the heap rather than on the stack. Something along the lines of

[code]

[2022-10-03 17:48] #896 closed

[2022-10-06 16:08] sandwichmaker commented on #886
The discussion and benchmarks on https://ceres-solver-review.googlesource.com/c/ceres-solver/+/23140 indicates that
at this point the difference between c++ threads and openmp is not particularly large and we will reduce complexity by making it the one option and working to optimize it.

I would like to come to a decision here and resolve this soonish.

[2022-10-06 16:57] #883 closed

[2022-10-08 15:39] wystephen opened #898 "Cannot pass the test [dynamic_sparsity_test]."
Ceres version: 2.0.0
libsparsesuite: 5.7.1
System: Ubuntu 20.04

Details:
cmake .. && make -j16 && make
show 'Start 31: dynmaic_sparsity_test' for more than 10 Minutes and then I closed the shell.
The test cannot pass if using suitesparse.

When compiled use EigenSparse, then the solveproblem() function in another problem costs 57 s ( 8s for the same code in another compute compiled with suitespar

[2022-10-11 08:17] sandwichmaker commented on #888
I think this was introduced yesterday. I will fix this shortly.

On Thu, Sep 22, 2022, 4:15 AM Aman Jain ***@***.***> wrote:

[2022-10-11 08:26] sandwichmaker commented on #817
Ceres solver 1.14 is an ancient version of Ceres solver not supported
anymore. Please use version 2.1.0.

On Thu, Jun 2, 2022, 2:34 AM kaitaotang ***@***.***> wrote:

[2022-10-11 10:22] ZzJiachenchen commented on #872
Hi, I also want to monitor the state after each iteration. How to implement it in the IterationCallback function? I mean how to access the state, which is the parameter of the problem, in the IterationCallback function. Looking forward to your reply. Thank you very much!

[2022-10-12 06:29] ZzJiachenchen commented on #872
The problem is solved. Thanks!

[2022-10-15 18:14] sandwichmaker commented on #898
This seems rather odd. is this specific to this version of suitesparse?

[2022-10-15 21:19] SystemDiagnosticss opened #899 "Undefined symbol"
Try to run few SLAM alghorithms. cartographer and slam_toolbox
And both libraries get same error:

`/lib/libceres.so.1: undefined symbol: _ZN6google21kLogSiteUninitializedE`

Any idea how to solve this?

[2022-10-17 03:22] sandwichmaker commented on #899
Looks like you are missing glog.

[2022-10-17 12:01] chennuo0125-HIT opened #900 "std::fabs cant be used in factor :("
system: ubuntu20.04
version: ceres-solver 2.1.0
test.cpp as follow:
[code]
and get compile error:
[code]
then i change std::fabs() to std::abs(), the compile error also occur.  could someone help me with the problem ?

[2022-10-17 12:13] sergiud commented on #900
The `abs` overload for `ceres::Jet` is provided in the `ceres` namespace not `std`. Instead of explicitly qualifying `std::abs` you can use argument-dependent lookup (ADL), e,g., as follows:
[code]
Alternatively, you can explicitly reference the overloads in the `ceres` namespace:
[code]
Use the first variant for generic code that aims to avoid explicit dependencies to Ceres' definitions.

[2022-10-17 12:17] chennuo0125-HIT commented on #900
@sergiud i got it, thanks :) :) :)

[2022-10-17 12:17] #900 closed

[2022-10-17 13:15] wystephen commented on #898
I compare md5 of libsuitesparseconfig.so.5.7.1 with another computer which can pass the unit test.
And the cmake-gui shows the SUITESPARSE_CONFIG_LIBRARY set to /usr/lib/x86_64-linux-gnu/libsuitesparseconfig.so.
MD5Sum as below:
5cb6bb98a48796cd0a90363274b248fe  /usr/lib/x86_64-linux-gnu/libsuitesparseconfig.so.5.7.1

Is there any other advise about this issue?

[2022-10-18 15:54] ChenHuang20 opened #901 "Why Dosen't ceres support openCL?"

[2022-10-18 16:32] alexsmac commented on #901
OpenCL is just a low-level language, it does not itself provide the necessary (sparse) linear algebra operations that Ceres requires, i.e. equivalents of NVIDIA's cuBLAS and cuSOLVER libraries.  We're not aware of any equivalents to those that provide the same level of performance and functionality (and which are stable and actively maintained) using OpenCL

[2022-10-18 16:32] #901 closed, assigned to nobody

[2022-10-24 03:12] emorell96 commented on #718
I wanted to add for the record if anyone else finds this issue when struggling with this error. You can either add the #define NOMINMAX or in here: https://github.com/ceres-solver/ceres-solver/blob/f68321e7de8929fbcdb95dd42877531e64f72f66/include/ceres/local_parameterization.h#L343 put some parenthesis around the std::max call as such:
![image](https://user-images.githubusercontent.com/20151415/19

[2022-10-24 03:13] sandwichmaker commented on #718
This has been fixed at head I believe.

On Sun, Oct 23, 2022, 8:12 PM Henry ***@***.***> wrote:

[2022-10-24 03:17] emorell96 commented on #718
I was building from what VSPKG installed and it installed the 2.1 version and that file (local_parameterization.h) lacked the parenthesis around the `std::max` causing the issue on Windows.

As I said in the comment above this is no longer an issue for the future versions since that file doesn't even exist in the master branch :) but some people might find this issue when facing the issue with the

[2022-10-24 03:43] sandwichmaker commented on #718
Ah sorry I should have read more carefully.

On Sun, Oct 23, 2022, 8:17 PM Henry ***@***.***> wrote:

[2022-10-24 13:48] sandwichmaker opened #902 "The matrices used in spmv_benchmark are not reflective of reality"
As @DmitriyKorchemkin observes during the development of parallelized left multiply, the performance improvements in the benchmark are not reflected in actual performance on BAL problems. Quoting him:

The random matrix generation routines used in spmv_benchmark for bundle adjustment problems should be updated to reflect more realistic matrices.

[2022-10-24 14:57] DmitriyKorchemkin commented on #902
Might make sense to make another benchmark similar to `eval_benchmark`, where we just load BAL data from user-provided paths.

The problem was not evident when we were optimizing right multiplications because all rows in BA problems are "uniform" (contain 1 point block and 1 camera block), while in case of left multiplications the difference between columns might be very dramatic.

In our current

[2022-10-24 17:51] SylarZiling opened #903 "Failed to build in Ubuntu18.04 docker container"
Hi, I am trying to build ceres-solver in a Ubuntu18.04 container, i also installed the glog with version 3.5.1 from apt-get install, however, the cmake file continue give me error about fiding glog. Can anyone provides any hints or help? Best

### glog location:
/usr/include/glog
/usr/include/glog/log_severity.h
/usr/include/glog/logging.h
/usr/include/glog/raw_logging.h
/usr/include/glog/stl_logg

[2022-10-24 18:10] alexsmac commented on #903
Can you confirm what CMake version you are using, I am guessing that it is older than 3.11 which is when use of `target_include_directories()` for imported targets became legal (see [here](https://github.com/ginkgo-project/ginkgo/issues/234) for a reported of what I think is the same underlying issue, also on 18.04).

[2022-10-24 19:05] SylarZiling commented on #903
Hi Alexsmac, thank you for the quick response. Yes, i double checked, the cmake version is 3.10.2 from apt-get install cmake

[2022-10-24 19:39] SylarZiling commented on #903
Hi Alexsmac, do you have any recommend version of cmake, i installed the cmake 3.24.1, but have different error in make -j command.

"""
/root/dependency/ceres-solver/internal/ceres/cuda_vector.cc:55:3:   required from here
/usr/include/glog/logging.h:638:9: error: ambiguous overload for 'operator<<' (operand types are 'std::ostream {aka std::basic_ostream<char>}' and 'std::nullptr_t')
   (*os) <<

[2022-10-25 08:41] mrsandipandas opened #904 "Active set method for BVLS"
Hi @sandwichmaker! Thanks for open-sourcing ceras.

Please excuse my limited experience. I was wondering if you have considered putting in an [active set method](http://www.stat.berkeley.edu/~stark/Preprints/bvls.pdf) for Bounded-Variable Least-Squares as done in scipy? This might be helpful in some problems with nonsmooth constraints as it can take larger steps, which can speed up the process.

[2022-10-25 08:54] alexsmac commented on #903
This is a separate issue, specifically this one: https://github.com/google/glog/pull/641 which was fixed in glog in 2021, updating glog should fix it.  We can also implement a workaround for this in Ceres if the number of cases are small (which they appear to be).  I will also bump our minimum CMake version in master to reflect the changes we made after the 2.1 release which was the first issue yo

[2022-10-25 12:22] sandwichmaker commented on #904
Yes, just haven't had time to implement it. Will happily accept patches.

[2022-10-25 22:17] EliDavis3D commented on #684
Dealing with issues of 32bit on my datasets (photogrammetry re-alignment). This would be nice

[2022-10-25 23:15] s-a-n-d-y commented on #904
Would you recommend [this](http://www.stat.berkeley.edu/~stark/Preprints/bvls.pdf) method as a standard BVLS solution? Or, do you have any other BVLS solution methods in mind?

[2022-10-30 23:44] sandwichmaker opened #905 "SPARSE_NORMAL_CHOLESKY performance has regressed"
bundle_adjuster at 1.14.10 with

[code]

So roughly 25 seconds per linear solve.

bundle_adjuster at HEAD

[code]

[2022-10-30 23:47] sandwichmaker commented on #905
On problem-356-226730-pre.txt

1.14
Linear solver                     49.294211 (5)

HEAD
Linear solver                     54.416987 (5)

[2022-10-31 10:41] TakuOkawara opened #906 "Segmantation fault occur at ceres::Solve()"
Thank you for giving us a wonderful solver.

I am a beginner at ceres-solver.
My environment is shown as follows.
- ubuntu.18.04
- ceres-solver-2.1.0
- ROS Melodic

I am implementing bundle adjustment with multiple RGB-D images with reference to [this link](https://github.com/Freeecode/ceres-solver-learning/tree/master/ceres_pnp). For implementing bundle adjustment, I use two for-loop: the first i

[2022-10-31 10:46] sandwichmaker commented on #905
2.0.0 seems to be fine, and looks like this has to do with an increase in peak memory usage.

[2022-10-31 11:41] sandwichmaker commented on #905
The offending commit seems to be d09f7e9d, where I enabled post ordering for all orderings, and this seems to increase peak memory use as well as factorization time.

[2022-11-01 19:08] sirspudd opened #907 "MaxNumberThreadsAvailable always returns 1, as provided by std::thread::hardware_concurrency"
We are seeing this on both armv7 and aarch64

gcc version 12.2.0 (GCC) as provided by yocto

[2022-11-01 19:21] sandwichmaker commented on #907
Hi @sirspudd could you say more. Are you saying that the underlying stdlib call is lying? or that ceres-solver is doing something wrong?

[2022-11-01 19:22] sandwichmaker commented on #905
Fixed.

[2022-11-01 19:22] #905 closed

[2022-11-01 19:40] sandwichmaker commented on #906
@saikyo-kotemen-master from your description it is not clear where the failure is.
I think you will need a ceres-solver build thats done in debug mode to be able to get a reasonable stacktrace.
I do not know how ros or catkin work, but as far as ceres solver goes, you should be able to make it by passing

[code]

when configuring ceres. that should work.

[2022-11-01 19:48] sirspudd commented on #907
Groovy; to be clear, I initially suspected bugginess in std::thread (further fueled by mingw bugs which reported the same issue in 2015)

but we have actually established that the calling thread had an explicit cpu affinity set, and hence std::thread::hardware_concurrency was actually returning a sane value. (We have an affinity for a single core on a multi-core device)

Don't mind me

[2022-11-01 19:48] #907 closed

[2022-11-01 19:51] sandwichmaker commented on #904
@s-a-n-d-y I am not sure what you are trying to do. Are you asking what BVLS method I would recommend for solving BVLS problems independent of Ceres Solver, or are you asking what BVLS method I would recommend for implementing inside Ceres Solver as a sub routine?

[2022-11-01 19:56] s-a-n-d-y commented on #904
I was asking on what BVLS would you recommend for implementing it within ceras (in case I plan to inplement it).

[2022-11-01 20:05] sandwichmaker commented on #904
TBH I do not have a good answer for that. I suspect it will require some experimentation. The basic ceres solver loop is quite simple and easily implemented in a few lines of matlab/julia. I recommend doing that and sticking your bvls method of choice into it and see how that does before thinking about implementing it inside ceres.

[2022-11-01 20:08] sandwichmaker commented on #904
I would be happy to work with on it though, point you to some benchmark problems etc and help design the integration.

[2022-11-02 21:05] sandwichmaker commented on #902
This is now fixed at head, @DmitriyKorchemkin has updated evaluation_benchmark to address this.

[2022-11-02 21:05] #902 closed

[2022-11-05 10:27] alexsmac commented on #906
From what you are describing, your issue is that you were using `std::vector` to store parameters which you then passed to Ceres, but you were (implicitly) resizing the vector by calling `push_back()` *after* you had already passed pointers to elements of the vector to Ceres as parameter blocks.  Resizing a `std::vector` invalidates all pointers to its elements which included the pointers that you

[2022-11-05 11:59] #906 closed, assigned to nobody

[2022-11-08 09:17] Cristian-wp opened #909 "make test fail on NVidea Jetson Nano 4Gb board"
Hello, I am trying to build Ceres 2.1.0 on a NVidea Jetson Nano 4Gb.
This is the setup of my installation:
[code]
I have already put the cuda path in .bashrc file as the NVidea guide explain:
[code]
And if I launch the command `nvcc --version` it returns:
[code]
The compilation instruction Cmake and Make runs well, no warning and no error. But as previously say, if I launch `make test` some tests

[2022-11-08 15:48] sandwichmaker commented on #909
@joydeep-b can you take a look please?

[2022-11-08 16:09] joydeep-b commented on #909
@Cristian-wp To run `cuda-memcheck` on a Jetson device you need to have persmissions to use the Jetson GPU in debug mode. One way to do this is:
[code]
The better method is to add your user to the `debug` group, though you'll have to reboot for changes to take effect.

@sandwichmaker Let's add a TODO to add this to the documentation, I think it has come up before.

[2022-11-09 02:54] icantfly opened #910 "setParameterLowerBound, double free or corrucption"
hello, recently i met a bug, when i use setParameterLowerBound()/setParameterUpperBound()。if i set the lower or upper bound, the solve will break down, get the "double free ot corrucption" at the second iter，i use gdb to find it break down in FindPolynomialRoots() in file polynomial.cc, line 236. It seems to break in ~EigenSolver(). So, i really do not konw how to fix this problem.

ps: ceres-solv

[2022-11-09 03:06] sandwichmaker commented on #910
Can you share a small reproduction?

[2022-11-09 10:08] yunfan258 opened #911 "cuda_kernels.cu.cc(33): error: qualified name is not allowed"
when I run `cmake ..`,the followering detail occured

`-- The C compiler identification is GNU 9.4.0
-- The CXX compiler identification is GNU 9.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check

[2022-11-09 14:41] sandwichmaker commented on #911
@joydeep-b more cuda fun. Please take a look.

[2022-11-09 15:11] joydeep-b commented on #911
Yup, I am aware of this issue. IIRC this is the summary:
0. This is an issue with nested namespaces, which is a C++17 extension.
1. The nvcc compiler is technically supposed to support C++17, which includes nested namespaces.
2. However, in practice, some versions of the nvcc compiler, including on older Jetson devices, chokes on the nested namespace declaration.

The two resolutions I can see are

[2022-11-09 18:45] sandwichmaker commented on #911
I think it is unreasonable to go back on c++17 features. We should have a minimum nvcc version that is sane and restrict support to that.

[2022-11-09 18:46] sandwichmaker commented on #909
Can we just check permissions in cmake and warn the user?

[2022-11-09 18:47] sandwichmaker commented on #898
I suspect this is some sort of issue between suitesparse and your blas/lapack library. Does this problem happen if you compile suitesparse yourself?
what blas/lapack are you using?

[2022-11-10 03:18] icantfly commented on #910
sorry, but our work use eigen::matrix<T, 4, 4> in ceres for point transform and rotation。

[2022-11-10 05:17] sandwichmaker commented on #910
Sorry that's not enough to reason about this bug.

[2022-11-10 05:24] yunfan258 commented on #911
(base) luofan@luofan-Precision-3630-Tower:~/Downloads/ceres-solver-master/build$ `nvidia-smi`

Thu Nov 10 13:11:38 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.141.03   Driver Version: 470.141.03   CUDA Version: 11.4     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id

[2022-11-10 05:46] icantfly commented on #910
Thank you for your apply.

[2022-11-10 05:47] yunfan258 commented on #911
**(base) luofan@luofan-Precision-3630-Tower:~/Downloads/ceres-solver-master/build$ `nvidia-smi`**

Thu Nov 10 13:11:38 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.141.03 Driver Version: 470.141.03 CUDA Version: 11.4 |
|-------------------------------+----------------------+----------------------+
| GPU Name Persistence-M| Bus-Id Disp.A | Vo

[2022-11-10 08:36] icantfly commented on #910
Making with -march=native seems to fixing the problem i met.

[2022-11-10 08:36] #910 closed

[2022-11-10 13:59] joydeep-b commented on #911
@yunfan258 The issue is with the version of nvcc. From the logs, it seems you are using Cuda 10.1, which is quite old. Can you upgrade to the latest Cuda version (or at least 11.1+)?

[2022-11-10 14:00] joydeep-b commented on #909
Great. Instead of changing the permissions every time, you should be able
to just add yourself to the `debug` group.

On Thu, Nov 10, 2022 at 2:47 AM Cristian-wp ***@***.***>
wrote:

[2022-11-11 11:13] nemeshnorbert opened #912 "Ceres auto diff does not support Eigen::SelfAdjointEigenSolver"
While trying to use autodiff feature for the function that regularizes eigenvalues of the symmentric positive definite matrix I've encountered a few compilation errors.
Here is the code I tried to compile
[code]
Here are the compilation errors
[code]
As I understand there are two major problems here

1. One cannot assign `double`/`float`/`int`/... values to `Jet<>` types
2. The `Jet<...>` type doe

[2022-11-11 11:36] sergiud commented on #912
The first issue is caused by intentional prohibition of implicit conversions from a scalar to a `Jet`. This design choice however needs to be reevaluated given we previously already relaxed the semantics for comparison operators. The two missing members were probably overlooked and can be easily added.

[2022-11-13 12:19] rick137-1 opened #917 "Autodiff and gradient check problem!"
Hi，when i use autodiff built my cost function , and use gradient check , encountered a problem . My problem : use gradient check , Worst relative error was 0.202196 , is it a normal ? This problem use quaternion,will it have an impact?

![image](https://user-images.githubusercontent.com/54990141/201520941-f008b668-3a6c-43f6-a64c-b2fb50e243c6.png)
By the way, I didn't define jacobin by myself , and

[2022-11-13 15:23] sergiud opened #918 "METIS 5.1.1 broken under MSVC"
Ceres is currently using METIS [v5.1.1-DistDGL-v0.5](https://github.com/KarypisLab/METIS/releases/tag/v5.1.1-DistDGL-v0.5) which is latest official release of the library in its Github Windows MSVC workflow. After removal of the internal [random.h](5d0bca14dd9c052a9040def6dae58b460c3fcd5c) header in favor of `<random>`  the `EigenSparseCholeskyMETIS/SparseCholeskyTest.FactorAndSolve/EIGEN_SPARSE_N

[2022-11-13 16:05] sergiud commented on #912
I'm not aware of any.

[2022-11-13 17:00] thierry-FreeBSD opened #919 "SuiteSparse 6.0.0 is not found"
Trying to build ceres-solver 2.1.0 against SuiteSparse 6.0.0 disables the support of suitesparse:

[code]

[2022-11-13 17:18] sandwichmaker commented on #919
Suitesparse 6.0.0 was released with a new build system a few days ago. I suspect it has to do with that. @alexsmac and @sergiud can you guys take a look please?

[2022-11-13 17:19] sergiud commented on #919
The problem is only with version identification: SuiteSparse 6.0 delimits the version component name from its value by [multiple spaces now](https://github.com/DrTimothyAldenDavis/SuiteSparse/blob/d42beebdcc6b98c7fb2f7f2927f32c19e0f602d0/SuiteSparse_config/SuiteSparse_config.h#L488-L491).

Can you try replacing the space after each macro name by `[ \t]+` here?
https://github.com/ceres-solver/ceres

[2022-11-14 03:50] tanjunyao7 commented on #912
hi bro, I suggest using analytical solution of eigenvalue decomposition following this survey:
https://hal.archives-ouvertes.fr/hal-01501221/document

[2022-11-14 03:59] tanjunyao7 opened #920 "how to implement factors with unkown number of parameters af compile time?"
Is it possible to implement a residual which depends on varying number of parameters that can be determined only at run time?

[2022-11-14 05:13] #918 closed

[2022-11-14 05:15] sandwichmaker commented on #920
Yes. Only autodiffcostfunction and numericdiffcostfunctions require static
parameter block sizes and numbers. If you are willing to compute your own
derivatives then you can use the costfunction interface which has no such
restrictions. Even for automatic derivatives you can use
dynamicautodiffcostfunction.

On Sun, Nov 13, 2022, 7:59 PM tanjunyao7 ***@***.***> wrote:

[2022-11-14 05:27] tanjunyao7 commented on #920
oh, when was dynamicautodiffcostfunction added? I never saw it in the documentation. that's exactly what I need, thanks.

[2022-11-14 08:15] nemeshnorbert commented on #912
@tanjunyao7 Thank you for the reference. I believe these formulae are already implemented in Eigen here

https://github.com/libigl/eigen/blob/1f05f51517ec4fd91eed711e0f89e97a7c028c0e/Eigen/src/Eigenvalues/SelfAdjointEigenSolver.h#L567

[2022-11-14 11:57] nemeshnorbert commented on #912
@tanjunyao7 Is it working for eigenvectors too? Tomorrow I'll  give it a try.

[2022-11-14 14:46] #920 closed

[2022-11-14 14:50] sandwichmaker commented on #903
@alexsmac can this issue be closed?

[2022-11-14 14:51] sandwichmaker commented on #899
Closing because lack of response, please feel free to reopen with more information.

[2022-11-14 14:51] #899 closed

[2022-11-14 15:41] Cristian-wp opened #921 "How to check if Ceres Solver is using NVIDEA GPU"
Hello,
I am working on an NVIDEA Jetson Nano 4Gb with ceres.
I have manage to install it and run the tests.
Now I am using the board to run a ceres based slam system, that use as loss_function: CHAUCHY and as linear_solver_type: DENSE_QR.
There is a ceres utility to see when is using the GPU?
NVIDEA provide its utility but is really difficult to understand.
The setup of my board is reported in thi

[2022-11-14 19:22] thierry-FreeBSD commented on #919
Indeed, with the attached patch, SuiteSparse 6.0.1
[patch-cmake_FindSuiteSparse.cmake.txt](https://github.com/ceres-solver/ceres-solver/files/10006372/patch-cmake_FindSuiteSparse.cmake.txt)
 is well detected, and ceres-solver builds without error and with SuiteSparse enabled.

But note that with the latest versions, SuiteSparse installs its own cmake modules, and this file FindSuiteSparse.cmake is

[2022-11-14 19:39] sergiud commented on #919
Thanks for the feedback. `FindSuiteSparse.cmake` however is still very much needed for supporting older versions of SuiteSparse. Aside from that, I don't see any advantages of using those find modules over our implementation.

[2022-11-15 13:06] wystephen commented on #898
Sorry for the delay in reply.
I am re-installed Ubuntu.

[2022-11-16 21:48] thierry-FreeBSD commented on #919
Follow-up: fixing ceres-solver is not sufficient, CeresConfig.cmake must also be fixed!

Trying to build openturns-1.19 fails with the following error:

[code]

[2022-11-16 21:52] sergiud commented on #919
Unfortunately, your patch is incorrect. Please see my [CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/23460) which out for review.

[2022-11-17 00:30] sandwichmaker commented on #921
cc: @joydeep-b

[2022-11-17 00:35] joydeep-b commented on #921
@Cristian-wp If you look at the solver summary, it will tell you if it used the CUDA solver.

[2022-11-17 09:15] Cristian-wp commented on #921
@joydeep-b where I can find the solver summary?
This is not a code that I write, I have to look in some particular folder or simply put a print in some point?
Sorry for the dummy questions.

[2022-11-17 14:00] joydeep-b commented on #921
To use the GPU for your problem, you need to set the `dense_linear_algebra_library` to `CUDA`.
Please see the tutorials on how to print the Ceres solver summary.

[2022-11-17 17:41] thierry-FreeBSD commented on #919
Thanks, this patch is OK!

[2022-11-18 08:02] QuantumY-CHN opened #922 "cuda-related tests failed when make test"
Thank you for your fantastic work.

I'm on Ubuntu 18.04, cuda-10.0 but got some cuda-related tests that failed while 'make test'. Could you please give some advice on that? Thanks in advance.

[code]

[2022-11-18 11:43] sandwichmaker commented on #922
Cc:@joydeep-b

[2022-11-18 15:39] joydeep-b commented on #922
Uh oh that looks like an unsupported graphics card. Can you run any of the cuda tests either the verbose flag --v 3 and --alsologtostderr and share the result? I'd like to see the cuda info string.

[2022-11-18 15:39] joydeep-b commented on #922
Uh oh that looks like an unsupported graphics card. Can you run any of the cuda tests either the verbose flag --v 3 and --alsologtostderr and share the result? I'd like to see the cuda info string.

[2022-11-18 17:48] #919 closed

[2022-11-18 22:30] nemeshnorbert commented on #103
Try this https://www.manopt.org/ or this https://www.math.fsu.edu/~whuang2/Indices/index_ROPTLIB.html but before read this https://www.youtube.com/watch?v=UjaoZE0GBpg

[2022-11-19 08:49] QuantumY-CHN commented on #922
@joydeep-b @sandwichmaker Thank you for your reply. I'm on Nvidia RTX3060
Here's the output
`ubuntu@dbfb2a9cb529:~/catkin_wss/ceres-bin/bin$ ./cuda_dense_qr_test --v 3
Running main() from gmock_main.cc
[==========] Running 5 tests from 1 test suite.
[----------] Global test environment set-up.
[----------] 5 tests from CUDADenseQR
[ RUN      ] CUDADenseQR.InvalidOptionOnCreate
[       OK ] CUDADen

[2022-11-19 09:25] Cristian-wp commented on #911
Hello @joydeep-b,
I am facing the same problem and I have read your solutions (https://github.com/ceres-solver/ceres-solver/issues/911#issuecomment-1308909863).
At the moment NVIDEA did not release an updated Jetpack with a Cuda version above the 10, and the last release was at 02/2022.
For what concern _Revert to non-nested namespaces_ there is a fork/branch of ceres with this retrocompatibility?

[2022-11-19 14:35] joydeep-b commented on #911
The latest Nvidia Jetpack 5.0 actually runs Cuda 11.4: https://developer.nvidia.com/embedded/jetpack
However, it only supports the newer boards (Xavier +, as far as I can tell).

You can make local modifications to bypass this:
1. Change the namespace in `cuda_kernels.*` to not used nested namespaces (e.g. use `ceres_internal`)
2. Add the prefix `ceres_internal::` to all uses of the exported funct

[2022-11-20 12:31] nemeshnorbert opened #923 "Turn off housekeeping in optimization code."
This is a feature request.  It would be nice to have a flag that turns off all data collection into summary structure. For optimization routines that work quite fast most of the time is spent in iteration info collection and housekeeping. When the code is double checked and works just fine I would like to improve performance by not collecting the data inside `summary` structure.

[2022-11-20 12:58] sergiud commented on #923
Did you run any benchmarks that confirm the claimed performance gains?

[2022-11-20 14:02] alexsmac commented on #923
How big is your problem?  It is very unusual for the iteration summary capture to even be a rounding error on the overall solve time (usually residual evaluation and the linear solver dominate), so it sounds like your problem is very small.  If that is the case, then [TinySolver](https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/tiny_solver.h) might be a better fit for your us

[2022-11-20 14:05] sandwichmaker commented on #923
What sized probleme are you solving? What fraction of your time is going
into summary data collection? Can you share a profile?

On Sun, Nov 20, 2022, 4:31 AM Norbert ***@***.***> wrote:

[2022-11-21 03:26] FISH1129 opened #924 "Question about square root information computed in pose_graph_3d.cc"
in line 70 and 71 of pose_graph_3d.cc

[2022-11-21 03:26] #924 closed

[2022-11-21 09:05] Cristian-wp commented on #911
I know that some time ago CUDA 11 was released for some Jetson device, but at the moment mu Jetson Nano 4G is not supported and can not be upgraded manually.
I will try your procedure and let you know.
Thanks

[2022-11-21 15:39] Cristian-wp commented on #909
Hello, after suggestion of @joydeep-b in this issue [https://github.com/ceres-solver/ceres-solver/issues/911#issuecomment-1320898551](url), I am able to perform cmake and make without any error or warning. But when I launch the command `make test` the 2' test (cuda_memcheck_dense_cholesky_test) and the 25' test(cuda_dense_cholesky_test) fails:
[code]
This is the output of LastTest.log, regarding t

[2022-11-23 15:29] Miuna26 opened #925 "Collecting residual block for each iteration"
I have a little question.Can I get the residual block(actually the residual vector about the whole problem) for each iteration?For example,I bulit up a problem with n dimension residual vector,and I want to get n dimension vector for each iteration so that I can know any one residual in vector for any one iteration.
Sincerely looking forward to your answer.

[2022-11-24 10:53] alexsmac commented on #925
Not directly through the Ceres API, but you can create an [IterationCallback](http://ceres-solver.org/nnls_solving.html#iterationcallback) and set `Solver::Options::update_state_every_iteration` to true, then the current value of all parameter blocks will be copied back to the user-specified pointers before your IterationCallback is invoked (at the end of the iteration).  You can then log the para

[2022-11-24 10:53] #925 closed

[2022-11-24 11:54] Miuna26 commented on #925
Thanks a lot!I will give it a try and we'll see. Much appreciated again!

[2022-11-25 22:23] sandwichmaker commented on #921
I am going to close this issue, if you have further questions please feel free to open a new issue.

[2022-11-25 22:23] #921 closed

[2022-11-25 22:25] sandwichmaker commented on #917
I am not sure what you are asking here. Are you saying you have a jacobian with automatic differentiation which fails gradient checker?

[2022-11-25 22:26] sandwichmaker commented on #912
I am going to close this issue, this is a general issue with iterative algorithms. You should consider differentiating the solution rather than the iterative algorithm. It will also be much faster.

[2022-11-25 22:26] #912 closed

[2022-11-25 22:27] sandwichmaker commented on #911
I think if this problem is limited to cu.cc files, then I think it is okay to not use nested name spaces there. I would happily accept a patch to fix this.

[2022-11-25 22:28] sandwichmaker commented on #876
Hey @sergiud how about taking a whack at this?

[2022-11-25 22:30] sandwichmaker commented on #880
@DmitriyKorchemkin has does this for BlockSparseMatrix, which is really what we need.

[2022-11-25 22:30] #880 closed

[2022-11-25 22:31] sandwichmaker commented on #887
@joydeep-b whats the resolution here?

[2022-11-25 22:34] sandwichmaker commented on #898
any updates here?

[2022-11-25 22:35] sandwichmaker commented on #903
ping?

[2022-11-25 22:35] sandwichmaker commented on #909
@joydeep-b ping?

[2022-11-26 11:04] sergiud commented on #876
I'm looking into it.

[2022-11-26 14:18] joydeep-b commented on #909
Looks like on this device the CUDA solver has lower numerical precision.
Options:

1. Reduce the kEpsilon tolerance for these tests
2. Add device-specific values of kEpsilon

I don't like either option, really. I think we need to have a better way to interpret device- specific tolerance values rather than a binary pass-fail. Perhaps a permissive tolerance for "passing", and a more strict tolerance

[2022-11-26 14:25] joydeep-b commented on #887
CC'ing @sergiud since he has a Windows box with CUDA, and CMake experience.

The `/wd*` flags are coming from here: https://github.com/ceres-solver/ceres-solver/blob/master/CMakeLists.txt#L545
One option is to completely strip the compile options for the `nvcc` compiler, and pass in a different set of options. Not sure what the best way to do this is with CMake.
The other option is to somehow tell

[2022-11-26 14:26] joydeep-b commented on #911
I'm testing it out, will send a patch your way accordingly, @sandwichmaker .

[2022-11-26 14:34] joydeep-b commented on #922
@QuantumY-CHN The first and second errors you posted are different.
The first error you posted hints at an unsupported device:
[code]
The second is one of numerical precision, which is being discussed on the #909 thread.

Did something change between the two? Driver upgrade / SDK upgrade?

Unfortunately I am unable to reproduce this error - I tested out on an RTX 3060 with Ubuntu 22.04 and CUDA 11

[2022-11-26 16:06] joydeep-b commented on #909
Actually, I have a third option:
3. Ensure all numerical test matrices have small condition numbers

Even with reduced precision, these simple tests should have solutions with tight tolerance.
The failing 4x4 matrix test has a condition number of 6566. Switching to a test matrix with a condition number of ~7 produces results within 2 bits of machine precision.

I'll make a CL.

[2022-11-27 00:17] sandwichmaker commented on #870
cc: @DmitriyKorchemkin

[2022-11-27 14:22] joydeep-b commented on #870
There is test code that demonstrates that in principle it is possible to create a second copy of the matrix to accelerate leftmultiply on older GPUs: https://ceres-solver-review.googlesource.com/c/ceres-solver/+/22560

However, for this change to be actually useful, we need a use that that satisfies all of the following:

1. A problem that is faster solved using CGNR on GPU than other means (e.g.

[2022-11-28 08:08] wystephen commented on #898
I am solving this problem by re-install the operating system.
And I can't reproduce the bug now.

[2022-11-28 08:08] #898 closed

[2022-11-28 08:38] Cristian-wp commented on #911
@sandwichmaker @joydeep-b  Thankyou very much

[2022-11-28 09:33] Cristian-wp commented on #909
Hi @joydeep-b , thank you for your suggestion. Now I am trying to implement your 1° in [https://github.com/ceres-solver/ceres-solver/issues/909#issuecomment-1328054641](url). I will let you know the output.

[2022-11-28 18:16] #886 closed

[2022-11-29 08:23] Cristian-wp commented on #909
Hi @joydeep-b , I have try to modify kEpsilon in cuda_dense_cholesky_test.cc like in this line [https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/cuda_dense_cholesky_test.cc#L177](url). I have try to put a really high number and a really low number in the product (I do not know which one make it small), but I get always a Failed test.

What do you mean with "I'll make a CL."

[2022-11-29 22:36] joydeep-b commented on #909
The errors in the tests that you reported are around 10^-12 when using the CUDADenseCholesky solver in either full precision mode, or with mixed precision and 3 refinements. This should be sufficient precision for most needs.

[2022-11-30 18:30] sandwichmaker commented on #911
This is fixed at head now.

[2022-11-30 18:30] #911 closed