[2020-08-11 01:13] dellaert commented on #615
No autodiff :-)

[2020-08-11 01:13] dellaert commented on #615
I found a *bit* of special structure, but it does not make a big change. m*d is the way to go here (as in GTSAM :-)

[2020-08-11 01:35] sandwichmaker commented on #615
Let me think about this a bit more.

On Mon, Aug 10, 2020, 6:13 PM Frank Dellaert <notifications@github.com>
wrote:

[2020-08-11 06:33] dellaert commented on #615
Parting thought for today: things would already be much better if the *cost function* could implement the chain rule. For example, a `FrobeniusPrior` factor I made on SO(n) has the `n^2 x n^2` identity matrix as its "global" Jacobian. So, the hypothesized MultiplyLeft() would be simple be a null operation, returning the `D*d' matrix passed in. That way, the local parameterization Jacobians can sti

[2020-08-11 12:05] sandwichmaker commented on #615
Interesting idea.
One question for you. What sized problem are you solving? How many
rotations and how many pairwise terms ?

On Mon, Aug 10, 2020, 11:34 PM Frank Dellaert <notifications@github.com>
wrote:

[2020-08-11 12:23] sandwichmaker commented on #615
The reason I ask is that got most problem s the linear solver takes way
longer than evaluation. Is there a Summary::FullReport that you can share?

On Tue, Aug 11, 2020, 5:05 AM Sameer Agarwal <sandwichmaker@gmail.com>
wrote:

[2020-08-11 14:15] dellaert commented on #615
Sure. This is part of Shonan Averaging, of course :-) I can even add you to the evolving repo.
Here is n=8:

[code]

And here is bottom-level, n=3, where the problems is not as severe (but linear < Jacobian eval)

[code]

[2020-08-11 14:18] dellaert commented on #615
n=8 is a rare case. But If possible I'd like to "flatten the curve" in n :-)

[2020-08-11 15:04] sandwichmaker commented on #615
If I am reading this right, then the situation is worse for n = 3 than n = 8, where the jacobian evaluation is slower than the linear solve. BTW this is actually a perfect case for using threading. Another idea would be to use LBFGS since your objective function does not appear to be too hard.

[2020-08-11 16:36] dellaert commented on #615
But adding a call to have the cost-function to the multiplication would not break the API at all, right? I think it will be useful in quite a few situations. I have some plans :-)

[2020-08-11 16:37] dellaert commented on #615
Cost functions above are easy because of good initial estimates. Harder if starting from random.

[2020-08-11 18:46] ihamieh commented on #539
@alexsmac you seem to know what's going on with this package! To be honest, i'm not sure how to properly install eigen! I checked my system ($ pkg-config --modversion eigen3) and I have 3.2.92 version. For my project, I need to install eigen3 from the following link: http://eigen.tuxfamily.org/index.php?title=Main_Page but I don't know what to do after I git clone https://gitlab.com/libeigen/eigen

[2020-08-11 19:40] sandwichmaker commented on #615
I do not think I quite understand your suggestion @dellaert. Could you elaborate? and what are these plans?

[2020-08-11 20:44] dellaert commented on #615
Suggestion, calling J global Jacobian and C chain rule Jacobian
- Currently, ResidualBlock could do: J = Cost->Jacobian(x);  JC = LocalParam->DoChainRule(x, J)
- My suggestion: ResidualBlock does: C = LocalParam(x);  JC = Cost->DoChainRule(x, C)

Plans: later :-)

[2020-08-12 01:18] narutojxl commented on #539
Hi @ihamieh, the INSTALL file in the source of eigen:

	Method 2. Installing using CMake
	********************************
	Let's call this directory 'source_dir' (where this INSTALL file is).
	Before starting, create another directory which we will call 'build_dir'.

	Do:

	  cd build_dir
	  cmake source_dir
	  make install

	The "make install" step may require administrator privileges.

	You can

[2020-08-12 15:51] sandwichmaker commented on #615
Alright, let me think about it. If something like this happens it will not happen before the end of August. It may also be a good time to revamp the LocalParameterization object into a full fledged Manifold object with Plus and Minus operations, which will make things like constrained optimization a lot saner.

[2020-08-12 16:25] ihamieh commented on #539
I got this one resolved yesterday! The fix is to build --> cmake --> sudo install and it worked!

[2020-08-13 02:19] dellaert commented on #615
Yes ! Or you could call them `retract` and `local_coordinates` :-)

[2020-08-13 02:30] sandwichmaker commented on #615
Plus and minus :)

On Wed, Aug 12, 2020, 7:20 PM Frank Dellaert <notifications@github.com>
wrote:

[2020-08-13 10:34] NikolausDemmel commented on #615
Great to see some movement on the topic.

Cross referencing some previous discussion:
- https://groups.google.com/g/ceres-solver/c/ALoHTiDYE04
- https://groups.google.com/g/ceres-solver/c/fs8iNI9_F7Q
- https://github.com/ceres-solver/ceres-solver/issues/387
- https://github.com/ceres-solver/ceres-solver/issues/303

People in the wild are using the workaround of putting "identity + 0 columns" in th

[2020-08-13 11:08] NikolausDemmel commented on #615
One more thought: What is nice about the way ceres works at the moment is that the cost function is completely agnostic of which local parameterization is used and can be combined with different choices. In the past, I found it quite convenient to easily switch local parameterizations for experimentation, or use different local parameterizations for different parameter blocks of the same "type". I

[2020-08-13 13:35] ralphlauran99 opened #616 "Triangulation using ceres ( Structure on bundle adjustment) minimizes only the last residual block"
Hi , I attempting to estimate a bunch of 3d coordinates viewed via a multi-view setup with known poses, I have the code running, but the output of ceres seems baffling.

There are 7 image frames/poses, and only the re-projection error with respect to the last pose(7th frame) is close to 0. 2d Reprojections of the ceres-estimated 3dpoint onto rest of the frames(1-6) do not match with the actual pix

[2020-08-13 14:44] dellaert commented on #615
Hey @NikolausDemmel :
- Yes on Lie groups: in GTSAM we only ever compute the m*d Jacobians. In many cases this is through chain rules or our "expressions" mini-DSL that does reverse AD, but even in that case we rarely if ever have inner dimensions of size D.
- On the last point I disagree: the nice thing is exactly that the local parameterization can be changed as we can just feed in a *different*

[2020-08-13 14:58] dellaert commented on #615
Oh, but I just saw the issue with that: `double*`. @sandwichmaker I have to say that `double*` is a curse in using Ceres :-) It's been a while since I have had to step into gdb/lldb to figure out issues in my code! IMHO this can all be solved rather easily by using Eigen::Ref as the API, as well. Maybe this is not acceptable in general, but for an advanced API like  `DoChainRule(x, C)` it could be

[2020-08-13 21:31] ralphlauran99 commented on #616
Suggestion by markus was right :

"I believe that your problem lies here:

data will be a copy of your matrix/point tuple. You're then storing references
to data's members in your newly created residuals. This is not what you want.

Try for(auto& data : datas) instead."

https://groups.google.com/forum/#!msg/ceres-solver/2IRuiVuRE54/wJzSC3X4BQAJ

[2020-08-13 21:32] #616 closed

[2020-08-13 21:33] NikolausDemmel commented on #615
Hi @dellaert,

Ok, got it. Yes, in your example of `FrobeniusPrior`, it would indeed be as you say. I didn't realize you were talking about this case. But since the "FrobeniusPrior" is pretty much the only cost function that can return C unchanged, the only thing that a custom `DoChainRule` implementation could do with C, is exploiting some sparsity in `J`, when multiplying `JC`. Nothing about `C`

[2020-08-13 22:06] dellaert commented on #615
True, but exploiting sparsity is *big * :-) I think Frobenius is only the simplest case, but the Shonan factors are just as sparse, just different patterns than identity (basically the J is a set of identity and zero blocks).

[2020-08-14 08:09] cyclojc commented on #568
`
ceres::CostFunction* vio_function = RelativeRTError::Create(iPj.x(), iPj.y(), iPj.z(),
                                                                                iQj.w(), iQj.x(), iQj.y(), iQj.z(),s_array[i][0],
                                                                                var[0], var[1], var[2]);
 vo_block_id = problem.AddResidualBlock(vio_function, NULL, q_array[i], t_ar

[2020-08-14 09:48] tipf commented on #608
You are right, I forgot that D is not accessible form outside of the individual trust region strategies. I cloud imagine to split the DumpLinearLeastSquaresProblem in two separate functions, one inside the trust region strategies and a second one outside in the ComputeTrustRegionStep code. Since there are individual files for each variable anyway, this should be possible.

However, my priorities h

[2020-08-14 16:11] NikolausDemmel commented on #612
Finally I had a chance to test this. I think we might have to reopen the issue.

In general the updated FindTBB.cmake from VTK seems to be an improvement. In particular it better deals with debug and release libraries it seems. But it doesn't cover all cases properly, and it uses `TBB_ROOT` as a variable to specify which TBB to use, which causes issues with cmake, since for newer versions that var

[2020-08-17 16:59] NikolausDemmel commented on #612
PS: Here is a testing repository with ci jobs for all the cases above with ceres 2.0.0 rc (+ cmake output fix): https://gitlab.com/NikolausDemmel/ceres-test-deps/-/pipelines/178824483

[2020-08-19 21:02] alexsmac commented on #612
Thanks @NikolausDemmel, that's a really helpful and detailed update.

I think we should set the CMP0074 policy to the NEW behaviour (if it exists - our minimum CMake version: 3.5, does not include it - it was introduced only in CMake 3.12).  This would mimic what VTK are doing on modern versions of CMake, originally explicitly via cmake_policy(), but now implicitly via cmake_minimum_required(VERSI

[2020-08-20 11:39] NikolausDemmel commented on #612
Thanks for looking into it again!

Agreed on setting CMP0074 to NEW if it exists. This allows people that use newer cmake to e.g. set the `Eigen3_ROOT` to more selectively guide cmake to a specific version of Eigen3 (rather than using `CMAKE_PREFIX_PATH`, which may affect other libraries as well).

However, I don't think it influences out `find_package(TBB)` call, since this uses find module mode,

[2020-08-20 11:52] NikolausDemmel commented on #612
Update: Setting the policy to NEW does not change how 5) behaves. I think we need to dig into the find module and how TBB_ROOT affects the search paths, to make sure the results are only taken from a single place, and installations are not mixed up like now. If we fix the find module, we can also submit it upstream with VTK.

See: https://gitlab.com/NikolausDemmel/ceres-test-deps/-/jobs/695599578

[2020-08-20 13:36] Seanmatthews opened #617 "Better access to API reference documents"
I can't, for the life of me, find my way to a C++ reference API from the compiled Sphinx documents. Can you add a class search, or something similar?

[2020-08-20 14:17] sandwichmaker commented on #617
I am not sure I understand. What are you looking for that you are unable to find?

[2020-08-20 14:18] sandwichmaker commented on #613
Going to close this, as there isn't anything actionable no our end right now.

[2020-08-20 14:18] #613 closed

[2020-08-26 00:05] kwaegel opened #618 "Linker error when using CERES_EXPORT on class with variadic template on MSVC"
Trying to use ProductParameterization on Windows with Ceres 2.0.0-rc1 currently produces the a LNK2109 linker error with Visual Studio 2019 (version 16.7.2)

[code]

It appears this is caused by using `CERES_EXPORT` on the entire class, which causes the compiler to try finding an exported symbol for the template. I'm still unclear why the compiler can't handle this case (no success searching the M

[2020-08-26 22:45] HackAttack commented on #323
@alexkaratarakis and I did exactly this (in Bazel), which enabled us to remove the original workaround of always including Ceres headers before our logging headers. Here’s the script in case it’s helpful to someone.

[code]
Better late than never!

[2020-08-28 01:19] sandwichmaker commented on #618
@alexsmac this seems to be related to the other patch you are looking at which also deals with symbols export.

[2020-08-28 02:56] #598 closed

[2020-08-30 10:13] NikolausDemmel commented on #582
I think this is intended. Ceres is not packaged as a catkin package, but rather the package.xml allows it to build as a pure cmake package in your caktin workspace. You should also find it with `find_package(Ceres)` from your catkin package. That seems to work fine.

No, I think `ceres-solver` is idiomatic for ros packages / dependency names.

Works fine for me if I <..depend> on ceres-solver in a

[2020-08-30 10:17] NikolausDemmel commented on #606
p must be of Jet type. Ceres provides corresponding traits for binary operations

It won't give you the maximum possible performance, but have you tried casting `b` to Jet type? I.e. `b.cast<T>()`?

[2020-08-30 11:45] shirokobrod commented on #606
Yes, I tried it. It works, but it degrades performance.

On Sun 30. Aug 2020 at 13.17, Nikolaus Demmel <notifications@github.com>
wrote:

[2020-08-30 17:44] 0xfaded opened #619 "Request implementation advice for parallelizing ImplicitSchurComplement using column major block storage."
Looking at the schur eliminator and iterative solver, most operations are of the form `M'M` or `M'v`, for which a column major layout for `M` is more logical. It would also make parallelizing some of the iterative solver operations easier, since `result[column_range]` of `M'v` or `block_diagonal(M'M)` depends only on the `column_range` of `M`.

Has there been previous thought on converting the spa

[2020-08-30 23:02] thisisjaskaran opened #620 "error: no match for call to ‘(const ExponentialResidual) (const double* const&, double*&)’"
I get the following error while compiling my code. Stuck here for 2 days now...

Any help appreciated!

![Screenshot from 2020-08-31 04-31-06](https://user-images.githubusercontent.com/52422984/91671265-e7599c80-eb42-11ea-8626-656ad18f42d4.png)

[2020-08-31 09:19] 0xfaded commented on #619
On second looks, the schur eliminator really need to be row compressed.

Column compression for the implicit schur solver improves single threaded performance by about 10% for the test problem in the `/data` directory, and is much better when parallelised (current implementation is not parallelised).

Implementation wise, I'm currently using the existing `BlockSparseMatrix` but ordering the blocks

[2020-08-31 11:33] 0xfaded commented on #619
Will move discussion to mailing list as requested in CONTRIBUTING guide.

[2020-08-31 11:33] #619 closed

[2020-08-31 16:51] sandwichmaker commented on #620
Looks like your signature for AutoDiffCostFunction and the signature of operator() do not match.

[2020-08-31 16:52] sandwichmaker commented on #617
Closing because lack of details.

[2020-08-31 16:52] #617 closed

[2020-08-31 16:53] sandwichmaker commented on #612
whats the plan here? I'd like to resolve this soonish as this is a blocking issue for 2.0

[2020-08-31 18:33] alexsmac commented on #612
OK, so the issue is really that not all TBB releases include the debug libraries, so when these lines get executed:
[code]
they can find *different* directories within any of the paths listed in `TBB_LIB_SEARCH_PATH`, this would depend on the ordering and content of each.  The issue is that if the build is local, then on MSVC at least it will have a single build type per directory with different R

[2020-08-31 18:47] alexsmac commented on #618
@nocnokneo's CL [here](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/16580) is distinct, in that the purpose there is to prevent the export of all symbols everywhere.  However, I'm not wild about further propagation of the hateful MSVC-specific `CERES_EXPORT` macros within the public classes, but I'm also surprised that @nocnokneo didn't encounter this issue, Taylor can you shed an

[2020-08-31 21:10] liweiyap commented on #255
Hey there, I'm really late, but I'm just wondering if you managed to find a solution to your problem? I'm facing the same issue; I've been unable to disable the ceres messages. I've used a very similar configuration to yours (albeit on Ubuntu 16.04):

[code]

The only way I could suppress these messages was by directing them from `std::cout` to `/dev/null`.

Thanks in advance!

[2020-08-31 21:25] NikolausDemmel commented on #612
We could enforce the same directories only on Unix (ideally same prefix as the found include directories), where I think it's a reasonable / robust way to find the libraries. But I understand that complicates the logic, so maybe not worth it.

While this would then behave different from the the (newly) built in _ROOT variables in cmake, IMHO it would be fine. To me it's reasonable to assume that t

[2020-09-01 09:27] alexsmac commented on #612
OK, updated CL is [here](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/17720) after looking at the structure of the TBB releases for all platforms, I think we can enforce that the release & debug libraries should all live in the same directory.

[2020-09-01 13:40] thisisjaskaran commented on #620
Could you please clarify what you mean by signature?

[2020-09-01 14:07] alexsmac commented on #620
Your functor expects 10 arguments, 9 input parameter blocks and 1 output residual block, Ceres is trying to call it with 2 arguments (1 input parameter block, and 1 output residual block).  This means that you have not correctly instantiated AutoDiffCostFunction for your functor.  As explained [here](http://ceres-solver.org/nnls_modeling.html#_CPPv2N5ceres20AutoDiffCostFunctionE), the template sig

[2020-09-01 14:07] #620 closed

[2020-09-03 08:18] NikolausDemmel opened #621 "clang-format mismatch"
I noticed that many source files don't adhere to the style specified in the `.clang-format` file. This is a bit irritating if your editor is set to run clang-format upon file save when a `.clang-format` file is present.

Most files have only small changes after running clang-format (notable exception are the examples, which differ substantially after running formatting). So maybe it is also to do

[2020-09-03 12:44] sandwichmaker commented on #621
Yes some of the files predate clang-format. I will happily take changes.
May have to exclude some sections, especially in tests but otherwise feel
free to send em. I think the public facing headers are all clang formatted
though.

On Thu, Sep 3, 2020, 1:19 AM Nikolaus Demmel <notifications@github.com>
wrote:

[2020-09-03 12:56] NikolausDemmel commented on #621
This is the diff I get when I run clang format (version 10.0.1) on the public headers:

[code]

https://github.com/NikolausDemmel/ceres-solver/commit/8b112a94acc0a1cfa76bec7024f3cf23e6ba167c

Could you have a look if this is what you want before I look into it more?

[2020-09-03 12:58] NikolausDemmel commented on #621
(PS: I mean in general. Single specific changes we can review later on Gerrit)

[2020-09-03 16:01] sandwichmaker commented on #621
The ordering of port.h I think is sensitive (or it used to be anyways, this is worth checking).
same for disable and re-enable warnings
in types.h the enums are better off one per line.
The rest seem fine.

[2020-09-03 18:45] #582 closed

[2020-09-03 19:46] sandwichmaker commented on #612
Fixed at head.

[2020-09-03 19:46] #612 closed

[2020-09-06 23:06] NikolausDemmel commented on #621
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/17800

[2020-09-11 02:29] mawallace opened #622 "Clarifying safety of removing parameter blocks"
The [documentation](http://ceres-solver.org/nnls_modeling.html?highlight=remove#_CPPv2N5ceres7Problem19RemoveResidualBlockE15ResidualBlockId) for `RemoveResidualBlock` has a warning about the Jacobians and residuals from the solver becoming uninterpretable (see below).

Just to clarify, it is safe to remove them from a *problem*, right?

The flow that I'm trying to achieve is as follows:
1. Create

[2020-09-11 02:30] sandwichmaker commented on #622
Yes this is safe. You do not need to create a new solver.

On Thu, Sep 10, 2020, 7:29 PM Michael Wallace <notifications@github.com>
wrote:

[2020-09-11 02:31] mawallace commented on #622
Thank you!

Also, just realized this might have made more sense as a question in the Google group -- I'll do that next time.

Thanks again.

[2020-09-11 02:31] #622 closed

[2020-09-16 20:00] NikolausDemmel commented on #621
@sandwichmaker, just letting you know that after the fix for public includes and examples, I have the same thing for the internal sources in the pipeline. It's just that there are a lot of little changes and I need to go through them file by file to check where to retain formatting with `clang-format off/on`. You can expect a CL on gerrit shortly.

[2020-09-16 20:19] sandwichmaker commented on #621
fantastic, happy to review as one big CL or in pieces as you see fit!

On Wed, Sep 16, 2020 at 1:00 PM Nikolaus Demmel <notifications@github.com>
wrote:

[2020-09-20 16:28] rebellojason7 opened #623 "Setting parameters constant"
Hi all,

I'm trying to run a multi threaded visual inertial algorithm and had a question with regard to setting parameters constant (SetParameterBlockConstant). In particular does the solution change if I add some parameter blocks to the optimization and set them constant versus not adding the parameters at all to the optimization.

The reason I ask if because I ran the first version where I didn'

[2020-09-21 18:21] sandwichmaker commented on #623
There should be no difference. Because constant parameter blocks are internally eliminated from the problem.

[2020-09-21 19:26] #623 closed

[2020-09-21 21:33] rebellojason7 commented on #623
Thanks

[2020-09-21 21:36] rebellojason7 opened #624 "Handling degeneracies"
Hi all,

Does anyone know how Ceres handles degeneracies ? Where some columns of the jacobians of the parameter blocks are related to each other ? I realize that with the LM optimizer one can add to the diagonal elements, but does Ceres pick up on the rank deficiency in the jacobian if one exists ? Any help would be appreciated. @sandwichmaker Thanks.

[2020-09-22 00:05] sandwichmaker commented on #624
LM requires a diagonal which makes sure that the hessian is full rank. But I am not what you are looking for here. Also this is better discussed on the mailinglist.

[2020-09-22 00:05] #624 closed

[2020-09-28 22:28] NikolausDemmel commented on #621
Fixed on master.

[2020-09-28 22:28] #621 closed

[2020-09-29 08:44] IgorIlyin95 commented on #623
@sandwichmaker  And how about the performance it this case? Will solving theses 2 problems take the same time?

[2020-09-29 16:05] sandwichmaker commented on #623
Some minor cost in the preprocessor but not much else.

[2020-09-29 19:57] sandwichmaker commented on #618
gentle ping? I'd like to resolve this before the next RC.

[2020-10-05 04:37] deysumitkr opened #626 "Docs dependency: ImportError: No module named sphinx_rtd_theme"
On building the docs:
[code]

Maybe be [this dependency on sphinx_rtd_theme](https://github.com/ceres-solver/ceres-solver/blob/7ef83e07592ead74eeacc227b642df1959d2a246/docs/source/conf.py#L102) can be checked beforehand.

[2020-10-06 19:58] sandwichmaker commented on #626
Thats a good idea @deysumitkr do you want to add the check to cmake?

[2020-10-08 03:46] deysumitkr commented on #626
Thanks @sandwichmaker. Yes, I would do that in next week.

[2020-10-08 07:52] CeccAnd opened #627 "Build.make:62: recipe for target 'examples/CMakeFiles/nist.dir/nist.cc.o' failed"
Hello

I am trying to MAKE Ceres-solver on UBUNTU 18.04. But always I got following feedback.

[100%] Built target bundle_adjuster
^Cexamples/CMakeFiles/nist.dir/build.make:62: recipe for target 'examples/CMakeFiles/nist.dir/nist.cc.o' failed
make[2]: *** [examples/CMakeFiles/nist.dir/nist.cc.o] Interrupt
CMakeFiles/Makefile2:7628: recipe for target 'examples/CMakeFiles/nist.dir/all' failed
make[1

[2020-10-13 09:33] blackliner opened #628 "Bazel build fails due to missing bitbucket eigen repo"
It seems the eigen bitbucket repo was shut down recently.

[2020-10-13 13:56] sandwichmaker commented on #628
ah yes, this needs a fix. want to send me a fix on gerrit?

[2020-10-13 14:08] sandwichmaker commented on #628
actually what version of ceres are you using? the bazel file at head uses github.

[2020-10-13 14:39] sandwichmaker commented on #628
actually its the github mirror thats the problem, I think we need to point it to gitlab, let me check.

[2020-10-13 14:43] sandwichmaker commented on #628
@keir can you look into this please.

[2020-10-13 15:04] blackliner commented on #628
Master points to [https://github.com/ceres-solver/ceres-solver/blob/master/WORKSPACE#L64](http://bitbucket.org/eigen/eigen/get/3.3.4.tar.bz2)
2.0.0rc1 points to [https://github.com/ceres-solver/ceres-solver/blob/2.0.0rc1/WORKSPACE#L64](http://bitbucket.org/eigen/eigen/get/3.3.4.tar.bz2)

[2020-10-13 17:11] sandwichmaker commented on #628
Should be fixed at head now.

[2020-10-13 17:40] blackliner commented on #628
Uh, not done yet, you need to swap it in examples as well: https://github.com/ceres-solver/ceres-solver/blob/d656d34809a7958f5b0b1ae246a3f6482e67823e/examples/BUILD#L38
[code]
needs to become
[code]

[2020-10-13 19:10] sandwichmaker commented on #628
should be fixed now.

On Tue, Oct 13, 2020 at 10:40 AM Florian Berchtold <notifications@github.com>
wrote:

[2020-10-14 20:06] nocnokneo commented on #295
It makes me sad that this is still not implemented. For a large, highly-configurable, multi-platform code base, it's so inefficient to not have automatic CI builds that _enforce_ that every Gerrit CL successfully run all tests on at least some minimal combination of supported platforms and configurations.

[2020-10-14 20:08] sandwichmaker commented on #295
Taylor send us a pr!

On Wed, Oct 14, 2020, 1:06 PM Taylor Braun-Jones <notifications@github.com>
wrote:

[2020-10-15 02:08] nocnokneo commented on #295
Huh? Are GitHub PRs the new workflow now? That would make things actually possible to implement in a PR patch (plus some funding from Google for AppVeyor minutes probably). Even better would be GitLab MRs. That could be done with a `.gitlab-ci.yml`. But from what I understand, Gerrit is the only allowed review/integration workflow. I don't know specifics on how that would need to be setup except t

[2020-10-15 03:11] sandwichmaker commented on #295
I meant a pr on GitHub.
I am thinking about moving from gerrit to github but I need to figure out
the google CLA workflow on GitHub.

On Wed, Oct 14, 2020, 7:08 PM Taylor Braun-Jones <notifications@github.com>
wrote:

[2020-10-15 22:51] nocnokneo commented on #618
I included a fix for this in https://ceres-solver-review.googlesource.com/c/ceres-solver/+/16580 by adding a virtual destructor for `LocalParameterization`

[2020-10-16 00:54] ahmedinelec opened #629 "Ceres Solver::Summary causing "Stack cookie instrumentation code detected a stack-based buffer overrun""
I am getting a very weird issue using ceres Solver.
Trying to run the curve fitting sample  ( https://ceres-solver.googlesource.com/ceres-solver/+/master/examples/curve_fitting.cc )

1- running the code AS IS works properly, i.e putting everything in main()
[code]

2- if I move it to a separate function, the solver finishes but when it returns the following error occurs: "Stack cookie instrumentat

[2020-10-16 07:45] jschueller opened #630 "logging_type = SILENT ignored with MINIGLOG=ON"
hello, I just compiled ceres master using MINIGLOG=ON on ubuntu, and setting  logging_type=SILENT still outputs iteration infos:

[code]

this is fine with system glog

[2020-10-16 17:39] sandwichmaker commented on #630
MINIGLOG is not as full featured as glog, it only has compile time support for controlling the verbosity. If you are on ubuntu, please use glog.

[2020-10-16 17:39] #630 closed

[2020-10-16 17:39] sandwichmaker commented on #629
I am not sure whats going on offhand, I will take a look.

[2020-10-16 17:40] sandwichmaker commented on #618
This should be fixed at head now. I am closing it, please let us know if this is still a problem.

[2020-10-16 17:40] #618 closed

[2020-10-16 17:49] alexsmac commented on #627
This:

[code]

specifically *^C* means you used `<control> + <c>` to interrupt the compilation before it was complete, that's why the compilation of the translation unit shows has failed / Interrupt.

[2020-10-16 17:49] #627 closed

[2020-10-17 10:49] ahmedinelec commented on #629
I found the issue.
I was using this code within a bigger project which had old files, one of them was the ceres.dll which it was linking against. I guess the size of Summary struct changed between version which was trashing the memory.

[2020-10-17 10:49] #629 closed

[2020-10-29 06:53] cfneuhaus opened #632 "Missing CERES_EXPORT for Context"
The `ceres::Context` class is missing the `CERES_EXPORT` macro. This results in undefined references when using `Context::Create`.
I am using the most recent version 2.0.0.

[2020-10-29 13:39] sandwichmaker commented on #632
I gather this is on MSVC? what is it that you are trying to do with the Context object?

[2020-10-29 13:47] cfneuhaus commented on #632
Nope, this is gcc version 10.2.0 on Linux. I have a function that is executed quite frequently and that is re-creating new `ceres::Problems` every time it runs. A while ago, I stumbled upon Context in the [documentation](http://ceres-solver.org/nnls_modeling.html?highlight=context#_CPPv4N5ceres7Problem7Options7contextE), and it said "This may help to reduce computation time as Ceres can reuse expe

[2020-10-29 14:01] sandwichmaker commented on #632
Thanks for letting us know. @alexsmac can you take a look please?
If the creation destruction of the problem object is a performance concern, why not just have a single problem object and reuse it? or a pool of them? Also how much time are you spending in the solve compared to problem creation? unless your problems are tiny these times should not even be comparable.

[2020-10-29 14:35] cfneuhaus commented on #632
You are completely right: The time to construct the problem almost certainly does not matter in comparison to the solving time (which is like 4-5 ms at about 1500 residuals for me; this is a real-time SLAM problem). I have simply stumbled across this as a micro-optimization while thoroughly reading the docs and added it because why not? That is all - it's not that I observed some performance issue

[2020-11-04 16:26] kloczek opened #633 "2.0.0: build fails"
[code]
[code]

[2020-11-07 11:39] zhangkom opened #634 "How to disable the log, please?"
I want to disable the log of Ceres, but it failed. And my source code is following:
        ceres::Solver::Options options;
        options.linear_solver_type = ceres::DENSE_QR;
        options.minimizer_progress_to_stdout = false;
        options.logging_type = ceres::SILENT;
        ceres::Solver::Summary summary;
        ceres::Solve(options, &problem, &summary);

**The result is:**
DenseQRSolv

[2020-11-09 18:44] sandwichmaker commented on #634
Can you confirm that you are using miniglog? please use google-glog for full control. Otherwise you have to set a compiler flag to disable logging from miniglog (which I do not remember offhand).

[2020-11-09 18:45] sandwichmaker commented on #633
This seems like some sort of linking error with google glog.

[2020-11-13 12:49] ShifanZhu opened #635 "Ceres Usage Problem"
I'd like to compute the minimum result of the below first equation. But it seems that Ceres can only solve the minimum result of the second equation.

Is there anything I didn't understand? I would appreciate it if you can help me out. Thanks!

![WeChat Image_20201113204636](https://user-images.githubusercontent.com/55651391/99073701-5fd3e380-25f1-11eb-9d8c-0dd206c42786.png)
![2](https://user-imag

[2020-11-16 16:55] cristinaluna opened #636 "Unknown threading model specified: 'CXX_THREADS'."
Hello there,

I am trying to install ceres_solver using `catkin_make_isolated --install --use-ninja`

But I get this error

[code]

Do you know how can I solve it?

Thanks in advance

[2020-11-16 18:30] sandwichmaker commented on #636
This looks like a version mismatch somewhere. What version of Ceres Solver are you trying to use?

[2020-11-16 19:12] cristinaluna commented on #636
As said in [this comment](https://github.com/ceres-solver/ceres-solver/issues/541#issuecomment-662823031), I have done a hard reset after I found that Eigen3 issue. Now I'm facing this thread problem but I haven't found the solution

[2020-11-16 19:32] sandwichmaker commented on #636
@cristinaluna these seem like two completely different problems. What version of ceres solver are you using?

[2020-11-16 19:33] sandwichmaker commented on #635
@ShifanZhu Ceres can handle nonlinear problems just fine. Have you read the tutorial?

[2020-11-16 19:34] sandwichmaker commented on #634
Closing because of lack of response. Feel free to re-open if you have new info.

[2020-11-16 19:34] #634 closed

[2020-11-16 19:34] cristinaluna commented on #636
As I said earlier, I am using [this version](https://github.com/ceres-solver/ceres-solver/tree/e51e9b46f6ca88ab8b2266d0e362771db6d98067),  1.14

[2020-11-16 19:46] sandwichmaker commented on #636
Back in 1.14 ceres used to accept CXX11_THREADS as the threading model. This changed in

https://github.com/ceres-solver/ceres-solver/commit/7ef83e07592ead74eeacc227b642df1959d2a246

I suspect that the catkin file is passing CXX_THREADS as the threading model, why it is doing that I do not know (I know nothing about catkin).

[2020-11-16 19:48] cristinaluna commented on #636
I don't know either. I'm quite new with ceres. Maybe I should install cpp14

[2020-11-19 08:32] bagavi opened #637 "Stdout log on running a simple optimization routine"
On running an optimization routine, I get the following output on my terminal. How should I go about not printing this?

Thanks in advance!

[code]

[2020-11-19 15:48] sandwichmaker commented on #637
Use google-glog instead of miniglog.

On Thu, Nov 19, 2020, 12:33 AM Vivek Bagaria <notifications@github.com>
wrote:

[2020-11-22 05:49] valterbenedetto commented on #249
unbelievable!

[2020-11-22 05:52] valterbenedetto commented on #249
Got the same issues (both with Eingen, Ceres and Colmap ) and lost a lot of time to solve.

[2020-11-24 21:11] HumamHelfawi opened #638 "DynamicAutoDiffCostFunction and SetParameterLowerBound"
Is it possible to use `DynamicAutoDiffCostFunction  `& `SetParameterLowerBound `in the same time. I am getting error saying index out of range when I am trying to use `SetParameterLowerBound `.

Example:
[code]

[2020-11-24 21:32] sandwichmaker commented on #638
1. why are you using dynamicautodiffcostfunction? your functor takes 2
parameter blocks and has a fixed number of residuals.
2. Also you are using SetParameterLowerBound incorrectly. the index is
supposed to be within a particular parameter block, since your parameter
blocks are of size 1 or 2 how can your index be i * 3?

On Tue, Nov 24, 2020 at 1:11 PM Humam Helfawi <notifications@github.com>
wr

[2020-11-25 12:39] HumamHelfawi commented on #638
Thanks, this is a small part of the example, I had to use dynamicautodiffcostfunction since there is another part which add more residuals that uses the same parameters in different order which triggered an exception regarding "Aliasing". I read somewhere that the solution is to sperate the blocks and use dynamicautodiffcostfunction which worked for me.

This exactly my questions...
May you please

[2020-11-25 14:05] sandwichmaker commented on #638
actually there is a bigger problem.
you have three parameter blocks but they sum up to size 4 and your loop
assumes that they are three apart since you are doing i * 3 no? Thats
likely why you are getting aliasing exceptions.

either ways the way the call works is

SetParameterLowerBound(parameter_bloock, index_inside_parameter_block,
bound)

here parmeter_block is the pointer to the parameter blo

[2020-11-25 14:52] HumamHelfawi commented on #638
Thanks for taking the time to examine the problem. Actually, my parameters are as follow:
F0, P0, T0, F1, P1, T1, F2 P2 ....

Each Residual needs 4 parameters [Fi] [Pi] [Ti] and [Fi+1],  because of that I am using 3*i since the last one is shared between two residuals. Is there a better way to do it?

[2020-11-25 15:20] HumamHelfawi commented on #638
BTW, Upper and lower bound worked exactly as you mentioned . Thank you very much!

[2020-11-27 22:27] shaperilio opened #639 "Full report should not start with newline"
https://github.com/ceres-solver/ceres-solver/blob/66b4c33e817ec34d64c7513950e74a3382e06662/internal/ceres/solver.cc#L627

I'd think it would be best to let the user decide what spacing they want around a full report.

[2020-11-28 13:51] weisongwen opened #640 "issue about dynamic size of parameter when constructing cost function"
Hi @sandwichmaker ,  thanks for sharing such a great package. I am using the ceres-solver to solve the sensor fusion of robot positioning. Since the size of the parameters that I am going to estimate is dynamic (e.g the size of the parameters to be estimated is 3 in some epochs, but the size of the parameters to be estimated is 10 in some epochs). However, when I construct the cost functions using

[2020-11-28 13:53] sandwichmaker commented on #640
If you do not know the parameter block size at compile time then you can
use DynamicAutoDiffCostFunction.

On Sat, Nov 28, 2020, 5:51 AM Welson <notifications@github.com> wrote:

[2020-11-29 00:40] weisongwen commented on #640
Hi @sandwichmaker , many thanks! I will try it then,

Best,
Weisong,

[2020-11-30 07:46] bagavi commented on #637
Thanks @sandwichmaker
However, I am using a server with ceres-solver preinstalled (and I dont have control over miniglog vs google-glog). Is there any flag which I should set to turn off the comments?

[2020-11-30 15:12] sandwichmaker commented on #637
No, I suggest asking the admin to install ceres solver again.

On Sun, Nov 29, 2020, 11:46 PM Vivek Bagaria <notifications@github.com>
wrote:

[2020-12-07 08:10] Gatsby23 opened #641 "Problem about openmp on mac"
I have complied the ceres, but when I use it ,it shows the linker problem, how can I solv this ?
[code]

[2020-12-07 08:54] Gatsby23 commented on #641
![Uploading image.png…]()

[2020-12-07 08:55] Gatsby23 commented on #641
![image](https://user-images.githubusercontent.com/18000675/101329902-f15f0a00-38ac-11eb-8e68-1d094609a1a8.png)

[2020-12-07 21:29] alexsmac commented on #641
Apple do not support OpenMP in Xcode on macOS (or any of their other platforms), by default, Ceres will not use OpenMP on macOS for this reason.  What version of Ceres are you using, with what compilers and what modifications have you made to try and force the use of OpenMP?

In general, it looks like you are not linking to an OpenMP implementation, which is likely a result of whatever changes you

[2020-12-08 04:19] DYFeng opened #642 "A question about the example "simple_bundle_adjuster.cc""
In the BAL dataset

We should just optimize the first 6 parameters, instead of all 9 parameters.

https://github.com/ceres-solver/ceres-solver/blob/66b4c33e817ec34d64c7513950e74a3382e06662/examples/simple_bundle_adjuster.cc#L167

[2020-12-08 15:05] sandwichmaker commented on #642
why?

[2020-12-08 15:06] sandwichmaker commented on #639
Sure, but this has been like this for many years now, I do not see a particularly strong reason to change it now.

[2020-12-08 15:06] #638 closed

[2020-12-08 15:07] sandwichmaker commented on #636
ping?

[2020-12-14 16:26] salihkaragoz commented on #533
+1

[2020-12-17 03:07] yinghuasha opened #643 "Solver for Covariance Matrix"
I am a student studying to use Ceres. It is a great tool that helps me a lot. I recently use ceres for solving a standard Bundle Adjustment problem. I only need to calculate camera intrinsic parameters and distortion parameters covariance matrix, which only has 8 parameters interested. I pass the parameter blocks to the solver, which is pasted below. However, when the solver calculates the Jacobia

[2020-12-17 03:19] sandwichmaker commented on #643
It is an internal struct by design. Why do you want to control the parameter blocks during evaluation? restricting them will give you a restricted Jacobian which is not a great idea.

[2020-12-17 03:23] #641 closed

[2020-12-17 03:23] #642 closed

[2020-12-17 03:23] #640 closed

[2020-12-17 03:23] #637 closed

[2020-12-17 03:23] #636 closed

[2020-12-17 03:24] #633 closed

[2020-12-17 03:24] #639 closed

[2020-12-17 03:35] yinghuasha commented on #643
When the parameter size is huge, the calculation effeciency is really low. And I am not sure if the accuracy can be guaranteed to be good enough ? I use the restricted Jacobian and calculate the covariance matrix manually by

C = (J^T* J)^(-1)

However the result from the above equation differs from the result using the covariance solver a lot, like in the magnitude of 10^9. I am not sure whether

[2020-12-17 04:04] Gatsby23 commented on #641
I follow this instruction http://ceres-solver.org/installation.html#macos. If we don't use openmp, what version of ceres should I use and how to install and use the multithread？Could you please give me a detailed install example about   C++11 threads installation instruction

[2020-12-17 16:50] sandwichmaker commented on #641
Just use the latest version of ceres it will automatically use c++11
threads.

On Wed, Dec 16, 2020, 8:04 PM Robotics_Qi <notifications@github.com> wrote:

[2020-12-18 21:46] sandwichmaker commented on #643
Your approach is wrong. Here is why.

Suppose your full Jacobian is
[code]

then the Gauss-Newton Hessian is

[code]

and the covariance will be
[code]

Now say you are interested in the covariance of the parameters in the first A columns, then that is given by the inverse of the matrix

[code]

but if you only evaluate part of the Jacobian matrix say A, and try and compute the covariance that way

[2020-12-19 03:35] yinghuasha commented on #643
Thanks a lot for your detailed description about the partial covariance matrix compution.  I realize that my approach is totally wrong.

[2020-12-19 16:53] #643 closed

[2020-12-19 16:53] #635 closed

[2020-12-19 23:49] craftindo commented on #448
how to turn it off if building using eclipse?

[2020-12-20 20:06] araujokth opened #645 "Building failed on Nvidia Jetson NX aarch64"
Hi,

I am trying to build ceres 2.0.0 by following your instructions [here](http://ceres-solver.org/installation.html#linux) on an Nvidia Jetson NX and getting the following error when building:

[code]

I tried to search online for the same error but couldnt find any help. Do you have any idea what the problem could be?

Here is the output of cmake

[code]

Thanks for the help!

[2020-12-20 20:45] sandwichmaker commented on #645
This is weird the benchmark library was not found but the benchmarks are
being built. This should not happen.

On Sun, Dec 20, 2020, 12:07 PM José Araújo <notifications@github.com> wrote:

[2020-12-20 21:36] araujokth commented on #645
I now cleaned everything and rebuilt and the problem still happened, but then I cleaned, rebooted and built again and it worked. Indeed, very strange.

[2020-12-20 21:36] #645 closed

[2020-12-20 21:41] sandwichmaker commented on #645
Instead of make all how about make ceres?

On Sun, Dec 20, 2020, 1:36 PM José Araújo <notifications@github.com> wrote:

[2020-12-20 21:46] araujokth commented on #645
I tried to reproduce the error with just make, but I cant. It just works now. Thanks for the help anyways!

[2020-12-22 09:46] araujokth opened #646 "Very slow and inconsistent computation time for linear solver on Nvidia Jetson NX and AGX"
Hi,

I was trying to use Ceres on an Nvidia Jetson NX and also on an Nvidia Jetson AGX 32 GB and for some reason I get very slow and also very inconsistent timings on running the pose graph optimization in these platforms, compared to running on a PC, and was wondering if anyone had suggestions on how to improve this.

The benchmark test I am running is the pose_graph_3d example with the sphere_bi

[2020-12-22 17:49] sandwichmaker commented on #646
I do not have any experience with this platform, but I suspect that this has to do with the BLAS performance (since all the time is in the linear solver). I see that you are using openblas. Two things could be happening.

1. OpenBLAS was not compiled properly for this platform.

2. Threading in openblas can be a problem because the matrices that CHOLMOD operates on are relatively small, if openbla

[2020-12-22 19:57] araujokth commented on #646
Thanks so much for the fast reply!

On your point #1, do you know how I can check if something is not compiled properly? I can try to re-built openblas from source and see what happens? Any other thing you think I should try?

On point #2, I will try this. I found that you can do it in different ways, and one way is to set USE_THREAD=0 on the makefile.rule. I will try this and report back.

Thanks

[2020-12-22 20:06] araujokth commented on #646
Just curious, could I use a BLAS implementation that is more suitable for Nvidia platforms, like for example cuBLAS (https://developer.nvidia.com/cublas) with Ceres, or that wont work? Would you recommend to try other BLAS implementations besides OpenBLAS?

[2020-12-22 20:54] sandwichmaker commented on #646
I think openblas should be fine. It is quite good on arm.

On Tue, Dec 22, 2020, 12:06 PM José Araújo <notifications@github.com> wrote:

[2020-12-22 20:58] araujokth commented on #646
Ok! So I tried now OPENBLAS_NUM_THREADS=1 on agx mode 0 and the time drops to 24 seconds and very consistent, so you were right on the problem with the threading! Setting OPENBLAS_NUM_THREADS=2 brings the time up to 85 seconds and higher.

So I will give it a try to build openblas from source and see if multi threading can work.

Thanks again!

[2020-12-22 21:00] sandwichmaker commented on #646
I recommend just disabling threading, I do not think it works well with
being called from cholmod/suitesparse.

On Tue, Dec 22, 2020, 12:59 PM José Araújo <notifications@github.com> wrote:

[2020-12-22 21:03] araujokth commented on #646
Ah ok. I was thinking that multi threading could be the way to reduce the time on these platforms to try to get something closer to the PC performance. So you think on these platforms multi threading or another blas implementation wont help improve this?

[2020-12-22 21:07] sandwichmaker commented on #646
Threading is only helpful on large dense matrices.  That's not the case
(usually) for sparse cholesky factorization.

On Tue, Dec 22, 2020, 1:03 PM José Araújo <notifications@github.com> wrote:

[2020-12-22 21:12] araujokth commented on #646
Got it! Do you think there would be anything else that could be optimized in this case or you think I am getting already the best time possible given the agx hw specs?

[2020-12-22 21:15] sandwichmaker commented on #646
I do not know. I have no experience with these platforms.

On Tue, Dec 22, 2020, 1:12 PM José Araújo <notifications@github.com> wrote:

[2020-12-23 15:15] #646 closed

[2020-12-26 16:31] extrowerk opened #649 "Generated CeresTargets.cmake contains invalid path"
On
[code]
building OpenCV against Ceres 2.0.0 (current ceres WIP port: https://github.com/haikuports/haikuports/pull/5523 ) results:
[code]

The line cmake complains about looks like this:
[code]

There is no include folder on Haiku, the headers stored in `/boot/system/develop/headers`.
I assume one could safely remove the `${_IMPORT_PREFIX}/include;` part alltogether, but this theory is untested.

[2020-12-27 11:22] MohamedAfifii opened #650 "Leverage value for each residual block"
Hello,

I was trying to give weights to the residuals according to the formula used by LOAM (https://link.springer.com/content/pdf/10.1007/s10514-016-9548-2.pdf) in equation (11):
![loam2](https://user-images.githubusercontent.com/35625268/103169628-21635280-4846-11eb-8764-aa4523b8c7ea.png)

What is the right way to retrieve the value of <img src="https://render.githubusercontent.com/render/math?m

[2020-12-31 15:34] sandwichmaker commented on #650
@MohamedAfifii there is no (easy) way to access these values in a generic manner in ceres.

[2020-12-31 15:34] sandwichmaker commented on #649
@alexsmac can you take a look please?

[2021-01-04 04:33] lucasw commented on #602
I've had success using calling a C++ function that runs ceres from a rust program through https://github.com/dtolnay/cxx.  The C++ `operator()` method can also call a rust function to get the residuals which works fine for numeric differentiation, but being able to use the Jet type in rust is going to be more difficult.  https://github.com/lucasw/rust_test/tree/cxx_ceres/ceres/ceres_cxx has a simp

[2021-01-04 09:52] MohamedAfifii commented on #650
@sandwichmaker can I do some modifications to the source code to make this possible? Which files should I modify then?

[2021-01-04 22:27] sandwichmaker commented on #650
You can try hacking program_evaluator.h

[2021-01-11 07:13] arm7star opened #651 "ceres-solver 1.14.0 evaluation_callback_test failed."
[ RUN      ] EvaluationCallback.WithLineSearchMinimizerWolfeLbfgsQuadratic
/opt/spack-stage/root/spack-stage-ceres-solver-1.14.0-gnmb2uxxvuzw46ebjcaasx2zvaiopobc/spack-src/internal/ceres/evaluation_callback_test.cc:91: Failure
Expected: (evaluate_last_parameter_hash) != (incoming_parameter_hash), actual: 1152674340896131432 vs 1152674340896131432
/opt/spack-stage/root/spack-stage-ceres-solver-1.14

[2021-01-11 17:34] sandwichmaker commented on #651
This is a benign failure which has been fixed upstream in ceres 2.0.0
please upgrade to that.
Sameer

On Sun, Jan 10, 2021 at 11:13 PM arm7star <notifications@github.com> wrote:

[2021-01-12 07:48] arm7star commented on #651
ceres 2.0.0 has been checked ok. But small_blas_test tested faild. It perhaps there has some deviation on float operation on our ARM64 cpu. Thank you!

The difference between (c_assign_ref - c_assign).norm() and 0.0 is 6.7532230144642595e-16, which exceeds kTolerance, where
(c_assign_ref - c_assign).norm() evaluates to 6.7532230144642595e-16,
0.0 evaluates to 0, and
kTolerance evaluates to 6.66133

[2021-01-12 07:48] #651 closed

[2021-01-19 19:29] syndamn opened #652 "Issues compiling, LOG (FATAL) << control should never reach here"
When I install ceres through OpenMVG, it passes all the required tests. However, there appears to be some error on the ceres factor side, as I get the following error. I have checked and I have the same cost functions as the repo, I just dont understand how I would pass the proper syntax to get past these checks.  Thanks in advance for the help

**My current environment is:**
Ubuntu 18.04
gcc 7.5

[2021-01-21 06:15] LiuPeiqi-CNHN opened #653 "LINK : warning LNK4217"
I have a single line cpp file "#include <ceres\ceres.h>", then 9 LNK4217 warning appear after compiling the project. I don't use any ceres funtion, I just only include ceres.h header file.

IDE:vs2019
ceres:install by vcpkg, x64-windows

`1>LINK : warning LNK4217: 符号“?setstate@?$basic_ios@DU?$char_traits@D@std@@@std@@QEAAXH_N@Z (public: void __cdecl std::basic_ios<char,struct std::char_traits<char

[2021-01-21 11:11] alexsmac commented on #653
None of the above warnings relate to Ceres, they relate to OpenCV and Qt, the docs for [LNK4217](https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-warning-lnk4217?view=msvc-160) suggest that the issue is that one of those projects is erroneously using dllimport

[2021-01-21 11:11] #653 closed

[2021-01-21 21:15] sandwichmaker commented on #652
This looks like a case where glog is not being included in some of the header files that refer to it.

[2021-01-21 21:50] sandwichmaker commented on #652
I have just pushed a change which adds some missing glog/logging.h includes. Can you see if that fixes your problem?

[2021-01-21 21:50] #650 closed

[2021-01-23 02:21] syndamn commented on #652
@sandwichmaker Thank you so much for your prompt response! That commit did fix my original error, but I am still having issues on the glog front.
I've verified that i do have libglog.a installed in /usr/local/lib. When I looked for solutions to this problem on stack overflow, they just suggested to disable glog, which isnt an option for what I want to do. Another source suggested adding glog to a

[2021-01-23 02:36] sandwichmaker commented on #652
Doesn't look like you are linking correctly.

On Fri, Jan 22, 2021, 6:21 PM syndamn <notifications@github.com> wrote:

[2021-01-23 16:23] LaurentBerger opened #654 "cmake warnings building for android"
My platform is windows 10. With my configuration I can build opencv for android. Now I try to build ceres for android. My cmake file is

[code]

In cmake output.log  I have got some warnings
[code]

full output is
[output.log](https://github.com/ceres-solver/ceres-solver/files/5860516/output.log)

What's wrong? Why these variables are not used?

[2021-01-23 16:39] #654 closed

[2021-01-28 12:08] mohamedghita commented on #571
@ckLibra have you found a solution for this issue?
I have the same issue on OS Ubuntu 18.04

[2021-01-28 14:21] alexsmac commented on #571
This implies that either CMake is not detecting the correct Eigen installation - which should be visible by inspecting the value of `Eigen3_DIR` in the advanced CMake GUI view - or that there is an issue with the `Eigen3Targets.cmake` file, that is where the `Eigen3::Eigen` target is declared and in the latest 3.3.4 package for 18.04 ([here](https://packages.ubuntu.com/bionic/libeigen3-dev)) it ap

[2021-01-29 19:03] psalvaggio opened #655 "ceres::acos giving back NaN"
I think this is a straightforward issue. I have the following code in my cost function:
[code]
when running, I get the following result:
[code]
this makes sense given the implementation of `acos` for `ceres::Jet`, as `tmp` will have a divide by 0:
[code]

[2021-01-29 19:51] alexsmac commented on #655
As `acos(x)` is only defined for `|x| <= 1`, and as the magnitude of its derivative tends to infinity as `x -> +/- 1`, what are you proposing that the Jet should return instead?  The implementation correctly implements the algebraic form of the derivative, and the correct result is indeed not representable, and no subsequent operations using it will produce anything sensible, a returned value of N

[2021-01-29 20:02] psalvaggio commented on #655
Right, the derivative of `acos(x)` goes to infinity at +/- 1, however, in this specific case, the input is just a constant 1, so it winds up being one of those `0 / 0` situations. In this case, I think `[0; 0, 0, 0, 0, 0]` would be the logical output of the function. I wound up just writing a wrapper that checks for this specific case, which makes my optimization work and this value is very unlike

[2021-01-29 20:21] alexsmac commented on #655
Not really, if you erroneously return a derivative of zero you are implying a valid minima has been reached and the solver should terminate if this were the only term (which depending upon the conditions, it might).  That is not an accurate representation of the structure of the problem at that point

[2021-02-03 03:46] b4sgren opened #656 "Issue reading arguments in pose_graph_2d"
When I run the pose_graph_2d example the executable always fails at the check on line 164 (CHECK(FLAGS_input != "")). I have checked the arguments passed to the program via argv and the filename is there but it is failed to be correctly parsed. I got the executable working by replacing FLAGS_input with argv[1] on lines 164 and 169 (where the file is being read). I wasn't sure where to go to fix th

[2021-02-03 10:16] alexsmac commented on #656
The issue is that you are not specifying the input file correctly.  Each gflag value must be proceeded by the name of the flag, so in this case you should invoke the application as follows: `pose_graph_2d -input <FILENAME>`, any extra unqualified values passed will be ignored by the gflags library during parsing.  You can see a full list of the available gflags via `-help`.

[2021-02-03 10:16] #656 closed

[2021-02-04 17:30] r-f-a opened #657 "Parameter lower/upper bounds are not respected if using Central/Ridders diff method"
I'm defining a problem with
1 parameter block with size 4 and a dynamic number of residuals done via `NumericDiffCostFunction`.

The problems is that I cannot used any `ceres::NumericDiffMethodType` other than `FORWARD`.

If I do that, then Ceres ultimately pass out of bounds values for `x` into my cost functor
`bool operator()(const double* const x, double* residuals)` i.e. the lower and upper bo

[2021-02-05 14:36] alexsmac commented on #657
The parameter bounds specified in the Problem only relate to the domain of the solver's iterations, i.e. the solver will not directly evaluate a point `x` that lies outside of those bounds.  However, what is happening here is that although the solver is evaluating a point that is within those bounds, the evaluation of the jacobian at that point via numeric differentiation involves evaluating outsi

[2021-02-06 18:21] r-f-a commented on #657
Thanks for the response.

When you say "returning false from `Evaluate()`" do you mean to return false from
my cost functor `bool operator()(const double* const x, double* residuals)` function?

I modified my functor to be like this:

[code]

Unfortunately this causes about 40 MB logged to stderr
all repeating the same error:

[code]

[2021-02-07 06:52] ZhaoFireFireFire opened #658 "Different memory footprint on pc and arm"
Hi, great contributors.

I'm facing the problem of memory footprint on pose graph optimization problem. That's, I build and solve the non-linear optimization problem with 800 parameter blocks and around 600 residual blocks. But I saw the memory footprint is 20m on pc, and  its memory footprint is 100m on arm. What causes this to happen?

I'm on Ubuntu 16.04 with cmake version 3.5.1 and gcc version

[2021-02-08 02:19] r-f-a commented on #657
Just to make my use case a bit less abstract:

In my cost functor I make some calculations using input `x` in `operator()` function body.

Input `x` is like a mathematical vector with 4 components.
one of them representing _time_ which has constraints like `>=0` at multiple places.

If I try to use e.g. `CENTRAL` schema the functions in my project and Boost's
end up getting called with negative ti

[2021-02-09 08:32] alexandervakhitov opened #659 "Compilng with non-standard Ceres location"
Hi!
I use ceres with ubuntu. Thank you for the library, use it for many years and find it very convenient.
Current issue: due to an important reason, I have ceres 1.14 installed in the default location in /usr/local. Now I wish to build COLMAP (https://colmap.github.io/). I install ceres into a custom location, and then I try to make colmap to use it. Tried two different ways without success:
1) u

[2021-02-14 03:13] dzywater opened #660 "Why is there no RotationMatrixToEulerAngle in rotation.h"
Ceres provides many conversions of different rotation representations.
The only absence is RotationMatrixToEulerAngle. That's Why?

[2021-02-14 05:15] sandwichmaker commented on #660
Never needed it. If you need one please write one I will be happy to add it.

On Sat, Feb 13, 2021, 7:13 PM dzyGIT <notifications@github.com> wrote:

[2021-02-16 17:50] #660 closed

[2021-02-16 17:51] sandwichmaker commented on #659
@alexsmac ?

[2021-02-16 17:51] sandwichmaker commented on #658
I haven't a clue. Are you using the same linear algebra libraries and the same linear solver in both cases? that would be the only difference that I can think of.

[2021-02-16 17:52] sandwichmaker commented on #657
This is a known problem. The numeric differentiation code is not aware of the bounds on the variables, it should be, similarly it is not aware of manifold structure of manifold valued variables.

[2021-02-16 17:53] sandwichmaker commented on #655
0 as the output when the actual quantity being computed is 0/0 is not a reasonable option.

[2021-02-16 17:53] #655 closed

[2021-02-16 17:54] #652 closed

[2021-02-17 03:10] ZhaoFireFireFire opened #662 "I haven't a clue. Are you using the same linear algebra libraries and the same linear solver in both cases? that would be the only difference that I can think of."
I haven't a clue. Are you using the same linear algebra libraries and the same linear solver in both cases? that would be the only difference that I can think of.

_Originally posted by @sandwichmaker in https://github.com/ceres-solver/ceres-solver/issues/658#issuecomment-780010004_

Yeah, it's the same linear algebra libraries and the same linear solver. I try using the ceres-solver 2.0.1 and the

[2021-02-17 03:11] #662 closed

[2021-02-17 03:12] ZhaoFireFireFire commented on #658
Yeah, it's the same linear algebra libraries and the same linear solver. I try using the ceres-solver 2.0.1 and the memory usage is same on arm and on pc. It's puzzling.

[2021-02-20 18:49] shanexn commented on #227
I met the same problem, and figured it out under both Release and Debug in VS2017 by doing two steps:
1. define "GOOGLE_GLOG_DLL_DECL" before including logging.h;
2. link "shlwapi.lib" in your project.
 I hope this will help.

[2021-02-22 17:28] BrannonKing opened #663 "Question about floor'(x) == 0"
I recognize that the ceil/floor functions are flat, and that a zero derivative is technically correct. However, if you zoom out and look at the big picture, and consider the question of "which way should I go to make floor(x) smaller?", then having the derivative of floor(x) be x is not so unreasonable. x divided by its possible range is also a potential. Alternatively we could use a rotated cosin

[2021-02-22 17:36] sandwichmaker commented on #663
Brannon jets are not based on step size. it uses exact derivatives. That said, if you want to use a smooth approximation to floor/ceil you are free to use one.

[2021-02-22 19:32] #663 closed

[2021-02-26 10:01] ghost opened #664 "Non deterministic behavior in schur elimination"
Hello,

I observed a non deterministic behavior when using ceres solver for a bundle adjustment problem.

- Launch the same program with exactly the same data twice : the result provided by ceres changes.
- If we disable threading in ceres, it is deterministic.

Going deeper and deeper in the code, I found that the problem lies in the function

`SchurEliminator<kRowBlockSize, kEBlockSize, kFBlockS

[2021-02-26 16:55] sandwichmaker commented on #664
This is a known issue. Threading, floating point operations on poorly conditioned operations are a problem.

[2021-02-26 21:45] fabiencastan commented on #664
@sandwichmaker Could we accumulate per thread and merge the results at the end to ensure the repeatability? This would ensure that the processing order between the threads will not change the final result.

[2021-02-27 15:11] sandwichmaker commented on #664
That will not fix the problem Fabien. Since the distribution of work per thread is not deterministic either. But suppose it does do that, we will still need to spend num_threads copies of the schur complement to do this, which is not at all cheap for problems where threading matters.

The fact that you are seeing different results indicates that the problem is quite numerically sensitive/poorly co

[2021-02-27 21:17] fabiencastan commented on #664
Thank you for the explanation.

[2021-02-28 23:25] kloczek commented on #633
Indeed it is. Looks like ceres-solver is not glog 0.4.0 ready.

[2021-03-01 09:35] dabosch opened #665 "Unable to run solver in parallel"
Hi all,

I newly discovered ceres solver and am trying to solve a rather huge problem on a high performance computer with 64 cores (pothentially I could use SMT too). While the function I want to minimize runs quite efficient on all cores (using openMP) I am unable to get the solver running multithreaded. I can see that most of the time is spent utilizing only one CPU core.

Even for a small examp

[2021-03-04 00:50] richmattes opened #667 "small_blas_test failure on ppc64le and aarch64"
I'm seeing `small_blas_test` failures on Fedora 35, on a couple of non-x86 architectures.  Full error text is below, it looks like the precision of some operations isn't enough for the thresholds.

## Environment
Fedora 35
ceres-solver 2.0.0
eigen3-3.3.9
openblas-0.3.12

Full environment (root.log) and build logs (build.log) will be available for a week [here](https://koji.fedoraproject.org/koji/t

[2021-03-04 21:51] richmattes commented on #667
#158 looks related, so I tried increasing the multiplier used to calculate the kThreshold value from 3.0 to 5.0, and all of the above tests passed (4.0 did not eliminate all of the errors).  Blindly increasing thresholds doesn't seem like the best way to correct test failures, but the numerical difference between the result and 0 is still very small.

[2021-03-11 22:12] yiping opened #668 "levenberg_marquardt_strategy_test build issue on MSVC 2019 with miniglog"
https://github.com/ceres-solver/ceres-solver/blob/542613c13d8b7469822aff5eec076f2cad4507ec/internal/ceres/levenberg_marquardt_strategy_test.cc#L156

If I build `levenberg_marquardt_strategy_test` in MSVC 2019 and use **miniglog**, the test fails to build with the following error

error C2065: 'GLOG_WARNING': undeclared identifier

If I change `'GLOG_WARNING` to `google::WARNING` on line 156, the t

[2021-03-14 22:08] bayandin opened #669 "cmake script is not compatible with TBB 2021.1"
When I try to build `ceres-solver` with tbb [2021.1.1](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.1.1) it fails an with error:
[code]

It turns out, that file [`tbb/tbb_stddef.h`](https://github.com/oneapi-src/oneTBB/blob/v2020.3/include/tbb/tbb_stddef.h) was removed from tbb 2021.1, and now there's [`oneapi/tbb/version.h`](https://github.com/oneapi-src/oneTBB/blob/v2021.1.1/include/o

[2021-03-15 03:31] AdrianTianyi opened #670 "Does Ceres provide interface to user-defined linear least square problem solvers in, e.g., LM method?"
Hi all,

I want to use Ceres to solve a BA related problem. Though the solvers Ceres provides are excellent, I wonder if Ceres has provided an interface so that when I am using LM method, in each step, it can solve the linear least square problem with my solver?

Thanks a lot!

[2021-03-15 13:50] alexsmac commented on #670
The linear solver is not part of the public API of Ceres, so doing this will require that you modify Ceres itself.  However, the API is defined by the internal class: [LinearSolver](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/linear_solver.h#L104).  Provided that you implemented that API, and updated the [relevant factory method](https://github.com/ceres-solver/ceres-so

[2021-03-15 14:19] alexsmac commented on #669
Thanks for the report, this should be fixed by [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/18500) that should be merged shortly

[2021-03-15 16:30] #669 closed

[2021-03-15 16:42] AdrianTianyi commented on #670
Thanks for your ideas! I will try this method.

[2021-03-15 17:10] bayandin commented on #669
Thanks!

[2021-03-16 15:07] whuaegeanse opened #671 "Why does ceres allow cost function sharing?"
Why does ceres allow sharing of cost function? Is it necessary? If two identical cost functions are allowed, does ceres work properly? Because, at this time, the error equations corresponding to the two cost functions are linearly related.
[code](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/problem_impl.h#L209)

[2021-03-17 15:37] alexsmac commented on #671
A residual block is formed from the combination of: {CostFunction, LossFunction, ParameterBlocks}, it is not true that if the same CostFunction instance is reused in multiple ResidualBlocks that the resulting costs (or the weighted residuals) are necessarily linearly related.

The LossFunction can be different, although more importantly the ParameterBlocks used to evaluate the CostFunction can be

[2021-03-17 15:37] #671 closed

[2021-03-18 20:44] yiping opened #672 "Update comment for angleAxisRotatePoint in rotation.h"
https://github.com/ceres-solver/ceres-solver/blob/66b4c33e817ec34d64c7513950e74a3382e06662/include/ceres/rotation.h#L626-L650

On line 627, `angle w` --> `angle theta`
On line 633, `hat(w)` --> `hat(angle_axis)`
On line 636, `w x pt` --> `angle_axis x pt`

The actual implementation is correct, just need to update the comment section.

[2021-03-19 02:40] erichlf commented on #323
Why is this a won't fix? This is an issue with projects that create their own `LOG` macro. I am having exactly this issue and all I had done was `#include <ceres/ceres.h>`. Instead of patching the code I created a new macro that could tell the difference between our internal `LOG` and `GLOG_LOG`.

[2021-03-23 13:24] NikolausDemmel commented on #659
Maybe have a look at cmake's documentation for `find_package`: https://cmake.org/cmake/help/v3.20/command/find_package.html#search-procedure (or select the version of cmake that you are using, as this has evolved over time). This is how Colmap finds Ceres.

I think what should work is either the `<PackageName>_ROOT` or `<PackageName>_DIR` variables, i.e. `Ceres_ROOT` and `Ceres_DIR`. This needs to

[2021-03-23 13:35] NikolausDemmel commented on #665
Ceres should parallelize residual and jacobian evaluation very well. Probably you will see that runtime in the report increase a lot, if you set the number of threads for ceres to use to 1.

The biggest (remaining) runtime is spent on the linear solver, which doesn't really have good parallelization. The sparse linear algebra libraries that ceres uses don't have multithreading implemented, and for

[2021-03-29 17:05] WilliamWangPeng opened #675 "Errors when installing ceres"
HI dear experts,
    Honor to write a letter here, when I put

![image](https://user-images.githubusercontent.com/51076736/112872720-49877980-90f3-11eb-96c4-8eb7f626b905.png)

[code]
    How can I correct this in CMakeLists.txt

thank you
best regards
William

[2021-03-30 19:58] sandwichmaker commented on #675
this is odd, can you describe your build environment?

[2021-04-09 02:59] ghanta1996 commented on #539
Hi, I'm trying to `catkin build` the `ceres-solver` from my ros workspace. I'm getting this message.

[code]
I'm using ubuntu16.04. Any help would be appreciated. Thanks

[2021-04-09 06:43] qiuyu09130408 opened #676 "ubuntu 16.04 kinetic eigen 3.2.9 error"
/ceres/gtest/gtest.h:10445:35: error: variable or field ‘it’ declared void
   for (typename C::const_iterator it = container.beg
Do you know how to solve this situation?
Thanks for your answer

[2021-04-13 12:47] samfux84 commented on #571
Same problem here.

Eigen3_DIR points to

/cluster/spack/apps/linux-centos7-x86_64/gcc-6.3.0/eigen-3.3.3-udbfpirelss7yryfxmfp3hacfbakvibv/share/eigen3/cmake

which contains the required files:

[code]

but I still get the error

[code]

The CMakeLists.txt contains the following statement at line 232:

`add_library(ceres ${CERES_LIBRARY_SOURCE})`

Do you have any idea on how to fix this problem?

[2021-04-18 15:58] whuaegeanse opened #677 "ceres-script is a python script to build ceres solver, simple and easy to use, especially on Windows platform"
Building ceres solver on Windows platform is a very troublesome task, because it relies on third-party libraries such as glog, gflag, eigen, lapack, blas, suitesparse and so on. It may take several hours to download and configure these third-party libraries. The foundation of this project comes from the build script of colmap, which greatly reduces the difficulty of building on Windows platform. O

[2021-04-18 21:37] melhashash commented on #677
Thanks for sharing. For Windows, the easiest way I found is to use vcpkg.

[2021-04-19 02:55] whuaegeanse commented on #677
@melhashash Thanks you for quick reply.
I just tried to build ceres with vcpkg, it is really very convenient. ceres-script provides another option, especially suitable for ceres solver developers and users on windows. Because the user can easily specify the version of ceres solver, whether it is the stable version or the master version. Of course, the version of the third-party libraries that cere

[2021-04-25 15:45] changh95 opened #678 "Building ceres with custom Eigen path + compatibility with Eigen 3.3.9"
Hi,

I'm currently **trying to build Ceres with my pre-built Eigen library v3.3.9**. I also have Eigen v3.3.7 built in the /usr/, but my goal is to build Ceres with the Eigen v3.3.9 for a specific project. But I keep on getting the message `Found required Ceres dependency: Eigen version 3.3.7 in /usr/include/eigen3` when building my project with the Ceres which I tried to build with v3.3.9.

**Wha

[2021-04-25 17:55] alexsmac commented on #678
What version of Ceres are you trying to use?  Assuming that it is either the latest 2.0.0 release (or master), then [as per the latest docs for specifying external dependencies](http://ceres-solver.org/installation.html#options-controlling-ceres-dependency-locations) you should be specifying `Eigen3_DIR`, *not* the legacy `EIGEN_<XXX>_DIR_HINTS` variables.  You should set `Eigen3_DIR` to the path

[2021-04-25 17:55] #678 closed

[2021-04-26 02:36] changh95 commented on #678
It worked, thank you! :)

[2021-05-28 08:41] weisongwen opened #679 "Using the cumulated probability function in BOOST for the Jet auto-differentiation"
Thanks again for sharing such as good package for non-linear optimization. Currently, I wish to fit a curve with [Exponentially modified Gaussian distribution](https://en.wikipedia.org/wiki/Exponentially_modified_Gaussian_distribution) using the Ceres-solver. To achieve this, I wish to use the auto-differentiation function with Jet data format. However, the function [erfc()](https://en.wikipedia.o

[2021-05-28 23:06] sandwichmaker commented on #679
why do you need to use the boost implementation of erfc ? just use the erfc in ceres ? since c++ already supports std::erfc.

[2021-05-29 04:04] weisongwen commented on #679
Hi @sandwichmaker  Thanks for your suggestions! I did this but I got similar errors
[code]
As the Jet type is not applicable in the  std::erfc function. Meanwhile, I look into the jet.h file and I found that the erfc is not defined in the ceres::. Do you have any suggestions? :-)

Many thanks,
Weisong Wen,

[2021-05-29 04:05] sandwichmaker commented on #679
What version of ceres are you using?

On Fri, May 28, 2021, 9:04 PM Welson ***@***.***> wrote:

[2021-05-29 04:10] weisongwen commented on #679
Hi @sandwichmaker  My ceres-solver version is as follows:
[code]

[2021-05-29 04:11] sandwichmaker commented on #679
That's an ancient version of ceres.
Please use ceres 2.0

On Fri, May 28, 2021, 9:10 PM Welson ***@***.***> wrote:

[2021-05-29 04:13] weisongwen commented on #679
@sandwichmaker  Thanks, I will do this accordingly :-)

[2021-06-02 07:56] HP-Yin opened #680 "jacobians turn into nullptr after iteration once and segmentation fault happened"
Hi, I'm dealing with a weird problem when trying to optimize a problem, after  `ceres::Solve` ,segmentation fault happened after after iteration once, but no additional errors reported. After checking the `Evaluate` function and print the address of ` double **jacobians`, I found that the pointer turn into `nullptr`,
How to solve the problem.
Thanks.
![ceres error](https://user-images.githubuserco

[2021-06-02 08:28] alexsmac commented on #680
This is expected, as per the documentation for CostFunction::Evaluate
<http://ceres-solver.org/nnls_modeling.html#_CPPv4N5ceres12CostFunction8EvaluateEPPCKdPdPPd>,
if jacobians or jacobians[i] are nullptr it means that Ceres does not
require them at that iteration and they do not need to be calculated.

On Wed, 2 Jun 2021 at 08:56, HP_Yin ***@***.***> wrote:

[2021-06-02 11:58] HP-Yin commented on #680
[code]
is used when calculating jacobians and peoblem solved, Thanks!

[2021-06-06 22:30] #679 closed

[2021-06-06 22:30] #680 closed

[2021-06-07 23:33] MrMabulous opened #681 "aparently can't set max_num_consecutive_invalid_steps"
I keep getting the following commandline output while solving problems:

`trust_region_minimizer.cc:97 Terminating: Number of consecutive invalid steps more than Solver::Options::max_num_consecutive_invalid_steps: 5`

Explicitly setting max_num_consecutive_invalid_steps higher doesn't change that, the messages still say that it was 5. That's how I setup the solver:

[code]

it looks like the Solve

[2021-06-08 01:11] sandwichmaker commented on #681
Could you share the execution log and the output of Summary::FullReport please? Because I just tried injecting an error and it worked correctly.

[2021-06-08 06:42] yutaka329 opened #682 "How to close log of callback.cc on Android platform"
Hi, I run ceres-solver on Android. please help me .
the option code is as:
{
	ceres::Solver::Options options;
	ceres::Solver::Summary summary;
	options.max_num_iterations = 100;/
	options.linear_solver_type = ceres::DENSE_NORMAL_CHOLESKY;
	options.minimizer_progress_to_stdout = false;
	options.num_threads = 1;
	ceres::Solve(options, &problem, &summary);
}
but  still got the android ceres log, as b

[2021-06-08 06:50] #682 closed

[2021-06-08 06:51] yutaka329 commented on #682
find ceres::LoggingType::SILENT. close it .

[2021-06-08 18:07] sandwichmaker commented on #675
Closing because no more details were provided. Please feel free to reopen with details.

[2021-06-08 18:07] #675 closed

[2021-06-08 18:07] #670 closed

[2021-06-18 10:18] Learningm opened #683 "Windows build ceres using /MT but can not bulid helloworld sample, getting conflict between glog.lib with libcpmt.lib"
Hi, I download gflags and glogs the latest tag version (2.2.2 and 0.5.0) and ceres (1.13.0), and use Visual Studio 2015 to build ceres lib.

The project was setting /MD in default, due to the dependency of my other project was built in /MT, I need to build ceres in /MT mode.

![image](https://user-images.githubusercontent.com/13192241/122545838-e4438480-d060-11eb-9fc9-9767673f6625.png)

Also, the

[2021-06-18 10:34] alexsmac commented on #683
Several points:
* Ceres 1.13 is *ancient* and no longer supported, the latest Ceres release is 2.0
* If you really want to build against the static runtime (implied by libcpmt), then you should enable the `MSVC_USE_STATIC_CRT` option in Ceres' CMake when building Ceres
* Why are you trying to build Ceres statically when glog (at least) appears to be built as a dynamic library?

[2021-06-19 11:34] Learningm commented on #683
Thanks for your quick response.
* My project is stable using ceres 1.13.0 version on other platforms so I may not upgrade to the latest version.
* Got it.
* I miss checking default glog cmake configuration. You saved my day!

Thank you! The samples can be built and run successfully now!

[2021-06-19 11:34] #683 closed

[2021-06-21 01:54] #677 closed

[2021-06-23 11:20] MrMabulous commented on #412
I'm running into the same problem.

It would be good to support long ints, not just for this, but also in order to use GPU acceleration with SuiteSparse (SuiteSpare can use GPU acceleration for cholmod, but only for the long-int version of the calls)

[2021-06-28 07:15] PhuDoTuong commented on #590
Hello, I followed instructions at [](https://www.cnblogs.com/Pyrokine/p/14636228.html). I used glog 0.5.0 and VS2017 instead.

[2021-06-28 07:21] PhuDoTuong commented on #590
Hello, I followed instructions at https://www.cnblogs.com/Pyrokine/p/14636228.html. Also, I used glog 0.5.0 and **VS2017** instead.

[2021-06-28 14:34] melhashash commented on #590
You can use vcpkg to install ceres.

[2021-06-29 14:27] MrMabulous opened #684 "Feature Request: Support 64bit indices for sparse problems"
There would be two significant benefits of having support for 64bit indices for sparse matrices - support for larger problems and GPU acceleration.

I know that this has been investigated before (https://github.com/ceres-solver/ceres-solver/issues/412) and deemed too big of a change, but I'd like to ask for this to be evaluated again, as it would not only allow ceres to solve larger problems, but

[2021-06-30 16:11] AustinMooreT opened #685 "Segmentation Fault with HelloWorld example"
I've built the most recent stable release of ceres in ubuntu 20.04 docker image. All tests pass, but when I try to build my own hello world program I get a segmentation fault.

This is my code. Copied from the ceres tutorial.

[code]

Note that I've commented out the BriefReport(). When I don't I end up with a linker error failing with an undefined reference to BriefReport.

Lastly I will attach m

[2021-07-02 15:24] tianhaoxie opened #687 "linker command failed when build helloworld.cc"
Hi, I tried to build a simple ceres solver project with only helloworld.cc by cmake. The cmakelist is
`project(ceres_lab)

find_package(Ceres REQUIRED)
add_executable(ceres_lab main.cpp)

target_link_libraries( ceres_lab Ceres::ceres)`

**When I tried to make it, there were errors:**

`Undefined symbols for architecture x86_64:
  "google::kLogSiteUninitialized", referenced from:
      ceres::Solve

[2021-07-02 17:09] sandwichmaker commented on #681
gentle ping?

[2021-07-02 17:09] sandwichmaker commented on #676
Closing because lack of info.

[2021-07-02 17:09] #676 closed

[2021-07-02 17:11] sandwichmaker commented on #667
This does look like a tolerance/vectorization thing.

[2021-07-06 03:35] Y-pandaman opened #688 "integer results"
hello，Is it normal that I get integer results with ceres optimization? What is wrong with it?

[2021-07-06 03:40] sandwichmaker commented on #688
Your question has no context or details. What are you hoping as an answer here? Please post your question again with details of what you are trying to do, what was the expected answer and the answer that Ceres Solver returned.

[2021-07-06 03:40] #688 closed

[2021-07-06 06:18] Y-pandaman opened #689 "integer results"
hello，Is it normal that I get integer results with ceres optimization? What is wrong with it?
I am going to optimize x and y. The result should be x=7.019328,y=149.3294324253,something like this, with decimals,But the result looks like this：
iter      cost      cost_change  |gradient|   |step|    tr_ratio  tr_radius  ls_iter  iter_time  total_time
   0  1.378357e-03    0.00e+00    6.52e-07   0.00e

[2021-07-06 13:21] sandwichmaker commented on #689
Ceres works on doubles so there is no reason why it should necessarily
return integers.

It is possible that your problem or your implementation of the problem has
a local minimum at the integer values you obtained but it is impossible to
say more without looking at your code.

On Mon, Jul 5, 2021, 11:19 PM pandaman ***@***.***> wrote:

[2021-07-08 03:14] Y-pandaman commented on #689
Here is my main code:
[code]

[code]

[2021-07-09 08:00] NeroBurner commented on #685
`v2.0.0` is working for me here (compiling and running your example). Can you provide more info on how you built your ceres-solver binary

[2021-07-11 17:25] jacklu333333 opened #690 "Version 1.9 Eigen3 Dependency"
Hi, I am trying to install ceres 1.9 on my ubuntu 18. Which eigen3 version is the ceres-solver required? I have tried multiple versions, but none of them seems to works.

Please help me.
Thanks.

[2021-07-11 20:26] sandwichmaker commented on #690
What error are you getting?

On Sun, Jul 11, 2021, 10:25 AM jacklu333333 ***@***.***>
wrote:

[2021-07-12 04:18] jacklu333333 commented on #690
This is my environment configuration.

OS: `ubuntu 18.04`
g++: `gcc version 7.5.0`
cmake: `cmake version 3.10.2`

I am using `Eigen3 version 3.4`, but somehow the environment detected it as `3.3.91`.

[code]

This is my error.
[code]

[2021-07-12 08:50] alexsmac commented on #690
Eigen often reports a high trailing patch version number for beta releases.  I assume your specific Eigen package is built from one of those and hence why it reports a beta patch number, that in and of itself is likely not a major concern if the package is from a standard source.  You can verify the result of Ceres' Eigen version extraction by manually inspecting the version information provided w

[2021-07-12 08:50] #690 closed

[2021-07-16 13:19] sandwichmaker commented on #689
How do you know that the result should be x=7.019328,y=149.3294324253?
do you still get an integer result if you terminate the solver early?

[2021-07-16 13:19] sandwichmaker commented on #687
you do not seem to be linking to glog.

[2021-07-16 13:20] sandwichmaker commented on #685
Since there is no further update on the issue I am closing it, please feel free to reopen if you have more details

[2021-07-16 13:20] #685 closed

[2021-07-16 13:20] sandwichmaker commented on #681
Closing because lack of response.

[2021-07-16 13:20] #681 closed

[2021-07-16 13:23] sandwichmaker opened #691 "Add NumericDiffFirstOrderFunction"
Adding a numerically differentiated first order function will make the unconstrained optimizer much easier to use.

[2021-07-16 13:25] tianhaoxie commented on #687
Thanks for your reply. I have tried to add glog in the target_link_libraries, but it failed. What is the true way to link to glog? Really thanks!

[2021-07-18 10:15] weisongwen opened #692 "Problem of using SetParameterUpperBound"
Hi @sandwichmaker  Thanks again for your great sharing on this package. In my project, I wish to estimate the position of the vehicle based on the sensor data. Since I already know the velocity of the vehicle is smaller. Therefore, I wish to set an upper and lower bound to the velocity state using the following code:
[code]
In my implementation, I correlate the velocity and the position using a co

[2021-07-21 19:45] sandwichmaker commented on #692
Weisong thats hard to say. your position has to push against the velocity bounds to be affected by it and that will depend on the full optimization problem and the specific values. It is hard to say anything more by just looking at this cost function.

[2021-07-22 01:02] weisongwen commented on #692
Hi @sandwichmaker ,

Thanks for your kind reply, I really like this Ceres-solver community!

Yes, I agree. But overall, you mean that the bound of the velocity can definitely affect the estimation of the position although the final impacts are determined by the overall optimization problem, am I correct?

One more thing, I really interested in how you achieve this optimization problem with bound c

[2021-07-22 10:05] cumtchenchang opened #693 "compressed_row_sparse_matrix"
When I use ceres, I encounter many logs about ceres::CRSMatrix:
compressed_row_sparse_matrix.cc:149 # of rows: 20 # of columns: 3 max_num_nonzeros: 63. Allocating 840
compressed_row_sparse_matrix.cc:149 # of rows: 16 # of columns: 6 max_num_nonzeros: 102. Allocating 1292
compressed_row_sparse_matrix.cc:149 # of rows: 20 # of columns: 3 max_num_nonzeros: 63. Allocating 840
compressed_row_sparse_mat

[2021-07-22 18:00] sandwichmaker commented on #693
You are using miniglog. Use the full glog please.

On Thu, Jul 22, 2021, 3:06 AM Chang Chen(陈常) ***@***.***>
wrote:

[2021-07-27 14:27] #693 closed

[2021-07-27 14:29] sandwichmaker commented on #692
Yes you are correct.
The correct implementation of bounds constrained optimization is basically a bounds constrained line search after computing the trust region step. The reference we use is

C. Kanzow, N. Yamashita and M. Fukushima, Levenberg-Marquardt methods with strong local convergence properties for solving nonlinear equations with convex constraints, Journal of Computational and Applied Ma

[2021-07-28 09:37] weisongwen commented on #692
hi @sandwichmaker

Thanks for the reply and the recommendation of the paper. I will look into the code you recommend first.

Thanks,
Weisong,

[2021-07-31 02:17] amy-tabb commented on #665
To get ceres to run with more than one thread enabled, you have to set it up such that OpenMP is enabled (which you mentioned) and also set the number of threads variable to be > 1. (The default value is 1, *even if you have OpenMP enabled*. It took me a long time to find this.)

Class reference,

[Solver::Options::num_threads](http://ceres-solver.org/nnls_solving.html?highlight=openmp#_CPPv4N5cer

[2021-07-31 02:27] amy-tabb opened #694 "Documentation about running with OpenMP"
The default value for [Solver::Options::num_threads](http://ceres-solver.org/nnls_solving.html?highlight=openmp#_CPPv4N5ceres6Solver7Options11num_threadsE) is 1.  Searching the documentation for 'OpenMP' or 'parallel' does not return the `num_threads` class member.  In my experience setting `num_threads > 1` is key for getting Ceres to run multi-threaded and/or efficiently on multi-core processors

[2021-07-31 05:54] sandwichmaker commented on #694
Amy that would be great!

On Fri, Jul 30, 2021 at 7:28 PM Amy Tabb ***@***.***> wrote:

[2021-07-31 09:58] alexsmac commented on #665
OpenMP is not required to use threads in recent versions of Ceres, and from
2.0 the default is actually to use C++11 threads which are more portable,
although OpenMP is still available if you want to use it.

Which threading model is used is configurable at build time via the
CERES_THREADING_MODEL variable.

-A

On Sat, 31 Jul 2021 at 03:18, Amy Tabb ***@***.***> wrote:

[2021-08-09 23:48] federkamm opened #695 "compile error: 2 * Jet<double, 1>();"
Multiplying a `Jet<double, 1>` by an integral constant results in a compiler error.  That is quite unfortunate as libraries sometimes use code like

[code]

and Ceres can't auto differentiate them.

Minimal example:

[code]

[2021-08-09 23:50] federkamm commented on #695
See Pull Request #696 for a possible solution

[2021-08-09 23:54] sandwichmaker commented on #695
This is by design. We disallow binary operations with integers because it is the source of a lot of inadvertent errors in the past.

[2021-08-10 02:41] alexkaratarakis opened #697 "Preparation step shared across cost functions"
I have a cost function with 10-20 residuals each of which can be calculated in parallel. Therefore, I am trying to leverage the solver's parallelism.
There is a somewhat expensive preparation step before getting to the embarrassingly parallel part, so I am trying to extract that out to avoid recalculation. In a nutshell, it looks like this:

[code]

I found [EvaluationCallback](http://ceres-solver

[2021-08-10 08:28] alexsmac commented on #697
Yes, in fact the original rationale behind EvaluationCallback was to support residuals that were evaluated en-masse on a GPU but represented as independent CostFunctions in a Ceres problem.  As per the docs [here](https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/evaluation_callback.h#L68) and [here](http://ceres-solver.org/nnls_modeling.html?highlight=evaluationcallback#_CPPv

[2021-08-10 10:07] cute-duck opened #698 "cross compile can't find lapcak"
i had cross compiled lapack ,which from https://github.com/Reference-LAPACK/lapack.this is my lapack library:
![2021-08-10 17-59-45屏幕截图](https://user-images.githubusercontent.com/20561247/128847841-7795d315-72d2-4bc0-a4c7-cfa9417c2e11.png)

when i use cmake-gui,to cross compile ceres ,can not find lapcak,should i write findlapck.cmake for find_packge(lapack),but it is difficult for me,or there may

[2021-08-10 10:51] alexsmac commented on #698
This is not a Ceres-specific question, we use the stock FindBLAS and FindLAPACK scripts provided by CMake and so this question relates how to configure them to find a BLAS/LAPACK installation in a non-standard location.  You should be able to control this by setting [CMAKE_PREFIX_PATH](https://cmake.org/cmake/help/v3.21/variable/CMAKE_PREFIX_PATH.html) to include the custom install directory.  If

[2021-08-10 10:51] #698 closed

[2021-08-10 11:32] sergiud commented on #698
For cross-compiling you actually need [`CMAKE_FIND_ROOT_PATH`](https://cmake.org/cmake/help/latest/variable/CMAKE_FIND_ROOT_PATH.html) not `CMAKE_PREFIX_PATH`.

[2021-08-10 12:31] federkamm commented on #695
Can you explain a little bit on this or give a reference to such an error?  From a mathematical point of view I would expect the natural morphism IZ -> R from the integers to a Ring/Algebra exists (ie. is implemented) and doesn't cause troubles.

[2021-08-11 04:20] sandwichmaker commented on #697
One more point, EvaluateCallback is called Once everytime before the whole problem is evaluated. So there is no i, what you need to do is evaluate and cache the whole Jacobian and then use the Evaluate() method of your costfunctions to copy from the cache into the residual vector and Jacobian matrices provided to Evaluate.

[2021-08-11 04:23] sandwichmaker commented on #695
There is no mathematical problem. The problem is that if you allow integer arguments, then it is very easy for people to make errors of the form -- lookup_array[std::floor(x)], i.e. use the integer part of an input argument and use it as an index into a lookup array an expect that the derivatives are computed correctly. Or even worse just compute the integer part of x and use it in some computatio

[2021-08-11 21:16] alexkaratarakis commented on #697
I see! Thanks to both replies. I will go through the examples again with this new information.

[2021-08-11 21:16] #697 closed

[2021-08-13 18:02] amy-tabb commented on #694
(Belatedly) Ok, planned for in a couple weeks, I haven't used Gerrit and will have to get that set up. Anything not in [http://ceres-solver.org/contributing.html](http://ceres-solver.org/contributing.html) that I should know for a documentation contribution, please let me know.

[2021-08-13 18:08] sandwichmaker commented on #694
I think you will need sphinx and the sphinx rtd theme installed to build. I
forget if that's included in the contributing docs (on my phone right now).

On Fri, Aug 13, 2021, 11:02 AM Amy Tabb ***@***.***> wrote:

[2021-08-15 01:35] sandwichmaker opened #699 "Update the Problem::ResidualBlock documentation"
Document the behaviour of how cost functions and loss functions are deallocated correctly. The documentation refers to old behaviour.

[2021-08-16 13:36] versatran01 opened #700 "What's the best way to disable a residual block?"
My situation is that I want to add a bunch of residual blocks to a problem instance and reuse it for multiple solves.
This is like an ICP problem where you have to recompute data association after parameters change, which is a non-stationary NLS problem.
Between each solve, after the new data association, I want to disable/enable some of the already added residual blocks depends on the results.
Wh

[2021-08-16 14:05] sandwichmaker commented on #700
Returning false will not work as it will cause the whole evaluation to fail. Why not just add and remove residuals as needed?
No you cannot pre-allocate the a max number of residuals. What are you trying to optimize ? Problem construction is quite fast and usually a negligible component of the actual solve time.

[2021-08-16 17:40] versatran01 commented on #700
If returning false is a no-go, then would it make sense to set residual to 0 in Evaluate()?

My problem is fairly small (around 400 residual blocks with 2 parameter blocks), my timing shows that building then problem takes around 300us and solve takes around 1ms (for 2~3 iterations).
Because it's an ICP problem it needs to redo the data association after each solve, which means it needs to rebuild

[2021-08-17 03:55] sandwichmaker commented on #700
sure you can set the residual AND Jacobian to zero. But it will increase
the size of the problem that you are solving.
If your problem is so small, then why not just have a single costfunction?
since your jacobian is completely dense, you will actually be better off
doing that then having multiple cost functions and having that overhead.

Sameer

On Mon, Aug 16, 2021 at 10:40 AM Chao Qu ***@***.**

[2021-08-17 05:00] versatran01 commented on #700
Just want to clarify, when you say have a single cost function, do you mean a single residual block?
So instead of having multiple residual blocks (each corresponding to one point-to-point match), just have a single residual block that contains all the matches and determine which one to disable inside a for loop in Evaluate()?

[2021-08-17 05:53] sandwichmaker commented on #700
Yeah. This will work if you do not have a loss function.

On Mon, Aug 16, 2021, 10:00 PM Chao Qu ***@***.***> wrote:

[2021-08-17 13:01] versatran01 commented on #700
Thanks. Since the GitHub email didn't include my later edits, I just want to ask again that if I combine all residual blocks (N) into one, I should also increase the num_residuals of the new cost function by N times? or is it ok to accumulate each one using an in-place operator like r[0] += r_i?

This also precludes multi-threaded evaluation of Jacobian, right?

[2021-08-17 13:41] sandwichmaker commented on #700
Yes you need to increase the number of residuals. Do not accumulate. You
can do your own threading if you need it.

On Tue, Aug 17, 2021, 6:01 AM Chao Qu ***@***.***> wrote:

[2021-08-27 10:19] tangobravo opened #701 "Typo in example code in docs"
http://ceres-solver.org/interfacing_with_autodiff.html

That page currently includes this example function:
[code]

The undefined variable `y2` in the final line should I presume be `r2`.

[2021-08-31 08:05] Ubpa opened #702 "dll - crt bug in CostFunction"
`class CostFunction` has a member variable `std::vector<int32_t> parameter_block_sizes_`, which will be initialized by `mutable_parameter_block_sizes()`。

When using the shared library, `class CostFunction` will be exported, but template `class SizedCostFunction` isn't exported.
The ctor of `class SizedCostFunction` will initialize `parameter_block_sizes_`.

But the memory of `std::vector<int32_t>

[2021-09-01 22:35] versatran01 commented on #492
TinySolver may be missing a few noalias() calls.
[code]

I would also like to propose a small change to TinySolver, which is to allocate storage using std::vector and use Eigen::Map.
It looks like this
[code]
I can do a PR if you think this is useful.

[2021-09-01 23:26] sandwichmaker commented on #492
I'd like to understand, why do you think we are missing some noalias calls?
also I do not understand the reason for your proposed use of std::vector for storage. Could you elaborate, what problem you are trying to solve?

[2021-09-02 08:57] Ubpa commented on #702
When I try to push in Windows10, a window appears asking me to enter an account and a password, probably because the cookie is not in effect. After a few more attempts, it still doesn't work.

[2021-09-04 16:20] #687 closed

[2021-09-07 18:48] extrowerk commented on #649
Any update here?

[2021-09-13 19:22] sandwichmaker commented on #701
Thanks @tangobravo, I will fix this and credit you.

[2021-09-13 19:22] #695 closed

[2021-09-13 19:22] sandwichmaker commented on #694
Hi Amy any update on this?

[2021-09-13 19:23] sandwichmaker commented on #689
Closing because of no reply. Please re-open if you have more details.

[2021-09-13 19:23] #689 closed

[2021-09-13 19:24] sandwichmaker commented on #672
Thanks @yiping, I will take a look, fix and credit you with the fix.

[2021-09-14 00:16] #701 closed

[2021-09-14 00:25] #672 closed

[2021-09-15 17:27] alexsmac commented on #649
Hi @extrowerk can you clarify what CMake variables you are setting when building for your non-standard environment to control the header (and library) install locations?  Given what you want to achieve, I assume you are specifying `CMAKE_INSTALL_INCLUDEDIR` (which defaults to `include` as per docs [here](https://cmake.org/cmake/help/latest/command/install.html#installing-targets)) is that correct?

[2021-09-16 15:51] extrowerk commented on #649
Hi @alexsmac, as you can see in the linked PR i don't specify anything other than:
[code]

The cmakeDirArgs will be extended by [HaikuPorter ](https://github.com/haikuports/haikuporter) (the build system, this sets up the chroot, mounts the required packages, runs the supplied commands like cmake, and then packages the installed artifacts):
https://github.com/haikuports/haikuporter/blob/226a85daf6

[2021-09-20 20:40] traversaro opened #704 "Question on exact (down to patch level) Eigen version requirement"
Hi Ceres mantainers! First of all, thanks a lot for the amazing work on Ceres.

I am opening this issue as while packaging ceres in [conda-forge](https://conda-forge.org/), we had a doubt on the reason why, when consuming the compiled version of Ceres, it is required to have the exact version of Eigen used to compiled Eigen?

In our limited experience, Eigen 3.* is rather ABI stable, so while we u

[2021-09-21 23:58] sandwichmaker commented on #704
Eigen is header only, and Ceres has templated parts which depend on Eigen. Therefore instead of trying to guess where the ABI breaks across versions of Eigen we demand that you use the exact same version of Eigen.

[2021-09-22 08:36] alexsmac commented on #704
To add more context to this, Eigen ABI incompatibilities have been
identified as the source of a number of reported issues both on the mailing
list and internally over the years.  As it is header only, and exposes
macros which can significantly modify the compiled result (as well as being
sensitive to the compilation flags used), our experience has been that ODR
violations can occur frequently in

[2021-09-22 16:49] versatran01 commented on #492
Here is my proposed change
https://github.com/versatran01/nano_solver

[2021-09-22 20:43] sinaaghli commented on #103
It has been many years since this post, but I was wondering if there is a feature for supplying hessian of very small problems where it could be calculated analytically?
maybe this feature is already available since 2015 ? 🤞

[2021-09-22 23:17] sandwichmaker commented on #704
I will assume that this issue has been resolved, please feel free to re-open it if you have further questions.

[2021-09-22 23:17] #704 closed

[2021-09-22 23:18] sandwichmaker commented on #103
No, there is no plan to add this to ceres.

[2021-09-22 23:23] #691 closed

[2021-09-22 23:24] sandwichmaker commented on #626
ping?

[2021-09-24 11:50] #699 closed

[2021-09-24 11:54] sandwichmaker commented on #573
@ymd-ponyai I finally had a chance to look at this, as I suspected this is an empirical hack that we discovered when experimenting with the Triggs correction. I will add a pointer to the documentation.

[2021-09-24 12:07] sandwichmaker opened #705 "Improve documentation for how to create a new LocalParameterization."
This will likely be done as part of the LocalParameterization/Manifold refactor.

cc: @pablospe

[2021-09-24 12:51] #573 closed

[2021-09-24 23:12] deysumitkr commented on #626
This has been resolved here: https://ceres-solver-review.googlesource.com/c/ceres-solver/+/18620

[2021-09-24 23:19] sandwichmaker commented on #626
Oh perfect, I am sorry I forgot that this had been fixed.

[2021-09-24 23:19] #626 closed

[2021-09-25 17:02] #395 closed

[2021-09-29 17:52] whuaegeanse opened #707 "Reserve memory for STL containers in the class of BlockRandomAccessSparseMatrix"
It is more efficient to reserve memory for containers such as stl::vector, stl::unordered_map.

[cell_values_ and layout_](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/block_random_access_sparse_matrix.cc#L89-L90)

Modify the code like this:
[code]

@sandwichmaker

[2021-10-05 01:01] ArMouReR opened #708 "Run time errors, while using ceres-solver in iOS app"
Hi,

I have compiled ceres in macOS in order to use for an iOS app.
Everything complied successfully, but when I try to use ceres::DENSE_NORMAL_CHOLESKY I am getting exceptions.
The exceptions differ depending on num_threads parameter.
When I set it to more then one I am getting EXC_BAD_ACCESS in inline line below:
[code]
And the log is quiet.

When I set it to one thread I am getting exception in

[2021-10-06 05:19] rainlord opened #709 "Run ceres with openmp was aborted by solve() with error of double free;"
when I run ceres with openmp was aborted by solve() with error of double free; The stack trace as fellow:
so please tell me how should i to fix it? thanks  alot!
Is this related with Macro of eigen,because i set the Macro of -DEIGEN_MALLOC_ALREADY_ALIGNED=0.if i do not set the DEIGEN_MALLOC_ALREADY_ALIGNED ,my program will have error which is  related with eigen alignment error.

*** SIGSEGV (@0x0

[2021-10-13 21:48] JCCPort opened #710 "Dynamic number of variables and loops within function"
Hi,

I'm trying to use ceres for a function that is trying to fit multiple waveforms in a dataset - there are no analytical solutions to this waveform so instead we match to an idealised, data-driven, waveform.

This creates two demands:
- As the data can contain any number of these waveforms I need to be able to use a function that takes a dynamically sized number of variables, the first of which

[2021-10-14 00:56] sandwichmaker commented on #710
Why not create one residual block per waveform?

On Wed, Oct 13, 2021, 2:48 PM Josh Porter ***@***.***> wrote:

[2021-10-17 11:17] EXing opened #711 "invalid memory address when referring parameter_block by residual_block inside Ceres"
As you can see in the image, we get an invalid memory address when access elements in residual_blcok[5]->parameter_blocks().
This happens both in release and debug mode. Both happen in Ceres 1 and Ceres 2.0.0 .
The CXX compiler identification is GNU 7.5.0, use c++ 17.
![bug](https://user-images.githubusercontent.com/8348898/137625070-31902f19-4415-4635-9006-b8d8071b3947.png)

[2021-10-18 07:16] EXing commented on #711
New messages:
I find the value of parameter_blocks_[11]->mutable_user_state() in the function Program::CopyParameterBlockStateToUserState()  is  exactly the same as problem.impl_.get()->program_.get()->residual_blocks_[5]->parameter_blocks_.get().
It means data in 0x556fa7379410 will be overwritten, which cause my error.
![bug2](https://user-images.githubusercontent.com/8348898/137685370-9ea42003-

[2021-10-18 10:16] EXing commented on #711
Issue closed!

Important Note: Do use reserve() with std::vector, especially when you want to use the address of elements.
In my case, std::vector didn't reserve any memory which cause reallocation when push_back().

[2021-10-18 13:33] sandwichmaker commented on #710
Josh, There is a two dimensional bicubic interpolator.

https://github.com/ceres-solver/ceres-solver/blob/master/examples/bicubic_interpolation.cc

On Thu, Oct 14, 2021 at 8:19 AM Josh Porter ***@***.***>
wrote:

[2021-10-18 17:17] sandwichmaker commented on #708
what is the size of your parameter block >? (or did we already discuss this on the mailinglist that you are using too huge of a parameter block size and thats breaking the stack)

[2021-10-18 18:56] ArMouReR commented on #708
Thanks, for reply! Indeed we already discussed it on the mailinglist, so I am closing the issue for now.

[2021-10-18 18:56] #708 closed

[2021-10-20 14:04] #707 closed

[2021-10-22 00:43] sandwichmaker commented on #710
the number of variables in each cost function  are different? or across problems are different?

[2021-10-24 12:53] Chen414 opened #712 "jet.h has some errors"
When i try to run the helloworld.cc,It shows the following error, could someone please teach me how to fix it?
![image](https://user-images.githubusercontent.com/63281608/138595061-02ae2f78-a13b-4a98-b756-bd215551fd87.png)

[2021-10-29 08:21] cute-duck opened #713 "ceres-solve broken with throw_std_bad_alloc()"
Imitate the cartographer to achieve graph_based slam. When the optimized node exceeds 2000, ceres::solve() will apply for a very large and unreasonable memory, and then the program crashes in this place.I guess it is my ceres library compilation error, but I can’t find the possibility What's wrong.
![image](https://user-images.githubusercontent.com/20561247/139401456-76dfb7e3-69cf-4904-a4a5-2cba84

[2021-10-30 08:16] abaldacci commented on #282
Hi,

any updates on this problem?

Thanks

[2021-10-30 08:19] whu-lyh opened #714 "std::shared_ptr<ceres::Problem>() as class member"
Hi, guys, recently, i use the std::shared_ptr<ceres::Problem> m_problem as class(OptimizerCeres) member as following codes shown:
[code]
and i calling `m_problem->AddParameterBlock()` to build a whole problem like tutorial saying. i finish the optimization but there is a pointer release memory leak while the program finished and my program crushed. Any body had met this problem ? or where i implem

[2021-10-31 16:09] bgermann opened #715 "Compiling fails on Debian unstable"
Debian unstable switched to a newer set of buildtools (GCC, autoconf updated). ceres-solver 2.0.0 fails to build with those changes. You can find a build log at https://salsa.debian.org/science-team/ceres-solver/-/jobs/2134101/raw

[2021-10-31 17:22] alexsmac commented on #715
This doesn't look like a problem with Ceres, but with its dependencies - specifically gflags and glog.  The latter depends on the former, and the installed CMake target config for glog (`/usr/lib/x86_64-linux-gnu/cmake/glog`) is returning `glog::glog` as the imported target on which Ceres should depend, which is then being resolved to the *static* library, which is in turn presumably statically li

[2021-10-31 18:43] sergiud commented on #715
CMake documentation for the `find_package` command does not seem to mention such a rule. Can you point me to CMake documentation where this behavior is specified?

To my knowledge, CMake does not care about library type the package targets contain. It is the responsibility of the consumer (i.e., user) to ensure targets and thus library types are compatible among each other. Therefore, the problem

[2021-11-01 14:09] sandwichmaker commented on #714
Can you share a small example which causes the crash? I do not think it is the program thats causing the problem. I suspect you are holding onto a cost function or a loss function that you are passing to the Problem thats the issue.

[2021-11-01 14:09] sandwichmaker commented on #713
You are trying to solve a large problem. can you share some details about the size of the problem and what linear solver you are trying to use?

[2021-11-01 14:10] sandwichmaker commented on #712
I am going to close this issue, if you have more questions/concerns please feel free to re-open it.

[2021-11-01 14:10] #712 closed

[2021-11-01 14:12] sandwichmaker commented on #282
@abaldacci you can just remove the mllvm option from the cmake file and it should work no?

[2021-11-02 17:18] lukkio88 opened #716 "Jet issues, syntax error."
Hi, I have an issue with the `Jet` as well. I've followed the installation guide provided in the link. I am getting this error when building from visual studio 2019, windows 10:

[code]

Don't know if there's something else I have to configure before building.

_Originally posted by @lukkio88 in https://github.com/ceres-solver/ceres-solver/issues/712#issuecomment-957961741_

[2021-11-03 07:35] whu-lyh commented on #714
sorry, i am rushing to my project(i replace all std::shared_ptr with norm instantiation, all works fine) and can't produce a small example, but i will retest this latter.

[2021-11-03 13:27] cute-duck commented on #713
Non-linear optimization uses the LM framework,and here is some of my code about the problem construction and solve，same as cortograppher:
    ceres::Problem::Options problem_options;
    ceres::Problem problem(problem_options);
    // Set the starting point.
  // TODO(hrapp): Move ceres data into SubmapSpec.
    map<int, std::array<double, 3>> C_submaps;
    map<int, std::array<double, 3>> C_nodes

[2021-11-03 13:29] cute-duck commented on #713
my demo has 2000 node and 34 submaps,then it goes wrong.but when i use a few nodes and submaps it works well.

[2021-11-03 18:49] alexsmac commented on #716
What version of Eigen are you using?  It sounds similar to [this issue](https://gitlab.com/libeigen/eigen/-/issues/1603) in Eigen's bug tracker, but we aren't using any ternary operators in the definition of the `numeric_limits` for Jet [here](https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/jet.h#L901) which are the lines referenced by the errors.

[2021-11-03 19:18] alexsmac commented on #715
It's alluded to in the documentation for `find_library()` [here](https://cmake.org/cmake/help/v3.19/command/find_library.html):

There have been various [issues](https://cmake.org/Bug/view.php?id=1643) and [messages](https://cmake.org/pipermail/cmake/2010-December/041326.html) on the CMake mailing list about it over the years, they are old but AFAIK the behaviour is unchanged, and I think the caus

[2021-11-03 22:33] bgermann commented on #715
Thanks for the comments. This is indeed a glog issue in Debian.

[2021-11-03 22:33] #715 closed

[2021-11-04 13:13] sandwichmaker commented on #714
Closing for now, please re-open when you have more details.

[2021-11-04 13:13] #714 closed

[2021-11-04 13:15] sandwichmaker commented on #713
you are using DENSE_QR. Thats the wrong linear solver. It creates a dense jacobian which consumes an enormous amount of memory. Since this is a bundle adjustment problem, you should either use DENSE_SCHUR or SPARSE_SCHUR as your solver.

[2021-11-04 13:15] #713 closed

[2021-11-04 13:15] sandwichmaker commented on #709
Closing because of lack of response or details. Please feel free to re-open if there is more.

[2021-11-04 13:15] #709 closed

[2021-11-04 13:16] sandwichmaker commented on #667
@richmattes is this still an issue with the current version of ceres?

[2021-11-04 14:56] lukkio88 commented on #716
As update, I just tried Eigen 3.3.9, I am still getting the same problem.

[2021-11-04 18:06] sergiud commented on #715
No, is not. How is that reference even relevant? Package targets generally do not use `find_library` to begin with.

[2021-11-05 02:45] whu-lyh commented on #714
[code]
HI, i write a simple toy code testing the std::shared_ptr with ceres::Solver::Options, if i replace `std::shared_ptr<ceres::Solver::Options> m_options;` with `ceres::Solver::Options`, this program works fine. Waiting for your reply~

[2021-11-05 12:01] sandwichmaker commented on #714
This is because you are not calling make_shared on options, so its a null ptr.

Adding the line

m_options = std::make_shared<ceres::Solver::Options>();

to the constructor fixes the problem.

[2021-11-05 12:02] sandwichmaker commented on #658
so is this issue resolved with ceres 2.0?

[2021-11-06 03:24] whu-lyh commented on #714
I am so cracked，such a low-level mistake

[2021-11-13 16:54] romanis opened #717 "Issue with finding Eigen3"
Hi, I am using some advanced eigen functionality like seq and last that is not yet part of ubuntu libeigen3-dev package, so, I installed eigen 3.4 from source and I installed it with cmake, putting it in standard location:
[code]
I then set in my own cmake project the location of eigen so that it can be found:
[code]
and my project can find eigen without problem, I use linear algebra normally.

Th

[2021-11-15 10:55] alexsmac commented on #717
This shouldn't be necessary no, in the 3.4 release of Eigen, Eigen3Config.cmake sets `EIGEN3_FOUND` [here](https://gitlab.com/libeigen/eigen/-/blob/3147391d946bb4b6c68edd901f2add6ac1f31f8c/cmake/Eigen3Config.cmake.in#L12), what is the contents of your `Eigen3Config.cmake` ?

[2021-11-15 12:04] sergiud commented on #717
@alexsmac Note that those are legacy variables which [were removed](https://gitlab.com/libeigen/eigen/-/commit/f2984cd0778dd0a1d7e74216d826eaff2bc6bfab#618d329ccc83294fb4adc1383903316e95a1236d) and thus will not be available in future releases of Eigen (likely starting with 3.5). The correct variable to be checked against for detecting the presence of the package config is `Eigen3_FOUND` anyway.

[2021-11-16 19:59] alexsmac commented on #717
Yes, @sergiud they were left over from when Ceres was updated to (only) use Eigen's own Config.  They have been updated in [this CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/19260)

[2021-11-16 20:01] alexsmac commented on #717
@romanis if you're able to use the latest master branch of Ceres, this problem should be fixed

[2021-11-16 20:01] #717 closed

[2021-11-17 23:47] YohannPerron opened #718 "Windows : error C2589 C2062 C2059 C2589"
Hi,
I have been struggling the whole day getting Ceres to compile on Windows. I just manage to get it working and wanted to give some additional info not on the documentation.
After following the documentation I have been faced with a wall of error such as:

It seems to be related to the macro max define in define in widows.h. Following the advice on [https://www.developpez.net/forums/d428891/c-cp

[2021-11-18 12:07] yanhuicm opened #719 "Issue with using QuaternionRotatePoint in cost function"
Hi all, I'm looking to use the QuaternionRotatePoint function in the cost function, but it seems that I'm having some issues with passing in the correct data types. I'm still very new to this library and C++, so please bear with some of my silly mistakes. Below is a truncated version of my code. The aim of this code is to find a quaternion to convert point_b to point_a.
[code]
I've adapted it from

[2021-11-18 13:59] sandwichmaker commented on #719
@yanhuicm QuaternionRotatePoint needs arguments of the same scalar type, two of your arguments are of type T and one is of type double,  what you need to do is replace the line

[code]

with

[code]

That should do the trick.

[2021-11-18 14:03] sandwichmaker commented on #718
Could this and https://github.com/ceres-solver/ceres-solver/issues/716 be the same underlying issue?

[2021-11-19 01:47] yanhuicm commented on #719
That solved the issue. Thank you!

[2021-11-19 01:47] #719 closed

[2021-11-19 11:34] AiPanPan opened #720 "I want to change all the data types of ceres from double to float, is it feasible?"
I want to change all the data types of ceres to float, is it feasible?  could give me some suggestions? Thank you

[2021-11-19 13:12] alexsmac commented on #720
Depending upon your configuration, you can already tell Ceres to solve using single-precision using [this option](https://github.com/ceres-solver/ceres-solver/blob/master/include/ceres/solver.h#L526) even though it continues to use double precision for I/O.  If you can tolerate reduced precision, then this can result in improved runtime performance and memory usage.  Usually the conversion to/from

[2021-11-19 17:13] whuaegeanse opened #721 "What is the way of UpdateRhs computing the term F'b - F'E(E'E)^(-1) E'b"
@sandwichmaker
After analyzing the code of the function [UpdateRhs](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/schur_eliminator_impl.h#L377-L422), I did not find the calculation code of F'b. Did I miss something?
According to the [comment ](https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/schur_eliminator_impl.h#L377-L379)of the function UpdateRh

[2021-11-19 18:43] sandwichmaker commented on #721
it happens

https://github.com/ceres-solver/ceres-solver/blob/master/internal/ceres/schur_eliminator_impl.h#L481

On Fri, Nov 19, 2021 at 9:13 AM WhuAegeanSea ***@***.***>
wrote:

[2021-11-19 18:43] sandwichmaker commented on #720
No it is not feasible. Your best bet is what Alex suggested. That said, what is it that you are trying to do?

[2021-11-21 13:37] whuaegeanse commented on #721
@sandwichmaker
Thanks, I got it.

[2021-11-21 13:37] #721 closed

[2021-11-21 15:09] sergiud commented on #414
@allo- You might want to test [these changes](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/19321) and see if they solve your problem.

[2021-11-22 06:16] GeraldLodron opened #722 "Ceres with minilog"
Putting global variables in global namespace like "ERROR" leads to some conflicts in many build environments. They are defined in minilog and lead to compiler errors in combination with other projects.

[2021-11-22 14:42] sandwichmaker commented on #722
@GeraldLodron miniglog is a shallow clone of the google logging library and yes its possible that it leads to conflicts in some build environment, but I am not sure if there is any way around this either.

[2021-11-24 12:12] jcla1 opened #723 "Link to patch for dealing with glog/gflags incompatability can't be found anymore"
This is just a documentation bug -- I was reading the installation page and came across the note describing problems compiling glog from source, when gflags 2.1 is already available:

https://github.com/ceres-solver/ceres-solver/blame/ec4f2995bbde911d6861fb5c9bb7353ad796e02b/docs/source/installation.rst#L75

The patch that is linked to there on Google Code doesn't exist anymore though.

[2021-11-25 00:35] sandwichmaker commented on #723
Thanks @jcla1 for pointing this out.
@alexsmac can you look at this please, I think you were the one who added this pointer to begin with.

[2021-11-25 00:36] sandwichmaker commented on #722
sure but we can't do that in the ceres source because that will break compatibility with google glog.

[2021-11-25 06:37] GeraldLodron commented on #722
wouldnt it be possible to use a kind of Config header file generated from cmake with an log function which eighter calls google log or minilog with a better non breaking interface?

[2021-11-25 06:45] AiPanPan commented on #720
I want to accelerate ceres by NEON, but  my chip is ARM32，only can support float data. so I want to  change all the data types of ceres to float. or do you have any better suggestions？Thank you

[2021-11-25 06:45] AiPanPan commented on #720
I want to accelerate ceres by NEON, but  my chip is ARM32，only can support float data. so I want to  change all the data types of ceres to float. or do you have any better suggestions？Thank you

[2021-11-25 19:31] Davar1990 opened #724 "Head pose estimation using 3D vertices and ground truth 2D landmarks."
Hello,

I have used Ceres `AutoDiffCostFunction` on easy fitting problems without any issues before. But now I'm trying to extend the functionalities to a problem of head pose estimation using 3D vertices from a head model and their corresponding ground truth 2D landmarks in the image. I have checked my inputs and have also used them in OpenCV `solvepnp` and the pose estimation works just fine. Bu

[2021-11-25 20:00] sandwichmaker commented on #724
can you share the output from ceres and from Summary::FullReport()?

[2021-11-25 20:01] sandwichmaker commented on #722
It is going to lead to a lot of churn in the code, but if you have a clean way to do this I am happy to look at a PR.

[2021-11-25 20:02] sandwichmaker commented on #720
Thanks @AiPanPan I understand your use case. What type/sized problems are you trying to solve?

[2021-11-25 20:13] Davar1990 commented on #724
Thanks for the prompt response. Please find below.
![Capture](https://user-images.githubusercontent.com/17028943/143496312-c3dd7b0a-387f-4cfc-9fdf-fc4b24982cad.PNG)

[2021-11-25 20:27] sandwichmaker commented on #724
Observe that the solver says that gradient is zero, which means that something is wrong with the way your derivatives are being computed.

Looking at your functor

[code]

is the problem. Where you are blindly copying w which could be a double or a jet into a cv::Mat which is doubles. In the process you are destroying how the autodiff functionality works. I recommend using the functions in ceres/r

[2021-11-26 00:01] Davar1990 commented on #724
I made the following changes and this time the optimization goes through 17 iterations and the error is reduced. But the error is still large and when I visualize the reprojected points they appear as a straight line and not like a human face.

[code]
![Capture](https://user-images.githubusercontent.com/17028943/143508992-17447604-be45-4f41-8623-e514997f38d5.PNG)

[2021-11-26 00:09] sandwichmaker commented on #724
Now the problem has to do with the mathematical model you are optimizing.
Also remember Ceres can only find a local minima.

On Thu, Nov 25, 2021, 4:01 PM Davar1990 ***@***.***> wrote:

[2021-11-26 01:28] Davar1990 commented on #724
Because the final cost is around 140, I thought it was too large of an error and there should be something wrong. But, inside the functor, I printed the reprojected points next to their ground truth landmarks.

[code]
In the final iterations the values are very close to the ground truth landmarks.

![Capture](https://user-images.githubusercontent.com/17028943/143513438-4136ef55-3a9e-4e95-b08a-e1c6

[2021-11-26 04:35] AiPanPan commented on #720
1. "No it is not feasible" means I cannot change all the data types of ceres to float? I use ceres to slove SLAM problem, but beacuse of my chip is cheap, ceres solver time is too long.( ceres solver time is 250ms but I want it to be less 130ms). So I want to  accelerate ceres by NEON, but my chip only support  NEON accleration on float data. I try to transform all double to float on ceres  2.0, i

[2021-11-27 00:06] sandwichmaker commented on #720
when using mixed precision solves the key computational task is cholesky
factorization which is done in single precision, which should help
significantly.
that said, it will not give you all the performance.
you can try and change all doubles to floats and see how that works out for
you, but things like suitesparse won't work for you.
you maybe able to get eigen based stuff working for you.

On Th

[2021-11-27 16:16] AnkitAggarwalPEC opened #725 "Error while setting lowerbound and upper bound"
Hi,

I'm trying to set the lower bounds and upper bounds for the optimization param but it doesn't seem to work. However, If I removed the bound code, it works perfectly. Following is my code.

[code]

Please note that there is some change in the code to remove the object creation
extra.

It  is giving the following error:
parameter_block.h:220 Check failed: index < size_

However, if I remove the

[2021-11-27 20:29] sandwichmaker commented on #725
your parameter blocks are of size 1, the code setting the bounds should read:

[code]

Also a  general style thing, unless you have a really good reason DynamicNumericDiffCostFunction is usually a bad idea.

[2021-11-27 20:29] #725 closed

[2021-11-28 05:32] AnkitAggarwalPEC commented on #725
@sandwichmaker can you please tell me why "DynamicNumericDiffCostFunction is usually a bad idea" ?

[2021-11-28 05:35] sandwichmaker commented on #725
Because it's slow and most people do not need dynamic numericdiff or
autodiff. Using it is usually an indication that the user has not
understood the Problem API.

On Sat, Nov 27, 2021, 9:32 PM AnkitAggarwalPEC ***@***.***>
wrote:

[2021-11-28 05:49] AnkitAggarwalPEC commented on #725
@sandwichmaker Can you please suggest me the method which should I use my case?

Following is my case:
1. The number of data points for curve fitting are variable nums.
2. The number of parameters to be optimized is variable and only be detected at runtime.

I only tried the dynamic one because it helped in the "2" case. Can we also solve it using the non-dynamic one?
Thanks,
Ankit Aggarwal

[2021-11-28 05:53] sandwichmaker commented on #725
Creating one residual block per data point solves the first problem.

As for number of variables you must have a limited number of models right?

On Sat, Nov 27, 2021, 9:49 PM AnkitAggarwalPEC ***@***.***>
wrote:

[2021-11-28 05:54] AnkitAggarwalPEC commented on #725
Sorry, i didn't get the limited number of models?

Can you please elaborate more on that?

[2021-11-28 05:57] sandwichmaker commented on #725
Do you really have a completely variable set of models you are fitting to
the data? And do all data points depend on all variables?

On Sat, Nov 27, 2021, 9:54 PM AnkitAggarwalPEC ***@***.***>
wrote:

[2021-11-28 06:00] AnkitAggarwalPEC commented on #725
Yes for both. So the models are developed by some team and they only share a library

[2021-11-28 06:01] sandwichmaker commented on #725
Okay but how many models do you have?

On Sat, Nov 27, 2021, 10:00 PM AnkitAggarwalPEC ***@***.***>
wrote:

[2021-11-28 06:10] AnkitAggarwalPEC commented on #725
Models: You mean models I'm trying to fit?

If yes, that can be any number.

[2021-11-28 06:16] AnkitAggarwalPEC commented on #725
@sandwichmaker On the other side: Is there a way to detect that an error has occurred while fitting the summary report?

Thanks,
Ankit Aggarwal

[2021-11-28 16:36] sandwichmaker commented on #725
Yes have a look at the docs for Summary.

On Sat, Nov 27, 2021, 10:16 PM AnkitAggarwalPEC ***@***.***>
wrote:

[2021-11-30 01:46] AiPanPan commented on #720
ok.Your help was greatly appreciated.

[2021-11-30 01:46] #720 closed

[2021-11-30 08:19] dyollb opened #726 "Enable MKL Sparse QR solver as alternative to SuiteSparse"
Building ceres on Windows and getting good performance is not very well supported, because there is no (maintained) way to build SuiteSparse.

Please support the MKL Sparse QR, described here: https://www.intel.com/content/www/us/en/developer/articles/technical/intel-mkl-sparse-qr-solver-multifrontal-sparse-qr-factorization-method-for-solving-a-sparse.html

The performance comparisons show that is

[2021-11-30 10:10] sergiud commented on #726
While I support the proposal, I want to also make aware of my [SuiteSparse fork](https://github.com/sergiud/SuiteSparse) with native CMake support which I maintain and continuously test on Visual Studio 2019 and and now 2022 among others.

[2021-11-30 15:20] sergiud commented on #414
@sandwichmaker I believe this issue  can be closed now.

[2021-11-30 16:48] dyollb commented on #726
Thanks. I was referring to the link provided in the ceres installation instructions : https://github.com/jlblancoc/suitesparse-metis-for-windows. That one hasn't been updated for a while.

Nevertheless, the MKL could be faster, so I still think it would be nice.

[2021-11-30 17:12] sandwichmaker commented on #726
@sergiud do you want to send me a patch to the documentation pointing to your fork of suitesparse?
Also @alexsmac may have some time to look at integrating intelmkl into ceres, so assigning the bug to him.

[2021-11-30 17:13] sandwichmaker commented on #724
Awesome.

[2021-11-30 17:13] #724 closed

[2021-11-30 17:13] sandwichmaker commented on #414
Indeed!

[2021-11-30 17:13] #414 closed

[2021-11-30 17:14] AnkitAggarwalPEC opened #727 "Different optimized params with NumericDiffCostFunction and DynamicNumericDiffCostFunction"
Code with Numeric
`
template < typename T >

bool operator()(const T* const varParams, T* residual) const {

std::vector<double> residualDiff;

::residualFunction(varParam, residualDiff);

residual[0] = residualDiff[idx_] * residualDiff[idx_];

return true;

[2021-11-30 17:16] sandwichmaker commented on #727
This is not sufficient detail to debug the problem.
I suggest that you  compare the two executions and see if the two start out different in terms of residuals and/or derivatives or they diverge later on. If the starting residual and jacobians are different then the issue is in the differentiation, otherwise I suspect it maybe a numerical conditioning problem.

[2021-11-30 17:22] sergiud commented on #726
Preferably, the integration should be done by employing oneAPI (i.e., [oneMKL](https://github.com/oneapi-src/oneMKL)) to avoid dependency on a specific backend available only for selected platforms. However, it seems that MKL SparseQR is not part of the oneAPI specification, is it?

@sandwichmaker I don't mind it. However, Ceres does not work out-of-the box with my fork and requires a minimal amou

[2021-11-30 17:26] sandwichmaker commented on #726
I have not looked at the oneMKL API yet, its been changing a fair bit over the past two years. I will start another issue to discuss the cmake/suitesparse thing and move the discussion there.

[2021-11-30 18:06] sandwichmaker opened #728 "Integrate sergiu's cmake suitesparse distribution into the ceres build"
https://github.com/sergiud/SuiteSparse is a maintained fork of SuiteSparse, this will be especially helpful on windows.

@sergiud can you work with @alexsmac on this?

[2021-11-30 18:25] sergiud commented on #728
This is great! I'd be glad to help.

The changes necessary involve the use of CMake import targets in `FindSuiteSparse.cmake` and their actual use here
https://github.com/ceres-solver/ceres-solver/blob/1f374a9fe53e362ab76fb36e1dc53f6609991009/internal/ceres/CMakeLists.txt#L212
replacing `CXSPARSE_LIBRARIES` by `CXSparse::CXSparse` and here
https://github.com/ceres-solver/ceres-solver/blob/1f374a9f

[2021-12-01 11:26] jbensabat opened #729 "Help on Non linear least squares"
Hello
I need to build a NLS model, where the residuals are calculated in one call to a function. For this I wrote a program following the user's guide. In order to test the program I ran an example from the ceres distribution list "robust_curve_fitting".
Here is the original code

// Ceres Solver - A fast non-linear least squares minimizer
// Copyright 2015 Google Inc. All rights reserved.
// http

[2021-12-03 00:43] sandwichmaker commented on #729
The first thing I do not understand is, why are you using the C api? why not just use the c++ API?

what do the executions of the two programs look like?

[2021-12-03 07:11] jbensabat commented on #729
Hi
thanks a lot for your reply
I corrected this and use the c++ api

here is the output of the original robust_curve_fitting

iter                 cost      cost_change  |gradient|   |step|    tr_ratio  tr_radius  ls_iter  iter_time  total_time
   0  1.815138e+01          0.00e+00    2.04e+01   0.00e+00   0.00e+00  1.00e+04        0    2.42e-02    3.64e-02
   1  2.259471e+01        -4.44e+00    2.

[2021-12-03 17:35] sandwichmaker commented on #729
Here is the difference.

The original problem creates one residualblock per observation and you create one residual block for all the observations.
This would be fine if you were not using a robust loss, but when you use a robust loss these two formulations are not the same.

The loss function operates on the norm of the whole residualblock that is associated with, so in the original version of th

[2021-12-03 18:09] jbensabat commented on #729
Hi thanks for your explanation
I thought that too and then I ran the same case without a robust loss and I also get different results even the value of the loss function at the initial guess (c = 0, m=0), which should be ~142 (as I get in I my version) and which is equal to 121 as in the original case (curve_fitting.cc)
best
jac

[2021-12-04 10:22] 1ADZX opened #730 "E1204 18:12:27.097455 19500 trust_region_minimizer.cc:72] Terminating: Residual and Jacobian evaluation failed."
When I used Ceres for optimization, I encountered the following errors. The information returned by Ceres to me is as follows. After a long time of analysis, I really don't know what went wrong. Please help me analyze it. Thank you.

-------------------------------------------------------------------------------------------------------------------------------------------------------
WARNING: Loggi

[2021-12-04 12:44] alexsmac commented on #730
The error message explains what is happening, one of your CostFunctions is
not populating the jacobian wrt the third parameter block when requested to
do so by the solver, hence the values are shown as 'Uninitialized' in the
output.

In your CostFunction::Evaluate() implementation you likely have an indexing
bug when populating the jacobian array output which results in the
component for the last

[2021-12-04 13:39] 1ADZX commented on #730
Thank you very much. I really didn't write the Jacobian of the third parameter block, because my original goal was to optimize the Jacobian of the first two parameter blocks. Your suggestion solved my problem. Thank you very much

[2021-12-04 13:39] #730 closed

[2021-12-08 02:05] sandwichmaker commented on #729
version 1: Which uses one residual block per data point and one parameter block for each parameter.

[code]

running this gives the output

[code]

Version 2, where there is one residual block for the whole regression problem.

[code]

Running this gives us

[code]

As you can see both problem have exactly the same execution. 13 iterations, 8 successful steps, 5 unsuccessful steps, and the final a

[2021-12-08 05:36] trzy opened #731 "Ceres CMakeFile is picking up the wrong version of glog"
I'm trying to build ceres but I think it is picking up the wrong location of glog, which I suspect is leading to a dependency on a non-existent libglog.so.1 being created. Here is what happens when I run cmake:

[code]
This is wrong. I installed libgoogle-glog-dev already and it is not being picked up. Is there a magic cmake incantation to fix this? Thank you :)

[2021-12-08 05:51] trzy commented on #731
Fixed: had to use -DGLOG_PREFER_EXPORTED_GLOG_CMAKE_CONFIGURATION=FALSE when running cmake.

I do wish someone could explain how that ADOP path even got picked up in the first place?

[2021-12-08 10:35] jbensabat commented on #729
Hello and thanks a lot for your help
I am surprised to see that you get the same results as me.
I ran the example curve_fitting.cc from your distribution, which is the same case and got a different result.
here is the code from your distribution

// Ceres Solver - A fast non-linear least squares minimizer
// Copyright 2015 Google Inc. All rights reserved.
// http://ceres-solver.org/
//
// Redistri

[2021-12-08 15:11] alexsmac commented on #731
The distinction is that projects built with CMake can optionally export their build directories to the user's CMake cache as well as (optionally) installing themselves to a specified location.  In this case, glog must have been exported when it was built.  By default, CMake checks the user's package cache as part of each `find_package()` call which is how it was detected when Ceres invokes `find_p

[2021-12-08 15:11] #731 closed

[2021-12-08 18:58] sandwichmaker commented on #729
curve fitting and robust curve fitting have different data.
the robust curve fitting example has outliers in it.

see

https://github.com/ceres-solver/ceres-solver/blob/master/examples/robust_curve_fitting.cc#L67

[2021-12-09 03:36] 1ADZX opened #732 "When using Ceres for nonlinear optimization, the optimization result is correct, but the iteration does not converge"
When I use Ceres for factor graph optimization, I have two residual factors, namely factor A and factor B, but when only factor A or factor B is added for nonlinear optimization, the result is correct and the iteration can converge. However, when factor A and factor B are added to the nonlinear optimization problem, the iteration does not converge and the result is correct. Even if I set the maxim

[2021-12-10 16:28] jbensabat commented on #729
Hi
thanks a lot
now it becomes clear to me.
best
jac

[2021-12-10 17:20] #729 closed

[2021-12-10 17:21] sandwichmaker commented on #727
Closing as there are no details, please feel free to re-open if you have more details.

[2021-12-10 17:21] #727 closed

[2021-12-11 05:09] sandwichmaker commented on #732
Why do you expect iteration complexity to reduce when factors are added? there is no logical reason for it.

As for convergence, slow down in  convergence can be due to a multitude of reasons, most likely because the solver is in a narrow/poorly conditioned minimum region where it cannot take large steps without increasing cost so it has to take lots of small steps.

[2021-12-12 08:17] 1ADZX commented on #732
Thank you very much for your reply. I modified options trust_ region_ strategy_ Type changed from Ceres:: dogleg to Ceres:: levelberg_ Marquardt has been solved, but I would like to know why this problem can be solved after such modification?

[2021-12-12 14:27] sandwichmaker commented on #732
This just means that dogleg is not a great trust region strategy on this problem. It computes a cheaper but sometimes worse trust region step. LM is more expensive per iteration but computes a higher quality step. This has been our experience with other problems too.

[2021-12-12 14:27] #732 closed

[2021-12-13 19:42] yriuss opened #733 "librt.so"
using cmake:
`-- Found LIBRT library: /usr/lib/x86_64-linux-gnu/librt.a`

Then, after that, using make:
[code]

I think that the problem is because my librt library is static, but I don't know how to solve....

[2021-12-13 20:18] yriuss commented on #733
The complete output:

[code]

And with `ldd /usr/lib/x86_64-linux-gnu/libsuitesparseconfig.so`:
[code]

[2021-12-14 10:32] Lightolx opened #735 "cannot declare variable ‘log’ to be of abstract type ‘testing::ScopedMockLog’"
"ScopedMockLog" is a derived class of "LogSink", but it doesn't override the pure virtual function "send()", the 5th parameter of LogSink::send() is of type "LogMessageTime", while the 5th parameter of ScopedMockLog::send() is of type "tm". How to solve the problem
![1](https://user-images.githubusercontent.com/24823307/145981484-bd6e3711-fa5e-4aea-a9b3-3863ed56e59b.png)
![2](https://user-images.g

[2021-12-14 11:02] sergiud commented on #735
You are using a development version of glog. Please switch to a release version.

You should also report the issue on the glog issue tracker since the API changed only recently. Glog should ideally provide a method overload to avoid breaking the API too much.

[2021-12-15 17:23] yriuss commented on #733
I get error even without SuiteSparse:

[code]

[2021-12-15 17:50] alexsmac commented on #733
The issue is that you are building with benchmarks enabled, which in turn introduces a dependency on Google Benchmark which is imported as a CMake target, the compiled library for which is `libbenchmark.so` and that library depends upon librt.so.  So it looks like you have installed a Google Benchmark package without its required dependencies, in this case librt.so.

[2021-12-15 17:50] #733 closed

[2021-12-16 08:43] 1ADZX opened #736 "Why is the weighted residual and Jacobian of identity matrix better when using Markov distance for optimization"
When using Ceres, I use Mahalanobis distance to build the least squares problem, so when I build the factor. Using sqrt_ Info weights the residual and the Jacobian of the corresponding state quantity, sqrt_ Info is obtained by LLT decomposition of the information matrix, and the code is as follows.
-------------------------------code-----------------------------------------------------------------

[2021-12-16 12:13] sandwichmaker commented on #736
@1ADZX I am not really sure what you are asking. Also your question is very poorly formatted making it quite hard to understand, I suspect this is because of markdown formatting.

My sense is that you are trying to figure out how to model your problem and thats more a question about how to formulate problems rather than how to solve them using ceres.

[2021-12-16 13:45] 1ADZX commented on #736
I'm sorry I didn't describe the problem clearly. I'll rearrange the problem as follows
The project I optimized with Ceres is Mahalanobis distance，that is, the form of r^t*P^(-1)*r，where P is the corresponding covariance.
Considering Ceres, the form of least squares optimization is min {e ^ t * e}.So I need to do an LLT decomposition of P ^ (- 1), that is, P ^ (- 1) = L * L ^ t.
Then the above Maha

[2021-12-17 00:29] willem0 commented on #636
@cristinaluna , I had the same issue while trying to get ceres installed for the sake of colmap, running Ubuntu 16.04. (Eigen3 not found by cmake.) and after doing a hard reset to e51e9b46f6 as suggested on that thread, started hitting this threading issue.

I was able to resolve this by rolling back to 1.4.0. It seems this threading refactor was made while transitioning to v2.0 in commit d656d34.

[2021-12-19 15:47] sandwichmaker commented on #736
There are two things one must consider when evaluating the result of an optimization problem.

The first has to do with modeling the problem. This is where accounting for the right mahalanobis distance comes in.
The second has to do with the fact that generally speaking the solver will find a locally optimal solution.

The fact that you are not getting as good a solution as you want, can be becaus

[2021-12-19 15:47] #735 closed

[2021-12-20 13:56] 1ADZX commented on #736
Thank you very much for your detailed reply. I directly expressed the model of minimum residual in polar coordinates, and then combined with the Mahalanobis distance established by covariance in polar coordinates to solve the previous problem. At the beginning, I had the covariance in the polar coordinate system, but I first established the residual in the Cartesian system, and deduced the covaria

[2021-12-20 13:56] #736 closed

[2021-12-29 09:18] SumoBBQ opened #738 "error: 'CERES_GET_FLAG’ was not declared in this scope"
Hi, I try to compile the **examples/powell.c** using Cmake in a separate project, and I place two below files in one folder:
1) CMakeList.txt

2) powell.c

Running `cmake .` is fine, but after running `make` above error is appeared”. Can someone help me please.
![Screenshot from 2021-12-29 16-16-06](https://user-images.githubusercontent.com/18181691/147646261-fac4c3ba-8a3d-455d-9129-47bd9dd71b52.p

[2021-12-29 19:05] sandwichmaker commented on #738
CERES_GET_FLAG is defined in ceres/internal/port.h I am not sure why you are not getting it in your build. @alexsmac do you know?

[2021-12-30 02:06] SumoBBQ commented on #738
@sandwichmaker Oh, thanks for your info. I think it's somehow weird because I search for the port.h **in my lap** and don't see any #define of CERES_GET_GLAG (ceres 2.0.0 downloaded from official website) (see pic below).

![Screenshot from 2021-12-30 08-54-58](https://user-images.githubusercontent.com/18181691/147715804-2500ed88-db53-4361-9430-203a17fd5f57.png)

but in the port.h **in GitHub** CE

[2021-12-30 03:07] SumoBBQ commented on #738
Update: Everything is ok now. I just inserted #define CERES_GET_FLAG into port.h. Thanks for your help @sandwichmaker

[2021-12-30 03:07] #738 closed

[2021-12-30 19:43] johnwlambert opened #739 "Compilation error on master"
Hi @sandwichmaker, thanks for your great work creating and maintaining Ceres.

A quick heads up -- I noticed that the latest commit (https://github.com/ceres-solver/ceres-solver/commit/23b204d7e674976a9af39dcd8e8708f06fe9537a) broke compilation for me.

[code]

[2021-12-30 19:53] sandwichmaker commented on #739
Thanks @johnwlambert I will push out a fix shortly.

[2021-12-30 19:55] johnwlambert commented on #739
Thanks!

[2021-12-30 20:20] #739 closed

[2022-01-10 12:11] XinnWang opened #740 "Optimization time fluctuation"
Hi, recently i tried to use ceres to optimize my problem, and noticed the optimization time fluctuation is huge.
i tried the example/helloworld.cc, and noticed similar issue.
Usually, example/helloworld.cc outputs:
[code]
Sometimes, it outputs:
[code]
The total time varied from 0.000121 to 0.000449, almost 4 times bigger.
For my own code, this total time varied from 0.002 to 0.012, which is 6 time

[2022-01-19 18:23] #740 closed

[2022-01-19 18:23] sandwichmaker commented on #728
gentle ping?

[2022-01-19 18:32] sergiud commented on #728
@alexsmac Would you like me to take over?

[2022-01-19 19:55] sandwichmaker commented on #728
I suspect @alexsmac would be more than happy to review a CL from you.

[2022-01-19 19:56] #705 closed

[2022-01-22 11:58] Medoalmasry commented on #717
I know that this issue is closed, However, if someone is finding it difficult to build ceres-solver using linux-distro native Eigen libraries. Here is a break down of how to fix it:-

Version Details
Opensuse 15.3
Eigen 3.3.4
Ceres-solver (master date 22nd Jan)

In **opensuse** the default path for eigen is /usr/include/eigen3/Eigen which is apparently not the conventional place for it.
1) Go to /

[2022-01-22 12:08] sergiud commented on #717
Eigen 3.3.4 was released [almost 5 years ago](http://eigen.tuxfamily.org/index.php?title=News:Eigen_3.3.4_released!). You should consider updating. The workaround you described is not necessary and looks like a problem of the distro package even with this version of Eigen.

[2022-01-24 06:16] XJTUbopenghui commented on #718
I added "#define NOMINMAX" in the config.h headfile, and added #undef min and #undef max in the jet.h.
All the errors disappear.

[2022-01-24 06:24] XJTUbopenghui opened #743 "Problem when using ceres in "Debug" model on windows 10."
I successfully install ceres on my laptop.
The environments are windows 10, visual studio 2022, ceres-solver-2.0.0, eigen-3.4.0, gflags, glog and suitesparse-metis-for-windows.
It works ok under release model, while it meets some problem when working under debug model.
The error is that "problem_impl.cc:286] Check failed: num_parameter_blocks == cost_function->parameter_block_sizes().size() (2 vs.

[2022-01-24 15:07] sandwichmaker commented on #743
There is a bug in your code. Uninitialized memory maybe. Hard to say more
without looking at your code.

On Sun, Jan 23, 2022, 10:25 PM XJTUbopenghui ***@***.***>
wrote:

[2022-01-24 16:35] johnwlambert opened #744 "DenseCholesky compilation errors"
Hi @sandwichmaker, thanks for your work maintaining `ceres`.

Ran into a new compilation error today, due to the DenseCholesky changes: https://github.com/ceres-solver/ceres-solver/commit/6d06e9b98f9db01acbe597e3a7908c87a6c83cde

[code]

Do you mind taking a look?

[2022-01-24 16:51] johnwlambert commented on #744
Sure thing. Thanks for the quick reply. I created a Github Actions CI to build Ceres here:
https://github.com/johnwlambert/ceres-solver/pull/1/files

Output is here under "Build for Linux"
https://github.com/johnwlambert/ceres-solver/runs/4925031234?check_suite_focus=true

[2022-01-24 17:27] #744 closed

[2022-01-31 10:43] Medoalmasry commented on #717
You're absolutely right, I deleted my comment to avoid someone else falling in the same problem.

[2022-02-09 14:28] sandwichmaker opened #747 "Use final keyword where appropriate in methods and in classes."
This should help the compiler reason better about out class hierarchy and devirtualize calls where possible.

[2022-02-09 14:28] sandwichmaker commented on #747
@sergiud perhaps you can help with this as part of your work to modernize the use of C++ inside ceres.

[2022-02-10 02:06] sandwichmaker commented on #743
closing because of no response.

[2022-02-10 02:06] #743 closed

[2022-02-10 15:41] sergiud opened #748 "`invert_psd_matrix_test` failures"
I'm seeing a failure followed by a segmentation fault in `invert_psd_matrix_test`. Corresponding debug trace:
[code]
At 4742bf3862a3b447c76f519a2de5b29df1995398, GCC 11.1. Eigen 3.4.0, release build (`-O3` with and without debug info), AVX2 instruction set enabled. Does not happen in debug builds (`-O1` or lower).

[2022-02-10 15:47] sergiud opened #749 "Compilation failures due to combined use of `[[deprecated]]` and `__attribute__`"
Newly deprecated `LocalParameterization` causes a bunch of compilation errors in shared library builds of Ceres. Here's a snippet:
[code]
Compiler: GCC 11.1. Related issue: https://gitlab.kitware.com/cmake/cmake/-/issues/22908.

[2022-02-10 17:56] sandwichmaker commented on #749
@sergiud would shifting to using gcc  __attribute__((deprecated(message))) be better/easier?
Also does MSVC support this? or we will have to do a macro dance ?

[2022-02-10 18:10] sandwichmaker opened #750 "Compiling Ceres Examples triggers deprecated warnings coming"
The examples/CMakeLists.txt needs to be augmented with the same sauce that is in internal/ceres to silence these warnings.

[2022-02-10 18:11] sandwichmaker opened #751 "Update docs to talk about CUDA support"
This includes Build/Installation.
API/Bundle adjustment documents.

cc:@joydeep-b

[2022-02-10 18:12] sandwichmaker opened #752 "Update Release Notes for 2.1"

[2022-02-10 18:13] sandwichmaker opened #753 "Update the logic in solver.cc that validates linear solvers agains presence of CUDA"
We do this for eigen/lapack support. We need to do the same for when the user selects CUDA as their dense linear algebra library backend.

cc: @joydeep-b

[2022-02-10 18:17] sandwichmaker opened #754 "Add the ability for the user to initialize the GPU and pass it to the user, so that we are not initializing it for each solve."
cc: @joydeep-b

[2022-02-10 18:17] sandwichmaker commented on #649
@alexsmac what is the status of this?

[2022-02-10 18:19] melhashash commented on #468
Adding a discussion regarding the randomness/inconsistency in the results.

Related to
[here](https://groups.google.com/g/ceres-solver/c/Ot_sT1iUgQQ/m/5OPgTTWwCgAJ) and [here](https://groups.google.com/g/ceres-solver/c/_phehEuHxxM/m/h-CQZ2jTEAAJ).

[2022-02-10 18:40] sandwichmaker commented on #750
This is with GCC. Here is the output from cmake.

[code]

and then when I compiled `bundle_adjuster` I get

[code]

[2022-02-10 18:41] sandwichmaker opened #755 "Make sure all factory methods in Ceres return std::unique_ptr instead of bare pointers."

[2022-02-10 19:08] sergiud commented on #750
A simple fix would be to change from `PRIVATE` to `PUBLIC` here:
https://github.com/ceres-solver/ceres-solver/blob/677711138aeffa889fc77a15ddf2904917d12dfb/internal/ceres/CMakeLists.txt#L267-L270
and wrap the conditionals into a `$<BUILD_INTERFACE:...>` generator expression to avoid leaking the suppressions into user code.

[2022-02-10 19:11] sergiud commented on #749
`__attribute__((deprecated("...")))` will work. The MSVC equivalent is `__declspec(deprecated("..."))`.

[2022-02-10 19:31] sandwichmaker commented on #749
so I guess we are going to need a macro then?

On Thu, Feb 10, 2022 at 11:11 AM Sergiu Deitsch ***@***.***>
wrote:

[2022-02-10 19:32] sandwichmaker commented on #750
@sergiud thats way past my cmake-fu. Any chance you can help with it?

[2022-02-10 19:33] sandwichmaker commented on #749
I likely won't have time to work on this this week though.

[2022-02-10 19:37] sergiud commented on #750
Sure.

[2022-02-10 19:45] sandwichmaker commented on #750
Ty.

On Thu, Feb 10, 2022, 11:37 AM Sergiu Deitsch ***@***.***>
wrote:

[2022-02-10 20:53] sneik555 opened #756 "Possible removing EIGENSPARSE flag"
Hi,

due to changed SparseCholesky license in eigen:  https://gitlab.com/libeigen/eigen/-/commit/1dc1677d525b1df3cc32b3df5cd816e150b07185 I think that EIGENSPARSE flag can be removed.

In case of that you should build ceres with CERES_USE_EIGEN_SPARSE flag and -DEIGEN_MPL2_ONLY definition always in case when eigen is found.

If official eigen [documentation](https://eigen.tuxfamily.org/dox/group__

[2022-02-11 15:40] sergiud commented on #718
Yes, it is the same issue.

`NOMINMAX` is a possible workaround that, however, can be applied to the Ceres code base only: since Jet is used in user code too, `NOMINMAX` would need to be propagated to dependencies as well which can break these if they rely on the `min`/`max` macro definitions.

A `NOMINMAX` agnostic approach would therefore be to prevent macro substitution in `std::max`, `std::min

[2022-02-11 16:21] sandwichmaker commented on #718
Can we add a msvc version based warning to the jet header?

On Fri, Feb 11, 2022, 7:40 AM Sergiu Deitsch ***@***.***>
wrote:

[2022-02-11 16:23] sergiud commented on #718
I actually have a workaround which I will submit for review.

[2022-02-11 16:24] sandwichmaker commented on #718
Awesome!

On Fri, Feb 11, 2022, 8:23 AM Sergiu Deitsch ***@***.***>
wrote:

[2022-02-11 16:40] YangRiverJiang opened #757 "Covariance between residual blocks?"
Hi there,

I am a one-day-level starter of Ceres. After reading the docs and some examples, I have a question.
I noticed that when observations being fitted to x have a covariance matrix not equal to the identity, the user should apply a cost function with a scale of the inverse square root of the covariance matrix. That's really great, but how should I consider the non-identity covariances betwee

[2022-02-11 17:34] sandwichmaker commented on #757
River there is no way in the ceres API to define the covariance between residual blocks. This means you have a fully dense Jacobian. How large are your problems in terms of number of variables and number of residuals?

[2022-02-11 17:34] #749 closed

[2022-02-11 17:35] #755 closed

[2022-02-11 20:51] YangRiverJiang commented on #757
Thanks for the reply. For data of one hour, my problems are roughly 10,000 variables against 150,000 residuals. For each residual block, there are ~40 residuals, which are correlated to the ~40 residuals of the next block. Since it is to be implemented in real-time with the sensor, extending the past residual block is painful.
If it is not possible, my problem still can solve but not that accurate

[2022-02-11 20:51] #757 closed

[2022-02-12 03:05] jmackay2 opened #758 "Need to include memory for unique_ptr"
`graph_algorithms.h` needs a `#include <memory>` to remove the following error:
```unique_ptr in namespace std does not name a template type```

[2022-02-13 14:06] #758 closed

[2022-02-13 20:51] sandwichmaker commented on #668
@sergiud is this something you can look into?

[2022-02-13 20:52] sandwichmaker commented on #659
Closing because lack of discussion for almost a year.

[2022-02-13 20:52] #659 closed

[2022-02-13 20:53] sandwichmaker commented on #658
Closing because of lack of response.

[2022-02-13 20:53] #658 closed

[2022-02-13 20:54] sandwichmaker commented on #665
Closing because of lack of response.

[2022-02-13 20:54] #665 closed

[2022-02-13 20:54] sandwichmaker commented on #710
Closing because of lack of response.

[2022-02-13 20:54] #710 closed

[2022-02-13 20:56] sandwichmaker commented on #606
Closing because its not clear what is actionable here. This looks like an Eigen issue, if there is actionable things to be done on the ceres/jet side please reopen this issue.

[2022-02-13 20:56] #606 closed

[2022-02-13 20:57] sandwichmaker commented on #406
Obsolete

[2022-02-13 20:57] #406 closed

[2022-02-13 20:58] sandwichmaker commented on #348
Likely not something we are going to do anything about.

[2022-02-13 20:58] #348 closed

[2022-02-13 20:58] sandwichmaker commented on #203
There is another bug about this.

[2022-02-13 20:58] #203 closed

[2022-02-13 21:17] sandwichmaker commented on #632
This should be fixed.

[2022-02-13 21:17] #632 closed

[2022-02-13 22:34] sergiud commented on #668
I was able to reproduce the problem. I'll update my current CL that fixes MSVC issues.

[2022-02-13 22:44] sandwichmaker commented on #668
Thank you!

[2022-02-14 10:23] sergiud commented on #702
It is not clear why releasing memory within the DLL is a problem. Isn't this done throughout Ceres solver?

[2022-02-14 10:25] sergiud commented on #649
@extrowerk Will `GNUInstallDirs` solve your issue?

[2022-02-14 12:36] extrowerk commented on #649
Definitely.

Sergiu Deitsch írta 2022. feb.. 14, H-n 11:26 órakor:

[2022-02-14 22:15] sandwichmaker commented on #753
Fixed at head.

[2022-02-14 22:15] #753 closed

[2022-02-15 19:34] #754 closed

[2022-02-18 12:35] NeroBurner commented on #728
I've got a branch based on v2.0.0 which depends on https://github.com/jlblancoc/suitesparse-metis-for-windows generated targets, used to get `ceres-solver` using the [Hunter Dependency Manager](https://github.com/cpp-pm/hunter). Maybe the changes of that branch are of assistance

https://github.com/cpp-pm/ceres-solver/tree/hunter-2.0.0

[2022-02-26 00:01] #649 closed

[2022-02-26 00:01] sandwichmaker commented on #747
Fixed for public and private classes.

[2022-02-26 00:01] #747 closed

[2022-02-26 18:14] sandwichmaker opened #759 "Add support for GPU based sparse cholesky solvers."
cc: @joydeep-b

[2022-02-26 18:15] sandwichmaker opened #760 "Add support for GPU based iterative solvers."
cc: @joydeep-b

[2022-02-27 13:26] #668 closed

[2022-02-27 13:26] #716 closed

[2022-02-27 13:26] #718 closed

[2022-02-27 13:31] sandwichmaker opened #761 "Add support for nested dissection based orderings to sparse cholesky"
Support for METIS and possibly mongoose.

cc: @NeroBurner

[2022-02-27 13:45] sandwichmaker opened #762 "cuda_dense_qr_test is failing"
This is on my linux box with cuda 11.4 on a Quadro K2200

[code]

[2022-02-27 13:45] sandwichmaker commented on #762
@joydeep-b can you take a look please?

[2022-02-27 14:33] joydeep-b commented on #762
I'll take a look.

[2022-02-27 14:49] sandwichmaker commented on #760
cc: @jy

[2022-02-27 14:49] sandwichmaker commented on #760
cc: @joydeep-b

[2022-02-28 08:57] 1ADZX opened #763 "When using Ceres for nonlinear optimization, it works normally when optimizing 5 frames of data; When optimizing 6 or more frames of data, the optimization fails"
**Data description**:There are 15 common viewpoints in 5 consecutive frames of data;
                            There is no common viewpoint between the 6th frame data and the previous 5 frames data, and they are 15 feature
                            points observed again;
I conducted nonlinear optimization based on the re projection error for the pose of these frames of data, but found that the

[2022-02-28 19:05] sandwichmaker commented on #763
This has nothing to do with number of images. You have a cost function which is being fed values

0.996067,  -0.0300342,  -0.0493301 ,  -0.0671961
-20.0864,  -5.85186, -7.55326
 19.814,  8.13496,  5.99895

and is generating nans when computing the jacobians. so you should look at your code for computing the jacobians to see what might be giving rise to the nans.

[2022-03-01 01:09] 1ADZX commented on #763
I also think it has nothing to do with my feature tracking image.
But when I calculate Jacobi, I use Ceres's automatic derivation method, ceres:: Autodiffcostfunction. In this case, how can I view the code for calculating the Jacobian matrix?

[2022-03-01 01:17] sandwichmaker commented on #763
I suggest evaluating the cost function on its own and add logging to the cost function to print out the intermediate values.
when automatic differentiation is used, logging the values that are computed will automatically print their derivatives also.
that will tell you where the nans are coming from.

[2022-03-01 01:32] 1ADZX commented on #763
Thank you very much for your help. Do you have the corresponding sample code here? To implement a separate evaluation of the cost function, and add the log record to the cost function to print out the intermediate value. At present, my use of Ceres is still at an early stage. I only know the three derivation methods of automatic derivation, numerical derivation and analytical derivation. I really

[2022-03-02 23:19] sergiud commented on #684
Unconditionally using 64 bit indices even on a 32 bit system is meaningless as the amount of addressable memory is limited. Also converting on demand is not practical. Aside from unreasonably complex logic, why would you want to convert an index that can be represented by a smaller type? The concept does not seem to be well thought out.

[2022-03-03 21:56] #728 closed

[2022-03-03 22:51] #762 closed

[2022-03-03 22:52] #752 closed

[2022-03-03 23:49] sandwichmaker commented on #723
I removed this from the docs as we should be using a later version of glog anyways.

[2022-03-03 23:49] #723 closed

[2022-03-03 23:49] #751 closed

[2022-03-04 00:38] psychochair commented on #400
Hello @alexsmac, I have the same issue when I try to build ceres on a Ubuntu docker image. Here is the sequence of the install in the Dockerfile:

`    # install ceres
RUN apt-get install libgoogle-glog-dev libgflags-dev -y && \
    apt-get install libatlas-base-dev -y && \
    apt-get install libsuitesparse-dev -y && \
    git clone https://github.com/ceres-solver/ceres-solver && \
    cd ceres-s

[2022-03-04 14:20] psychochair opened #764 "SuiteSparseQR.hpp: No such file or directory"
(Possibly related to issue 400: https://github.com/ceres-solver/ceres-solver/issues/400)
Hello, I have an issue when I try to install ceres on a Ubuntu docker image. Here is the sequence of the install in the Dockerfile:

[code]

and here is the error

`/[//]/ceres-solver/internal/ceres/suitesparse.h:46:10: fatal error: SuiteSparseQR.hpp: No such file or directory 46 | #include "SuiteSparseQR.hpp"

[2022-03-04 14:26] sergiud commented on #764
* What Ubuntu version?
* What Ceres Solver version? Have you tried using `master`?
* What's the CMake output?

[2022-03-04 14:59] psychochair commented on #764
-Ubuntu version: 20.04.4 (latest)
-Ceres solver version: I'm cloning from https://github.com/ceres-solver/ceres-solver , so I guess it's version 2.0 (?). I am using the master branch:
-Cmake output:
[code]

[2022-03-04 15:28] sergiud commented on #764
Thanks, I was able to reproduce the problem. [This CL](https://ceres-solver-review.googlesource.com/c/ceres-solver/+/20960) should fix the issue.

[2022-03-04 15:45] psychochair commented on #764
Thank you very much, is there some documentation on how to apply a CL locally? thanks

[2022-03-04 15:52] sergiud commented on #764
In that link, you can click on 'Download' on the right hand side and you will see several options.

[2022-03-04 15:55] psychochair commented on #764
Oh thanks! have a good day

[2022-03-04 16:40] #764 closed

[2022-03-06 17:56] Billccx opened #765 "How to import ceres-solver in a bazel project"
Hello!
I am now working on a project called [_mediapipe_ ](https://github.com/google/mediapipe) which is build by bazel. I want to import ceres-solver in this project as a third party library. Before that, I utilized cmake to build ceres-solver and installed it in '/usr/local/'.
Now the question is: how to import ceres-solver in my _bazel_ project ?

I tried the following approach but failed:
[cod

[2022-03-06 18:02] sandwichmaker commented on #765
You are building Ceres with support for suitedparse which is not enabled in
to he bazel build. Have a look at the Ceres bazel build file to see how you
can disable it.

On Sun, Mar 6, 2022, 9:56 AM Billccx ***@***.***> wrote:

[2022-03-07 04:01] Billccx commented on #765
@sandwichmaker
Thank you so much for such a quick reply!
Well, it seems that I have already find a way to solve this problem. I use cmake to rebuild Ceres-solver as a shared library. Just set option _BUILD_SHARED_LIBS_  in CMakeLists.txt
[code]
Then my code works!

Here are some blogs I refered:
[https://groups.google.com/g/ceres-solver/c/_dZCYub0DGw](url)
[http://ceres-solver.org/installation.htm

[2022-03-08 00:59] weisongwen opened #766 "Dense covariance, fully dense Jacobian"
Hi @sandwichmaker . Thank you very much for sharing such a great package. If the problem to be estimated is sparse for example the SLAM problem, the Solver can be very efficient. But now my problem is dense due to the correlation between the measurements used in my factor graph optimization. Specifically, the covariance of the measurements in my problem is highly correlated leading to a dense cova

[2022-03-08 04:00] sandwichmaker commented on #766
That's not a very large Jacobian. You should use denseqr, it should work well. Can you share the output of summary::fullreport()?

[2022-03-08 04:05] sandwichmaker commented on #765
Glad it worked out.

[2022-03-08 04:05] #765 closed

[2022-03-10 06:16] Eric-JH opened #767 "The expression of residual[0]"
&ensp;&ensp;&ensp;&ensp;I want to estimate the parameters of gamma distribution using simulated data. According to the code given by [Curve Fitting](http://www.ceres-solver.org/nnls_tutorial.html#curve-fitting), I wrote the following code.
&ensp;&ensp;&ensp;&ensp;Then the error was reported because the unproper expression of residual[0]. I should use `ceres::pow` instead of `std::pow`. But what bo

[2022-03-10 13:58] moberweger opened #768 "SizedCostFunction with CostFunctionToFunctor evaluates also constant Jacobian"
I slightly extended the [analytic example](https://github.com/ceres-solver/ceres-solver/blob/master/examples/helloworld_analytic_diff.cc) to work with two independent variables and a `CostFunctionToFunctor` wrapper. I noticed a strange behavior when setting one of the variables constant. When using the `SizedCostFunction` directly, the Jacobian of the constant variable is not computed (ie the para

[2022-03-10 15:09] sandwichmaker commented on #768
@moberweger what you are observing has nothing to do with CostFunctionToFunctor but rather how AutoDiffCostFunction is implemented. AutoDiffCostFunction will evaluate the functor on all its input variables (constant or otherwise) and then when filling out the jacobians will only fill out the ones which are non-constant.

You can see the implementation of this at

https://github.com/ceres-solver/ce

[2022-03-10 15:16] sandwichmaker commented on #767
@Eric-JH for this code (automatic differentiation to work), we will need an implementation of ceres:tgamma, which in turn would require an implementation of the polygamma function, which I believe is not part of the c++ standard library.

The simplest thing to do would be to use numeric differentiation in this case. A more complicated thing to do would be to implement your own templated function t

[2022-03-10 15:16] #767 closed

[2022-03-10 15:17] sandwichmaker commented on #766
@weisongwen  this is using DENSE_SCHUR. Can you report back with DENSE_QR?

[2022-03-10 18:38] sandwichmaker commented on #766
DENSE_NORMAL_CHOLESKY may also work for you. I would look into using that too.

[2022-03-11 06:31] moberweger commented on #768
Thanks @sandwichmaker for this profound and quick answer. It makes things more clear now!

[2022-03-11 06:31] #768 closed

[2022-03-12 16:09] patrikhuber opened #769 "cuda_memcheck_* and covariance_test tests failed on VS 2022, ceres 2.1.0rc1"
Hi ceres-solver team,

I'm giving the 2.1.0rc1 a spin in the following environment: Windows 11, VS 2022, `cl`/toolset version `14.31.31103`, CUDA v11.1, no CxSparse, no SuiteSparse, and glog/gflags installed via vcpkg, as well as Eigen (v3.4.0).

So far so good, it all compiled! I've subsequently ran the tests, and I thought I'd report those three failures as you've asked for Windows testing on th

[2022-03-12 21:56] sandwichmaker commented on #769
Thank you @patrikhuber. @sergiud and @joydeep-b can you guys look at this please? cc: @alexsmac

[2022-03-12 21:57] sandwichmaker commented on #769
@patrikhuber did you build with suitesparse? because the covariance_test seems to be about running the suitesparse based backend

[2022-03-12 22:00] patrikhuber commented on #769
Hi @sandwichmaker, no I did not build with suitesparse - `SUITESPARSE` is `OFF` when I configured in CMake. So I would expect the test not to run, if it needs suitesparse. Perhaps there is a conditional somewhere and it doesn't work on Windows?

[2022-03-12 22:05] sandwichmaker commented on #769
Thanks, lemme check if something is borked more generally.

[2022-03-12 22:10] sandwichmaker commented on #769
okay I can replicate the failure, its not windows specific.

[2022-03-12 23:23] sandwichmaker commented on #769
https://github.com/ceres-solver/ceres-solver/issues/769 is out for review, which should fix this more robustly.

[2022-03-12 23:35] joydeep-b commented on #769
Looks like the `CMAKE_RUNTIME_OUTPUT_DIRECTORY` variable is incorrectly set for the cuda test targets. @alexsmac / @sergiud any suggestions for a platform-agnostic way to reference the binary path for test target binaries?

[2022-03-12 23:39] sergiud commented on #769
Would a generator expression work for you? Something like `$<TARGET_FILE_DIR:my_test>`?

[2022-03-13 00:12] joydeep-b commented on #769
Thanks, @sergiud !
https://ceres-solver-review.googlesource.com/c/ceres-solver/+/21100 is out for review, but it needs to be tested on a Windows machine with CUDA. @patrikhuber would you be willing to try it out?

[2022-03-13 00:32] patrikhuber commented on #769
The covariance test passes with this patch - thanks for the CC on Gerrit!

[2022-03-13 00:33] patrikhuber commented on #769
I'll test the cuda memcheck patch tomorrow morning GMT.

[2022-03-13 15:30] patrikhuber commented on #769
Works, and the test now runs.

There's something else though which I think might be worth mentioning. The test passes and is also marked as "passed" (with no indication of any errors in the non-verbose output), but if I run it with verbose output (`-VV`), there's actually two errors at the end:

[code]

This output really doesn't make it clear whether the test has actually run or not (neither Cere

[2022-03-13 15:41] joydeep-b commented on #769
Patrik, thanks for running and debugging the tests on Windows.
On Linux it takes the cuda-memcheck dense QR and dense Cholesky tests 16 seconds and 19 seconds respectively to run.

Not sure what's up with the 11 minute runtime. Could you try the newer compute-sanitizer tool?
[code]

[2022-03-13 16:22] patrikhuber commented on #769
@joydeep-b That worked flawlessly! And even better, `compute-sanitizer` works with Window's GPU scheduling option being enabled.

[code]

The Cholesky tests take 23 seconds with the compute-sanitizer.

May I suggest to use the compute-sanitizer for the tests, especially if it's the newer tool? Seems to be less troublesome but also since it works with Windows's GPU scheduling option (which going fo

[2022-03-13 22:13] patrikhuber opened #770 "Docs search broken?"
Sorry if this is just me, but I tried on three browsers / two devices, and without ad-blocker. I think the search on the docs pages might be broken? It just gives me "Searching...".

There is one error in the JavaScript console. I think it might be related, as it occurs in searchtools.js, at the very start of the `  query : function(query)` function.

![image](https://user-images.githubusercontent

[2022-03-13 22:18] patrikhuber commented on #770
I think it's not just me - it looks like an update to the Sphinx/RTD theme might be needed: https://github.com/sphinx-doc/sphinx/issues/8623

[2022-03-13 22:26] sandwichmaker commented on #770
@patrikhuber thanks for reporting, I will update the website once 2.1 is out, (we don't maintain multiple versions of the doc) and that should fix this automatically I think. I will keep this bug open till then.

[2022-03-13 22:30] patrikhuber commented on #770
Okay cool!

Yes I was actually just searching for the documentation of Manifold, and didn't find one of those cool version switcher dropdowns on the Ceres docs :) I found some useful comments in `manifold.h` for now.

[2022-03-13 22:42] sandwichmaker commented on #770
If you know how to do the version switcher thing, I won't mind doing that TBH. But I have not invested too much into sphinx-doc so  I am a bit of a newbie. Any help there is appreciated.

[2022-03-13 22:48] patrikhuber commented on #770
I don't know more about it either unfortunately - I'm still running plain old Doxygen on my projects. It's on my distant to-do list to have a closer look at sphinx-doc, but perhaps one of those items that I might never get to.

[2022-03-14 16:50] sandwichmaker commented on #769
@joydeep-b are you still working on this, or can this be closed?

[2022-03-14 16:57] joydeep-b commented on #769
@patrikhuber Unfortunately compute-sanitizer does not seem to come with L4T on the Jetson, which is one of the intended targets for Ceres CUDA, so we can't switch to it exclusively yet.

@sandwichmaker Let's close this for now, and we can add a tracking issue to follow up when NVIDIA updates their L4T CUDA version.

[2022-03-14 17:01] sandwichmaker commented on #769
sounds good, can you go ahead and file a tracking issue for that @joydeep-b.
Thanks for reporting and helping us track this down @patrikhuber.

[2022-03-14 17:01] #769 closed

[2022-03-14 17:04] joydeep-b opened #771 "Update cuda-memcheck to compute-sanitizer when L4T is updated"
The CUDA memory check tests currently use cuda-memcheck, which NVIDIA has labelled as deprecated, and to be removed in a future release. Unfortunately the replacement, compute-sanitizer is not available on L4T.
We should migrate cuda-memcheck calls to compute-sanitizer when either of the following occur:
- When CUDA for desktop stops supporting cuda-memcheck
- When L4T is updated to add compute-sa

[2022-03-14 17:05] patrikhuber commented on #769
I see, yep, no worries! I mainly / only ran the tests because I wanted to help test the 2.1 RC on Windows, so not an issue for me if those two CUDA tests don't run 100% well.

Thanks a lot for all your efforts in developing and maintaining Ceres!

[2022-03-14 17:10] joydeep-b opened #772 "Update CuSolver to 64-Bit API"
Ceres currently uses the legacy version of the CuSolver API for dense Cholesky and QR factorization instead of the newer 64-bit interface for three reasons:
- The newer 64-bit interfaces do not exist in CUDA 10.2, which is the latest CUDA version available for the Jetson
- The QR solver interface on the latest CUDA version (11.6.1 as of this writing) is missing 64-bit interfaces to some functions,

[2022-03-14 23:00] sergiud commented on #295
Ceres Solver added Github workflows for all major platforms. I guess the issue can be closed now.

[2022-03-14 23:04] sergiud commented on #282
Is enabling the option from e0fef6ef05c580c40d6293749d8f88904d140c8d maybe sufficient?

[2022-03-14 23:17] #295 closed

[2022-03-14 23:21] sandwichmaker commented on #282
Yes this should be done now, you should be able to use the cmake file to do this.

[2022-03-14 23:21] #282 closed

[2022-03-16 00:02] weisongwen commented on #766
Hi @sandwichmaker , Thank you very much for your reply. I carefully look into the problem I wish to solve. Finally, I found the most-time consuming part is the covariance calculation. Firstly, the brief report for the solve function is as below:
[code]
The setup of my solver is as below:
[code]
Finally, I found that the solver itself is already very efficient. But the covariance spends about 8 sec

[2022-03-16 00:05] weisongwen commented on #766
if the dense_QR is selected, the time used increases by several times as below:
[code]

[2022-03-16 02:00] sandwichmaker commented on #766
You are right, I misread the dimensions. DENSE_NORMAL_CHOLESKY is likely going to give you better performance than SPARSE_NORMAL_CHOLESKY.

As for covariance, I suspect there is no simple way of accelerating it. I think the fastest option for you is going to be SPARSE_QR with SUITE_SPARSE as the backend. Please make sure thats the case. You maybe accidentally using EIGEN_SPARSE, which is quite slo

[2022-03-16 04:22] weisongwen commented on #766
Hi @sandwichmaker , Thank you very much for your reply. I will look into those options and let you know if I got further updates.

Best,
Weisong,

[2022-03-16 10:08] sergiud commented on #702
Given Ceres is built and successfully tested on Windows as a shared library now, I believe the issue can be closed.

[2022-03-16 14:49] #702 closed

[2022-03-17 12:55] cpp977 opened #773 "Make ceres more compatible with cmake's `fetch_content()`"
All cmake variables within ceres are not prefixed by `CERES_` which would serve as a namespace for cmake variables.
This is especially useful, if one uses ceres via cmake's `fetch_content()` because all the cmake variables of ceres are the imported to other projects.
I can imagine that this would be quite a breaking change but is there any chance that this will be changed in the future?

[2022-03-17 13:38] sergiud commented on #773
The open question is: why would you want to prefix every single Ceres variable? Doesn't `FetchContent` already work as is?

My guess is that you assume the options of every single project integrated using `FetchContent` should be independent from each other. This however has a number of implications, also for CMake native options such as `BUILD_SHARED_LIBS`, `BUILD_TESTING`, etc. which would requi

[2022-03-19 15:11] sandwichmaker opened #774 "jet_test failing with latest clang on apple mac m1 pro"
cmake output
[code]
build output

[code]

test output
[code]

[2022-03-19 15:12] sandwichmaker commented on #774
cc: @sergiud PTAL

[2022-03-19 15:30] sergiud commented on #774
This looks to be [ARM specific](https://godbolt.org/z/TKvrv9Px1). ARM compiler (armclang) reference [mentions](https://developer.arm.com/documentation/100067/0612/Standard-C-Implementation-Definition/Floating-point)

It looks like there's nothing we can do other than marking the tests as expected to fail.

Could you dump the defines using `clang -dM -E - < /dev/null` and post these here?

[2022-03-19 18:06] sandwichmaker commented on #774
Thanks for the quick response @sergiud

[code]

[2022-03-19 22:28] #774 closed

[2022-03-20 00:28] sandwichmaker opened #775 "Jet.Lerp is broken."
Steps to replicate on my m1 mac.

[code]

[2022-03-20 00:28] sandwichmaker commented on #775
cc: @sergiud

[2022-03-20 00:55] sergiud commented on #775
Regression was introduced in 1d5aff059cc2f95f6a1d3a42e2b41736fb386f81. My original commit provides the correct test:
https://github.com/ceres-solver/ceres-solver/blob/8426526dff146a141c59eb581689ee249e146209/internal/ceres/jet_test.cc#L941

[2022-03-20 01:11] sandwichmaker commented on #775
Mea culpa!

[2022-03-20 01:17] #775 closed

[2022-03-21 11:22] Eric-JH opened #776 "Error in evaluating the ResidualBlock."
&ensp;&ensp;&ensp;&ensp;I wrote the following code.
[code]
And the following error was reported. I couldn't find the solution.
[code]

[2022-03-21 11:32] #776 closed

[2022-03-21 13:26] nicochampda opened #777 "Rank defficient matrix with EIGEN_SPARSE_QR algorithm for covariance computation"
Hi,
I'm trying to compute covariance with the algorithm EIGEN_SPARSE_QR.
With some conditions I get a Rank deficient error and I think it is due to the pivot threshold that is to low.
Unfortunately, it is not possible to change this threshold via ceres interface, the eigen function is not callable.

In my case it would help to use the setPivotThreshold function from eigen, to change the threshold

[2022-03-21 13:44] sandwichmaker commented on #777
This is a good idea.  I will add this once 2.1 is released.

[2022-03-21 15:05] Eric-JH opened #778 "Error in evaluating the ResidualBlock."
&ensp;&ensp;&ensp;&ensp; I wrote the following code.
[code]
And I'm confused about this error report. How should I solve the problem?
[code]

[2022-03-21 15:57] sandwichmaker commented on #778
Notice that your initial parameters for m and c are 0.
so when you evaluate.

in your code you define m and c but actually use the array

[code]

so when you evaluate

[code]

at m,c = 0 you get nans.

[2022-03-21 16:51] sandwichmaker opened #779 "Make C++17 a requirement for Ceres Solver"
This is needed for us to be able to depend on ABSL going forward.

[2022-03-21 16:53] sandwichmaker opened #780 "Use ABSL"
googletest is going to take ABSL as a dependency.

Once ABSL gains the ability to do logging, we should replace our use of glog, miniglog and gflags with ABSL. This will also allow us to remove a bunch of our internal forks like FixedArray too.

[2022-03-22 02:49] Eric-JH commented on #778
Really thanks. I pay too much attention to the syntax and make such a stupid mistake.

[2022-03-22 02:49] #778 closed

[2022-03-25 15:28] daydream-noquitter opened #781 "build error"
when I run "make -j3"
/home/fan/ceres-solver-2.0.0/internal/ceres/covariance_impl.cc: In member function ‘bool ceres::internal::CovarianceImpl::ComputeCovarianceValuesUsingDenseSVD()’:
/home/fan/ceres-solver-2.0.0/internal/ceres/covariance_impl.cc:743:10: error: ‘BDCSVD’ is not a member of ‘Eigen’
   Eigen::BDCSVD<Matrix> svd(dense_jacobian,
          ^~~~~~
/home/fan/ceres-solver-2.0.0/internal/c

[2022-03-25 15:32] sandwichmaker commented on #781
What version of Eigen are you using?

[2022-03-27 00:30] patrikhuber opened #782 "Three subtests of small_blas_test fail in C++17/20 mode in VS2022"
Hi,

With `CMAKE_CXX_STANDARD=20` on VS 2022, the three sub-tests `BLAS.MatrixTransposeMatrixMultiply_9_9_9_Dynamic`, `BLAS.MatrixTransposeMatrixMultiplyNaive_9_9_9` and `BLAS.MatrixTransposeMatrixMultiplyNaive_9_9_9_Dynamic` fail (all others pass). I'm using Eigen 3.4.0.

Here's partial log output:

[code]

I was going to upload the full `LastTest.log`, but it's 1 GB (due to so much console outpu

[2022-03-27 00:39] patrikhuber commented on #782
Played around with this a bit more. The same tests fail too in C++17 mode. And they _pass_ in C++14 mode.

[2022-03-27 00:41] sandwichmaker commented on #782
This is weird and serious, I will take a look.

[2022-03-27 00:53] patrikhuber commented on #782
Hmm odd: I just tried to run the tests in x64-Debug mode (C++17), and they pass 😕. Switching back to x64-Release (which is RelWithDebInfo), and they fail again.

[2022-03-27 01:04] patrikhuber commented on #782
Here's the full compiler command-line calls for both configurations (from `compile_commands.json`):

Release:
[code]
Debug:
[code]

I don't see anything out of the ordinary. However I don't see any /fp: mode set - I saw earlier today you asked this on the mailing list Sameer (just got back home today). Perhaps this could have something to do with it?

[2022-03-27 01:55] sandwichmaker commented on #782
I suspect this is something in Eigen, but I need to check to see if I can replicate this either on Linux-86 or arm macros.

[2022-03-27 14:27] sergiud commented on #782
It is unlikely an Eigen issue because disabling `CUSTOM_BLAS` let's the `small_blas_test` pass. I was not able to reproduce the problem on a Linux system.

[2022-03-27 14:30] sandwichmaker commented on #782
Does it also fail in pure release mode?

On Sun, Mar 27, 2022, 7:27 AM Sergiu Deitsch ***@***.***>
wrote:

[2022-03-27 14:48] sergiud commented on #782
Sorry, my previous observation was incorrect: CMake dropped my `CMAKE_CXX_STANDARD` setting while switching between configurations. `small_blas_test` does fail with `CUSTOM_BLAS` disabled as well.

Pure release mode is also affected.

[2022-03-27 14:50] sandwichmaker commented on #782
The custom_blas setting does not affect the test. It only determines
whether the the code in smallblas is used or not in the library.

On Sun, Mar 27, 2022, 7:49 AM Sergiu Deitsch ***@***.***>
wrote:

[2022-03-27 15:49] sergiud commented on #782
I see, thanks. After further investigation, the culprit seems to be `CERES_GEMM_OPT_MTM_MAT1X4_MUL` defined by `MTM_mat1x4`. Redefining the macro as
[code]
allows the tests to pass. The optimizer seems to be doing some wild things (probably rearranging the expressions) which causes the partially incorrect results.

I tested in `RelWithDebInfo` mode only though. @patrikhuber could you apply the pat

[2022-03-27 16:01] sandwichmaker opened #783 "Unable to build with c++17/20 on linux"
Default build succeeds, but cmake exists with error when CMAKE_CXX_STANDARD=17 or CMAKE_CXX_STANDARD=20.  CMake output is attached.

[CMakeOutput.log](https://github.com/ceres-solver/ceres-solver/files/8357987/CMakeOutput.log)
[CMakeError.log](https://github.com/ceres-solver/ceres-solver/files/8357988/CMakeError.log)

@sergiud any idea what is going on here?

[2022-03-27 16:04] sergiud commented on #783
You mean the CMake configuration step fails? Could you provide the output?

[2022-03-27 16:05] sandwichmaker commented on #783
it is attached in the report above. I am generating the c++20 version.

[2022-03-27 16:08] sandwichmaker commented on #783
[CMakeError.log](https://github.com/ceres-solver/ceres-solver/files/8357999/CMakeError.log)
[CMakeOutput.log](https://github.com/ceres-solver/ceres-solver/files/8358000/CMakeOutput.log)

Here are the c++20 output.

[2022-03-27 16:09] sergiud commented on #783
Isn't the `CMakeOutput.log` taken from `CMakeFiles/` after CMake configuration already failed? By CMake output I mean the direct CMake output to stdout.

[2022-03-27 16:15] sandwichmaker commented on #783
oops operator error, I misspecified the standard flag as -CMAKE_CXX_STANDARD instead of -DCMAKE_CXX_STANDARD. My bad :/

[2022-03-27 16:15] #783 closed

[2022-03-27 16:16] sandwichmaker commented on #782
wow, nice debugging @sergiud.

[2022-03-27 16:21] sandwichmaker commented on #782
The same pattern occurs in CERES_GEMM_OPT_MMM_MAT1X4_MUL, should we consider changing that too?

[2022-03-27 16:31] sergiud commented on #782
I think we should consider changing it everywhere in the header. If I distilled the problem correctly, Compiler Explorer [confirms the reordering](https://godbolt.org/z/q1G6c53EY).

[2022-03-27 16:34] sergiud commented on #782
(The return sum should not matter.)

[2022-03-27 16:35] sandwichmaker commented on #782
okay please send me a CL. Thank you for looking into this.

[2022-03-27 17:27] patrikhuber commented on #782
The patch fixes it for me! I've tried a few combinations among C++17, 20, RelWithDebInfo, Release, and with `/permissive-`, and the tests pass.

Very impressive debugging indeed. May I ask how you've managed to narrow it down to that macro? In RelWithDebInfo mode, the debugger would just jump over all the lines for me basically, and in Debug mode, the problem didn't occur.

Out of curiosity - woul

[2022-03-27 17:27] #782 closed

[2022-03-27 17:53] sandwichmaker commented on #782
This is definitely an optimizer bug. The reordering should not happen.

On Sun, Mar 27, 2022, 10:28 AM Patrik Huber ***@***.***>
wrote:

[2022-03-27 20:02] patrikhuber commented on #782
Ok, thanks - I'll file a bug report in VS then!

[2022-03-28 08:02] sergiud commented on #782
I agree that this is likely an optimizer bug. In general, the compiler [is allowed to reorder operations](https://en.cppreference.com/w/cpp/language/as_if) as long there are no side effects. However, in this particular case reordering changes behavior.

I suspected vectorization as a possible cause since only certain parts of the matrix were affected. After seeing the unrolled loops being used, th

[2022-03-28 12:25] patrikhuber commented on #782
I see! Thanks a lot for sharing!

[2022-03-28 15:02] patrikhuber commented on #770
The docs search works again!

[2022-03-28 15:02] #770 closed

[2022-03-28 15:07] sandwichmaker commented on #770
Thanks for verifying!

[2022-03-29 05:49] Eric-JH opened #784 "How to solve high dimensional non-linear problem?"
&ensp;&ensp;&ensp;&ensp; I need to solve the optimization problem: [![enter image description here][1]][1]. `A` and `b` are known. I use `Zero` to represent `A` and `b` to facilate the expression in the following code. The error is caused by `problem.AddResidualBlock(cost_function, nullptr, &X);` because the third argument needs to be double type and X is a vector with 50 elements. Can you give me

[2022-03-29 10:03] CanCanZeng commented on #634
Hi @sandwichmaker and @zhangkom I'm also facing this problem, I'm sure that I do not use miniglog. And my code is like below:
[code]
there are still some log from ceres,
[code]
so I find that there are some VLOG  code https://github.com/ceres-solver/ceres-solver/blob/facb199f3eda902360f9e1d5271372b7e54febe1/internal/ceres/detect_structure.cc#L113 that does not consider options.logging_type, is the

[2022-03-29 13:57] sandwichmaker commented on #634
Why are you setting v=2, this will cause vlog(2)messages to be printed.

On Tue, Mar 29, 2022, 3:04 AM CanCanZeng ***@***.***> wrote:

[2022-03-29 15:55] sandwichmaker commented on #634
Yes you can use the vmodule flag to selectively enable vlog level per file.

On Tue, Mar 29, 2022, 8:36 AM CanCanZeng ***@***.***> wrote:

[2022-03-29 16:27] sandwichmaker commented on #784
I have not compiled this code but here is roughly what you need to do.

[code]

[2022-03-29 18:51] sandwichmaker opened #785 "Faster Schur Eliminator"
Currently the key computation in SchurEliminator works it that there is an object that has the memory for the schur complement and we accumulate matrix blocks into this object.

These accumulations are usually of the form

A += B * C

and the code flow is

GetA
LockA
A += B * C
UnlockA

This has two problems,
1. B and C are small arrays but A lives inside a large array in memory, so accumulating i

[2022-03-30 20:40] sandwichmaker commented on #785
This does not seem to lead to much :/

[2022-03-31 16:06] #785 closed

[2022-04-01 17:04] #779 closed

[2022-04-02 12:33] sandwichmaker opened #786 "Use fold expressions to simplify the template metaprograms"
There is a bunch of variadic template related code which can be made simpler using fold expressions now that Ceres uses c++17.

[2022-04-04 09:02] swenninger-1 opened #787 "Using EvaluationCallback and Autodiff functionality together?"
Hi,

I'm using Ceres to optimize joint angles of a morphable human model given a posed target.

This means, that the CostFunction has to compute the skinned vertex positions based on the current joint angles (and current optimized morphable model parameters).

The simplified version of the Code generally looks like this:

[code]

where skin_vertex evaluates linear blend skinning and looks somethin

[2022-04-04 13:29] sandwichmaker commented on #787
Stephan,

You are right that for this to work, Evaluation Callback will have to compute the derivatives/Jacobians and then the costfunctions will use these partial or full Jacobians to do the compute.

When you say "is there a way to still use AutoDiff" do you mean in doing the computation in AutoDiff or inside your cost function trying to use the precomputed Jacobians?

you can certainly use auto

[2022-04-04 13:38] sandwichmaker commented on #784
Going to close this, if you have more questions please feel free to re-open or ask on the mailinglist.

[2022-04-04 13:38] #784 closed

[2022-04-04 13:39] sandwichmaker commented on #781
Closing because lack of response, please feel free to reopen if you have more information.

[2022-04-04 13:39] #781 closed

[2022-04-04 13:39] sandwichmaker commented on #766
Closing for now, if you have further questions/comments feel free to re-open.

[2022-04-04 13:39] #766 closed

[2022-04-04 14:06] sandwichmaker commented on #787
you maybe able to, depending on the details of your computation, but it will require interfacing analytic and automatic differentiation along the lines of what the CubicInterpolation stuff does or as described in

http://ceres-solver.org/interfacing_with_autodiff.html

[2022-04-04 19:07] alexsmac commented on #787
It's also worth noting that you might be able to reduce the overhead per-point if each CostFunction (i.e. residual block) computed the values for multiple vertices, assuming that those vertices have at least a largely overlapping (and ideally completely overlapping) set of dependent parameter blocks.

Ceres represents sparsity at the level of parameter/residual blocks, with the problem assumed to

[2022-04-05 00:26] sandwichmaker commented on #777
@nicochampda could you try out https://ceres-solver-review.googlesource.com/c/ceres-solver/+/21400 and let me know if this does the trick for you?

[2022-04-05 07:03] swenninger-1 commented on #787
Thanks a lot for the suggestions, Alex and Sameer. I will see what I can come up with! Batching up multiple vertices does sound like a good direction for my use case.

[2022-04-05 16:45] sandwichmaker opened #788 "Remove LocalParameterization"
LocalParameterizations are deprecated in favor of Manifolds.

[2022-04-05 16:47] #572 closed

[2022-04-05 20:52] alexsmac commented on #773
We did have a request in the distant past to investigate something like this for `FetchContent()` but the magnitude of the changes, and the detrimental effect on legibility within Ceres did not justify it.  AFAIK, few major projects have tried to support this use-case, and as @sergiud  says `ExternalProject()` would allow you to achieve a similar effect without requiring these changes.  Another op

[2022-04-05 20:52] #773 closed

[2022-04-06 06:47] cpp977 commented on #773
Sure no problem, another option is [vcpkg](https://vcpkg.io/en/index.html) which also integrates well with cmake.

[2022-04-08 11:28] ydragon719 opened #789 "I made the following errors in compiling"
I made the following errors in compiling:error:
‘exclusive_scan’ is not a member of ‘std’
     std::exclusive_scan(values.begin(), values.end(), result.begin(), 0);
          ^~~~~~~~~~~~~~
examples/CMakeFiles/helloworld.dir/build.make:75: recipe for target 'examples/CMakeFiles/helloworld.dir/helloworld.cc.o' failed
make[2]: *** [examples/CMakeFiles/helloworld.dir/helloworld.cc.o] Error 1
CMakeFil

[2022-04-08 11:54] sergiud commented on #789
Your compiler does not fully support C++17. Either use Ceres Solver 2.1 or update your toolchain.

[2022-04-08 18:14] #789 closed

[2022-04-13 02:00] #777 closed

[2022-04-15 06:46] pooluut opened #790 "dataset.g2o"
I'm new to ceres-solver. In the example of pose_graph_2d, where can I find a sample dataset.g2o?

[2022-04-15 13:10] sandwichmaker commented on #790
@pooluut we do not ship a dataset.g2o file. @mvitus contributed that code, perhaps he has suggestions.

[2022-04-16 01:27] XJTUXYC opened #791 "error: ‘exclusive_scan’ is not a member of ‘std’"
When I make Ceres, this error occurred:

In file included from /home/xyc/ceres-solver/include/ceres/ceres.h:67:0,
                 from /home/xyc/ceres-solver/examples/rosenbrock_numeric_diff.cc:31:
/home/xyc/ceres-solver/include/ceres/product_manifold.h: In static member function ‘static std::array<T, N> ceres::ProductManifold<Manifold0, Manifold1, ManifoldN>::ExclusiveScan(const std::array<T, N>

[2022-04-16 01:28] sandwichmaker commented on #791
Ceres solver at head now requires c++17.

[2022-04-16 01:53] XJTUXYC commented on #791
Thanks a lot!

[2022-04-16 01:53] XJTUXYC commented on #791
Thanks a lot!

[2022-04-16 02:16] #791 closed

[2022-04-16 18:59] ishfaq333 opened #792 "Error while installation"
Hello everyone.
I was trying to install Ceres-solver. But when using the command make -j3, it works up to 27% and then shows the errors as shown in the screenshot attached herewith.
Can anyone help me understand what's wrong here?

![Screenshot from 2022-04-17 00-12-13](https://user-images.githubusercontent.com/60423184/163687973-aa9bb893-fd5c-4d6c-be77-d286ac26a52b.png)

[2022-04-16 22:49] sergiud commented on #792
Your setup looks broken.

[2022-04-17 16:43] rancheng commented on #514
any progress?

[2022-04-17 17:48] ishfaq333 commented on #792
Any suggestions as to what I should do?

[2022-04-18 10:09] sergiud commented on #792
Probably avoid using Anaconda environment.

[2022-04-19 10:42] Childish-Gambion opened #793 "error: ‘exclusive_scan’ is not a member of ‘std’"
/ceres-solver/ceres-solver/include/ceres/product_manifold.h:260:10: error: ‘exclusive_scan’ is not a member of ‘std’
     std::exclusive_scan(values.begin(), values.end(), result.begin(), 0);
sorry i am so rookie to this.how can i compiling my application with a C++ standard >= 14 specifically?
thank you so much!!!

[2022-04-19 10:44] sergiud commented on #793
This has been discussed before: #791 #789

[2022-04-19 10:47] Childish-Gambion commented on #793
so i need to upgrade C++?

[2022-04-19 18:08] sergiud commented on #793
Please see the linked issues for possible resolutions, e.g., https://github.com/ceres-solver/ceres-solver/issues/789#issuecomment-1092782441.

[2022-04-20 07:06] yuyu0927 opened #794 "Is there an implementation of the Trust Region Reflective(TRF) algorithm？"
In Trust Region Methods，Levenberg-Marquardt and Dogleg are both implemented. I wonder if Trust Region Reflective(TRF) algorithm has been implemented? Thx!!!

[2022-04-20 07:07] yuyu0927 opened #795 "Is there an implementation of the Trust Region Reflective(TRF) algorithm？"
In Trust Region Methods，Levenberg-Marquardt and Dogleg are both implemented. I wonder if Trust Region Reflective(TRF) algorithm has been implemented? Thx!!!